<app-banner-cardiologia-interv [titulo]="titulo" [imagen]="imagen"></app-banner-cardiologia-interv>
<section>
    <div class="container">
        <section>
            <h3>
                La ventaja del interior
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <p>
                El dispositivo de cierre vascular Angio-Seal <sup>&trade;</sup> usa tres componentes bioabsorbibles para
                sellar activamente la
                arteriotomía:
            </p>
            <dl>
                <dt>
                    <b>
                        Anclaje
                    </b>
                </dt>
                <dd>
                    Intravascular: ubicado contra el interior de la pared del vaso
                </dd>
                <dt>
                    <b>
                        Colágeno
                    </b>
                </dt>
                <dd>
                    Extravascular: ubicado en la superficie de la arteriotomía en el tracto tisular.
                </dd>
                <dt>
                    <b>
                        Sutura
                    </b>
                </dt>
                <dd>
                    Asegura en conjunto el anclaje y el colágeno para formar un sello seguro.
                </dd>
            </dl>
        </section>
        <section>
            <h3>
                Características
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <p>
                El ancla de cierre activo de Angio-Seal<sup>&trade;</sup> brinda una ventaja interna. El ancla crea un
                sello mecánico de adentro hacia afuera.
            </p>
            <dd>
                <ul>
                    <li>
                        El anclaje provee una ubicación adecuada para un sello confiable y el posicionamiento de
                        colágeno.<sup>1-3</sup>
                    </li>
                    <li>
                        99,7% de éxito de liberación<sup>1</sup>.
                    </li>
                    <li>
                        97,8% de hemostasia por procedimiento<sup>1</sup>.
                    </li>
                </ul>
            </dd>
            <p>
                El anclaje y sello son bioabsorbidos:
            </p>
            <dd>
                <ul>
                    <li>
                        El anclaje es cubierto por fibrina en unas horas y es completamente encapsulado entre 7 y 14
                        días<sup>4</sup>.
                    </li>
                    <li>
                        El anclaje empieza a hidratarse y suavizarse entre 24 y 36 horas después de la
                        liberación<sup>5</sup>.
                    </li>
                    <li>
                        El 95% del anclaje se absorbe a los 42 días<sup>6</sup>.
                    </li>
                    <li>
                        Todos los componentes son absorbidos entre 60 y 90 días<sup>7</sup>.
                    </li>
                </ul>
            </dd>
            <p>
                El flujo arterial no se ve comprometido, no hay evidencia de tejido cicatrizal crónico o
                inflamación<sup>6,8</sup>.
            </p>
            <div class="row center-content img-content">
                <div class="col s12 m3 center-content">
                    <img src="assets/img/solutions/intervencionismo/angio-seal-vip-img-1.png"
                        alt="Angio Seal™ - Evolution" class="responsive-img">
                    <h6>
                        <b>
                            Angio Seal<sup>&trade;</sup> - Evolution
                        </b>
                    </h6>
                </div>
                <div class="col s12 m3 center-content">
                    <img src="assets/img/solutions/intervencionismo/angio-seal-vip-img-2.png" alt="Angio Seal™ - VIP"
                        class="responsive-img">
                    <h6>
                        <b>
                            Angio Seal<sup>&trade;</sup> - VIP
                        </b>
                    </h6>
                </div>
                <div class="col s12 m3 center-content">
                    <img src="assets/img/solutions/intervencionismo/angio-seal-vip-img-3.png"
                        alt="Angio Seal™ - STS Plus" class="responsive-img">
                    <h6>
                        <b>
                            Angio Seal<sup>&trade;</sup> - STS Plus
                        </b>
                    </h6>
                </div>
            </div>
            <p>
                El anclaje bioabsorbible de Angio-Seal, la sutura y el colágeno brindan doble seguridad.1-3
            </p>
            <dd>
                <ul>
                    <li>
                        Se ajusta estrechamente contra la pared arterial, dejando el flujo sanguíneo inalterado sin
                        estenosis residual<sup>6</sup>.
                    </li>
                    <li>
                        Está diseñado para adaptarse a la arteriotomía para un cierre seguro.
                    </li>
                    <li>
                        Ata el anclaje y el colágeno, brindando un sello seguro.
                    </li>
                </ul>
            </dd>
        </section>
        <section>
            <h3>
                Especificaciones generales
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <table class="responsive-table highlight">
                <tbody>
                    <tr>
                        <th class="bold-tittle-table" rowspan="4">
                            Contenido
                        </th>
                        <td>
                            Dispositivo de cierre vascular
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Introductor de inserción
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Localizador de arteriotomía
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Guía de 70 cm con rectificador en “J”
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Unidades por caja
                        </th>
                        <td>
                            10
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h3>
                Ilustraciones del producto
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <div class="row">
                <div class="col s12 m9">
                    <h5 class="black-text">
                        Localización de la arteria
                    </h5>
                    <dd>
                        <ul>
                            <li>
                                Inserte el sistema de localizador e introductor de Angio-Seal sobre
                                la guía hasta que la sangre fluya a través del agujero de goteo en el
                                localizador.
                            </li>
                            <li>
                                Retire y reinserte para confirmar la correcta posición en el vaso.
                            </li>
                            <li>
                                Remueva el localizador y la guía, dejando en su lugar el introductor de
                                Angio-Seal.
                            </li>
                        </ul>
                    </dd>
                </div>
                <div class="col s12 m3 img-locacion">
                </div>
            </div>
            <div class="row">
                <div class="col s12 m9 center-content">
                    <h5 class="black-text">
                        Fijación del ancla
                    </h5>
                    <dd>
                        <ul>
                            <li>
                                Inserte el dispositivo Angio-Seal en el introductor, hará clic cuando
                                esté en el lugar indicado y clic de nuevo para desplegar y fijar el ancla.
                            </li>
                        </ul>
                    </dd>
                </div>
                <div class="col s12 m3 img-fijacion">
                </div>
            </div>
            <div class="row">
                <div class="col s12 m9">
                    <h5 class="black-text">
                        Fijación del sello
                    </h5>
                    <p>
                        Angio-Seal Evolution
                    </p>
                    <dd>
                        <ul>
                            <li>
                                Hale hacia atrás el conjunto del dispositivo/introductor hasta alcanzar
                                el marcador verde, que de manera automática comprime el sello.
                            </li>
                            <li>
                                Presione el botón para liberar la sutura.
                            </li>
                            <li>
                                Confirme la hemostasia y corte la sutura.
                            </li>
                        </ul>
                    </dd>
                    <p>
                        Angio-Seal VIP y STS Plus
                    </p>
                    <dd>
                        <ul>
                            <li>
                                Hale hacia atrás el conjunto del dispositivo/funda hasta que la sutura
                                se detenga.
                            </li>
                            <li>
                                Sujete el tubo de compactación para comprimir manualmente hasta
                                alcanzar el marcador de compactación negro.
                            </li>
                            <li>
                                Confirme la hemostasia y corte la sutura.
                            </li>
                        </ul>
                    </dd>

                </div>
                <div class="col s12 m3 img-f-sello">

                </div>
            </div>
        </section>
        <section>
            <h3>
                Especificaciones del artículo
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <p>
                Evolution
            </p>
            <table class="responsive-table highlight">
                <thead>
                    <th class="bold-tittle-table">
                        Referencia ítem
                    </th>
                    <th class="bold-tittle-table">
                        Tamaño French
                    </th>
                    <th class="bold-tittle-table">
                        Diámetro guía
                    </th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            C610136
                        </td>
                        <td>
                            6
                        </td>
                        <td>
                            0.035
                        </td>
                    </tr>
                    <tr>
                        <td>
                            C610137
                        </td>
                        <td>
                            8
                        </td>
                        <td>
                            0.038
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>
                VIP
            </p>
            <table class="responsive-table highlight">
                <thead>
                    <th class="bold-tittle-table">
                        Referencia ítem
                    </th>
                    <th class="bold-tittle-table">
                        Tamaño French
                    </th>
                    <th class="bold-tittle-table">
                        Diámetro guía
                    </th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            610132
                        </td>
                        <td>
                            ​6
                        </td>
                        <td>
                            ​0.035
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ​610133
                        </td>
                        <td>
                            ​8
                        </td>
                        <td>
                            ​0.038
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>
                STS Plus
            </p>
            <table class="responsive-table highlight">
                <thead>
                    <th class="bold-tittle-table">
                        Referencia ítem
                    </th>
                    <th class="bold-tittle-table">
                        Tamaño French
                    </th>
                    <th class="bold-tittle-table">
                        Diámetro guía
                    </th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            610120
                        </td>
                        <td>
                            ​6
                        </td>
                        <td>
                            ​0.035
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ​610122
                        </td>
                        <td>
                            ​8
                        </td>
                        <td>
                            ​0.038
                        </td>
                    </tr>
                </tbody>
            </table>
            <h6 class="center-align">
                Por favor copie el código de referencia cuando realice un pedido.
            </h6>
        </section>
        <section>
            <h3>
                Ver también
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <dd>
                <ul>
                    <li>
                        <a href="">
                            FemoSeal<sup>&trade;</sup> - Dispositivo de cierre vascular.
                        </a>
                    </li>
                </ul>
            </dd>
        </section>
        <section>
            <h5 class="black-text">
                Referencias
            </h5>
            <dd>
                <ol>
                    <li><span>
                            Applegate RJ, Turi Z, Sachdev N, et al. The Angio-Seal Evolution Registry: outcomes of a
                            novel automated AngioSeal vascular closure device. J Invasive Cardiol. 2010;22(9):420-6.
                        </span></li>
                    <li><span>
                            Kussmaul WG, Buchbinder M, Whitlow PL, et al. Rapid arterial hemostasis and decreased access
                            site
                            complications after cardiac catheterization and angioplasty: Results of a randomized trial
                            of a novel hemostatic
                            device. JACC. 1995;25(7):1685-92.
                        </span></li>
                    <li><span>
                            Angio-Seal Instructions for Use.
                        </span></li>
                    <li><span>
                            Kensey KR. Puncture site hemostasis. J Invasive Cardiol. 1994;6(8):273-6.
                        </span></li>
                    <li><span>
                            Angio-Seal PMA 930038. Section V Technical Information, 55.
                        </span></li>
                    <li><span>
                            Tellez A, Cheng Y, Yi GH, et al. In vivo intravascular ultrasound analysis of the
                            absorption rate of the Angio-Seal
                            vascular closure device in the porcine femoral artery. EuroIntervention. 2010;5(6):731-6.
                        </span></li>
                    <li><span>
                            Nash JE, Evans DG. The Angio-Seal hemostatic puncture closure device. Herz.
                            1999;24(8):597-606.
                        </span></li>
                    <li><span>
                            Aker UT, Kensey KR, Heuser RR, et al. Immediate arterial hemostasis after cardiac
                            catheterization: Initial experience with a new puncture closure device. Cathet Cardiovasc
                            Diagn. 1994;31(3):228-32.
                        </span></li>
                </ol>

            </dd>
        </section>
    </div>
</section>