<section class="relay-section-9">
    <div class="row">
        <div class="col s12 m4 center-content">
            <img src="{{ urlImagen }}" alt="Logo TREO"
                class="responsive-img image-circle-broder">
            <h5 class="treo-tittle-color titulo-bold">
                {{ tittle }}
            </h5>
            <p class="treo-tittle-color">
                {{ description }}
            </p>
            <a (click)="goTo( link )"
                class="waves-effect waves-light btn btn-plus light-blue-aortic flex-container aortic-black-text">
                APRENDA MÁS <i class="material-icons exception right">navigate_next</i>
            </a>
        </div>
        <div class="col s12 m4 center-content">
            <img src="assets/img/solutions/aortic/Relay/nosotros.png" alt="Logo Aortic" class="responsive-img">
            <h5 class="treo-tittle-color titulo-bold">
                SOBRE NOSOTROS
            </h5>
            <p class="treo-tittle-color">
                Estamos enfocados
                únicamente en diseñar soluciones para la aorta.
            </p>
            <a (click)="goTo('aortic/soluciones-estandar')"
                class="waves-effect waves-light btn btn-plus light-blue-aortic flex-container aortic-black-text">
                APRENDA MÁS <i class="material-icons exception right">navigate_next</i>
            </a>
        </div>
        <div class="col s12 m4 center-content">
            <img src="assets/img/solutions/aortic/Relay/contacto.png" alt="Contacto TREO" class="responsive-img">
            <h5 class="treo-tittle-color titulo-bold">
                CONTACTO

            </h5>
            <p class="treo-tittle-color">
                Nos dedicamos a servir a
                nuestros clientes.
            </p>
            <a (click)="goTo('contactanos')"
                class="waves-effect waves-light btn btn-plus light-blue-aortic flex-container aortic-black-text">
                APRENDA MÁS <i class="material-icons exception right">navigate_next</i>
            </a>
        </div>
    </div>
</section>