<app-banner-cardiologia-interv [titulo]="titulo" [imagen]="imagen"></app-banner-cardiologia-interv>
<section>
    <div class="container">
        <section>
            <p>
                Glidewire Advantage está dedicada a todos los niveles de intervención periférica, desde el
                posicionamiento del
                introductor hasta tratamientos ilio-femoropoplíteos y por debajo de la rodilla. <br />
                Combina maniobrabilidad, capacidad de cruce con el soporte del dispositivo para alcanzar y cruzar la
                lesión objetivo.
            </p>
        </section>
        <section>
            <h3>
                Características
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <h6 class="black-text"><b>
                    Sensibilidad táctil superior
                </b></h6>
            <p>
                La estructura proximal de PTFE cortada en espiral permite un agarre firme en el cuerpo de la guía para
                una mejor dirección y manipulación cómoda.
            </p>
            <h6 class="black-text"><b>
                    La mejor capacidad de navegación de su clase
                </b></h6>
            <p>
                25 cm distales de guía Radifocus Guidewire M original le brindan el rendimiento del recubrimiento M coat
                en el que confía,
            </p>
            <h6 class="black-text"><b>
                    Capacidad de cruce mejorada
                </b></h6>
            <p>
                Mayor capacidad de empuje y resistencia al acodamiento con cuerpo proximal de nitinol extrarígido,
                incluso en lesiones complejas.
            </p>
            <h6 class="black-text">
                <b>
                    Plataforma mejorada para dispositivos de intervención
                </b>
            </h6>
            <dd>
                <ul>
                    <li>
                        Cuerpo proximal de nitinol extrarígido brinda soporte adicional a dispositivos
                    </li>
                    <li>
                        El espiral proximal con cubrimiento en PTFE limita el contacto en la superficie dentro del
                        lumen del catéter,
                        reduciendo la fricción y mejorando la capacidad de navegación sobre la guía.
                    </li>
                </ul>
            </dd>
        </section>
        <section>
            <h3>
                Especificaciones generales
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <table class="responsive-table highlight">
                <tbody>
                    <tr>
                        <th class="bold-tittle-table">
                            Material del núcleo
                        </th>
                        <td>
                            Nitinol
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Cuerpo
                        </th>
                        <td>
                            Extra-stiff
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Diámetro externo
                        </th>
                        <td>
                            0.014", 0.018", 0.035"
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Longitud total
                        </th>
                        <td>
                            180, 260, 300 cm
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Cuerpo proximal
                        </th>
                        <td>
                            Corte espiral PTFE, 155, 235, 275 cm
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Cuerpo distal
                        </th>
                        <td>
                            Hydrophilic M Coat<sup>&trade;</sup>, 25 cm
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Longitud de la punta flexible
                        </th>
                        <td>
                            1 (0.014", 0.018") and 5 cm (0.035")
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Marcador en espiral de la punta
                        </th>
                        <td>
                            On 0.014" and 0.018", golden
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Formas de la punta
                        </th>
                        <td>
                            Recta angulada
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h3>
                Especificaciones del artículo
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <table width="100%" class="responsive-table highlight" cellspacing="0">
                <thead>
                    <tr>
                        <th class="bold-tittle-table">
                            Código producto
                        </th>
                        <th class="bold-tittle-table">
                            Tipo alambre
                        </th>
                        <th class="bold-tittle-table">
                            Diámetro externo
                        </th>
                        <th class="bold-tittle-table">
                            Longitud total
                        </th>
                        <th class="bold-tittle-table">
                            Longitud recubrimiento hidrofílico distal
                        </th>
                        <th class="bold-tittle-table">
                            Longitud punta flexible
                        </th>
                        <th class="bold-tittle-table">
                            Curva de la punta
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>RA*FA14181CM</td>
                        <td>​Extra stiff</td>
                        <td>0.014"/0.36 mm</td>
                        <td>180 cm</td>
                        <td>​25 cm</td>
                        <td>1 cm</td>
                        <td>Angled</td>
                    </tr>
                    <tr>
                        <td>RA*FA14301CM</td>
                        <td>Extra stiff</td>
                        <td>0.014'/0.36 mm</td>
                        <td>300 cm</td>
                        <td>25 cm</td>
                        <td>1 cm</td>
                        <td>Angled</td>
                    </tr>
                    <tr>
                        <td>RA*FA18181CM</td>
                        <td>Extra stiff</td>
                        <td>0.018"/0.46 mm</td>
                        <td>180 cm</td>
                        <td>25 cm</td>
                        <td>​1 cm</td>
                        <td>Angled</td>
                    </tr>
                    <tr>
                        <td>RA*FA18301CM</td>
                        <td>​Extra stiff</td>
                        <td>0.018"/0.46 mm</td>
                        <td>300 cm</td>
                        <td>25 cm</td>
                        <td>1 cm</td>
                        <td>Angled</td>
                    </tr>
                    <tr>
                        <td>​RA*CA35185CM</td>
                        <td>Extra stiff</td>
                        <td>0.035"/0.89 mm</td>
                        <td>180 cm</td>
                        <td>25 cm</td>
                        <td>5 cm</td>
                        <td>Angled</td>
                    </tr>
                    <tr>
                        <td>RA*CA35265CM</td>
                        <td>Extra stiff</td>
                        <td>0.035"/0.89 mm</td>
                        <td>260 cm</td>
                        <td>25 cm</td>
                        <td>5 cm​</td>
                        <td>Angled</td>
                    </tr>
                    <tr>
                        <td>RA*FS14301CM</td>
                        <td>Extra stiff</td>
                        <td>0.014"/0.36 mm</td>
                        <td>300 cm</td>
                        <td>25 cm</td>
                        <td>1 cm</td>
                        <td>Straight</td>
                    </tr>
                    <tr>
                        <td>RA*FS18301CM</td>
                        <td>Extra stiff</td>
                        <td>0.018"/0.46 mm</td>
                        <td>300 cm</td>
                        <td>25 cm</td>
                        <td>1 cm</td>
                        <td>Straight</td>
                    </tr>
                    <tr>
                        <td>RA*CS35185CM</td>
                        <td>Extra stiff</td>
                        <td>0.035"/0.89 mm</td>
                        <td>180 cm</td>
                        <td>​25 cm</td>
                        <td>5 cm</td>
                        <td>Straight</td>
                    </tr>
                    <tr>
                        <td>RA*CS35265CM</td>
                        <td>Extra stiff</td>
                        <td>0.035"/0.89 mm</td>
                        <td>260 cm</td>
                        <td>​25 cm</td>
                        <td>5 cm</td>
                        <td>Straight</td>
                    </tr>
                </tbody>
            </table>
            <h6 class="center-align">
                Por favor copie el código de referencia cuando realice un pedido.
            </h6>
        </section>
        <section>
            <h3>
                Estudio clínico
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <p>
                Glidewire Advantage & NaviCross Reporte de Caso
            </p>
        </section>
        <section>
            <h3>
                Información relevante del producto
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <dd>
                <ul>
                    <li>
                        <a href="">
                            Radifocus<sup>&reg;</sup> Glidewire<sup>&reg;</sup> Advantage<sup>&trade;</sup> brochure
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Radifocus<sup>&reg;</sup> Glidewire Advantage<sup>&reg;</sup> brochure
                        </a>
                    </li>
                </ul>
            </dd>
        </section>
        <section>
            <h3>
                Ver también
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <dd>
                <ul>
                    <li>
                        <a href="">
                            Radifocus<sup>&reg;</sup> Guidewire M Standard type - Guía.
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Radifocus<sup>&reg;</sup> Guidewire M Stiff type - Guía.
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Radifocus<sup>&reg;</sup> Guidewire M with Radiopaque tip marker - Guía.
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Radifocus<sup>&reg;</sup> Guidewire M Shapeable - Guía.
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Radifocus<sup>&reg;</sup> Guidewire GT with gold coil - Microguía.
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Muso<sup>&reg;</sup> Wire – Guía periférica.
                        </a>
                    </li>
                </ul>
            </dd>
        </section>
    </div>
</section>