<section style=" position: relative; z-index: 100;background: white;">
    <header>
        <div class="background-skyleft skyleft"></div>
        <section class="intro row">
            <div class="container">
                <div class="col m8 s12">
                    <h4 class="left terumo-text">Capiox<sup>®</sup> FX advance</h4>
                    <div class="col s12 hide-on-small-only">
                        <dl>
                            <dt>Oxigenador con filtro arterial integrado</dt>
                            <dd>Optimización de la dinámica de flujo</dd>
                            <dd>Expansión en el rango de pacientes</dd>
                            <dd>Resultados de avanzada</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </section>
    </header>

    <div class="section">
        <div class="hide-on-med-and-up">
            <div class="container col s12">
                <dl>
                    <dt>Oxigenador con Filtro arterial integrado.</dt>
                    <dd>Optimización de la dinámica de flujo.</dd>
                    <dd>Expansión en el rango de pacientes.</dd>
                    <dd>Resultados de avanzada.</dd>
                </dl>
            </div>
            <div class="separador-cardio"></div>
        </div>
        <div class="container">
            <h5 class="titilo-bold">Capiox<sup>®</sup> FX advance – Oxigenadores</h5>
            <div class="progress space-line">
                <div class="determinate terumo" style="width: 20%"></div>
            </div>
            <div class="row">
                <div class="col s12 m9">
                    <h5>Avance al siguiente nivel</h5>
                    <p class="terumoP justify-align">Con Capiox<sup>®</sup> FX advance usted podrá contar con un oxigenador que le permitirá mejores resultados en cuanto la dinámica de flujo y capacidad en términos de rangos de pacientes. Esto nos permitirá tener un mínimo volumen de
                        operación y maximizar los rangos de flujo. Ahora usted puede tener varias opciones y escoger un oxigenador pequeño, de bajo volumen de primado.</p>
                    <div class="col s12 m6">
                        <h6 class="black-text titulo-bold">Reservorio de 3000 ml</h6>
                        <dl>
                            <dt>Ventajas</dt>
                            <dd>Incrementar su máximo flujo a 5 L/ min en el Capiox Advance FX15* </dd>
                        </dl>
                        <dl>
                            <dt>Beneficios</dt>
                            <dd>Flexibilidad en su uso en un rango más amplio de pacientes y ofrecer unos volúmenes de primado más bajos a los pacientes.</dd>
                        </dl>
                    </div>
                    <div class="col s12 m6">
                        <h6 class="black-text titulo-bold">Reservorio de 4000 ml</h6>
                        <dl>
                            <dt>Ventajas</dt>
                            <dd>Reducción del mínimo volumen de operación a 150 ml en Capiox FX15 y 25. </dd>
                        </dl>
                        <dl>
                            <dt>Beneficios</dt>
                            <dd>Ayuda a minimizar la hemodilución con bajos volúmenes de primado y oxigenadores de acuerdo a las necesidades del paciente.</dd>
                        </dl>
                    </div>
                </div>
                <div class="col s12 m3">
                    <div class="publi container-fluid">
                        <h6 class="black-text titulo-bold center-align">Ver más acerca de Capiox<sup>©</sup> advance</h6>
                        <div class="divider"></div>
                        <div class="cuadro" style="text-align: left !important;">
                            <i class="material-icons circle">person_pin</i>

                            <a (click)="goTo('contactanos')" style="color: #008f66 !important;;">
                                <p class="terumo-text titulo-bold">Contacte al representante de Terumo</p>
                            </a>
                        </div>
                        <div class="cuadro" tyle="text-align: left !important;">
                            <i class="material-icons circle">desktop_windows</i>

                            <a href="https://www.terumo-cvs.com/products/ProductDetail.aspx?groupId=1&familyID=801&country=1" target="_blank" style="color: #008f66 !important;;">
                                <p class="terumo-text titulo-bold">Visite la página de Capiox<sup>®</sup></p>
                            </a>
                        </div>
                        <div class="cuadro">
                            <i class="material-icons circle">picture_as_pdf</i>

                            <a href="https://www.terumo-cvs.com/pdfs.aspx?nm=863551_CAPIOX-FX-Advance-Brochure_DEC2015_FINAL" target="_blank" style="color: #008f66 !important;;">
                                <p class="terumo-text titulo-bold">Descargue el brochure para Capiox<sup>®</sup> FX advance</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<header style="position: relative; z-index: 10;">
    <div class="header2 skyleft"></div>
    <section class="intro row">
        <div class="container">
            <div class="col m6 s12">
                <h4 class="left terumo-text">Oxigenador avanzado que optimiza la dinámica de fluidos</h4>
            </div>
        </div>
    </section>
</header>

<div class="section">
    <div class="container">
        <h5 class="titilo-bold">Capiox<sup>®</sup> Advance con filtro arterial integrado</h5>
        <div class="progress space-line">
            <div class="determinate terumo" style="width: 20%"></div>
        </div>
        <div class="row">

            <div class="col s12 m9">
                <p class="terumoP">Oxigenador avanzado que optimiza la dinámica de fluidos, resultando en un mínimo volumen de operación y un incremento del rango de flujo máximo.</p>
                <section style=" position: relative; z-index: 100;background: white;">
                    <div class="carousel carousel-slider center">
                        <div class="carouselnav">
                            <div class="prev" [hidden]="visibleNav" (click)="prev()"><i class='material-icons terumo-text'>keyboard_arrow_left</i></div>
                            <div class="next" [hidden]="visibleNav" (click)="next()"><i class='material-icons terumo-text'>keyboard_arrow_right</i></div>
                        </div>
                        <div class="carousel-item white-text" href="#uno!">
                            <img class="materialboxed responsive-img" data-caption="Capiox<sup>®</sup> RX Sistemas de oxigenación" src="assets/img/solutions/cardiovascular/temp-fx-1.png">
                        </div>
                        <div class="carousel-item white-text" href="#dos!">
                            <img class="materialboxed responsive-img" data-caption="Capiox<sup>®</sup> RX Sistemas de oxigenación" src="assets/img/solutions/cardiovascular/temp-fx-2.png">
                        </div>
                    </div>
                </section>
                <div class="row">
                    <div class="col s12 m6">
                        <dl>
                            <dt>Características</dt>
                            <dd>Filtro arterial integrado con poros de 32 micras</dd>
                            <dd>Tecnología de autoventilación para un rápido purgado</dd>
                            <dd>Fibra hueca exclusiva de Terumo</dd>
                            <dd>Mínimo volumen de operación</dd>
                            <dd>Recubierto con superficie X Coating</dd>
                            <dd>Reservorio indicado para DVAV</dd>
                            <dd>Válvula de liberación positive integrada</dd>
                        </dl>
                    </div>
                    <div class="col s12 m6">
                        <dl>
                            <dt>Información de producto</dt>
                            <dd>Brochure: oxigenación prescriptiva <a href="http://www.terumo-cvs.com/pdfs.aspx?nm=862048_Prescriptive-Oxygenation-Brochure_MAY2015_FINAL_lowRes" target="_blank" style="color: #000000de;"><i class="material-icons terumo-red">picture_as_pdf</i></a></dd>
                            <dd>Brochure: Capiox<sup>®</sup> oxigenador avanzado <a href="http://www.terumo-cvs.com/pdfs.aspx?nm=863551_CAPIOX-FX-Advance-Brochure_DEC2015_FINAL" target="_blank" style="color: #000000de;"><i class="material-icons terumo-red">picture_as_pdf</i></a></dd>
                        </dl>
                        <dl>
                            <dt>Multimedia</dt>
                            <dd>Video <a href="http://www.terumo-cvs.com/_video/859195_CapioxWithIntegratedArterialFilter_JAN2015_FINAL.shtml" target="_blank"><i class="material-icons terumo-red" >video_library</i></a></dd>
                        </dl>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m8 offset-m2">
                        <video class="responsive-video video_fx" controls>
                            <source src="http://www.terumo-cvs.com/_video/859195_CapioxWithIntegratedArterialFilter_JAN2015_FINAL.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <app-aside></app-aside>
                <div class="publi2 container-fluid">
                    <h6 class="black-text titulo-bold">Contenidos relacionados</h6>
                    <div class="divider"></div>
                    <h6 class="titulo-bold">Recursos en línea</h6>
                    <a href="http://www.terumo-cvgroup.com/FXAdvance/" target="_blank" style="color: #000000de;">
                        <p class="terumoP">CAPIOX FX Advance Oxygenator</p>
                    </a>
                    <h6 class="titulo-bold">BROCHURE</h6>
                    <a href="http://www.terumo-cvs.com/doc/863551_CAPIOX-FX-Advance-Brochure_DEC2015_FINAL.pdf" target="_blank" style="color: #000000de;">
                        <p class="terumoP">Prescriptive Oxygenation</p>
                    </a>
                    <h6 class="titulo-bold">Estudios clínicos</h6>
                    <a href="http://www.terumo-cvgroup.com/optimizing/2015JUL_Ranucci.shtml" target="_blank" style="color: #000000de;">
                        <p class="terumoP">Study Demonstrates That Low Prime Volume Oxygenator Significantly Reduces Hemodilution</p>
                    </a>
                    <h6 class="titulo-bold">Prácticas clínicas/ testimonios</h6>
                    <a href="http://www.terumo-cvgroup.com/optimizing/2015JUL_Mech.shtml" target="_blank" style="color: #000000de;">
                        <p class="terumoP">Experts Share Tips To Achieve Blood Savings</p>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>