li {
  list-style-type: disc !important;
}

.cuadro {
  border: 1px solid #dfdfde;
  border-radius: 5px;
  padding: 5px 8px 5px 8px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
}

.aside-line-red {
  border-left: 5px solid #d32b2a;
  padding-left: 5%;
}

.aside-text {
  margin-left: 8%;
}

p {
  text-align: justify !important;
}

.space-line {
  margin-top: 5%;
  margin-bottom: 5%;
}
