<div class="slider">
    <ul class="slides">
        <li>
            <img src="assets/img/solutions/cardiovascular/crx-index.png">
            <div class="row">
                <div class="caption left-align slider-text">
                    <h3>Capiox&reg; RX advance</h3>
                    <h5>Oxigenador con Filtro arterial integrado.</h5>
                    <p class="terumoP black-text">
                        • Optimización de la dinámica de flujo. <br />
                        • Expansión en el rango de pacientes. <br />
                        • Resultados de avanzada.
                    </p>
                    <!--<div class="black-text">
                        <ul>
                            <li>
                                Optimización de la dinámica de flujo.
                            </li>
                            <li>
                                Expansión en el rango de pacientes.
                            </li>
                            <li>
                                Resultados de avanzada.
                            </li>
                        </ul>
                    </div>-->
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="separador-cardio"></div>
<div class="container">
    <h5>Capiox&reg; FX advance – Oxigenadores</h5>
    <div class="divider space-line"></div>
    <div class="row">
        <div class="col s12 m9 line-right">
            <h5>Avance al siguiente nivel</h5>
            <p class="terumoP">
                Con Capiox® FX advance usted podrá contar con un oxigenador que le permitirá
                mejores resultados en cuanto a dinámica de flujo y capacidad en términos de rangos de
                pacientes. Esto nos permitirá tener menor mínimo volumen de operación y maximizar
                los rangos de flujo. Ahora usted puede tener varias opciones y escoger un oxigenador
                pequeño, de bajo volumen de primado.
            </p>

            <div class="row">
                <div class="col s12 m6">
                    <h6 class="black-text titulo-bold">Reservorio de 3000 ml</h6>
                    <h6>
                        Ventajas
                    </h6>
                    <p class="terumoP">
                        Incrementar su máximo flujo a 5 L/ min
                        en el Capiox Advance FX15*
                    </p>
                    <h6>
                        Beneficios
                    </h6>
                    <p class="terumoP">
                        Flexibilidad en su uso en un rango mas
                        amplio de pacientes y ofrecer unos
                        volúmenes de primado mas bajos a los
                        pacientes.
                    </p>
                </div>
                <div class="col s12 m6">
                    <h6 class="black-text titulo-bold">Reservorio de 4000 ml</h6>
                    <h6>
                        Ventajas
                    </h6>
                    <p class="terumoP">
                        Reducción del mínimo volumen de
                        operación a 150 ml en Capiox FX15 y 25.
                    </p>
                    <h6>
                        Beneficios
                    </h6>
                    <p class="terumoP">
                        Ayuda a minimizar la hemodilución
                        con bajos volúmenes de primado y
                        oxigenadores de acuerdo a necesidades
                        del paciente.
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <h6 class="black-text titulo-bold">Ver mas acerca de
                Capiox&copy; advance</h6>
            <div class="divider"></div>
            <div class="collection-item avatar cuadro">
                <i class="material-icons circle">person_pin</i>
                <h6 class="aside-text titulo-bold">Contacte al representante de Terumo</h6>
            </div>
            <div class="collection-item avatar cuadro">
                <i class="material-icons circle">desktop_windows</i>
                <h6 class="aside-text titulo-bold">Visite la pagina de Capiox&reg;</h6>
            </div>
            <div class="collection-item avatar cuadro">
                <i class="material-icons circle">people</i>
                <h6 class="aside-text titulo-bold">Aprenda acerca oxigenadores Capiox&reg;</h6>
            </div>
            <div class="collection-item avatar cuadro">
                <i class="material-icons circle">picture_as_pdf</i>
                <h6 class="aside-text titulo-bold">Descargue el brochure para Capiox&reg; FX advance</h6>
            </div>
        </div>
    </div>
</div>
<div class="slider">
    <ul class="slides">
        <li>
            <img src="assets/img/solutions/cardiovascular/crx-index.png">
            <div class="row">
                <div class="caption left-align slider-text">
                    <h3>Oxigenador avanzado
                        que optimiza la
                        dinámica de fluidos</h3>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="separador-cardio"></div>
<div class="container">
    <h3>Capiox® Advance con filtro arterial integrado</h3>
    <div class="divider space-line"></div>
    <div class="row">
        <div class="col s12 m9">
            <p class="terumoP">
                Oxigenador avanzado que optimiza la dinámica de fluidos, resultando en un mínimo
                volúmen de operación y un incremento del rango de flujo máximo.
            </p>
            <div class="carousel carousel-slider center">
                <!--<div class="carousel-fixed-item center">
                    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">button</a>
                </div>-->
                <div class="carousel-item white-text" href="#uno!">
                    <img class="materialboxed responsive-img" data-caption="Capiox® RX Sistemas de oxigenación"
                        src="assets/img/solutions/cardiovascular/temp-fx-1.png">
                </div>
                <div class="carousel-item white-text" href="#dos!">
                    <img class="materialboxed responsive-img" data-caption="Capiox® RX Sistemas de oxigenación"
                        src="assets/img/solutions/cardiovascular/temp-fx-2.png">
                </div>
            </div>
            <h6>Características</h6>
            <ul>
                <li>
                    Filtro arterial integrado con poros de 32 micras.
                </li>
                <li>
                    Tecnología self venting para un rápido purgado
                </li>
                <li>
                    Fibra hueca exclusiva de Terumo
                </li>
                <li>
                    Mínimo volume de operación.
                </li>
                <li>
                    Recubierto con superficie X Coating
                </li>
                <li>
                    Reservorio indicado para DVAV
                </li>
                <li>
                    Válvula de liberación positive integrada.
                </li>
            </ul>
            <div class="row">
                <div class="col s12 m6">
                    <h6>Información de producto</h6>
                    <p class="terumoP">
                        Brochure: Prescriptive oxigenation <i class="material-icons">picture_as_pdf</i> <br />
                        Brochure: Capiox® Advance Oxigenador <i class="material-icons">picture_as_pdf</i>
                    </p>
                    <h6>Multimedia
                    </h6>
                    <p class="terumoP">
                        Video
                        <i class="material-icons">play_circle_filled</i>
                    </p>
                </div>
                <div class="col s12 m6">
                    <div class="container">
                        <video class="responsive-video video_fx" controls>
                            <source src="assets/media/cardiovascular/capiox-rx.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <app-aside></app-aside>
            <div class="container-fluid aside-line-red">
                <h6 class="titulo-bold black-text">
                    Contenidos relacionados
                </h6>
                <div class="divider"></div>
                <h6>
                    Aprenda más
                </h6>
                <p class="terumoP">
                    CAPIOX Oxygenators with Stainless Steel
                    Heat Exchangers
                </p>
                <h6>
                    Recursos en linea
                </h6>
                <p class="terumoP">
                    CAPIOX FX Advance Oxygenator
                </p>
                <h6>
                    BROCHURE
                </h6>
                <p class="terumoP">
                    Prescriptive Oxygenation
                </p>
                <h6>
                    Estudios clinicos
                </h6>
                <p class="terumoP">
                    Study Demonstrates That Low Prime
                    Volume Oxygenator Significantly
                    Reduces Hemodilution
                </p>
                <h6>
                    Practicas clinicas/ testimonios
                </h6>
                <p class="terumoP">
                    Experts Share Tips To Achieve Blood
                    Savings
                </p>
            </div>
        </div>
    </div>
</div>