<section class="abdominal-section-1">
    <div class="row img-fenestrated">
        <!--<div class="col s12 m6 ">
            <img class="responsive-img" src="assets/img/solutions/aortic/TREO/Abdominales/index.png" alt="TREO soluciones personalizadas">
        </div>-->
        <div class="right-rounded-section light-blue-aortic center-content col s12 m6 offset-m6">
            <div class="container">
                <h1 class="black-text">TREO<sup>&reg;</sup></h1>
                <h2 class="black-text flow-text">
                    Soluciones abdominales PERSONALIZADAS
                </h2>
            </div>
        </div>
    </div>
</section>
<section class="abdominal-section-2">
    <div class="container">
        <h3 class="treo-tittle-color center-align flow-text">
            El amplio índice de tamaños estándar y ajustables
            se complementa con la habilidad de adaptarse a las
            necesidades precisas de un paciente específico.
            La plataforma a medida le permite a los médicos
            diseñar una solución personalizada cuando sea necesario.
        </h3>
    </div>
</section>
<section class="dark-blue-aortic abdominal-section-3">
    <div class="row">
        <div class="col s12 m6 center-content">
            <div class="container center-content">
                <h3 class="white-text blue-bottom-line">
                    SOLUCIONES <span> PERSONALIZADAS</span>
                </h3>
                <ul class="white-text flow-text">
                    <li>
                        Potencia el desempeño clínico a través
                        de nuestro equipo de ingeniería
                    </li>
                    <li>
                        Múltiples diseños disponibles
                    </li>
                    <li>
                        Tiempo de entrega de cuatro semanas
                    </li>
                </ul>
            </div>
        </div>
        <div class="col s12 m6 body-img">
        </div>
    </div>
</section>
<section class="light-brown-aortic right-rounded-section abdominal-section-4">
    <div class="container right-align center-content" style="align-items: flex-end;">
        <h3 class="treo-tittle-color blue-bottom-line">
            <span>STENT - GRAFT</span>
        </h3>
        <h5 class="treo-tittle-color">Endoprótesis</h5>
        <h4 class="treo-tittle-color">
            Diseños prescriptivos disponibles en el programa hecho
            a la medida de Terumo Aortic
        </h4>
        <p class="treo-tittle-color">
            Tiempo de entrega: cuatro semanas* <br /> <br />
            *Desde la aprobación del diseño por el médico hasta la entrega en sala de operaciones
        </p>
    </div>
</section>
<section class="abdominal-section-5">
    <div class="container-fluid" style="margin: 4% 2%;">
        <table class="responsive-table highlight">
            <thead>
                <tr>
                    <th>
                        <p class="treo-tittle-color flow-text">CATEGORÍA</p>
                    </th>
                    <th>
                        <p class="treo-tittle-color flow-text">DISEÑO</p>
                    </th>
                    <th>
                        <p class="treo-tittle-color flow-text">DESCRIPCIÓN</p>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Conos a la medida</td>
                    <td>Conos inversos</td>
                    <td>Diámetro distal, más largo que el diámetro proximal</td>
                </tr>
                <tr class="light-border-dotted">
                    <td></td>
                    <td>Conos extremos</td>
                    <td>
                        Cualquier tamaño de diámetro distal/proximal en las extremidades o el mango del cuerpo principal
                    </td>
                </tr>
                <tr class="light-border-dotted">
                    <td>
                        Longitudes a la medida
                    </td>
                    <td>
                        Cuerpos cortos
                    </td>
                    <td>
                        El dispositivo del cuerpo principal mide 50 mm
                        desde el borde del implante hasta el final de la
                        extremidad contralateral
                    </td>
                </tr>
                <tr>
                    <td>
                        Cuerpos a la medida
                    </td>
                    <td>
                        Escotadura única o doble
                    </td>
                    <td>
                        Una puerta festoneada en el lado proximal del
                        cuerpo principal
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        Fenestración única
                    </td>
                    <td>
                        Un agujero ubicado en el cuerpo principal del
                        stent-graft
                    </td>
                </tr>
                <tr class="dark-border-bottom">
                    <td>
                    </td>
                    <td>
                        Extremidades con forma de “reloj de arena”
                    </td>
                    <td>
                        Un diseño de extremidad con diámetros largos
                        en el lado proximal y distal, además de un estrechamiento
                        distal en la sección media.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<section class="light-blue-aortic" style="padding: 3% 0% 6%;">
    <div class="container">
        <h3 class="treo-tittle-color light-bottom-line">
            <span>VÍDEO DE CASO CLÍNI</span>CO
        </h3>
        <div class="video-container" style="margin-top: 6%;">
            <iframe title="Treo Customized Solution (Short Main Body)"
                src="https://player.vimeo.com/video/199213287?dnt=1&amp;app_id=122963" width="492" height="360"
                frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
        </div>
    </div>
</section>
<section>
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="assets/img/solutions/aortic/TREO/Abdominales/c-evar-1.png">
                <div class="caption center-align">
                    <div class="row margin-space">
                        <div class="col s12 m6">
                            <h3 class="treo-tittle-color test-after">
                                ANTES Y DESPUÉS DE LA CIRUGÍA
                            </h3>
                            <h4 class="treo-tittle-color">
                                Ejemplo: C-EVAR*1
                            </h4>
                            <p class="treo-tittle-color">
                                Escotadura proximal para alcanzar zona
                                de aterrizaje adicional.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="assets/img/solutions/aortic/TREO/Abdominales/c-evar-2.png"> <!-- random image -->
                <div class="caption right-align">
                    <div class="row margin-space">
                        <div class="col s12 m6 left-align no-space">
                            <h3 class="treo-tittle-color test-after">
                                ANTES Y DESPUÉS DE LA CIRUGÍA
                            </h3>
                            <h4 class="treo-tittle-color">
                                Ejemplo: C-EVAR <sup>*2</sup>
                            </h4>
                            <p class="treo-tittle-color">
                                Fenestración única para proteger la arteria
                                renal accesoria.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="navegacion container-fluid">
            <a class="waves-effect waves-light btn btn-left light-blue-aortic treo-black-color" (click)="previous()"><i
                    class="material-icons">navigate_before</i></a>
            <a class="waves-effect waves-light btn btn-right light-blue-aortic treo-black-color" (click)="next()"><i
                    class="material-icons">navigate_next</i></a>
        </div>
    </div>
</section>
<section class="dark-blue-aortic abdominal-section-8">
    <div class="container treo-cite-text">
        <ol style="list-style: decimal;">
            <li>
                Caso clínico cortesía de: Dr. Franz Karnel. Hospital SMZ-Süd, Abteiling für Radiologie. Kundratstrasse,
                1100 Wien, Austria.
            </li>
            <li>
                Caso clínico cortesía de: Guttorm Jenssen, MD / Haukeland University Hospital / Interventional
                Radiology Department / Bergen, Norway.
            </li>
            <li>
                Avisos legales: los dispositivos personalizados no llevan marca CE. De acuerdo con la directiva de
                dispositivos médicos (MDD 93/42/EEC),
                es necesaria una prescripción médica. Los dispositivos personalizados no están disponibles en EE.UU.
            </li>
        </ol>
    </div>
</section>