<section>
    <div class="imagen-fondo">
        <div class="blue-section light-blue-aortic">
            <div class="container flex-content">
                <h1 class="black-text">TREO<sup>&reg;</sup></h1>
                <h2 class="black-text flow-text">
                    Diseñado para su CONFIANZA
                </h2>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container center-align">
        <h3 class="aortic-black-text">
            Ideado para optimizar la experiencia del usuario.
            Cada aspecto del sistema abdominal TREO fue diseñado para el desempeño.
        </h3>
    </div>
</section>
<section class="dark-blue-aortic">
    <div class="row">
        <div class="col s12 m6 white-text">
            <div class="container flex-content-intro">
                <h3 class=" white-text">
                    TREO
                </h3>
                <div class="treo-line light-blue-aortic"></div>
                <p>
                    <b>
                        Diseñado para:
                    </b>
                </p>
                <ul>
                    <li>
                        Proporcionar durabilidad a largo plazo
                    </li>
                    <li>
                        Optimizar el procedimiento
                    </li>
                    <li>
                        Suministrar un acercamiento personal a un amplio rango de pacientes
                    </li>
                </ul>
            </div>
        </div>
        <div class="col s12 m6 imagen-intro">
            <!--<img src="assets/img/solutions/aortic/TREO/intro.jpg" alt="">-->
        </div>
    </div>
</section>