/*@START: Section 1*/
.blue-section {
  border-radius: 0% 50% 50% 0%;
  /* 
    padding: 8% 5% 8% 5%; 
    height: 376px;
  */
  width: 40%;
}
.imagen-fondo,
.imagen-intro {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  top: 0;
  z-index: -2;
}
.imagen-fondo {
  /*height: 65%;
  margin-top: 130px;*/
  background-position-x: right;
  background-size: contain;
  background-image: url(../../../../../../../../../assets/img/solutions/aortic/TREO/home-temp.png);
  /*position: absolute;*/
}

.flex-content,
.flex-content-intro {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: left;
  justify-content: center;
}
.flex-content {
  height: 40vw;
}

.flex-content h1 {
  font-weight: bold;
  margin-bottom: 0%;
}

.flex-content h2 {
  margin-top: 1%;
}
/*@END: Section 1*/

/*@START: Section 2*/
.imagen-intro {
  height: 35vw;
  background-position-x: left;
  clip-path: circle(41% at 65%);
  background-size: cover;
  background-image: url(../../../../../../../../../assets/img/solutions/aortic/TREO/intro.jpg);
}
.flex-content-intro {
  height: 35vw;
}
.treo-line {
  margin: 2% 0%;
  padding: 3px;
  border-radius: 5px;
  width: 59%;
}
.section-2 p {
  font-size: 25px;
}
.section-2 ul li {
  font-size: 18px;
}
.row {
  margin-bottom: 0%;
}
/*@START: Section 2*/

/*@START: MEDIA QUERIES*/
@media only screen and (max-width: 600px) {
  /*SECTION 1*/
  .blue-section{
    border-radius: 50% 50% 0% 0%;
    width: 100%;
    height: 60vw;
  }
  .blue-section .flex-content{ 
    height: 60vw;
    text-align: center;
  }
  .space-responsive{
    height: 40vw;
  }
  /*SECTION 2*/
  .imagen-intro {
    height: 100vw;
    clip-path: circle(40% at 50%);
    background-image: url(../../../../../../../../../assets/img/solutions/aortic/TREO/intro-responsive.jpg);
  }
  .row .col:not(.imagen-intro){
    padding: 20% 5%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
   /*Section 2*/
  .dark-blue-aortic .row {
    padding: 5% 0%;
  }
  .imagen-intro{
    clip-path: circle(40% at 66%);
  }
}
/*@END: MEDIA QUERIES*/
