<section>
    <div class="imagen-fondo"></div>
    <div class="blue-section light-blue-aortic valig-graper">
        <div class="container-fluid">
            <img src="assets/img/solutions/aortic/anaconda-logo.png" alt="Logo Anaconda" class="responsive-img">
            <h2 class="black-text flow-text">Sistema de endoprótesis
                AAA Anaconda<sup>&trade;</sup></h2>
        </div>
    </div>
</section>
<section>
    <div class="container center-align">
        <h3 class="aortic-black-text">
            Para reparar aneurismas aórticos abdominales (AAA) infrarrenales
        </h3>
    </div>
</section>
<section>
    <div class="container-fluid section-2">
        <div class="row valig-graper">
            <div class="col s12 m6">
                <div class="container centrar">
                    <p class="flow-text">
                        Diseñado para brindar flexibilidad
                        excepcional, indicado para tratar
                        cuellos aórticos con angulación
                        infrarrenal de hasta 90°.<sup>1</sup>
                        <br /><br />
                        El sistema de endoprótesis AAA
                        Anaconda<sup>&trade;</sup> repara aneurismas
                        aórticos abdominales (AAA).
                    </p>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="imagen-circle-aortic"></div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid gray-text">
        <div class="container">
            <p class="flow-text">
                Innovadora tecnología de endoprótesis en anillo combinada con un cuerpo flexible que ofrece un sistema
                de sellado que se ajusta de manera natural a la anatomía de tu paciente.<sup>2</sup>
                <br><br>
                La capacidad de reposicionamiento completo permite a los médicos clínicos liberar el sistema de manera
                precisa en el objetivo, incluso en anatomías complejas.<sup>3</sup>
                <br>
                La disponibilidad del producto está sujeta a la aprobación de la autoridad regulatoria local.
            </p>
        </div>
    </div>
    <section>
        <div class="container-fluid">
            <div class="row circles">
                <div class="dark-blue-circle">
                    <img src="assets/img/solutions/aortic/reposicionable.svg" alt="Completamente reposicionable"
                        class="responsive-img logo-circle">
                    <p class="descripcion">
                        <strong> Completamente reposicionable </strong>– garantiza el
                        suministro preciso en el objetivo<sup>3</sup>
                    </p>
                </div>
                <div class="dark-blue-circle">
                    <img src="assets/img/solutions/aortic/sellado.svg" alt="Sistema de sellado proactivo"
                        class="responsive-img logo-circle">
                    <p class="descripcion">
                        <strong> Sistema de sellado proactivo </strong> – innovadora
                        tecnología de endoprótesis en anillo<sup>4</sup>
                    </p>
                </div>
                <div class="dark-blue-circle">
                    <img src="assets/img/solutions/aortic/cuello.svg" alt="Marca CE de 90°"
                        class="responsive-img logo-circle">
                    <p class="descripcion">
                        <strong> Marca CE de 90° de cuello aórtico </strong> – resultados
                        comprobados en anatomías complejas<sup>5,6</sup>
                    </p>
                </div>
            </div>
        </div>
    </section>
</section>
<section>
    <div class="container center-align">
        <div class="container">
            <h3 class="black-text">
                Animación del procedimiento
                del implante de Anaconda<sup>&trade;</sup>
            </h3>
            <div class="TextformatterVideoEmbed"
                style="position:relative;padding:30px 0 56.25% 0;height:0;overflow:hidden;">
                <div class="wistia_responsive_padding" style="padding:56.25% 0 28px 0;position:relative;">
                    <div class="wistia_responsive_wrapper"
                        style="height:100%;left:0;position:absolute;top:0;width:100%;">
                        <div class="wistia_video_foam_dummy" data-source-container-id=""
                            style="border: 0px; display: block; height: 0px; margin: 0px; padding: 0px; position: static; visibility: hidden; width: auto;">
                        </div>
                        <iframe style="position: absolute; top: 0px; left: 0px; width: 504px; height: 284px;"
                            src="//fast.wistia.net/embed/iframe/hoqm4kj727?videoFoam=true" title="Wistia video player"
                            allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed"
                            name="wistia_embed" allowfullscreen="allowfullscreen"
                            mozallowfullscreen="mozallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"
                            oallowfullscreen="oallowfullscreen" msallowfullscreen="msallowfullscreen" width="504"
                            height="284"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="container">
            <h3 class="black-text">
                Beneficios clave del sistema de
                endoprótesis AAA Anaconda<sup>&trade;</sup>
            </h3>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col s12 m7 valig-graper margin-container-left">
            <div class="dark-blue-section dark-blue-aortic">
                <div class="container-fluid">
                    <h3 class="white-text">
                        Completamente reposicionable
                    </h3>
                    <p class="white-text text-section-6">
                        <b> El sistema de implante completamente reposicionable</b> permite la
                        relocalización de las endoprótesis en anillo proximales para conseguir un
                        posicionamiento óptimo.<sup>6-8</sup>
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m5 imagen-reposicionable"></div>
    </div>
</section>
<section>
    <div class="row container-right">
        <div class="col s12 m5 imagen-ring col-1"></div>
        <div class="col s12 m7 valig-graper margin-container-right col-2">
            <div class="light-blue-section light-blue-aortic">
                <div class="container-fluid">
                    <h3 class="aortic-dark-text">
                        Sistema de sellado proactivo
                    </h3>
                    <p class="aortic-dark-text text-section-6">
                        El diseño de anillo dual proximal de la endoprótesis
                        (1) con ganchos (2) provee una excelente función de sellado con fijación
                        positiva como seguridad adicional contra el desplazamiento de la
                        endoprótesis cubierta.<sup>6-8</sup>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col s12 m7 valig-graper margin-container-left">
            <div class="light-brown-section light-brown-aortic">
                <div class="container-fluid">
                    <h3 class="aortic-black-text">
                        Marca CE de 90° de cuello aórtico
                    </h3>
                    <p class="aortic-black-text text-section-6">
                        <b>
                            El sistema de endoprótesis AAA Anaconda™ está indicado
                            para tratar angulaciones del cuello infrarrenal de hasta 90°
                            con resultados comprobados en anatomías complejas.<sup> 5,6 </sup>
                        </b>
                        <br /> <br />
                        Adicionalmente, el diseño de anillos múltiples e independientes de la
                        endoprótesis minimiza el riesgo de torcimiento y provee máxima
                        flexibilidad para ser funcional en anatomías variables.<sup> 9 </sup>
                        <br /> <br />
                        <i>
                            Imagenes de reconstrucción en 3D cortesía del doctor Peter Bungay.
                            Radiólogo de Intervencionista Asesor, Reino Unido.
                        </i>
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m5 imagen-implantation"></div>
    </div>
</section>
<!-- Aquí es donde se empieza a repetir -->
<section>
    <div class="container center-align">
        <p class="flow-text aortic-black-text">
            ¿Quiere saber más de nuestras soluciones <b class="aortic-light-text">EVAR</b>?
        </p>
        <div>
            <a href="#" class="waves-effect waves-light btn light-blue-aortic aortic-black-text">
                ESCRÍBANOS
                <i class="material-icons right">chevron_right</i>
            </a>
        </div>
    </div>
</section>
<section class="section-10">
    <div class="container-fluid">
        <div class="row circles">
            <div class="light-blue-circle light-blue-aortic">
                <img src="assets/img/solutions/aortic/publicaciones.svg" alt="Completamente reposicionable"
                    class="responsive-img logo-circle">
                <p class="descripcion-light">
                    Más de 20 publicaciones clínicas
                </p>
            </div>
            <div class="light-blue-circle light-blue-aortic">
                <img src="assets/img/solutions/aortic/paises.svg" alt="Sistema de sellado proactivo"
                    class="responsive-img logo-circle">
                <p class="descripcion-light">
                    Productos Terumo Aortic disponibles en más de 90 países
                </p>
            </div>
            <div class="light-blue-circle light-blue-aortic">
                <img src="assets/img/solutions/aortic/idiomas.svg" alt="Marca CE de 90°"
                    class="responsive-img logo-circle">
                <p class="descripcion-light">
                    Instrucciones de uso disponibles en 21 idiomas
                </p>
            </div>
        </div>
    </div>
</section>
<section class="banner-blue semi-circle">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 cite-section-1">
                <div class="center-align">
                    <img src="assets/img/solutions/aortic/cita.svg" width="50px" height="50px" alt="Cita"
                        class="responsive-img">
                </div>
                <p class="white-text flow-text">
                    Fue la primera endoprótesis cubierta
                    reposicionable y ofrece un sistema de
                    canulación de rama contralateral magnética. <br />
                </p>
                <i class="white-text">
                    Robbert Meerwaldt, Cirujano Vascular Asesor, Países Bajos
                </i>
            </div>
            <div class="col s12 m6">
                <div class="row">
                    <div class="col s12 m3">

                    </div>
                    <div class="col s12 m3">

                    </div>
                    <div class="col s12 m3">

                    </div>
                    <div class="col s12 m3">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <ul class="tabs tabs-fixed-width exclution flex-container">
            <li class="tab"><a class="active btn-large" href="#catalogo-productos">
                    CATÁLOGO DE PRODUCTOS <i class="material-icons right">chevron_right</i>
                </a></li>
            <li class="tab"><a class="btn-large" href="#ensayos-clinicos">
                    ENSAYOS CLÍNICOS <i class="material-icons right">chevron_right</i>
                </a></li>
            <li class="tab"><a class="btn-large" href="#instrucciones">
                    INSTRUCCIONES DE USO <i class="material-icons right">chevron_right</i>
                </a></li>
            <li class="tab"><a class="btn-large" href="#referencias">
                    REFERENCIAS <i class="material-icons right">chevron_right</i>
                </a></li>
            <li class="tab"><a class="btn-large" href="#estudio-caso">
                    ESTUDIO DE CASO <i class="material-icons right">chevron_right</i>
                </a></li>
        </ul>
        <div id="catalogo-productos" class="col s12 light-blue-aortic full-light-section">
            <div class="container">
                <h3 class="aortic-black-text">Catálogo de productos</h3>
                <ul class="exclution">
                    <li>
                        <p>
                            <a href="http://www.vascutek.com/site/assets/files/2881/anaconda_ol_trifold_bro_b298-3e-1.pdf"
                                target="_blank"> Anaconda™ AAA Stent Graft System
                                <i class="material-icons left">picture_as_pdf</i>
                            </a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="http://www.vascutek.com/site/assets/files/2115/anaconda_sc_b327-1e.pdf"
                                target="_blank" rel="noopener noreferrer"> Anaconda™ AAA Stent Graft System Sizing Chart
                                <i class="material-icons left">picture_as_pdf</i>
                            </a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="http://www.vascutek.com/site/assets/files/2108/anaconda_iliac_leg_bro_poi_b271_6e.pdf"
                                target="_blank" rel="noopener noreferrer"> Anaconda™ Isolated Iliac Product Ordering
                                Information
                                <i class="material-icons left">picture_as_pdf</i>
                            </a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="http://www.vascutek.com/site/assets/files/3489/anaconda_90o_bro_b323-3e.pdf"
                                target="_blank" rel="noopener noreferrer"> Anaconda™ AAA Stent Graft System 90° Brochure
                                <i class="material-icons left">picture_as_pdf</i>
                            </a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div id="ensayos-clinicos" class="col s12 light-blue-aortic full-light-section">
            <div class="container">
                <h3 class="aortic-black-text">
                    Ensayos Clínicos
                </h3>
                <p class="aortic-black-text">
                    Algunos de los ensayos clínicos se muestran a continuación y están <u> <a
                            href="mailto:%20evar@vascutek.com?subject=Solicitud%20clínica"> disponibles previa
                            solicitud.</a></u>
                </p>
                <div class="row">
                    <div class="col s12 m6">
                        <p>
                            Results of the Anaconda™ Endovascular Graft in Abdominal Aortic Aneurysm with a Severe
                            Angulated Infrarenal
                            Neck. <br />
                            <b> Rödel S.G.J, Zeebregts C.J, Huisman, A.B, Geelkerken, R.H.
                                J Vasc Surg 2014; 59; 6; 1495–1501.</b> <br /> <br />

                            Proximal aortic neck angle does not affect early and later
                            EVAR outcomes. An Anaconda™ Italian Registry Analysis. <br />
                            <b>Freyrie A, Gallitto E, Gargiulo M, Mascoli C, Faggioli G, Pini R,
                                Pratesi C, Stella A. J Cardiovasc Surg 2014; 55; 5; 671–677.</b> <br /> <br />
                            Bungay P. <br />
                            <b>The Use of the Anaconda™ Stent Graft for Abdominal
                                Aortic Aneurysms. <br>
                                J Cardiovasc Surg 2012; 53; 5; 571-577.</b>
                        </p>
                    </div>
                    <div class="col s12 m6">
                        <p>
                            Ring-stents supported Infrarenal Aortic Endograft fits well
                            in Abdominal Aortic Aneurysms with Tortuous Anatomy. <br />
                            <b> Freyrie A, Testi G, Faggioli GL, Gargiulo M, Giovanetti F,
                                Serra C, Stella A. <br />
                                J Cardiovasc Surg 2010; 51; 467-474.</b> <br /> <br />
                            The Anaconda™ AAA Stent Graft System: 2-Year Clinical
                            and Technical Results of a Multicentre Clinical Evaluation. <br />
                            <b> Rödel S.G.J, Geelkerken R.H, Prescott R.J, Florek H.J,
                                Kasprzak P, Brunkwall J. <br />
                                Eur J Vasc Endovasc Surg 2009; 38; 732-740</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="instrucciones" class="col s12 light-blue-aortic full-light-section">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <h3 class="aortic-black-text">
                            Instrucciones de uso
                        </h3>
                        <p>
                            <a href="http://www.vascutek.com/site/assets/files/3457/301-179_combined_anaconda_one-lok_ifu.pdf"
                                target="_blank" rel="noopener noreferrer">
                                <i class="material-icons left">picture_as_pdf</i>
                                Sistema de endoprótesis AAA Anaconda<sup>&trade;</sup>: Instrucciones de uso combinadas
                            </a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div id="referencias" class="col s12 light-blue-aortic full-light-section">
            <div class="container">
                <h3 class="aortic-black-text">Referencias</h3>
                <ol>
                    <li>
                        Datos en archivo Vascutek - IFU301-130/2
                    </li>
                    <li>
                        Bungay P. The Use of the Anaconda™ Stent Graft for Abdominal Aortic Aneurysms. J Cardiovasc Surg
                        2012; 53; 5;
                        571-577.
                    </li>
                    <li>
                        Rödel S.G.J, Geelkerken R.H, Prescott R.J, Florek H.J, Kasprzak P, Brunkwall J. The Anaconda™
                        AAA
                        Stent Graft
                        System: 2-Year Clinical and Technical Results of a Multicentre Clinical Evaluation. Eur J Vasc
                        Endovasc Surg 2009;
                        38; 732- 40.
                    </li>
                    <li>
                        Freyrie A, Testi G, Faggioli GL, Gargiulo M, Giovanetti F, Serra C, Stella A. Ring-stents
                        supported Infrarenal Aortic
                        Endograft fits well in Abdominal Aortic Aneurysms with Tortuous Anatomy. J Cardiovasc Surg 2010;
                        51;
                        467-74.

                    </li>
                    <li>
                        Rödel S.G.J, Zeebregts C.J, Huisman, A.B, Geelkerken, R.H. Results of the Anaconda™ Endovascular
                        Graft in
                        Abdominal Aortic Aneurysm with a Severe Angulated Infrarenal Neck. J Vasc Surg 2014; 59; 6;
                        1495–1501
                    </li>
                    <li>
                        Datos en archivo Vascutek
                    </li>
                    <li>
                        Saratzis N. et al. (2008) Anaconda Aortic Stent-Graft: Single-Center Experience of a New
                        Commercially Available
                        Device for Abdominal Aortic Aneurysms J Endovasc Ther,15:33-41
                    </li>
                    <li>
                        Stehr A. et al (2007) Early Experience Shows Rapid Shrinking of Abdominal Aortic Aneurysms after
                        Endovascular
                        Treatment with Anaconda™ Device VASA, 36:199-204
                    </li>
                    <li>
                        Stella A. et al (2009) The Advantages of Anaconda™ Endograft for AAA J Cardiovascular Surg,
                        50:145-152
                    </li>
                </ol>
            </div>
        </div>
        <div id="estudio-caso" class="col s12 light-blue-aortic full-light-section">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <h4 class="aortic-black-text">
                            The Anaconda™ Stent Graft for Abdominal
                            Aortic Aneurysm repair.Ongoing
                            developments to treat complex situations
                        </h4>
                        <h5 class="aortic-black-text">
                            Robbert Meerwaldt, Consultant Vascular Surgeon, Medisch
                            Spectrum Twente, The Netherlands
                        </h5>
                        <p>
                            <u>
                                <a href="http://www.vascutek.com/site/assets/files/2166/anaconda-aaa-stent-graft-advertorial.pdf"
                                    target="_blank" rel="noopener noreferrer">
                                    <i class="material-icons left">picture_as_pdf</i>
                                    Leer más
                                </a>
                            </u>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ESTA TAMBIEN SE REPITE -->
<section>
    <div class="container center-align">
        <h3 class="aortic-black-text">
            Otros productos Terumo Aortic en los que
            usted podría estar interesado...
        </h3>
    </div>
</section>
<section>
    <div class="row">
        <div class="col s12 m9 light-brown-aortic fenestrated-section-1">
            <div class="container">
                <h3 class="aortic-black-text">
                    Fenestrated Anaconda<sup>&trade;</sup>
                </h3>
                <h5 class="aortic-black-text">
                    Sistema de endoprótesis AAA a medida
                </h5>
                <div>
                    <a href="#" class="waves-effect waves-light btn light-blue-aortic aortic-black-text">
                        LEER MÁS
                        <i class="material-icons right">chevron_right</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m3 light-brown-aortic img-fenestrated fenestrated-section-2">

        </div>
    </div>
</section>
<section class="section-15 dark-blue-aortic">
    <div class="container">
        <div class="row white-text">
            <div class="col s12 m6">
                <h4 class="white-text">
                    Precauciones para la toma de una
                    resonancia magnética (RM)
                </h4>
            </div>
            <div class="col s12">
                <p>
                    <b>El sistema de endoprótesis AAA Anaconda™ fue determinado para ser condicional para RM
                        (de acuerdo con la información suministrada en el siguiente documento: American Society for
                        Testing and Materials (ASTM) International, Designation: F 2503-08)</b>
                    <br><br>
                    Los médicos que implanten el sistema de endoprótesis AAA Anaconda™deben tener en cuenta la Práctica
                    estándar para la marcación de dispositivos médicos y otros artículos de seguridad en el entorno de
                    la RM.
                    <br><br>
                    Pruebas no-clínicas demostraron que el sistema de endoprótesis AAA Anaconda™ es condicional para RM.
                    <br><br>
                    Un paciente con sistema de endoprótesis AAA Anaconda™puede ser analizado con seguridad,
                    inmediatamente después de la implantación, cumpliendo con las siguientes condiciones:
                </p>
                <ul>
                    <li>
                        Campo magnético estático de 3 unidades tesla o menos.
                    </li>
                    <li>
                        Gradiente espacial de campo magnético de 720-Gauss/cm o menos.
                    </li>
                    <li>
                        Máxima tasa de absorción específica de energía (SAR) de 3W/Kg por 15 minutos de análisis
                        promediada en todo el cuerpo.
                    </li>
                </ul>
                <p>
                    En pruebas no-clínicas, el sistema de endoprótesis AAA Anaconda™produjo un aumento de temperatura
                    menor o igual a 2,0°C en una tasa máxima de absorción específica de energía (SAR) de 3W/Kg
                    promediada
                    en todo el cuerpo por 15 minutos del escaneo por RM en un sistema RM de 3 unidades Tesla (Excite,
                    HDx,
                    Software 14X.M5, General Electric Healthcare, Milwaukee, WI).
                    <br><br>
                    La calidad de la imagen por RM puede verse comprometida si el área de interés es la misma área o
                    está
                    relativamente cerca a la posición del sistema de endoprótesis AAA Anaconda™.
                </p>
                <p class="center-align">&copy; 2019 Terumo Corporación.Todos los derechos reservados</p>
            </div>
        </div>
    </div>
</section>
<section class="section-16">
    <div class="container center-align">
        <p class="flow-text aortic-black-text">
            ¿Quiere saber más sobre nuestras soluciones
            de <b class="aortic-light-text">reparación endovascular de aneurismas</b>?
        </p>
        <div>
            <a href="#" class="waves-effect waves-light btn light-blue-aortic aortic-black-text">
                ESCRÍBANOS
                <i class="material-icons right">chevron_right</i>
            </a>
        </div>
    </div>
</section>