.nav-wrapper li {
    list-style-type: none !important;
}

.submenu {
    padding: 0px;
}

.submenu a {
    padding: 14px 16px 14px 32px;
    color: #26a69a;
    border-bottom: 1px solid #ddd;
}

.navSubmenu ul li {
    color: #26a69a;
    background: #eeeeee;
    border-bottom: 1px solid #ddd;
}

.navSubmenu ul li a {
    color: #26a69a;
    padding-left: 48px;
}

.submenu a:last-child,
.navSubmenu ul li:last-child {
    border: none;
}

.navSubmenu ul li:first-child {
    border-top: 1px solid #ddd;
}

.collapsible li .principal {
    padding: 0 16px !important;
}

.collapsible li .secundario {
    padding: 0 32px !important;
}

.collapsible li .secundario i {
    color: rgba(0, 0, 0, 0.54);
}

.collapsible li .secundario-item ul li {
    cursor: pointer;
}

.collapsible li .secundario-item ul li a {
    color: #363636;
}