<div class="slider">
    <ul class="slides">
        <li>
            <img src="assets/img/solutions/cardiovascular/crx-index.png">
            <div class="row">
                <div class="caption left-align slider-text-left">
                    <h3>Capiox&reg; FX</h3>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="separador-cardio"></div>
<div class="container">
    <h5>Capiox&reg; FX Sistemas de oxigenación</h5>
    <div class="divider"></div>
    <div class="row">
        <div class="col s12 m9">
            <div class="carousel carousel-slider center">
                <div class="carousel-item white-text" href="#uno!">
                    <img class="materialboxed responsive-img" data-caption="Capiox® FX Sistemas de oxigenación"
                        src="assets/img/solutions/cardiovascular/crx-slide-1.png">
                </div>
                <div class="carousel-item white-text" href="#dos!">
                    <img class="materialboxed responsive-img" data-caption="Capiox® FX Sistemas de oxigenación"
                        src="assets/img/solutions/cardiovascular/crx-slide-2.png">
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <h6>Características</h6>
                    <ul>
                        <li>
                            Capa de filtrado de 32 μm integrado
                        </li>
                        <li>
                            Tecnología de auto ventilación
                        </li>
                        <li>
                            Tejido de fibra hueca exclusivo de Terumo
                        </li>
                        <li>
                            Bajo nivel mínimo de funcionamiento
                        </li>
                        <li>
                            X Coating&trade;
                        </li>
                    </ul>
                </div>
                <div class="col s12 m6">
                    <h6>Reservorio</h6>
                    <ul>
                        <li>
                            Forma elongada con un paso estable de flujo sanguíneo
                        </li>
                        <li>
                            Visibilidad en todos los ángulo
                        </li>
                        <li>
                            Entrada venosa rotatoria – Flexibilidad en el armado.
                        </li>
                        <li>
                            Capacidad de almacenamiento/ mínimo volumen de operación.
                        </li>
                    </ul>
                    <h6>
                        Oxigenador
                    </h6>
                    <ul>
                        <li>
                            Flujos mínimos 0.5 L/ min
                        </li>
                        <li>
                            Flujos máximos 7.0 L/min
                        </li>
                        <li>
                            Volumen de primado reducido
                        </li>
                        <li>
                            Área de superficie reducida
                        </li>
                    </ul>
                    <h6>
                        Filtro arterial
                    </h6>
                    <ul>
                        <li>
                            Integrado
                        </li>
                        <li>
                            Self venting technology
                        </li>
                    </ul>
                </div>
            </div>
            <table class="responsive-table">
                <thead class="terumo white-text">
                    <tr>
                        <th>Características</th>
                        <th>Ventajas</th>
                        <th>Beneficios</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td rowspan="3">Bajo volumen de primado</td>
                        <td rowspan="3">Menos hemodilución</td>
                        <td>Mas Hto en CEC</td>
                    </tr>
                    <tr>
                        <td>Menos uso de GRE</td>
                    </tr>
                    <tr>
                        <td>Ahorro $$$</td>
                    </tr>
                    <tr>
                        <td>
                            Filtro arterial integrado
                            / Tamaño del poro 32
                            mcs. Mecanismo de auto
                            ventilación.
                        </td>
                        <td>
                            Confiabilidad – Seguridad
                            minimiza riesgos.
                        </td>
                        <td>
                            Mejores resultados
                            en relación a eventos
                            embólicos.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Alto rendimiento en el
                            intercambio de gases. Caida
                            de presión baja
                        </td>
                        <td>
                            Oxigenación y adecuados
                            resultados. Minimiza
                            trauma sanguíneo
                        </td>
                        <td>
                            Membranas con baja
                            superficie de contacto pero
                            de alto rendimiento.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Flujos mínimos desde 0.5
                            hasta flujos máximos 7.0 L/
                            min
                        </td>
                        <td>
                            Usado en gama completa
                            de pacientes
                        </td>
                        <td>
                            Prescripción de la
                            oxigenación de acuerdo a
                            necesidades.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Recubierto con X Coating
                        </td>
                        <td>
                            Minimiza riesgo para
                            componentes sanguíneos
                        </td>
                        <td>
                            Mejores resultados
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="container">
                <video class="responsive-video video_fx" controls>
                    <source src="http://www.terumo-cvs.com/_video/859195_CapioxWithIntegratedArterialFilter_JAN2015_FINAL.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="col s12 m3">
            <div>
                <app-aside></app-aside>
            </div>
            <div class="articles">
                <h6 class="black-text titulo-bold">Contenidos relacionados</h6>
                <div class="divider"></div>
                <h6>BROCHURE</h6>
                <p class="terumoP">
                    http://www.terumolatinamerica.com/
                    media/21338/3_bro_fxfam_eng.pdf
                </p>
                <h6>
                    TECNOLOGÍA SELF – VENTING
                </h6>
                <p class="terumoP">
                    http://www.terumo-cvgroup.com/
                    optimizing/2014OCT_Filters.shtml
                </p>
                <h6>
                    INFORMACION GENERAL
                </h6>
                <p class="terumoP">
                    http://www.terumo-cvgroup.
                    com/products/ProductDetail.
                    aspx?groupId=1&familyID=801&country=1

                </p>
                <h6>
                    ESTUDIOS CLINICOS
                </h6>
                <p class="terumoP">
                    http://www.terumo-cvgroup.com/
                    optimizing/2015JUL_Ranucci.shtml
                </p>
            </div>
        </div>
    </div>
</div>