<div class="slider">
    <ul class="slides">
        <li>
            <img src="assets/img/solutions/cardiovascular/perfusion-1.jpg">
            <div class="row">
                <div class="caption left-align slider-text-left">
                    <h3>Capiox&reg; RX</h3>
                    <h6>Un oxigenador para cada
                        paciente, de acuerdo a sus
                        necesidades y aportando
                        lo mejor para óptimos
                        resultados.</h6>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="separador-cardio"></div>
<div class="container">
    <h5>Capiox&reg; RX Sistemas de oxigenación</h5>
    <div class="divider"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 m9">
            <p>Oxigenador de alto desempeño, bajo volume de primado, diseñado para ser usado
                en una gran variedad de pacientes de acuerdo a sus necesidades.</p>
            <div class="carousel carousel-slider center">
                <div class="carousel-fixed-item center">
                    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">button</a>
                </div>
                <div class="carousel-item white-text" href="#uno!">
                    <img class="materialboxed responsive-img" data-caption="Capiox® RX Sistemas de oxigenación"
                        src="assets/img/solutions/cardiovascular/carousel-1.jpg">
                </div>
                <div class="carousel-item white-text" href="#dos!">
                    <img class="materialboxed responsive-img" data-caption="Capiox® RX Sistemas de oxigenación"
                        src="assets/img/solutions/cardiovascular/carousel-2.jpg">
                </div>
            </div>

            <!--@START: Modal-->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <!--<h3>Capiox® RX Sistemas de oxigenación</h3>-->
                    <div class="carousel carousel-slider center">
                        <div class="carousel-item white-text" href="#uno!">
                            <img class="responsive-img" src="assets/img/solutions/cardiovascular/carousel-1.jpg">
                        </div>
                        <div class="carousel-item white-text" href="#dos!">
                            <img class="responsive-img" src="assets/img/solutions/cardiovascular/carousel-2.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <!--@END: Modal-->
            <h6>Características</h6>
            <ul>
                <li>
                    Alto flujo con bajo volúmenes de primado.
                </li>
                <li>
                    Fibra hueca exclusiva de Terumo
                </li>
                <li>
                    Fácil de purgar
                </li>
                <li>
                    Mínimo volumen de primado
                </li>
                <li>
                    Recubierto con X CoatingTM
                </li>
                <li>
                    Indicado para ser usado con DVAV
                </li>
            </ul>

        </div>
        <div class="col s12 m3">
            <app-aside></app-aside>
            <div class="container-fluid">
                <h6 class="black-text titulo-bold">Contenidos relacionados</h6>
                <div class="divider"></div>
                <h6 class="titulo-bold">
                    Estudios clínicos
                </h6>
                <p class="terumoP">
                    Study Demonstrates That Low Prime
                    Volume Oxygenator Significantly
                    Reduces Hemodilution</p>
                <h6 class="titulo-bold">
                    Aprenda más
                </h6>
                <p class="terumoP">
                    CAPIOX Oxygenators with Stainless Steel
                    Heat Exchangers
                </p>
                <h6 class="titulo-bold">Mejores practicas</h6>
                <p class="terumoP">
                    Experts Share Tips To Achieve Blood
                    Savings
                </p>
                <h6 class="titulo-bold">Recursos en linea</h6>
                <p class="terumoP">
                    Meet each patient’s oxygenation
                    and blood management needs more
                    precisely with Prescriptive Oxygenation
                </p>
                <h6 class="titulo-bold">Estudios clinicos</h6>
                <p class="terumoP">
                    Prescriptive Patient Extracorporeal
                    Circuit and Oxygenator Sizing Reduces
                    Hemodilution and Allogeneic Blood
                    Product Transfusion during Adult Cardiac
                    Surgery. JECT. 2013; 45:167-172.
                    Bronson S, et al.
                </p>
            </div>

        </div>

    </div>
</div>