<div class="navbar-fixed">
    <nav class="z-depth-2">
        <div class="nav-wrapper white">
            <a (click)="goTo('')" class="brand-logo left"> <img src="assets/img/logoColor.svg"
                    style="height: 30px;"><span>Intervencionismo</span></a>
            <ul class="right black-text external-link">
                <li><a (click)="goTo('red-global')" class="links-text terumo-text terumoOpenBold">Sitios web Grupo
                        Terumo></a></li>
                <li><a (click)="goTo('red-global')" class="links-icon terumo-text terumoOpenBold"><i
                            class="material-icons">language</i></a></li>
            </ul>
        </div>

        <div class="nav-wrapper terumo lighten">
            <div class="container-fluid">
                <a data-target="Cardio-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="left" class="Menu-escritorio hide-on-med-and-down">
                    <li><a class="dropdown-trigger terumoOpenBold" data-target='Productos'>CARDIOLOGÍA
                            INTERVENCIONISTA<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-trigger terumoOpenBold" data-target='Productos2'>ONCOLOGÍA INTERVENCIONISTA<i
                                class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-trigger terumoOpenBold" data-target='Productos3'>INTERVENCIÓN PERIFÉRICA<i
                                class="material-icons right">arrow_drop_down</i></a></li>
                    <!-- <li><a (click)="goTo('')" class="terumoOpenBold">CIRUGÍA OPTIMIZADA</a></li> -->
                    <li><a (click)="goTo('contactanos')" class="terumoOpenBold">CONTÁCTENOS</a></li>
                    <li><a class="dropdown-trigger terumoOpenBold" data-target='Nosotros'>NOSOTROS<i
                                class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
            </div>
            <ul>
                <li>
                    <app-buscador class="buscador" [textoBuscar]="textoHeader" (changeText)="emitterBuscador($event)">
                    </app-buscador>
                </li>
                <li>
                    <app-buscador-resultados [textoBuscar]="textoHeader" (textoSalida)="emitterResultado($event)">
                    </app-buscador-resultados>
                </li>
            </ul>
        </div>
    </nav>
</div>



<ul id='Productos' class='dropdown-content'>
    <ul class="collapsible" style="margin-top: 0px;">
        <!--Productos de intervencion coronaria-->
        <app-prod-int-cor></app-prod-int-cor>
        <!-- Stents -->
        <app-stents-header></app-stents-header>
        <!-- Productos de acceso y diagnóstico -->
        <li>
            <a class="collapsible-header" style="font-weight: bold;">Productos de acceso y diagnóstico</a>
        </li>
        <app-prod-ad-uno></app-prod-ad-uno>
        <app-prod-ad-dos></app-prod-ad-dos>
        <li>
        </li>
    </ul>
</ul>

<ul id='Productos2' class='dropdown-content'>
    <!-- <ul class="collapsible" style="margin-top: 0px;"> -->
    <li>
        <a class="collapsible-header" style="font-weight: bold;">Productos de acceso y diagnóstico</a>
    </li>
    <app-prod-ad-uno></app-prod-ad-uno>
    <app-prod-ad-dos></app-prod-ad-dos>
    <app-prod-ad-tres></app-prod-ad-tres>
    <app-trat-locreg-h></app-trat-locreg-h>
    <li>
    </li>
    <!-- </ul> -->
</ul>

<ul id='Productos3' class='dropdown-content'>
    <!-- <ul class="collapsible" style="margin-top: 0px;"> -->
    <li>
        <a class="collapsible-header" style="font-weight: bold;">Productos de acceso y diagnóstico</a>
    </li>
    <app-prod-ad-uno></app-prod-ad-uno>
    <app-prod-ad-dos></app-prod-ad-dos>
    <app-prod-ad-tres></app-prod-ad-tres>
    <li>
    </li>
    <!-- </ul> -->
</ul>

<ul id='Nosotros' class='dropdown-content'>
    <li><a (click)="goTo( '') ">Acerca de nosotros</a></li>
    <li class="divider "></li>
    <li><a (click)="goTo( 'red-global') ">Red Global</a></li>
    <li class="divider "></li>
    <li><a (click)="goTo( 'resp-corporativa') ">Responsabilidad corporativa</a></li>
</ul>

<ul id="Cardio-mobile" class="sidenav">
    <li>
        <div class="user-view">
            <div class=" background terumo lighten"></div>
            <a class="brand-logo"><img src="assets/img/logoColor.svg" width="150px"><span
                    class="white-text">Intervencionismo</span></a>
        </div>
    </li>

    <li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="principal collapsible-header terumoOpenBold terumo-text">CARDIOLOGÍA
                    INTERVENCIONISTA<i class="material-icons right">arrow_drop_down</i></a>
                <div class="collapsible-body mobile-list">
                    <!--Productos de intervencion coronaria-->
                    <app-prod-int-cor></app-prod-int-cor>
                    <!-- Stents -->
                    <app-stents-header></app-stents-header>
                    <!-- Productos de acceso y diagnóstico -->
            <li>
                <a class="collapsible-header terumo-text" style="font-weight: bold;">Productos de acceso y
                    diagnóstico</a>
            </li>
            <app-prod-ad-uno></app-prod-ad-uno>
            <app-prod-ad-dos></app-prod-ad-dos>
            </div>
    </li>
</ul>
</li>
<!-- <li><a (click)="goTo('')" class="terumoOpenBold terumo-text sidenav-close">CIRUGÍA OPTIMIZADA</a></li> -->
<li class="divider"></li>
<li>
    <ul class="collapsible collapsible-accordion">
        <li>
            <a class="principal collapsible-header terumoOpenBold terumo-text">ONCOLOGÍA INTERVENCIONISTA <i
                    class="material-icons right">arrow_drop_down</i></a>
            <div class="collapsible-body mobile-list">
        <li>
            <a class="collapsible-header terumo-text" style="font-weight: bold;">Productos de acceso y diagnóstico</a>
        </li>
        <app-prod-ad-uno></app-prod-ad-uno>
        <app-prod-ad-dos></app-prod-ad-dos>
        <app-prod-ad-tres></app-prod-ad-tres>
        <app-trat-locreg-h></app-trat-locreg-h>
        </div>
</li>
</ul>
</li>
<li class="divider"></li>
<li>
    <ul class="collapsible collapsible-accordion">
        <li>
            <a class="principal collapsible-header terumoOpenBold terumo-text">INTERVENCIÓN PERIFÉRICA<i
                    class="material-icons right">arrow_drop_down</i></a>
            <div class="collapsible-body mobile-list">
                <li>
                    <a class="collapsible-header terumo-text" style="font-weight: bold;">Productos de acceso y diagnóstico</a>
                </li>
                <app-prod-ad-uno></app-prod-ad-uno>
                <app-prod-ad-dos></app-prod-ad-dos>
                <app-prod-ad-tres></app-prod-ad-tres>
            </div>
        </li>
    </ul>
</li>
<li class="divider"></li>
<li>
    <ul class="collapsible collapsible-accordion">
        <li>
            <a class="principal collapsible-header terumoOpenBold terumo-text">NOSOTROS<i
                    class="material-icons right">arrow_drop_down</i></a>
            <div class="collapsible-body">
                <ul>
                    <li class="divider"></li>
                    <li><a (click)="goTo('')" class="sidenav-close terumo-text">Acerca de nosotros</a></li>
                    <li class="divider"></li>
                    <li><a (click)="goTo('red-global')" class="sidenav-close terumo-text">Red Global</a></li>
                    <li class="divider"></li>
                    <li><a (click)="goTo('resp-corporativa')" class="sidenav-close terumo-text">Responsabilidad
                            corporativa</a></li>
                </ul>
            </div>
        </li>
    </ul>
</li>
<li class="divider"></li>
<li><a style="padding: 0 16px" (click)="goTo('contactanos')"
        class="principal terumoOpenBold terumo-text sidenav-close">CONTÁCTENOS</a></li>
<li class="divider"></li>
</ul>