<app-header-aortic></app-header-aortic>
<section>
    <div class="row">
        <div class="col s8 m6 l4 center-align offset-s2 offset-m3 offset-l4">
            <p class="flow-text treo-black-color">
                Múltiples recursos de RelayPlus disponibles para su descarga
            </p>
        </div>
    </div>
</section>
<section class="left-rounded-section light-brown-aortic">
    <div class="container">
        <h4 class="treo-tittle-color">
            <b>RECURSOS DE REL AYPLUS</b>
        </h4>
        <div class="container">
            <h4 class="treo-black-color">
                Recursos del producto
            </h4>
            <ul class="treo-black-color flow-text">
                <li>
                    <a class="treo-black-color" href="https://terumoaortic.app.box.com/s/98gtqg5pr7zrv563zr10yuyx673ngc4b" target="_blank" rel="noopener noreferrer">
                        Folleto del producto
                    </a>
                </li>
                <li>
                    <a class="treo-black-color" href="https://terumoaortic.app.box.com/s/m3t4yvc0ygvldbsxfkobcf0hjhp18cpz" target="_blank" rel="noopener noreferrer">
                        Técnica de implantación
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>