<div class="container-fluid">
    <div class="row">
        <div class="region">
            <div class="inner">
                <div class="m_topTitle">
                    <h3>Red Global Terumo</h3>
                </div>
                <div class="map">
                    <img src="assets/img/map.png" alt="">
                    <ul>
                        <li class="link01">
                            <a class="m_linkBtn" href="">
                                <div>EMEA</div>
                                <div class="geo">
                                    <div></div>
                                </div>
                            </a>
                        </li>
                        <li class="link02">
                            <a class="m_linkBtn" href="">
                                <div>China</div>
                                <div class="geo">
                                    <div></div>
                                </div>
                            </a>
                        </li>
                        <li class="link03">
                            <a class="m_linkBtn" href="">
                                <div>Asia</div>
                                <div class="geo">
                                    <div></div>
                                </div>
                            </a>
                        </li>
                        <li class="link04">
                            <a class="m_linkBtn" href="">
                                <div>Japón</div>
                                <div class="geo">
                                    <div></div>
                                </div>
                            </a>
                        </li>
                        <li class="link05">
                            <a class="m_linkBtn" href="">
                                <div>Norte América</div>
                                <div class="geo">
                                    <div></div>
                                </div>
                            </a>
                        </li>
                        <li class="link06">
                            <a class="m_linkBtn" href="">
                                <div>Sur América</div>
                                <div class="geo">
                                    <div></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h3 class="terumo-text">
        Productos y servicios
    </h3>
    <div class="progress space-line">
        <div class="determinate terumo" style="width: 20%"></div>
    </div>
    <div class="container lista">
        <h5>Intervención endovascular</h5>
        <ul>
            <li>Terumo Corporation</li>
            <li>Terumo Medical Corporation</li>
            <li>Terumo Europe N.V.</li>
            <li>MicroVention Inc. (neuroendovascular Intervention)</li>
        </ul>
        <div class="divider"></div>
        <h5>Cirugía cardiovascular</h5>
        <ul>
            <li>Terumo Corporation</li>
            <li>Terumo Cardiovascular Systems Corporation</li>
            <li>Vascutek Inc. (Stent graft)</li>
            <li>Terumo Europe N.V.</li>
        </ul>
        <div class="divider"></div>
        <h5>Sistemas de trasfusión/manejo de sangre</h5>
        <ul>
            <li>Terumo BCT Inc.</li>
        </ul>
        <div class="divider"></div>
        <h5>Productos de hospital general</h5>
        <ul>
            <li>Terumo Corporation</li>
            <li>Terumo Europe N.V.</li>
            <li>Terumo Medical Corporation</li>
        </ul>
    </div>
</div>
<div class="section"></div>