    .lista {
        margin-right: 0;
        width: 90% !important;
    }
    
    .region {
        /* margin: 80px 0 70px; */
        background-color: #f3f4f4;
        overflow-x: hidden;
        /* padding: 45px 20px 0; */
    }
    
    .region .inner {
        overflow: hidden;
        max-width: 1243px;
        margin: 0 auto;
    }
    
    .region .m_topTitle {
        position: relative;
        z-index: 10;
    }
    
    .m_topTitle h3 {
        margin-left: 50px;
    }
    
    .m_linkBtn {
        position: relative;
        display: inline-block;
        background-color: #008d61;
        padding: 5px 10px 5px 20px;
        min-width: 218px;
        color: #fff;
        text-align: left;
        cursor: pointer;
        transition: all 0.5s;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 1;
    }
    
    .m_linkBtn .geo {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .m_linkBtn .geo div {
        background: #c0da9c;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        box-shadow: -4px 4px 10px -5px rgba(0, 0, 0, 0.8);
    }
    
    .region {
        /* margin: 80px 0 70px; */
        background-color: #f3f4f4;
        /* padding: 45px 20px 0; */
    }
    
    .region .inner {
        overflow: hidden;
        max-width: 1243px;
        margin: 0 auto;
    }
    
    .region .m_topTitle {
        position: relative;
        z-index: 10;
    }
    
    .region .text {
        float: left;
        width: 22%;
    }
    
    .region .map {
        position: relative;
        float: right;
        /* margin: -100px -3% 0 0; */
        width: 80.45%;
    }
    
    .region .map li {
        list-style: none !important;
        position: absolute;
        width: 20%;
    }
    
    .region .map .link01 {
        top: 40.0%;
        left: 34.8%;
    }
    
    .region .map .link02 {
        top: 31.2%;
        left: 60.3%;
    }
    
    .region .map .link03 {
        top: 59.8%;
        left: 62.7%;
    }
    
    .region .map .link04 {
        top: 43.4%;
        left: 70.1%;
    }
    
    .region .map .link05 {
        top: 25.8%;
        left: 4.8%;
    }
    
    .region .map .link06 {
        top: 66.0%;
        left: 14.2%;
    }
    
    .region .map li .m_linkBtn {
        width: 100%;
        min-width: 0;
    }
    
    @media screen and (min-width: 1150px) {
        .m_topTitle h3 {
            position: absolute;
            margin-top: 280px;
            margin-left: 0px;
            left: 10px;
        }
    }
    
    @media screen and (max-width: 1150px) {
        .region .text {
            float: none;
            width: auto;
        }
        .region .map {
            float: none;
            margin: 0 auto;
            width: auto;
            max-width: 1000px;
        }
        .m_topTitle h3 {
            margin-left: 50px;
        }
    }
    
    @media screen and (max-width: 1000px) {
        /*.region .inner {
            overflow: visible;
        }*/
        .region .map img {
            width: 100%;
        }
        .region .map li {
            width: 22%;
        }
        .region .map .link02 {
            left: 60.3%;
        }
        .region .map .link06 {
            left: 14.2%;
        }
    }
    
    @media screen and (max-width: 767px) {
        .region {
            position: relative;
            /* margin: 60px 0; */
            padding: 60px 20px 50px;
            overflow-x: hidden;
        }
        .region .text {
            position: relative;
            z-index: 10;
        }
        .region .map {
            position: static;
            margin: 30px 0 0;
        }
        .region .map>img {
            position: absolute;
            top: 40px;
            left: 0;
            right: 0;
            width: 600px;
            margin: 0 auto;
        }
        .region .map ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 500px;
            margin: 0 auto;
        }
        .region .map li {
            position: static;
            width: 49%;
            margin-bottom: 10px;
        }
        .region .map li .m_linkBtn {
            width: 100%;
            min-width: 0;
        }
        .m_topTitle h3 {
            text-align: center;
            margin-left: 0px;
        }
    }