<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="region">
            <div class="inner">
                <div class="m_topTitle">
                    <h3>Red Global Terumo</h3>
                </div>
                <div class="map">
                    <img src="assets/img/map.png" alt="">
                    <ul>
                        <li class="link01">
                            <a class="m_linkBtn" href="https://terumo.com/contact/locations/emea/index.html" target="_blank">
                                <div>EMEA</div>
                                <div class="geo">
                                    <div></div>
                                </div>
                            </a>
                        </li>
                        <li class="link02">
                            <a class="m_linkBtn" href="https://terumo.com/contact/locations/greater-china/index.html" target="_blank">
                                <div>China</div>
                                <div class="geo">
                                    <div></div>
                                </div>
                            </a>
                        </li>
                        <li class="link03">
                            <a class="m_linkBtn" href="" target="_blank">
                                <div>Asia</div>
                                <div class="geo">
                                    <div></div>
                                </div>
                            </a>
                        </li>
                        <li class="link04">
                            <a class="m_linkBtn" href="https://terumo.com/contact/locations/japan/index.html" target="_blank">
                                <div>Japón</div>
                                <div class="geo">
                                    <div></div>
                                </div>
                            </a>
                        </li>
                        <li class="link05">
                            <a class="m_linkBtn" href="https://terumo.com/contact/locations/north-america/index.html" target="_blank">
                                <div>Norte América</div>
                                <div class="geo">
                                    <div></div>
                                </div>
                            </a>
                        </li>
                        <li class="link06">
                            <a class="m_linkBtn" href="https://terumo.com/contact/locations/south-america/index.html" target="_blank">
                                <div>Sur América</div>
                                <div class="geo">
                                    <div></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <h3 class="titilo-bold"> Productos y servicios</h3>
        <div class="progress space-line">
            <div class="determinate terumo" style="width: 20%"></div>
        </div>
        <div class="row">
            <div class="col s12">
                <dl>
                    <dt>Intervención endovascular</dt>
                    <dd><a href="" target="_blank"><i class="material-icons">link</i>Terumo Corporation</a></dd>
                    <dd><a href="" target="_blank"><i class="material-icons">link</i>Terumo Medical Corporation</a></dd>
                    <dd><a href="" target="_blank"><i class="material-icons">link</i>Terumo Europe N.V.</a></dd>
                    <dd><a href="" target="_blank"><i class="material-icons">link</i>MicroVention Inc. (neuroendovascular Intervention)</a></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt>Cirugía cardiovascular</dt>
                    <dd><a href="" target="_blank"><i class="material-icons">link</i>Terumo Corporation</a></dd>
                    <dd><a href="" target="_blank"><i class="material-icons">link</i>Terumo Cardiovascular Systems Corporation</a></dd>
                    <dd><a href="" target="_blank"><i class="material-icons">link</i>Vascutek Inc.</a></dd>
                    <dd><a href="" target="_blank"><i class="material-icons">link</i>Terumo Europe N.V.</a></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt>Sistemas de trasfusión / manejo de sangre</dt>
                    <dd><a href="" target="_blank"><i class="material-icons">link</i>Terumo BCT Inc.</a></dd>
                </dl>
                <div class="divider"></div>
                <dl>
                    <dt>Productos de hospital general</dt>
                    <dd><a href="" target="_blank"><i class="material-icons">link</i>Terumo Corporation</a></dd>
                    <dd><a href="" target="_blank"><i class="material-icons">link</i>Terumo Europe N.V.</a></dd>
                    <dd><a href="" target="_blank"><i class="material-icons">link</i>Terumo Medical Corporation</a></dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="section"></div>