<div class="container-fluid">
    <div class="row">
        <div class="col s12 m6 terumo-text">
            <h3>Red Global Terumo</h3>
        </div>
        <div class="col s12 m6">
            <div class="terumo white-text terumoBold continente">Norte América
                <div class="boton valing-wraper">
                    <div class="boton-interno">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="terumo separador"></div>
<div class="container">
    <h3 class="terumo-text">
        <strong>
            Productos y servicios
        </strong>
    </h3>
    <div class="divider"></div>
    <div class="container lista">
        <h5>Intervención endovascular</h5>
        <ul>
            <li>Terumo Corporation</li>
            <li>Terumo Medical Corporation</li>
            <li>Terumo Europe N.V.</li>
            <li>MicroVention Inc. (neuroendovascular Intervention)</li>
        </ul>
        <div class="divider"></div>
        <h5>Cirugía cardiovascular</h5>
        <ul>
            <li>Terumo Corporation</li>
            <li>Terumo Cardiovascular Systems Corporation</li>
            <li>Vascutek Inc. (Stent graft)</li>
            <li>Terumo Europe N.V.</li>
        </ul>
        <div class="divider"></div>
        <h5>Sistemas de trasfusión/manejo de sangre</h5>
        <ul>
            <li>Terumo BCT Inc.</li>
        </ul>
        <div class="divider"></div>
        <h5>Productos de hospital general</h5>
        <ul>
            <li>Terumo Corporation</li>
            <li>Terumo Europe N.V.</li>
            <li>Terumo Medical Corporation</li>
        </ul>
    </div>
</div>