<app-banner-cardiologia-interv [titulo]="titulo" [imagen]="imagen"></app-banner-cardiologia-interv>
<section>
    <div class="container">
        <section>
            <p>
                <i> Radifocus Guidewire M Estándar </i> es una guía hidrofílica de nitinol cubierta con poliuretano, que
                contiene tungsteno y un cubrimiento polimérico hidrofílico (M Coat) para una maniobrabilidad completa,
                de baja fricción. <br /> <br />
                Indicada para el uso en angiografía estándar en zonas periféricas y coronarias, cateterización,
                embolización angioplastia periférica y stenting (con o sin guía de intercambio) y angioplastía
                subintimal en vasos pequeños, estándares o grandes, proximales o distales.
            </p>
            <h3>
                Especificaciones generales
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <table class="responsive-table highlight">
                <tr>
                    <th class="bold-tittle-table">
                        Material del núcleo
                    </th>
                    <td>
                        Nitinol
                    </td>
                </tr>
                <tr>
                    <th class="bold-tittle-table">
                        Envoltura radiopaca
                    </th>
                    <td>
                        Capa de poliuretano que contiene tungsteno.
                    </td>
                </tr>
                <tr>
                    <th class="bold-tittle-table">
                        Recubrimiento hidrofílico
                    </th>
                    <td>
                        "M" polymer
                    </td>
                </tr>
                <tr>
                    <th class="bold-tittle-table">
                        Diámetros de guía
                    </th>
                    <td>
                        0.018" (0.46 mm) / 0.025" (0.64 mm) / 0.032" (0.81 mm) /
                        0.035" (0.89 mm) / 0.038" (0.97 mm)
                    </td>
                </tr>
                <tr>
                    <th class="bold-tittle-table">
                        Longitudes de guía
                    </th>
                    <td>
                        50 cm / 80 cm / 120 cm / 150 cm / 180 cm / 220 cm / 260 cm/ 300 cm / 400 cm / 450 cm
                    </td>
                </tr>
                <tr>
                    <th class="bold-tittle-table">
                        Longitudes distales flexibles
                    </th>
                    <td>
                        10 mm / 30 mm / 50 mm / 80 mm
                    </td>
                </tr>
                <tr>
                    <th class="bold-tittle-table">
                        Curvas distales
                    </th>
                    <td>
                        Straight / 45° angled / 1.5 mm forma de J / 3 mm forma de J / doble angulación (curva de Bolia)
                    </td>
                </tr>
                <tr>
                    <th class="bold-tittle-table">
                        Unidades por caja
                    </th>
                    <td>
                        ​5
                    </td>
                </tr>
            </table>
        </section>
        <section>
            <h3>
                Especificaciones del artículo
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <table width="100%" class="responsive-table highlight" cellspacing="0">
                <thead>
                    <tr>
                        <th class="bold-tittle-table second-table">
                            Diámetro externo
                        </th>
                        <th class="bold-tittle-table second-table">
                            Longitud
                        </th>
                        <th class="bold-tittle-table second-table">
                            Longitud flexible
                        </th>
                        <th class="bold-tittle-table second-table">
                            Curva distal
                        </th>
                        <th class="bold-tittle-table second-table">
                            Referencia del artículo
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            <p>​0.018" / 0.46 mm</p>
                        </td>
                        <td>
                            <p>​50 cm</p>
                        </td>
                        <td>
                            <p>​30 mm</p>
                        </td>
                        <td>
                            <p>​Angled</p>
                        </td>
                        <td>
                            <p>RF-GA18053M​</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.018" / 0.46 mm</p>
                        </td>
                        <td>
                            <p>150 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Straight</p>
                        </td>
                        <td>
                            <p>RF-GS18153M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.018" / 0.46 mm</p>
                        </td>
                        <td>
                            <p>150 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Angled</p>
                        </td>
                        <td>
                            <p>RF-GA18153M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.018" / 0.46 mm</p>
                        </td>
                        <td>
                            <p>180 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Straight</p>
                        </td>
                        <td>
                            <p>RF-GS18183M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.018" / 0.46 mm</p>
                        </td>
                        <td>
                            <p>180 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Angled</p>
                        </td>
                        <td>
                            <p>RF-GA18183M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.018" / 0.46 mm</p>
                        </td>
                        <td>
                            <p>220 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Angled</p>
                        </td>
                        <td>
                            <p>RF-GA18223M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.018" / 0.46 mm</p>
                        </td>
                        <td>
                            <p>260 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Angled</p>
                        </td>
                        <td>
                            <p>RF-GA18263M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.018" / 0.46 mm</p>
                        </td>
                        <td>
                            <p>260 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Straight</p>
                        </td>
                        <td>
                            <p>RF-GS18263M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>​0.025" / 0.64 mm</p>
                        </td>
                        <td>
                            <p>​50 cm</p>
                        </td>
                        <td>
                            <p>30 mm​</p>
                        </td>
                        <td>
                            <p>Angled​</p>
                        </td>
                        <td>
                            <p>RF-GA25053M​</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.025" / 0.64 mm</p>
                        </td>
                        <td>
                            <p>120 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Straight</p>
                        </td>
                        <td>
                            <p>RF-GS25123M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.025" / 0.64 mm</p>
                        </td>
                        <td>
                            <p>120 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Angled</p>
                        </td>
                        <td>
                            <p>RF-GA25123M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>​0.025" / 0.64 mm</p>
                        </td>
                        <td>
                            <p>​120 cm</p>
                        </td>
                        <td>
                            <p>30 mm​</p>
                        </td>
                        <td>
                            <p>​Straight</p>
                        </td>
                        <td>
                            <p>RF-GS25123M​</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.025" / 0.64 mm</p>
                        </td>
                        <td>
                            <p>150 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Straight</p>
                        </td>
                        <td>
                            <p>RF-GS25153M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.025" / 0.64 mm</p>
                        </td>
                        <td>
                            <p>150 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Angled</p>
                        </td>
                        <td>
                            <p>RF-GA25153M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.025" / 0.64 mm</p>
                        </td>
                        <td>
                            <p>180 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Straight</p>
                        </td>
                        <td>
                            <p>RF-GS25183M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.025" / 0.64 mm</p>
                        </td>
                        <td>
                            <p>180 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Angled</p>
                        </td>
                        <td>
                            <p>RF-GA25183M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.025" / 0.64 mm</p>
                        </td>
                        <td>
                            <p>260 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Straight</p>
                        </td>
                        <td>
                            <p>RF-GS25263M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.025" / 0.64 mm</p>
                        </td>
                        <td>
                            <p>260 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Angled</p>
                        </td>
                        <td>
                            <p>RF-GA25263M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.032" / 0.81 mm</p>
                        </td>
                        <td>
                            <p>120 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Straight</p>
                        </td>
                        <td>
                            <p>RF-GS32123M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.032" / 0.81 mm</p>
                        </td>
                        <td>
                            <p>120 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Angled</p>
                        </td>
                        <td>
                            <p>RF-GA32123M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.032" / 0.81 mm</p>
                        </td>
                        <td>
                            <p>150 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Straight</p>
                        </td>
                        <td>
                            <p>RF-GS32153M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.032" / 0.81 mm</p>
                        </td>
                        <td>
                            <p>150 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Angled</p>
                        </td>
                        <td>
                            <p>RF-GA32153M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.032" / 0.81 mm</p>
                        </td>
                        <td>
                            <p>180 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Straight</p>
                        </td>
                        <td>
                            <p>RF-GS32183M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.032" / 0.81 mm</p>
                        </td>
                        <td>
                            <p>180 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Angled</p>
                        </td>
                        <td>
                            <p>RF-GA32183M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.032" / 0.81 mm</p>
                        </td>
                        <td>
                            <p>260 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Straight</p>
                        </td>
                        <td>
                            <p>RF-GS32263M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.032" / 0.81 mm</p>
                        </td>
                        <td>
                            <p>260 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Angled</p>
                        </td>
                        <td>
                            <p>RF-GA32263M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.035" / 0.89 mm</p>
                        </td>
                        <td>
                            <p>50 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Angled</p>
                        </td>
                        <td>
                            <p>RF-GA35053M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.035" / 0.89 mm</p>
                        </td>
                        <td>
                            <p>80 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Angled</p>
                        </td>
                        <td>
                            <p>RF-GA35083M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.035" / 0.89 mm</p>
                        </td>
                        <td>
                            <p>120 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Straight</p>
                        </td>
                        <td>
                            <p>RF-GS35123M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.035" / 0.89 mm</p>
                        </td>
                        <td>
                            <p>120 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Angled</p>
                        </td>
                        <td>
                            <p>RF-GA35123M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.035" / 0.89 mm</p>
                        </td>
                        <td>
                            <p>150 cm</p>
                        </td>
                        <td>
                            <p>10 mm</p>
                        </td>
                        <td>
                            <p>Straight</p>
                        </td>
                        <td>
                            <p>RF-GS35151M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.035" / 0.89 mm</p>
                        </td>
                        <td>
                            <p>150 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Straight</p>
                        </td>
                        <td>
                            <p>RF+GS35153M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.035" / 0.89 mm</p>
                        </td>
                        <td>
                            <p>150 cm</p>
                        </td>
                        <td>
                            <p>50 mm</p>
                        </td>
                        <td>
                            <p>Straight</p>
                        </td>
                        <td>
                            <p>RF-GS35155M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.035" / 0.89 mm</p>
                        </td>
                        <td>
                            <p>150 cm</p>
                        </td>
                        <td>
                            <p>80 mm</p>
                        </td>
                        <td>
                            <p>Straight</p>
                        </td>
                        <td>
                            <p>RF-GS35158M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.035" / 0.89 mm</p>
                        </td>
                        <td>
                            <p>150 cm</p>
                        </td>
                        <td>
                            <p>10 mm</p>
                        </td>
                        <td>
                            <p>Angled</p>
                        </td>
                        <td>
                            <p>RF-GA35151M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.035" / 0.89 mm</p>
                        </td>
                        <td>
                            <p>150 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Angled</p>
                        </td>
                        <td>
                            <p>RF+GA35153M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.035" / 0.89 mm</p>
                        </td>
                        <td>
                            <p>150 cm</p>
                        </td>
                        <td>
                            <p>50 mm</p>
                        </td>
                        <td>
                            <p>Angled</p>
                        </td>
                        <td>
                            <p>RF-GA35155M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.035" / 0.89 mm</p>
                        </td>
                        <td>
                            <p>150 cm</p>
                        </td>
                        <td>
                            <p>80 mm</p>
                        </td>
                        <td>
                            <p>Angled</p>
                        </td>
                        <td>
                            <p>RF-GA35158M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.035" / 0.89 mm</p>
                        </td>
                        <td>
                            <p>180 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>J Angled (1.5 mm)</p>
                        </td>
                        <td>
                            <p>RF*GR35183M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.035" / 0.89 mm</p>
                        </td>
                        <td>
                            <p>150 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>J Angled (3 mm)</p>
                        </td>
                        <td>
                            <p>RF*GB35153M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.035" / 0.89 mm</p>
                        </td>
                        <td>
                            <p>180 cm</p>
                        </td>
                        <td>
                            <p>10 mm</p>
                        </td>
                        <td>
                            <p>Straight</p>
                        </td>
                        <td>
                            <p>RF-GS35181M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.035" / 0.89 mm</p>
                        </td>
                        <td>
                            <p>180 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Straight</p>
                        </td>
                        <td>
                            <p>RF-GS35183M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.035" / 0.89 mm</p>
                        </td>
                        <td>
                            <p>180 cm</p>
                        </td>
                        <td>
                            <p>10 mm</p>
                        </td>
                        <td>
                            <p>Angled</p>
                        </td>
                        <td>
                            <p>RF-GA35181M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.035" / 0.89 mm</p>
                        </td>
                        <td>
                            <p>180 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Angled</p>
                        </td>
                        <td>
                            <p>RF+GA35183M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.035" / 0.89 mm</p>
                        </td>
                        <td>
                            <p>180 cm</p>
                        </td>
                        <td>
                            <p>50 mm</p>
                        </td>
                        <td>
                            <p>Double Angulation (Bolia)</p>
                        </td>
                        <td>
                            <p>RF*GE35185M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.035" / 0.89 mm</p>
                        </td>
                        <td>
                            <p>180 cm</p>
                        </td>
                        <td>
                            <p>80 mm</p>
                        </td>
                        <td>
                            <p>Double Angulation (Bolia)</p>
                        </td>
                        <td>
                            <p>RF*GE35188M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.035" / 0.89 mm</p>
                        </td>
                        <td>
                            <p>220 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Straight</p>
                        </td>
                        <td>
                            <p>RF-GS35223M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.035" / 0.89 mm</p>
                        </td>
                        <td>
                            <p>220 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Angled</p>
                        </td>
                        <td>
                            <p>RF-GA35223M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.035" / 0.89 mm</p>
                        </td>
                        <td>
                            <p>260 cm</p>
                        </td>
                        <td>
                            <p>10 mm</p>
                        </td>
                        <td>
                            <p>Straight</p>
                        </td>
                        <td>
                            <p>RF-GS35261M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.035" / 0.89 mm</p>
                        </td>
                        <td>
                            <p>260 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Straight</p>
                        </td>
                        <td>
                            <p>RF-GS35263M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.035" / 0.89 mm</p>
                        </td>
                        <td>
                            <p>260 cm</p>
                        </td>
                        <td>
                            <p>10 mm</p>
                        </td>
                        <td>
                            <p>Angled</p>
                        </td>
                        <td>
                            <p>RF-GA35261M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.035" / 0.89 mm</p>
                        </td>
                        <td>
                            <p>260 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Angled</p>
                        </td>
                        <td>
                            <p>RF+GA35263M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.035" / 0.89 mm</p>
                        </td>
                        <td>
                            <p>300 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Angled</p>
                        </td>
                        <td>
                            <p>RF-GA35303M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.038" / 0.97 mm</p>
                        </td>
                        <td>
                            <p>150 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Straight</p>
                        </td>
                        <td>
                            <p>RF-GS38153M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.038" / 0.97 mm</p>
                        </td>
                        <td>
                            <p>150 cm</p>
                        </td>
                        <td>
                            <p>10 mm</p>
                        </td>
                        <td>
                            <p>Angled</p>
                        </td>
                        <td>
                            <p>RF-GA38151M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.038" / 0.97 mm</p>
                        </td>
                        <td>
                            <p>150 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Angled</p>
                        </td>
                        <td>
                            <p>RF+GA38153M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.038" / 0.97 mm</p>
                        </td>
                        <td>
                            <p>180 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Straight</p>
                        </td>
                        <td>
                            <p>RF-GS38183M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.038" / 0.97 mm</p>
                        </td>
                        <td>
                            <p>180 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Angled</p>
                        </td>
                        <td>
                            <p>RF-GA38183M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.038" / 0.97 mm</p>
                        </td>
                        <td>
                            <p>220 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Angled</p>
                        </td>
                        <td>
                            <p>RF-GA38223M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.038" / 0.97 mm</p>
                        </td>
                        <td>
                            <p>260 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Straight</p>
                        </td>
                        <td>
                            <p>RF-GS38263M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>0.038" / 0.97 mm</p>
                        </td>
                        <td>
                            <p>260 cm</p>
                        </td>
                        <td>
                            <p>30 mm</p>
                        </td>
                        <td>
                            <p>Angled</p>
                        </td>
                        <td>
                            <p>RF-GA38263M</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h6 class="center-align">
                Por favor copie el código de referencia cuando realice un pedido.
            </h6>
        </section>
        <section>
            <h3>
                Ver también
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <dd>
                <ul>
                    <li>
                        <a href="">
                            Radifocus<sup>&reg;</sup> Guidewire M Stiff type – Guía
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Radifocus<sup>&reg;</sup> Guidewire M Shapeable - Guía
                        </a>
                    </li>
                </ul>
            </dd>
        </section>
    </div>
</section>