<app-banner-cardiologia-interv [titulo]="titulo" [imagen]="imagen"></app-banner-cardiologia-interv>
<section>
    <div class="container">
        <section>
            <h3>
                Acceso distal preciso y flujo alto
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <h6 class="black-text">
                <b>
                    Porque la experiencia importa
                </b>
            </h6>
            <p>
                La División de Oncología Intervencionista de Terumo presenta Lifepearl<sup>&reg;</sup> , una respuesta
                precisa a un reto
                de la oncología intervencionista. LifePearl<sup>&reg;</sup> son microesferas de embolización de PEG
                (polietilenglicol)
                que pueden ser cargadas con agentes quimioterapéuticos (como Doxorrubicina, Irinotecán, Idarubicina y
                Epirubicina). <br /> <br /> <br />
                LifePearl<sup>&reg;</sup> ofrece:

            </p>
            <dd>
                <ul class="ul-exception">
                    <li>
                        Amplio rango de opciones de carga de fármacos <sup>1</sup>.
                    </li>
                    <li>
                        Características de suspensión mejoradas <sup>2,4,5</sup>.
                    </li>
                    <li>
                        Calibración ajustada <sup>3-5</sup>.
                    </li>
                    <li>
                        Presentación de jeringa.
                    </li>
                </ul>
            </dd>
        </section>
        <section>
            <h3>
                Características
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <p>
                Las microesferas Lifepearl® están diseñadas para absorber fármacos activamente en su matriz2
            </p>
            <dd>
                <ul class="ul-exception">
                    <li>
                        37,5 mg de Doxorrubicina por cada 1 ml de microesferas Lifepearl<sup>&reg;</sup>.
                    </li>
                    <li>
                        5 mg de Idarubicina por cada 1 ml de microesferas Lifepearl<sup>&reg;</sup>.
                    </li>
                    <li>
                        25 mg de Epirubicina por cada 1 ml de microesferas Lifepearl<sup>&reg;</sup>.
                    </li>
                    <li>
                        50 mg de Irinotecán por cada 1 ml de microesferas Lifepearl<sup>&reg;</sup>
                    </li>
                </ul>
            </dd>
            <p>
                Lifepearl<sup>&reg;</sup> tiene una calibración ajustada que puede llevar a una embolización más
                dirigida.
            </p>
            <div class="row">
                <div class="col s12 m6">
                    <p class="center-align">
                        Histograma de distribución del
                        diámetro de microesferas
                        cargadas con Doxorrubicina <sup>4</sup>.
                    </p>
                    <div class="img-grafica-1"></div>
                </div>
                <div class="col s12 m6">
                    <p class="center-align">
                        Histograma de distribución del
                        diámetro de microesferas
                        cargadas con Irinotecán<sup>5</sup>.
                    </p>
                    <div class="img-grafica-2"></div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <p>
                        LifePearl<sup>&reg;</sup> ofrece un tiempo de suspensión más largo que:
                    </p>
                    <dd>
                        <ul class="ul-exception">
                            <li>
                                DC Bead y HepaSphere, cargadas con Doxorrubicina<sup>4</sup>.
                            </li>
                            <li>
                                DC Bead y Tandem, cargadas con Irinotecán<sup>5</sup>.
                            </li>
                        </ul>
                    </dd>
                </div>
            </div>
            <p>
                Un mayor tiempo en suspensión permite un procedimiento de embolización más suave sin la necesidad de
                interrumpir para volver a suspender las microesferas.
            </p>
            <table class="responsive-table highlight">
                <thead>
                    <tr>
                        <th class="bold-tittle-table">
                            Tipo de microesfera
                        </th>
                        <th class="bold-tittle-table">
                            Doxorrubicina cargada Tiempo en suspensión (s)
                        </th>
                        <th class="bold-tittle-table">
                            Irinotecan cargado Tiempo en suspensión (s)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            ​LifePearl ​
                        </td>
                        <td>
                            357±7
                        </td>
                        <td>
                            392±23​
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ​DC Bead ​
                        </td>
                        <td>
                            185±11
                        </td>
                        <td>
                            154±13
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ​Tandem
                        </td>
                        <td>
                            ​504±12 ​
                        </td>
                        <td>
                            198±19
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ​HepaSphere ​
                        </td>
                        <td>
                            172±20 ​
                        </td>
                        <td>
                            N/A
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>
                LifePearl<sup>&reg;</sup> cargado con Doxorrubicina o Irinotecán ofrece:
            </p>
            <dd>
                <ul class="ul-exception">
                    <li>
                        Liberación estable, continua y duradera por un período de tiempo extendido.
                    </li>
                </ul>
            </dd>
            <div class="row">
                <div class="col s12 m6">
                    <p class="center-align">
                        Liberación de Doxorrubicina<sup>4</sup>.
                    </p>
                    <div class="img-grafica-3">
                    </div>
                </div>
                <div class="col s12 m6">
                    <p class="center-align">
                        Liberación de Irinotecán<sup>5</sup>.
                    </p>
                    <div class="img-grafica-4">

                    </div>
                </div>
            </div>
            <p>
                LifePearl<sup>&reg;</sup> cargado con Idirubicina y Epurubicina ofrece:
            </p>
            <dd>
                <ul class="ul-exception">
                    <li>
                        Liberación estable, continua y duradera por un período de tiempo extendido <sup>6</sup>.
                    </li>
                </ul>
            </dd>
            <div class="row">
                <div class="col s12 m6">
                    <p class="center-align">
                        iberación de Idirubicina de
                        Lifepearl<sup>&reg;</sup> alcanza
                    </p>
                    <div class="img-grafica-5">
                    </div>
                </div>
                <div class="col s12 m6">
                    <p class="center-align">
                        Liberación de Epirubicina de
                        Lifepearl<sup>&reg;</sup> alcanza
                    </p>
                    <div class="img-grafica-6">
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h3>
                Especificaciones generales
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <table class="responsive-table highlight">
                <tbody>
                    <tr>
                        <th class="bold-tittle-table">
                            Volumen de microesferas
                        </th>
                        <td>
                            2 ml
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Volumen de TBP
                        </th>
                        <td>
                            4 ml
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>
                Comparación de los tiempos de carga con Irinotecán, Doxorrubicina, Idarubicina y Epirubicina
                <sup>1,7</sup>
            </p>
            <table class="responsive-table highlight">
                <thead>
                    <tr>
                        <th class="bold-tittle-table">
                            Tamaños de LifePearl
                        </th>
                        <th class="bold-tittle-table">
                            75 mg de Doxorubicina líquida por 2 ml de microesferas
                        </th>
                        <th class="bold-tittle-table">
                            75 mg de Doxorubicina por 2 ml de microesferas
                        </th>
                        <th class="bold-tittle-table">
                            100 mg de solución de Irinotecan por 2 ml de microesferas
                        </th>
                        <th class="bold-tittle-table">
                            10 mg de solución de idarubicina por 2 ml de microesferas
                        </th>
                        <th class="bold-tittle-table">
                            50 mg de solución de epirrubicina por 2 ml de microesferas
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            100 ± 25 µm ​
                        </td>
                        <td>
                            1 hora ​
                        </td>
                        <td>
                            30 minutos
                        </td>
                        <td>
                            30 minutos​ ​
                        </td>
                        <td>
                            30 minutos​ ​
                        </td>
                        <td>
                            1 hora
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ​200 ± 50 µm
                        </td>
                        <td>
                            ​4 horas ​
                        </td>
                        <td>
                            30 minutos ​
                        </td>
                        <td>
                            30 minutos ​
                        </td>
                        <td>
                            30 minutos​ ​
                        </td>
                        <td>
                            1 hora
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ​400 ± 50 µm ​
                        </td>
                        <td>
                            6 horas
                        </td>
                        <td>
                            30 minutos​ ​
                        </td>
                        <td>
                            30 minutos ​
                        </td>
                        <td>
                            4 horas ​
                        </td>
                        <td>
                            3 hora
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h3>
                Videos del procedimiento
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <div class="container video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/imzLVe_wss4"
                    frameborder="0"></iframe>
            </div>
        </section>
        <section>
            <h3>
                Especificaciones de los ítems
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <table class="responsive-table highlight">
                <thead>
                    <tr>
                        <th class="bold-tittle-table">
                            Tamaños de LifePearl
                        </th>
                        <th class="bold-tittle-table">
                            Color
                        </th>
                        <th class="bold-tittle-table">
                            Referencia del producto
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            100 +/- 25 μm
                        </td>
                        <td>
                            Negro
                        </td>
                        <td>
                            8LP2S100
                        </td>
                    </tr>
                    <tr>
                        <td>
                            200 +/- 50 μm
                        </td>
                        <td>
                            Amarillo
                        </td>
                        <td>
                            8LP2S200
                        </td>
                    </tr>
                    <tr>
                        <td>
                            400 +/- 50 μm
                        </td>
                        <td>
                            Azul
                        </td>
                        <td>
                            8LP2S400
                        </td>
                    </tr>
                </tbody>
            </table>
            <h6 class="center-align">
                Por favor copie el código de referencia cuando realice un pedido.
            </h6>
            <p>
                LifePearl<sup>&reg;</sup> no está disponible para la venta en todos los países. Esta información se
                brinda solo en referencia a los mercados en los que este producto está autorizado y aprobado.
                LifePearl<sup>&reg;</sup> está autorizado en EE.UU. con indicaciones para la embolización de tumores
                hipervasculares y malformaciones arteriovenosas. LifePearl<sup>&reg;</sup> no
                está aprobado en Canadá. Por favor contacte a su asesor de ventas local de Terumo para más información.
            </p>
        </section>
        <section>
            <h3>
                Estudio clínico
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <p>
                olyethylene Glycol (PEG)–Epirubicin-Loaded Drug-Eluting Embolic (DEE)-TACE Procedures Utilizing a
                Combined
                Approach With 100- and 200-µm Microspheres: Initial Experience Lucatelli et al.
                <br /><br />
                A review discussing the use of polyethylene glycol microspheres in the treatment of hepatocellular
                carcinoma
                Giammaria Fiorentini, Donatella Sarti, Riccardo Carandina, Luca Mulazzani, Cinzia Mincarelli, Roberto
                Candelari,
                Renato Argirò, Caterina Fiorentini & Camillo Aliberti.
                <br /><br />
                Chemoembolization in Conjunction with Bevacizumab: Preliminary Results Giammaria Fiorentini, MD,
                Donatella Sarti, PhD, Camillo Aliberti, MD, Riccardo Carandina, MD, Luca Mulazzani, MD,
                Alessandro Felicioli, MD, Stefano Guadagni, MD. <br /> <br />
                <a href="">
                    Más estudios clínicos
                </a>
            </p>
        </section>
        <section>
            <h3>
                Información relevante del producto
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <dd>
                <ul>
                    <li>
                        <a href="">
                            LifePearl instrucciones de carga DoxLiquid
                        </a>
                    </li>
                    <li>
                        <a href="">
                            LifePearl instrucciones de carga DoxPowder
                        </a>
                    </li>
                    <li>
                        <a href="">
                            LifePearl instrucciones de carga Epirubicin
                        </a>
                    </li>
                    <li>
                        <a href="">
                            LifePearl instrucciones de carga Idarubicin
                        </a>
                    </li>
                    <li>
                        <a href="">
                            LifePearl instrucciones de carga Irino
                        </a>
                    </li>
                </ul>
            </dd>
        </section>
        <section>
            <h6 class="black-text">
                <b>
                    Referencias
                </b>
            </h6>
            <dd>
                <ol>
                    <li>
                        <span>
                            LifePearl Instructions for Use (January 2018).
                        </span>
                    </li>
                    <li>
                        <span>
                            Data on file. Comparison with Terumo’s previously commercialized product. Ref LPMCV-004.
                        </span>
                    </li>
                    <li>
                        <span>
                            Data on file. Ref LPBTG-002, LPMCV-003, LPMCV-004. Microvention Inc. Comparison with
                            Terumo’s previously
                            commercialized produc.
                        </span>
                    </li>
                    <li>
                        <span>
                            Thierry de Baere, et al. An In Vitro Evaluation of Four Types of Drug-Eluting
                            Microspheres Loaded with
                            Doxorubicin. J Vasc Interv Radiol. 2016 Sep;27(9):1425-1431.
                        </span>
                    </li>
                    <li>
                        <span>
                            Philippe L. Pereira, et al. An in-vitro evaluation of three types of drug-eluting
                            microspheres loaded
                            with irinotecan Anti-Cancer Drugs: October 2016 - Volume 27 - Issue 9 - p 873–878.
                        </span>
                    </li>
                    <li>
                        <span>
                            Data on file. Comparison with Terumo’s previously commercialized product. Ref. TR16-158.
                        </span>
                    </li>
                    <li>
                        <span>
                            Data on file. Ref TR14-286 Microvention Inc. Comparison with Terumo’s previously
                            commercialized product.
                        </span>
                    </li>
                </ol>
            </dd>
        </section>
    </div>
</section>