<!-- <app-header-aortic></app-header-aortic> -->
<section class="relay-section-1">
    <div class="row img-relay-header">
        <div class="left-rounded-section dark-blue-aortic center-content col s12 m6">
            <div class="container">
                <h1 class="white-text">RELAY<sup>&reg;</sup> PLUS</h1>
                <h2 class="white-text flow-text">
                    <b>ADAPTACIÓN DE VANGUARDIA DE LA CURVA</b>
                </h2>
                <h3 class="white-text flow-text">(DEL ARCO AÓRTICO)</h3>
            </div>
        </div>
    </div>
</section>
<router-outlet></router-outlet>