.header-videos {
  padding: 4%;
  border-radius: 15px 15px 0px 0px;
  background-color: #f2f2f3;
  text-align: center;
  border: 1px solid #cec9c9;
}
.content-videos {
  background: #808080;
  color: white;
  height: 500px;
  overflow-y: scroll;
}

.responsive-video {
  border: 5px solid #eeeeee;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.col {
  margin: auto;
}

.container {
  width: 90%;
}

.container p {
  font-size: 20px;
}

/*
Se repite
*/
.buttons-row {
  display: flex;
  flex-flow: row wrap;
  align-self: stretch;
  height: 115px;
}

.btn {
  margin: auto;
  border-radius: 15px;
  padding: 3% 6%;
  margin-top: 2%;
}

/*@START: Media Queries*/
@media only screen and (max-width: 600px) {
  .btn {
    padding: 6% 8%;
  }
  .buttons-row {
    height: initial;
    margin-bottom: 6%;
  }
}

@media only screen and (min-width: 1024px) {
  .btn {
    border-radius: 50px;
    font-size: x-large;
  }
}
/*@END: Media Queries*/

/*@END: Se repite*/
