<div class="section header-videos">
    <h6 class="black-text right-align">
        <a (click)="goTo('dispositivo-medico-infusion/sistema-avanzado-infusion/terufusion-bomba-infusion-sm')">
            Volver
        </a>
    </h6>
    <div class="container">
        <h4>Videos Tutoriales | {{ current_video }}</h4>
        <h5 class="black-text">Seleccione un modelo para ver videos:</h5>
    </div>
</div>
<div class="section content-videos">
    <div class="row">
        <div class="col s12 m6">
            <p>
                Encendido, apagado e inserción set de administración
            </p>
        </div>
        <div class="col s12 m6">
            <p>
                Programación mL-h
            </p>
        </div>
        <div class="col s12 m6">
            <p>
                Instalación de bomba en el rack
            </p>
        </div>
    </div>
</div>