<div class="slider">
    <ul class="slides">
        <li>
            <img src="assets/img/solutions/cardiovascular/crx-index.png">
            <div class="row">
                <div class="caption left-align slider-text-left">
                    <h3>Terumo Advanced Perfusion System 1</h3>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="container">
    <h5 class="titulo-bold">
        Galeria
    </h5>
    <div class="row">
        <div class="col s12 m9">
            <div class="progress space-line">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <div class="container-fluid">
                <div class="carousel carousel-slider center">
                    <div class="carousel-item white-text" href="#uno!">
                        <img class="materialboxed responsive-img" data-caption="Descripción"
                            src="assets/img/solutions/cardiovascular/adv-sys-1.jpg">
                    </div>
                    <div class="carousel-item white-text" href="#dos!">
                        <img class="materialboxed responsive-img" data-caption="Descripción"
                            src="assets/img/solutions/cardiovascular/adv-sys-2.jpg">
                    </div>
                    <div class="carousel-item white-text" href="#tres!">
                        <img class="materialboxed responsive-img" data-caption="Descripción"
                            src="assets/img/solutions/cardiovascular/adv-sys-3.png">
                    </div>
                    <div class="carousel-item white-text" href="#cuatro!">
                        <img class="materialboxed responsive-img" data-caption="Descripción"
                            src="assets/img/solutions/cardiovascular/adv-sys-4.png">
                    </div>
                    <div class="carousel-item white-text" href="#cinco!">
                        <img class="materialboxed responsive-img" data-caption="Descripción"
                            src="assets/img/solutions/cardiovascular/adv-sys-5.png">
                    </div>
                </div>
            </div>
            <h6 class="titulo-bold">
                Características
            </h6>
            <ul>
                <li>
                    Base compacta
                </li>
                <li>
                    Sistema diseñado para que los usuarios establezcan medidas de seguridad y respuesta de la bomba.

                </li>
                <li>
                    Opciones de entrega de solución de cardioplejia: standard, múltiple y avanzada.
                </li>
                <li>
                    Monitor de control central con rápido procesamiento y pantalla de alta resolución.
                </li>
                <li>
                    Blender integrado.
                </li>
            </ul>
            <h6 class="titulo-bold">
                Información de producto
            </h6>
            <ul class="exclution">
                <li>
                    <a href="#"> Brochure:</a> System enhancements increase safety and reduce risk.
                    <i class="material-icons circle">picture_as_pdf</i>
                </li>
                <li>
                    <a href="#"> Recursos en línea:</a> Create your own masterpiece with the Terumo Advanced Perfusion
                    System 1
                    <i class="material-icons circle">picture_as_pdf</i>
                </li>
                <li>
                    <a href="#"> Brochure:</a> System enhancements increase safety and reduce risk.
                    <i class="material-icons circle">picture_as_pdf</i>
                </li>
                <li>
                    <a href="#"> Brochure:</a> Proven design, continuously enhanced to increase safety and reduce risk.
                    <i class="material-icons circle">picture_as_pdf</i>
                </li>
            </ul>
            <h6 class="titulo-bold">
                Multimedia
            </h6>
            <ul class="exclution">
                <li>
                    <a href="#"> Video:</a> Testimonios, perfusionistas hablando de System 1

                    <i class="material-icons circle">video_library</i>
                </li>
                <li>
                    <a href="#"> Video:</a> Terumo System 1
                    <i class="material-icons circle">video_library</i>
                </li>
            </ul>
            <div class="row">
                <div class="col s12 m6">
                    <video class="responsive-video video_fx" controls>
                        <source
                            src="http://www.terumo-cvsmedia.com/_video/878890_Terumo-System-1-Testimonial-Video_APR2017.mp4"
                            type="video/mp4">
                    </video>
                </div>
                <div class="col s12 m6">
                    <video class="responsive-video video_fx" controls>
                        <source src="http://www.terumo-cvsmedia.com/_video/886523_Terumo-System1-Animation_DEC2017.mp4"
                            type="video/mp4">
                    </video>
                </div>
            </div>
            <h6 class="titulo-bold">
                Contenido de interés
            </h6>
            <ul class="exclution">
                <li>
                    <a href="#"> Brochure:</a> System enhancements increase safety and reduce risk.
                </li>
                <li>
                    <a href="#"> Educacion:</a> Perfusionists Use Simulators To Practice Emergency Scenarios
                </li>
                <li>
                    <a href="#"> Certificaciones biomédicas: </a> Biomedical CertificationImportant Information
                    About Service Parts Availability and Biomedical Staff Certifications for Repair and Maintenance of
                    Terumo Equipment
                </li>

            </ul>
        </div>
        <div class="col s12 m3">
            <div class="container-fluid aside-line-left">
                <h6 class="black-text titulo-bold">Ver mas acerca de Capiox<sup>&reg;</sup> advance</h6>
                <div class="divider"></div>
                <div class="collection-item avatar cuadro">
                    <i class="material-icons circle">person_pin</i>
                    <h6 class="aside-text titulo-bold">Contacte al representante de Terumo</h6>
                </div>
                <div class="collection-item avatar cuadro">
                    <i class="material-icons circle">picture_as_pdf</i>
                    <h6 class="aside-text titulo-bold">Descargue el brochure</h6>
                </div>
                <div class="collection-item avatar cuadro">
                    <i class="material-icons circle">picture_as_pdf</i>
                    <h6 class="aside-text titulo-bold">Descargue el brochure para TAPS1
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>