<nav class="fixed">
    <div class="nav-wrapper white">
        <a href="#" class="brand-logo left"> <img src="assets/img/logoColor.svg" style="height: 30px;"> </a>
        <ul class="right black-text">
            <li><a href="sass.html" class="links-text terumo-text terumoBold">Sitios web Grupo Terumo >></a></li>
            <li><a href="sass.html" class="links-icon terumo-text terumoBold"><i class="material-icons">language</i></a>
            </li>
        </ul>
    </div>

    <div class="nav-wrapper terumo lighten">
        <div class="container">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="left" class="hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">Javascript</a></li>
                <li><a href="mobile.html">Mobile</a></li>
            </ul>
        </div>
        <ul class="right-align">
            <app-buscador [textoBuscar]="textoBuscarHeader" (changeText)="onchangeText($event)"></app-buscador>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
</ul>