<nav class="fixed">
    <div class="nav-wrapper white">
        <a (click)="goTo('')" class="brand-logo left"> <img src="assets/img/logoColor.svg"
                style="height: 30px;"><span>Colombia</span></a>
        <ul class="right black-text">
            <li><a (click)="goTo('')" class="links-text terumo-text terumoBold">Sitios web Grupo Terumo >></a></li>
            <li><a (click)="goTo('')" class="links-icon terumo-text terumoBold"><i
                        class="material-icons">language</i></a>
            </li>
        </ul>
    </div>

    <div class="nav-wrapper terumo lighten">
        <div class="container">
            <a (click)="goTo('')" style="margin: 0px" data-target="Menu-mobile" class="sidenav-trigger"><i
                    class="material-icons">menu</i></a>
            <ul class="left" class="hide-on-med-and-down">
                <li><a (click)="goTo('')" class="dropdown-trigger terumoBold" data-target='Nosotros'>NOSOTROS</a></li>
                <li><a (click)="goTo('')" class="dropdown-trigger terumoBold" data-target='Soluciones'>SOLUCIONES</a>
                </li>
                <li><a (click)="goTo('')" class="terumoBold">EVENTOS</a></li>
                <li><a (click)="goTo('')" class="terumoBold">SOPORTE</a></li>
                <li><a (click)="goTo('contactanos')" class="terumoBold">CONTACTENOS</a></li>
            </ul>
        </div>
        <ul class="right">
            <app-buscador [textoBuscar]="textoBuscarHeader" (changeText)="onchangeText($event)"></app-buscador>
        </ul>
    </div>
</nav>

<ul id="Menu-mobile" class="sidenav">
    <li>
        <div class="user-view">
            <div class=" background terumo lighten"></div>
            <a class="brand-logo"><img src="assets/img/logoColor.svg" width="150px"><span>Colombia</span></a>
        </div>
    </li>
    <li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header terumoBold">NOSOTROS<i class="material-icons right">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a class="sidenav-close">Acerca de nosotros</a></li>
                        <li><a class="sidenav-close">Red Global</a></li>
                        <li><a class="sidenav-close">Responsabilidad Corporativa</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li class="divider"></li>
    <li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header terumoBold">SOLUCIONES<i
                        class="material-icons right">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a class="sidenav-close">Intervencionismo</a></li>
                        <li><a class="sidenav-close">Aortic</a></li>
                        <li><a class="sidenav-close">Dispositivo médico de infusión</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li class="divider"></li>
    <li><a (click)="goTo('')" class="terumoBold">EVENTOS</a></li>
    <li class="divider"></li>
    <li><a (click)="goTo('')" class="terumoBold">SOPORTE</a></li>
    <li class="divider"></li>
    <li><a class="terumoBold" (click)="goTo('contactanos')">CONTACTENOS</a></li>
    <li class="divider"></li>
</ul>

<ul id='Nosotros' class='dropdown-content'>
    <li><a (click)="goTo('')">Acerca de nosotros</a></li>
    <li class="divider"></li>
    <li><a (click)="goTo('')">Red Global</a></li>
    <li class="divider"></li>
    <li><a (click)="goTo('')">Responsabilidad Corporativa</a></li>
</ul>

<ul id='Soluciones' class='dropdown-content'>
    <li><a (click)="goTo('')">Intervencionismo</a></li>
    <li class="divider"></li>
    <li><a (click)="goTo('')">Aortic</a></li>
    <li class="divider"></li>
    <li><a (click)="goTo('')">Cardio Vascular</a></li>
    <li class="divider"></li>
    <li><a (click)="goTo('')">Dispositivo médico de infusión</a></li>
</ul>