<div class="slider">
    <ul class="slides">
        <li>
            <img src="assets/img/solutions/cardiovascular/crx-index.png">
            <div class="row">
                <div class="caption left-align slider-text">
                    <h3>Terumo Advanced Perfusion System 1</h3>
                    <h5 class="black-text">
                        Ofrece un diseño de continuo avance
                        que incrementa la seguridad de
                        los pacientes y reduce el riesgo.
                    </h5>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="separador-cardio"></div>
<div class="container">
    <h4>
        Desde su introducción, en el 2002, los equipos de perfusionistas y
        cirujanos han confiado en Terumo Advanced System 1 para ofrecer a
        sus pacientes un cuidado de alta Calidad que les permite alcanzar los
        mejores resultados posibles.
    </h4>
    <div class="divider space-line"></div>
    <div class="row">
        <div class="col s12 m9">
            <ul>
                <!--Crear un icono para la lista-->
                <li>
                    <p class="terumoP">
                        <strong> Flexible: </strong> Desde configuraciones básicas hasta las complejas. El
                        System 1 evoluciona en la medida que el usuario necesita cambios.
                    </p>
                </li>
                <li>
                    <p class="terumoP">
                        <strong> Modular: </strong>Los componentes pueden funcionar y controlarse
                        individualmente.
                    </p>
                </li>
                <li>
                    <p class="terumoP">
                        <strong>Control centralizado:</strong> El cual se facilita a través del monitor del
                        control central.
                    </p>

                </li>
                <li>
                    <p class="terumoP">
                        <strong>Funciones avanzadas:</strong> Conexiones de seguridad y las respuestas
                        de la bomba se pueden activar en cualquier momento.
                    </p>
                </li>
            </ul>
        </div>
        <div class="col s12 m3 aside-line-red">
            <h6 class="black-text titulo-bold">
                Información de producto
            </h6>
            <div class="divider"></div>
            <h6>BROCHURE</h6>
            <p class="terumoP">
                System enhancements increase safety
                and reduce risk.
                <i class="material-icons">picture_as_pdf</i>
            </p>
        </div>
    </div>
</div>

<div class="section-1">
    <div class="container">
        <div class="row">
            <h6 class="black-text">
                DISEÑO PROBADO, CONTINUAMENTE MEJORADO
            </h6>
            <div class="col s12 m3">
                <div class="imagen">

                </div>
                <p class="terumoP">
                    Ahorro de espacio por su base
                    compacta. Soportes y accesorios
                    que facilitan el uso de la maquina
                    configurada. Hardware intuitivo y
                    de fácil manejo.
                </p>
            </div>
            <div class="col s12 m3">
                <div class="imagen">

                </div>
                <p class="terumoP">
                    Ahorro de espacio por su base
                    compacta. Soportes y accesorios
                    que facilitan el uso de la maquina
                    configurada. Hardware intuitivo y
                    de fácil manejo.
                </p>
            </div>
            <div class="col s12 m3">
                <div></div>
            </div>
            <div class="col s12 m3">
                <div></div>
            </div>
        </div>
    </div>
</div>