p,
h4,
h5 {
  text-align: justify;
}

.img1 {
  background-image: url(../../../../../../../assets/img/solutions/cardiovascular/contenedor-1.jpg);
}

.img2 {
  background-image: url(../../../../../../../assets/img/solutions/cardiovascular/contenedor-2.png);
}

.img3 {
  background-image: url(../../../../../../../assets/img/solutions/cardiovascular/contenedor-3.png);
}

.img4 {
  background-image: url(../../../../../../../assets/img/solutions/cardiovascular/contenedor-4.png);
}

.diseno div p {
  text-align: center;
  color: gray;
  /*font-style: italic;*/
  font-size: 14px;
}

.responsive-img {
  margin-top: 5%;
}
