<header>
    <div class="background-skyleft skyleft"></div>
    <section class="intro row">
        <div class="container">
            <div class="col m8 s12">
                <h4 class="left terumo-text">Sistema avanzado de perfusión Terumo 1</h4>
                <div class="col s12 hide-on-small-only">
                    <dl>
                        <dt class="title">Ofrece un diseño de continuo avance que incrementa la seguridad de los pacientes y reduce el riesgo.</dt>
                    </dl>
                </div>
            </div>
        </div>
    </section>
</header>
<div class="section">
    <div class="hide-on-med-and-up">
        <div class="container col s12">
            <dl>
                <dt class="title">Ofrece un diseño de continuo avance que incrementa la seguridad de los pacientes y reduce el riesgo.</dt>
            </dl>
        </div>
        <div class="separador-cardio"></div>
    </div>
</div>
<div class="container">
    <h5 class="titilo-bold">Desde su introducción, en el 2002, los equipos de perfusionistas y cirujanos han confiado en Terumo Advanced System 1 para ofrecer a sus pacientes un cuidado de alta calidad que les permite alcanzar los mejores resultados posibles.</h5>
    <div class="progress space-line">
        <div class="determinate terumo" style="width: 20%"></div>
    </div>
    <div class="row">
        <div class="col s12 m9">
            <dl>
                <dt><i class="material-icons terumo-text left">check_circle</i>Flexible:</dt>
                <dd class="terumoP"> desde configuraciones básicas hasta las complejas. El System 1 evoluciona en la medida que el usuario necesita cambios.</dd>
                <dt><i class="material-icons terumo-text left">check_circle</i>Modular:</dt>
                <dd class="terumoP">los componentes pueden funcionar y controlarse individualmente.</dd>
                <dt><i class="material-icons terumo-text left">check_circle</i>Control centralizado:</dt>
                <dd class="terumoP">el cual se facilita a través del monitor del control central.</dd>
                <dt><i class="material-icons terumo-text left">check_circle</i>Funciones avanzadas:</dt>
                <dd class="terumoP">conexiones de seguridad y las respuestas de la bomba se pueden activar en cualquier momento.</dd>
            </dl>
        </div>
        <div class="col s12 m3">
            <div class="publi2 container-fluid">
                <h6 class="black-text titulo-bold center-align">Información de producto</h6>
                <div class="divider"></div>
                <h6 class="titulo-bold">BROCHURE</h6>
                <p class="terumoP">System enhancements increase safety and reduce risk. <a href=""><i class="material-icons terumo-red">picture_as_pdf</i></a></p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="section-1">
        <div class="container">
            <div class="diseno row center-align">
                <h6 class="black-text space-box">
                    DISEÑO PROBADO, CONTINUAMENTE MEJORADO
                </h6>
                <div class=" col s12 m6 l3">
                    <div class="imagen-circle img1">
                    </div>
                    <p class="terumoP">
                        Ahorro de espacio por su base compacta. Soportes y accesorios que facilitan el uso de la máquina configurada. Hardware intuitivo y de fácil manejo.
                    </p>
                </div>
                <div class="col s12 m6 l3">
                    <div class="imagen-circle img2">
                    </div>
                    <p class="terumoP">
                        Roller pump con mejoras en su funcionamiento. Totalmente integrado al CCM. Nuevo diseño que incluye sistema magnético para la sujeción de la tapa.
                    </p>
                </div>
                <div class="col s12 m6 l3">
                    <div class="imagen-circle img3">
                    </div>
                    <p class="terumoP">
                        Interruptor de alimentación de poder sellado, lo cual ofrece mayor seguridad y previene apagados inadvertidos.
                    </p>
                </div>
                <div class="col s12 m6 l3">
                    <div class="imagen-circle img4">
                    </div>
                    <p class="terumoP">
                        Batería de poder que ofrece un indicador con reporte visual del estado de la batería, comunicación constante con el usuario.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <h5 class="titulo-bold">Videos Relacionados</h5>
        <div class="progress space-line">
            <div class="determinate terumo" style="width: 20%"></div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                <video class="responsive-video video_fx" controls>
                    <source src="http://www.terumo-cvsmedia.com/_video/878890_Terumo-System-1-Testimonial-Video_APR2017.mp4" type="video/mp4">
                </video>
                <h5>Testimonios de perfusionistas (2:00) </h5>
            </div>
            <div class="col s12 m6">
                <video class="responsive-video video_fx" controls>
                    <source src="http://www.terumo-cvsmedia.com/_video/886523_Terumo-System1-Animation_DEC2017.mp4" type="video/mp4">
                </video>
                <h5>System 1 , Configuración (4:00)</h5>
            </div>
        </div>
        <h5 class="titulo-bold">Galeria de fotos</h5>
        <div class="progress space-line">
            <div class="determinate terumo" style="width: 20%"></div>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <img src="assets/img/solutions/cardiovascular/gal-adv-sys-1.png" alt="Modulos" class="responsive-img" width="100%" height="100">
                <h5>Módulos</h5>
                Para la conexión de los sistemas de seguridad. Tiene la capacidad de integrar hasta 18 sistemas.
            </div>
            <div class="col s12 m4">
                <img src="assets/img/solutions/cardiovascular/gal-adv-sys-2.png" alt="Modulos" class="responsive-img" width="100%" height="100">
                <h5>Bombas rodillo</h5>
                Las cuales vienen en dos presentaciones: tamaño grande y pequeño. Pista de rodadura rotable que permite reducer la longitud del circuito.
            </div>
            <div class="col s12 m4">
                <img src="assets/img/solutions/cardiovascular/gal-adv-sys-3.png" alt="Modulos" class="responsive-img" width="100%" height="100">
                <h5>Central Control monitor</h5>
                Pantalla de rápido procesamiento, alta resolución, pantalla táctil de control.
            </div>
        </div>
    </div>
</div>