<section>
    <div class="container-fluid">
        <ul class="tabs tabs-fixed-width exclution flex-container">
            <li class="tab"><a class="active btn-large" href="#catalogo-productos">
                    CATÁLOGO DE PRODUCTOS <i class="material-icons right">chevron_right</i>
                </a></li>
            <li class="tab"><a class="btn-large" href="#ensayos-clinicos">
                    ENSAYOS CLÍNICOS <i class="material-icons right">chevron_right</i>
                </a></li>
            <li class="tab"><a class="btn-large" href="#instrucciones">
                    INSTRUCCIONES DE USO <i class="material-icons right">chevron_right</i>
                </a></li>
            <li class="tab"><a class="btn-large" href="#referencias">
                    REFERENCIAS <i class="material-icons right">chevron_right</i>
                </a></li>
        </ul>
        <div id="catalogo-productos" class="col s12 light-blue-aortic full-light-section">
            <div class="container center-content">
                <h3 class="aortic-black-text">Catálogo de productos</h3>
                <ul class="exclution">
                    <li>
                        <p>
                            <a href="http://www.vascutek.com/site/assets/files/1731/th_gen_2_bro_b336-2e.pdf"
                                target="_blank"> Thoraflex<sup>&trade;</sup> Hybrid
                                <i class="material-icons left">picture_as_pdf</i>
                            </a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="http://www.vascutek.com/site/assets/files/3256/th_implant_booklet_gen2.pdf"
                                target="_blank" rel="noopener noreferrer"> Thoraflex<sup>&trade;</sup> Hybrid Implant
                                Booklet
                                <i class="material-icons left">picture_as_pdf</i>
                            </a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div id="ensayos-clinicos" class="col s12 light-blue-aortic full-light-section">
            <div class="container center-content aortic-black-text">
                <h3 class="aortic-black-text">
                    Ensayos Clínicos
                </h3>
                <p>
                    Algunos de los ensayos clínicos se muestran a continuación y están <u> <a
                            href="mailto:general@vascutek.com?subject=Solicitud%20clínica"> disponibles previa
                            solicitud.</a></u>
                </p>
                <div class="row">
                    <div class="col s12 m6">
                        <p>
                            <b>
                                The Thoraflex<sup>&trade;</sup> Hybrid frozen elephant trunk device: The
                                Bologna experience.
                            </b> <br />
                            <b class="white-text">
                                Di Marco L et al. <br />
                                J Vasc Endovasc Surg, 2014; 21(3), 117-23
                            </b>
                            <br /> <br />

                            <b>
                                Multibranched hybrid device for frozen elephant trunk:
                                what does it change?
                            </b> <br />
                            <b class="white-text">
                                Ruggieri VG et al. <br />
                                Thoracic & Cardiovasc Surg, July 2015; 15(1), 253-255</b>
                            <br /> <br />

                            <b>
                                Frozen elephant trunk with Thoraflex™ Hybrid prosthesis:
                                early results of the prospective THORA-FET registry.
                            </b> <br />
                            <b class="white-text">
                                Maselli D et al. <br />
                                AATS Aortic Symposium, May 2016, NY, USA
                            </b>

                        </p>
                    </div>
                    <div class="col s12 m6">
                        <p>
                            <b>
                                Clinical evaluation report for Thoraflex<sup>&trade;</sup> Hybrid device
                                design dossier 019
                            </b> <br />
                            <b class="white-text">
                                Issue 4, Feb 2016
                            </b>
                            <br /> <br />

                            <b>
                                Total aortic arch replacement with a novel four-branched
                                frozen elephant trunk graft: first-in-man results
                            </b> <br />
                            <b class="white-text">
                                Shrestha M et al. <br />
                                European Journal of Cardio-Thoracic Surg, 2013;43, <br />
                                406–410
                            </b>
                            <br /> <br />

                            <b>
                                Total aortic arch replacement with a novel 4-branched
                                frozen elephant trunk prosthesis: single-centre results of
                                the first 100 patients.
                            </b> <br />
                            <b class="white-text">
                                Shrestha M et al. <br />
                                J Thoracic and Cardiovasc Surg, July 2016; 152(1), 148-159
                            </b>

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="instrucciones" class="col s12 light-blue-aortic full-light-section">
            <div class="container center-content">
                <div class="row">
                    <div class="col s12">
                        <h3 class="aortic-black-text">
                            Instrucciones de uso
                        </h3>
                        <p>
                            <a href="http://www.vascutek.com/site/assets/files/1734/301-168_thoraflex_hybrid_gen_2_row_ifu_6_languages.pdf"
                                target="_blank" rel="noopener noreferrer">
                                <i class="material-icons left">picture_as_pdf</i>
                                Thoraflex<sup>&trade;</sup> Hybrid IFU
                            </a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div id="referencias" class="col s12 light-blue-aortic full-light-section">
            <div class="container center-content">
                <h3 class="aortic-black-text">Referencias</h3>
                <ol>
                    <li>
                        Datos en archivo Vascutek - IFU301-130/2
                    </li>
                    <li>
                        Bungay P. The Use of the Anaconda<sup>&trade;</sup> Stent Graft for Abdominal Aortic Aneurysms.
                        J Cardiovasc
                        Surg 2012; 53; 5;
                        571-577.

                    </li>
                    <li>
                        Rödel S.G.J, Geelkerken R.H, Prescott R.J, Florek H.J, Kasprzak P, Brunkwall J. The
                        Anaconda<sup>&trade;</sup>
                        AAA Stent Graft
                        System: 2-Year Clinical and Technical Results of a Multicentre Clinical Evaluation. Eur J Vasc
                        Endovasc Surg 2009;
                        38; 732- 40.

                    </li>
                    <li>
                        Freyrie A, Testi G, Faggioli GL, Gargiulo M, Giovanetti F, Serra C, Stella A. Ring-stents
                        supported Infrarenal Aortic
                        Endograft fits well in Abdominal Aortic Aneurysms with Tortuous Anatomy. J Cardiovasc Surg 2010;
                        51; 467-74.

                    </li>
                    <li>
                        Rödel S.G.J, Zeebregts C.J, Huisman, A.B, Geelkerken, R.H. Results of the
                        Anaconda<sup>&trade;</sup>
                        Endovascular Graft in
                        Abdominal Aortic Aneurysm with a Severe Angulated Infrarenal Neck. J Vasc Surg 2014; 59; 6;
                        1495–1501

                    </li>
                    <li>
                        Datos en archivo Vascutek
                    </li>
                    <li>
                        Saratzis N. et al. (2008) Anaconda Aortic Stent-Graft: Single-Center Experience of a New
                        Commercially Available
                        Device for Abdominal Aortic Aneurysms J Endovasc Ther,15:33-41
                    </li>
                    <li>
                        Stehr A. et al (2007) Early Experience Shows Rapid Shrinking of Abdominal Aortic Aneurysms
                        after Endovascular Treatment with Anaconda<sup>&trade;</sup> Device VASA, 36:199-204
                    </li>
                    <li>
                        Stella A. et al (2009) The Advantages of Anaconda<sup>&trade;</sup> Endograft for AAA J
                        Cardiovascular Surg,
                        50:145-152
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>