<header>
    <div class="background-skyleft skyleft">
    </div>
    <section class="intro row " style="overflow: hidden !important;">
        <div class="container">
            <div class="col m5 s12">
                <h3 class="titulo-bold flow-text center-align">ASSISTANT <sup>(&trade;)</sup> & HÉRCULES <sup>(&trade;)</sup></h3>
            </div>
            <div class="col m7 s12">

            </div>
        </div>
    </section>
</header>

<header>
    <div class="background-skyleft skyleft">
        <section class="intro row">
            <div class="container">
                <div class="col m7 s12">

                </div>
                <div class="col m5 s12">

                    <h3 class="titulo-bold flow-text center-align">ASSISTANT <sup>(&trade;)</sup> & HÉRCULES <sup>(&trade;)</sup></h3>

                </div>
            </div>
        </section>
    </div>
</header>

<div class="container">
    <p class="terumoP">El perfil seguro y delgado del Assistant, optimiza el campo de visión quirúrgico. Los Assistant Terumo con tecnología StableSoft permiten posicionar y retraer para una amplia variedad de procedimientos quirúrgicos donde tradicionalmente se necesita
        la mano de una persona o el acceso es difícil. Usado con más frecuencia durante el injerto de derivación de arteria coronaria (CABG) en la bomba, el accesorio auxiliar permite al cirujano colocar el corazón de manera óptima y segura.
        <br> Los accesorios del Asistente se conectan al Brazo Estabilizador Universal Hercules <sup>&trade;</sup> 3 y tienen dedos maleables que vienen con una superficie con textura para un mayor agarre.</p>
</div>
<div class="container">
    <h4 class="titulo-bold flow-text">
        Galería de fotos
    </h4>
    <div class="progress space-line">
        <div class="determinate" style="width: 20%; background-color: #d32b2a !important;"></div>
    </div>
    <div class="row">
        <div class="col s12 m6 l3">
            <img src="assets/img/solutions/cardiovascular/assistant-1.png" alt="Assistant Image 1" class="responsive-img">
        </div>
        <div class="col s12 m6 l3">
            <img src="assets/img/solutions/cardiovascular/assistant-2.png" alt="Assistant Image 2" class="responsive-img">
        </div>
        <div class="col s12 m6 l3">
            <img src="assets/img/solutions/cardiovascular/assistant-3.png" alt="Assistant Image 3" class="responsive-img">
        </div>
        <div class="col s12 m6 l3">
            <img src="assets/img/solutions/cardiovascular/assistant-4.png" alt="Assistant Image 4" class="responsive-img">
        </div>
    </div>
    <h4 class="titulo-bold flow-text">
        Videos relacionados
    </h4>
    <div class="progress space-line">
        <div class="determinate" style="width: 20%; background-color: #d32b2a !important;"></div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <video class="responsive-video video_fx" controls>
            <source src="http://www.terumo-cvsmedia.com/_video/886866_SurgicalStabilizationAssistantAttachmentVideo_08JAN2018_FINAL_LR.mp4" type="video/mp4"></video>
        </div>
        <div class="col s12 m6">
            <video class="responsive-video video_fx" controls>
            <source src="http://www.terumo-cvsmedia.com/_video/886867_HenryFordHospitalAssistantAttachmentApplicationVideo_FEB2018_FINAL_LR.mp4" type="video/mp4"></video>
        </div>
    </div>
</div>
<!--Página de referencia: http://www.terumo-cvgroup.com/assistant/?utm_source=URLdatabase&utm_medium=URLdatabase&utm_campaign=assistant-->