<app-header-cardio></app-header-cardio>

<div class=" tiulo row">
    <div class="container">
        <h5 class="terumoSemibold">
            Prescripción de la Oxigenación
        </h5>
    </div>
    <div class="separador-cardio-small"></div>
</div>


<header>
    <div class="background-skyleft skyleft"></div>
    <section class="intro row">
        <div class="container">
            <div class="col m8 s12">
                <h4 class="left terumo-text">Use la evidencia como punto de partida</h4>
                <div class="col s12 hide-on-small-only">
                    <h5 class="blue-grey-text text-darken-4">Diseñado para reducir costos hospitalarios
                    </h5>
                    <p class="blue-grey-text text-darken-4">“Esta disminución significativa en el uso de sangre, a un costo de $1275 USD por unidad, se traduce en un ahorro anual de $558,450 USD basado en el número de casos de nuestra institución” <sup>4</sup>
                    </p>
                </div>
            </div>

        </div>
    </section>
</header>



<div class="section">
    <div class="hide-on-med-and-up">
        <div class="container col s12">
            <h5 class="blue-grey-text text-darken-4">Diseñado para reducir costos hospitalarios</h5>
            <p class="blue-grey-text text-darken-4">“Esta disminución significativa en el uso de sangre, a un costo de $1275 USD por unidad, se traduce en un ahorro anual de $558,450 USD basado en el número de casos de nuestra institución”<sup>4</sup></p>
        </div>
        <div class="separador-cardio"></div>
    </div>
    <div class="container">
        <h5 class="titilo-bold">La prescripción de la Oxigenación™ es una estrategia propia de Terumo, que ayuda a los perfusionistas a conocer y determinar las necesidades de sus pacientes y a manejarlas de forma más precisa.</h5>
        <div class="progress space-line">
            <div class="determinate terumo" style="width: 20%"></div>
        </div>
        <div class="row">
            <div class="col s12 m9">
                <p class="terumoP justify-align">Basados en el área de superficie corporal, un número significativo de pacientes podría beneficiarse de la escogencia del oxigenador que está diseñado para suplir todas las necesidades de oxigenación y metabólicas mientras reduce la hemodilución
                    y otros riesgos asociados con el bypass cardiopulmonar.</p>
                <div class="row">
                    <!-- <div class="col s12 m2"></div> -->
                    <div class="col s12 offset-m3 m6">
                        <!-- <img class="" src="assets/img/solutions/cardiovascular/logo_PrescriptOxy.png" alt="Logo de Presciptive Oxygenation" style="object-fit: contain;"> -->
                        <div class="main-block flecha titulo-flecha"></div>
                        <div class="main-block flecha fmain">
                            <h6 class="terumoSemibold white-text center-align">
                                Circuito correcto de acuerdo a su paciente
                            </h6>
                        </div>
                        <div class="secondary-block flecha fbody">
                            <h6 class="white-text center-align">
                                Reducción de la hemodilución y transfusiones sanguíneas
                            </h6>
                        </div>
                        <div class="secondary-block flecha fbody">
                            <h6 class="white-text center-align">
                                Mejorar respuestas de los pacientes
                            </h6>
                        </div>
                        <div class="secondary-block flecha fbody">
                            <h6 class="white-text center-align">
                                Disminución de costos hospitalarios
                            </h6>
                        </div>
                    </div>
                    <div class="col s12 m2"></div>
                </div>
                <div class="container-fluid">
                    <ul class="terumoP text-references">
                        <li>
                            Referencias:
                        </li>
                        <li>
                            <ol>
                                <li>
                                    Ferraris, et al. 2011 Update to the Society of Thoracic Surgeons and the Society of Cardiovascular Anesthesiologists Blood Conservation Clinical Practice Guidelines. Ann Thorac Surg 2011; 91:944-982.
                                </li>
                                <li>
                                    Baker, R., et al. (2013). American Society of ExtraCorporeal Technology Standards and Guidelines For Perfusion Practice.
                                </li>
                                <li>
                                    Lahanas, T., et al. (2013). A retrospective comparison of blood transfusion requirements during cardiopulmonary bypass with two different small adult oxygenators. Perfusion. July 2013, 28 (4).
                                </li>
                                <li>
                                    Bronson, S., et al. Prescriptive Patient Extracorporeal Circuit and Oxygenator Sizing Reduces Hemodilution and Allogeneic Blood Product Transfusion during Adult Cardiac Surgery. JECT. 2013:45:167-72.
                                </li>
                                <li>
                                    Shann, et al. An evidence-based review of the practice of cardiopulmonary bypass in adults: A focus on neurologic injury, glycemic control, hemodilution, |and the inflammatory response. J Thorac Cardiovasc Surg 2006; 132:283-290.
                                </li>
                                <li>
                                    Preston, et al. Clinical Gaseous Microemboli Assessment of an Oxygenator with Integral Arterial Filter in the Pediatric Population. JECT 2009; 41:226-230.
                                </li>
                                <li>
                                    Gomez, et al. Evaluation of air handling in a new generation neonatal oxygenator with integral arterial filter. Perfusion 2009; 24 (2)107-112.
                                </li>
                            </ol>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col s12 m3 container-fluid">
                <div class="lateral">
                    <h6 class="black-text titulo-bold">Información de producto</h6>
                    <div class="divider"></div>
                    <h6 class="titulo-bold">
                        BROCHURE
                    </h6>
                    <a [href]="brochure[0]" target="_blank"  style="color: #000000de;">
                        <p class="terumoP articulo">
                            Prescriptive Oxygenation</p>
                    </a>
                    <h6 class="titulo-bold">
                        BROCHURE
                    </h6>
                    <a [href]="brochure[1]" target="_blank" style="color: #000000de;">
                        <p class="terumoP articulo">
                            CAPIOX FX Family of Oxygenators with Integrated Arterial Filter <a [href]="brochure[1]" target="_blank"><i class="material-icons terumo-red">picture_as_pdf</i></a></p>
                    </a>

                    <h6 class="black-text titulo-bold">Multimedia</h6>
                    <div class="divider"></div>
                    <h6 class="titulo-bold">
                        ANIMACIÓN
                    </h6>
                    <p class="terumoP articulo">
                        <a href="http://www.terumo-cvs.com/_video/859210_PrescriptiveOxygenation_JAN2015.shtml" target="_blank" class="blue-text">Prescriptive Oxygenation™</a> Illustrates how Terumo’s unique oxygenators, packaging solutions and brackets make implementing
                        Prescriptive Oxygenation quick and convenient.
                    </p>
                    <!--<div class="video-container">
                    <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0"
                        allowfullscreen></iframe>
                </div>-->
                    <video class="responsive-video" controls>
                    <source src="http://www.terumo-cvs.com/_video/859210_PrescriptiveOxygenation_JAN2015.mp4" type="video/mp4">
                </video>
                </div>

                <h6 class="black-text titulo-bold">Destacado</h6>
                <div class="divider"></div>
                <h6 class="titulo-bold">
                    TECNOLOGÍA
                </h6>
                <a href="http://www.terumo-cvs.com/optimizing/2014OCT_Filters.shtml" target="_blank" style="color: #000000de;">
                    <p class="terumoP articulo">
                        Advancements in Removing Small Bubbles: The benefits of self-venting technology as a continuous gaseous microemboli purge</p>
                </a>
                <h6 class="titulo-bold">
                    ARTÍCULO CIENTÍFICO
                </h6>
                <a href="http://www.terumo-cvs.com/doc/Baker.pdf" target="_blank" style="color: #000000de;">
                    <p class="terumoP articulo">
                        Report from AmSECT’s International Consortium for Evidence-Based Perfusion: AmSECT Standards and</p>
                </a>
                <h6 class="titulo-bold">
                    ARTICULO CIENTIFICO
                </h6>
                <a [href]="brochure[2]" target="_blank" style="color: #000000de;">
                    <p class="terumoP articulo">
                        Prescriptive Patient Extracorporeal Circuit and Oxygenator Sizing Reduces Hemodilution and Allogeneic Blood Product Transfusion during Adult Cardiac Surgery. JECT. 2013; 45:167-172. Bronson S, et al.
                        <a [href]="brochure[2]" target="_blank">
                            <i class="material-icons terumo-red">picture_as_pdf</i>
                        </a></p>
                </a>
            </div>
        </div>
    </div>
</div>