.tiulo {
    position: relative;
    z-index: 800;
    margin-bottom: 0;
    background: #fff;
}

.tiulo h5 {
    margin: 0px;
    padding: 20px 0px;
}

header {
    position: relative;
    display: block;
    z-index: 1;
}

.background-skyleft {
    background-color: #fafafa;
    background: linear-gradient(45deg, rgba(255, 255, 255, .9) 20%, rgba(255, 255, 255, 0) 100%), url(../../../../../assets/img/solutions/cardiovascular/estrategia-comercial.jpg);
    background-blend-mode: normal;
    background-size: 100%, cover;
    background-repeat: no-repeat;
    background-position: 60% right;
}

.skyleft {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 480px;
    box-sizing: border-box;
    padding: 48px 48px 32px;
    overflow: hidden;
    -webkit-transform: skewY(4deg);
    transform: skewY(4deg);
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
    border-bottom: 5px solid #D32B2A;
}

.intro {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    height: 480px;
    margin: 0 auto -32px;
    padding: -60px 0 0 0;
    color: #fff;
}

.texto {
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50% -50%);
}

.progress {
    margin: 30px 0px;
}

.progress .terumo {
    background-color: #D32B2A !important;
}

@media only screen and (min-width: 1024px) {
    .background-skyleft {
        background-color: #fafafa;
        background: linear-gradient(45deg, rgba(255, 255, 255, .9) 20%, rgba(255, 255, 255, 0) 100%), url(../../../../../assets/img/solutions/cardiovascular/estrategia-comercial.jpg);
        background-size: 100%, auto 100%;
        background-repeat: no-repeat;
        background-position: center, right;
    }
    .skyleft {
        -webkit-transform: skewY(3deg);
        transform: skewY(3deg);
        -webkit-transform-origin: 100%;
        transform-origin: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .background-skyleft {
        background-color: rgba(49, 128, 106, 0.5);
        background: rgba(0, 89, 64, .7), url(../../../../../assets/img/solutions/cardiovascular/estrategia-comercial.jpg);
        background-blend-mode: multiply;
        background-size: 100%, cover;
    }
    .skyleft {
        height: 290px;
        border: none;
    }
    .intro {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        height: 300px;
    }
    .intro h4 {
        color: #fff!important;
        text-align: center !important;
        margin-top: -40px;
    }
    img {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
}

.main-tittle {
    padding-right: 30%;
}

.articulo {
    font-size: 12px;
}

.main-block {
    padding: 10px;
    margin-bottom: 8px;
}

.secondary-block {
    padding: 10px;
    margin-bottom: 8px;
}

ol {
    list-style-type: decimal !important;
}

.text-references {
    font-size: 11px;
    color: gray;
}

.lateral {
    border-left: 5px solid #D32B2A;
    padding-left: 8px;
}

.flecha {
    /* -webkit-box-sizing: content-box;
    -moz-box-sizing: class="support css-value">content-box; */
    box-sizing: content-box;
    width: 100%;
    height: 60px;
    position: relative;
    margin: 0 0 6px;
    padding: 12px;
    border: none;
    /* font: normal 100%/normal Arial, Helvetica, sans-serif; */
    color: rgba(0, 0, 0, 1);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
}

.main-block h6,
.secondary-block h6 {
    width: 100%;
    text-align: center;
    /* margin: 15px 10px; */
    position: relative;
    z-index: 800;
}

.fmain::before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 51%;
    height: 100%;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #ff961a;
    text-shadow: none;
    -webkit-transform: skewY(8deg);
    transform: skewY(8deg);
    z-index: 100;
    border-bottom: 7px solid white;
}

.fmain::after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 50%;
    height: 100%;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #ff961a;
    text-shadow: none;
    -webkit-transform: skewY(-8deg);
    transform: skewY(-8deg);
    z-index: 100;
    border-bottom: 7px solid white;
}

.fbody::before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 51%;
    height: 100%;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #13bdb0;
    text-shadow: none;
    -webkit-transform: skewY(8deg);
    transform: skewY(8deg);
    z-index: 100;
    border-bottom: 7px solid white;
}

.fbody::after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 50%;
    height: 100%;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #13bdb0;
    text-shadow: none;
    -webkit-transform: skewY(-8deg);
    transform: skewY(-8deg);
    z-index: 100;
    border-bottom: 7px solid white;
}

.fbody:last-child::before,
.fbody:last-child::after {
    border: none
}