<div class="container">
    <h5>
        Prescripción de la Oxigenación
    </h5>
</div>
<div class="separador-cardio-small"></div>
<div class="container-fluid">
    <div class="slider">
        <ul class="slides">
            <li>
                <div class="caption left-align main-tittle">
                    <h4>Use la evidencia como punto de partida</h4>
                    <h5 class="black-text">Diseñado para reducir costos hospitalarios</h5>
                    <p class="terumoP black-text">
                        “Esta disminución significativa en el uso de sangre, a
                        un costo de $1275 USD por unidad, se traduce en un
                        ahorro anual de $558,450 USD basado en el número
                        de casos de nuestra institución”4</p>
                </div>
                <div class="fondo"></div>
            </li>
        </ul>
    </div>
</div>
<div class="separador-cardio"></div>
<div class="container">
    <h5 class="titilo-bold">La prescripción de la Oxigenacion™ es una estrategia propia de Terumo,
        que ayuda a los perfusionistas a conocer y determinar las necesidades
        de sus pacientes y a manejarlas de forma mas precisa.</h5>
    <div class="divider"></div>
    <div class="row">
        <div class="col s12 m9">
            <p class="terumoP">Basados en el área de superficie corporal, un número significativo de pacientes podría
                beneficiarse de la escogencia del oxigenador que esta diseñado para suplir todas las
                necesidades de oxigenación y metabólicas mientras reduce la hemodilución y otros
                riesgos asociados con el bypass cardiopulmonar.</p>
        </div>
        <div class="col s12 m3">
            <h6 class="black-text titulo-bold">Información de producto</h6>
            <div class="divider"></div>
            <h6 class="titulo-bold">
                BROCHURE
            </h6>
            <p class="terumoP">
                Prescriptive Oxygenation</p>
            <h6 class="titulo-bold">
                BROCHURE
            </h6>
            <p class="terumoP">
                CAPIOX FX Family of Oxygenators with
                Integrated Arterial Filter</p>



            <h6 class="black-text titulo-bold">Multimedia</h6>
            <div class="divider"></div>
            <h6 class="titulo-bold">
                ANIMACIÓN
            </h6>
            <p class="terumoP">
                Prescriptive Oxygenation™
                Illustrates how Terumo’s unique
                oxygenators, packaging solutions
                and brackets make implementing
                Prescriptive Oxygenation quick and
                convenient.</p>

        </div>
    </div>
</div>