<app-banner-cardiologia-interv [titulo]="titulo" [imagen]="imagen"></app-banner-cardiologia-interv>
<section>
    <div class="container">
        <section>
            <p>
                Radifocus<sup>&reg;</sup> Glidecath<sup>&reg;</sup> es un catéter angiográfico hidrofílico destinado
                para el uso en procedimientos angiográficos
                en vasculaturas periféricas y neurológicos. Suministra medio de contraste y agentes terapéuticos a
                sitios
                seleccionados del sistema vascular. Glidecath<sup>&reg;</sup> también se usa para orientar una guía o un
                catéter al punto
                objetivo. <br /> <br />
                Glidecath<sup>&reg;</sup> cuenta con el mismo recubrimiento hidrofílico de Terumo Guidewire M, que
                permite alcanzar los
                puntos más distales en las anatomías más complejas. También se indica para suministrar material embólico
                tal
                como microesferas, particulas PVA y macro espirales.
            </p>
        </section>
        <section>
            <h3>
                Características
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <dd>
                <ul>
                    <li>
                        El recubrimiento hidrofílico distal a 15, 25 y 40 cm, dependiendo del tipo de catéter y
                        longitud, por lo que
                        provee navegabilidad suave y permite cateterizar de manera selectiva las anatomías más
                        complejas.
                    </li>
                    <li>
                        Gran estructura de trenzado: el trenzado de una sola capa en la opción 5 Fr y el trenzado de
                        doble capa en la
                        de 4 Fr brindan alta capacidad de navegación, especialmente cuando se usa combinado con guías
                        hidrofílicas
                        de Terumo.
                    </li>
                    <li>
                        La superficie suave y radiopaca previene formación de trombos y garantiza alta visibilidad
                        bajo fluoroscopia.
                    </li>
                    <li>
                        Un gran lumen para un bajo perfil: Glidecath 4 Fr (1,40 mm) es compatible con guías de 0.038”
                        (0,97 mm) y
                        puede ser usado como catéter guía para microcatéteres como el Progreat de Terumo.
                    </li>
                    <li>
                        Resistente a alta presión: 750 psi (5171 kPa) para el catéter de 4 Fr y 1000 psi (6895 kPa)
                        para el de 5 Fr.
                    </li>
                    <li>
                        Curvas especiales y longitudes disponibles, incluyendo una opción recta, de 150 cm para una
                        recanalización
                        de extremidades bajas y una forma Yashiro 3D para un acceso sencillo al tronco celiáco.
                    </li>
                </ul>
            </dd>
            <div class="glidecath-img"></div>
            <div class="hide-on-med-and-up">
                <dd>
                    <ol>
                        <li>
                            <span>
                                Acero inoxidable
                            </span>
                        </li>
                        <li>
                            <span>
                                Recubrimiento polimérico hidrofílico
                            </span>
                        </li>
                        <li>
                            <span>
                                Capa interna
                            </span>
                        </li>
                        <li>
                            <span>
                                Envoltura de poliuretano
                            </span>
                        </li>
                    </ol>
                </dd>
            </div>
        </section>
        <section>
            <h3>
                Especificaciones generales
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <table class="responsive-table highlight">
                <tbody>
                    <tr>
                        <th class="bold-tittle-table">
                            Diámetros disponibles
                        </th>
                        <td>
                            4 Fr and 5 Fr
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Envoltura radiopaca
                        </th>
                        <td>
                            Polyurethane
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Recubrimiento hidrofílico
                        </th>
                        <td>
                            "M" polymer
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Superficie interna
                        </th>
                        <td>
                            Nylon – rich
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Diámetro interno
                        </th>
                        <td>
                            0.041" (1.03 mm) for 4 Fr
                            0.043" (1.10 mm) for 5 Fr
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Longitudes (cm)
                        </th>
                        <td>
                            65, 80, 100, 110, 120, 150
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Compatibilidad de guía
                        </th>
                        <td>
                            0.038" (0.97 mm)
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Unidades por caja
                        </th>
                        <td>
                            5
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h3>
                Especificaciones del artículo
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <p>
                Curva visceral
            </p>
            <table width="100%" class="responsive-table highlight" cellspacing="0">
                <thead>
                    <tr>
                        <th class="bold-tittle-table">
                            Diámetro externo
                        </th>
                        <th class="bold-tittle-table">
                            Longitud
                        </th>
                        <th class="bold-tittle-table">
                            Longitud distal hidrofílica
                        </th>
                        <th class="bold-tittle-table">
                            Curva distal
                        </th>
                        <th class="bold-tittle-table">
                            Orificios laterales
                        </th>
                        <th class="bold-tittle-table">
                            Referencia ítem
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p>4 Fr / 1.40 mm</p>
                        </td>
                        <td>
                            <p>65 cm</p>
                        </td>
                        <td>
                            <p>15 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20cobra-small.jpg">
                                Cobra Small
                            </a></td>
                        <td>0</td>
                        <td>RF-ZB4410GM</td>
                    </tr>
                    <tr>
                        <td>
                            <p>4 Fr / 1.40 mm</p>
                        </td>
                        <td>
                            <p>80 cm</p>
                        </td>
                        <td>
                            <p>15 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20cobra-small.jpg">
                                Cobra Small
                            </a></td>
                        <td>0</td>
                        <td>RF-ZB44108M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>5 Fr / 1.70 mm</p>
                        </td>
                        <td>
                            <p>65 cm</p>
                        </td>
                        <td>
                            <p>25 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20cobra-small.jpg">
                                Cobra Small
                            </a></td>
                        <td>0</td>
                        <td>RF-XB4510GM</td>
                    </tr>
                    <tr>
                        <td>
                            <p>5 Fr / 1.70 mm</p>
                        </td>
                        <td>
                            <p>80 cm</p>
                        </td>
                        <td>
                            <p>40 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20cobra-small.jpg">
                                Cobra Small
                            </a></td>
                        <td>0</td>
                        <td>RF-XB45108M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>5 Fr / 1.70 mm</p>
                        </td>
                        <td>
                            <p>80 cm</p>
                        </td>
                        <td>
                            <p>40 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20cobra-small.jpg">
                                Cobra Small
                            </a></td>
                        <td>2</td>
                        <td>RF-XB15108M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>4 Fr / 1.40 mm</p>
                        </td>
                        <td>
                            <p>65 cm</p>
                        </td>
                        <td>
                            <p>15 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20cobra-middle.jpg">
                                Cobra Middle
                            </a></td>
                        <td>0</td>
                        <td>RF-ZB5410GM</td>
                    </tr>
                    <tr>
                        <td>
                            <p>4 Fr / 1.40 mm</p>
                        </td>
                        <td>
                            <p>80 cm</p>
                        </td>
                        <td>
                            <p>15 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20cobra-middle.jpg">
                                Cobra Middle
                            </a></td>
                        <td>0</td>
                        <td>RF-ZB54108M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>4 Fr / 1.40 mm</p>
                        </td>
                        <td>
                            <p>100 cm</p>
                        </td>
                        <td>
                            <p>15 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20cobra-middle.jpg">
                                Cobra Middle
                            </a></td>
                        <td>0</td>
                        <td>RF-ZB54110M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>5 Fr / 1.70 mm</p>
                        </td>
                        <td>
                            <p>65 cm</p>
                        </td>
                        <td>
                            <p>25 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20cobra-middle.jpg">
                                Cobra Middle
                            </a></td>
                        <td>0</td>
                        <td>RF-XB5510GM</td>
                    </tr>
                    <tr>
                        <td>
                            <p>5 Fr / 1.70 mm</p>
                        </td>
                        <td>
                            <p>80 cm</p>
                        </td>
                        <td>
                            <p>40 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20cobra-middle.jpg">
                                Cobra Middle
                            </a></td>
                        <td>0</td>
                        <td>RF-XB55108M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>5 Fr / 1.70 mm</p>
                        </td>
                        <td>
                            <p>100 cm</p>
                        </td>
                        <td>
                            <p>40 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20cobra-middle.jpg">
                                Cobra Middle
                            </a></td>
                        <td>0</td>
                        <td>RF-XB55110M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>4 Fr / 1.40 mm</p>
                        </td>
                        <td>
                            <p>65 cm</p>
                        </td>
                        <td>
                            <p>15 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20cobra-large.jpg">
                                Cobra Large
                            </a></td>
                        <td>0</td>
                        <td>RF-ZB6410GM</td>
                    </tr>
                    <tr>
                        <td>
                            <p>4 Fr / 1.40 mm</p>
                        </td>
                        <td>
                            <p>80 cm</p>
                        </td>
                        <td>
                            <p>15 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20cobra-large.jpg">
                                Cobra Large
                            </a></td>
                        <td>0</td>
                        <td>RF-ZB64108M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>5 Fr / 1.70 mm</p>
                        </td>
                        <td>
                            <p>65 cm</p>
                        </td>
                        <td>
                            <p>25 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20cobra-large.jpg">
                                Cobra Large
                            </a></td>
                        <td>0</td>
                        <td>RF-XB6510GM</td>
                    </tr>
                    <tr>
                        <td>
                            <p>5 Fr / 1.70 mm</p>
                        </td>
                        <td>
                            <p>80 cm</p>
                        </td>
                        <td>
                            <p>40 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20cobra-large.jpg">
                                Cobra Large
                            </a></td>
                        <td>0</td>
                        <td>RF-XB65108M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>4 Fr / 1.40 mm</p>
                        </td>
                        <td>
                            <p>65 cm</p>
                        </td>
                        <td>
                            <p>15 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20j-curve-large.jpg">
                                J curve Large
                            </a></td>
                        <td>0</td>
                        <td>RF-ZD4410GM</td>
                    </tr>
                    <tr>
                        <td>
                            <p>5 Fr / 1.70 mm</p>
                        </td>
                        <td>
                            <p>65 cm</p>
                        </td>
                        <td>
                            <p>25 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20j-curve-large.jpg">
                                J curve Large
                            </a></td>
                        <td>0</td>
                        <td>RF-XD4510GM</td>
                    </tr>
                    <tr>
                        <td>
                            <p>5 Fr / 1.70 mm</p>
                        </td>
                        <td>
                            <p>70 cm</p>
                        </td>
                        <td>
                            <p>25 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20yashiro-3.jpg">
                                Yashiro
                            </a></td>
                        <td>0</td>
                        <td>RF*XG95107M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>4 Fr / 1.40 mm</p>
                        </td>
                        <td>
                            <p>65 cm</p>
                        </td>
                        <td>
                            <p>15 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20straight-non-tapered.jpg">
                                Straight
                            </a></td>
                        <td>0</td>
                        <td>RF-ZM7410GM</td>
                    </tr>
                    <tr>
                        <td>
                            <p>4 Fr / 1.40 mm</p>
                        </td>
                        <td>
                            <p>80 cm</p>
                        </td>
                        <td>
                            <p>15 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20straight-non-tapered.jpg">
                                Straight
                            </a></td>
                        <td>0</td>
                        <td>RF-ZM74108M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>4 Fr / 1.40 mm</p>
                        </td>
                        <td>
                            <p>100 cm</p>
                        </td>
                        <td>
                            <p>15 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20straight-non-tapered.jpg">
                                Straight
                            </a></td>
                        <td>0</td>
                        <td>RF-ZM74110M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>4 Fr / 1.40 mm</p>
                        </td>
                        <td>
                            <p>110 cm</p>
                        </td>
                        <td>
                            <p>15 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20straight-non-tapered.jpg">
                                Straight
                            </a></td>
                        <td>0</td>
                        <td>RF*ZM74111M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>4 Fr / 1.40 mm</p>
                        </td>
                        <td>
                            <p>120 cm</p>
                        </td>
                        <td>
                            <p>15 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20straight-non-tapered.jpg">
                                Straight
                            </a></td>
                        <td>0</td>
                        <td>RF*ZM74112M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>4 Fr / 1.40 mm</p>
                        </td>
                        <td>
                            <p>150 cm</p>
                        </td>
                        <td>
                            <p>40 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20straight-non-tapered.jpg">
                                Straight
                            </a></td>
                        <td>0</td>
                        <td>RF*ZM74115JM</td>
                    </tr>
                    <tr>
                        <td>
                            <p>5 Fr / 1.70 mm</p>
                        </td>
                        <td>
                            <p>40 cm</p>
                        </td>
                        <td>
                            <p>25 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20straight-non-tapered.jpg">
                                Straight
                            </a></td>
                        <td>0</td>
                        <td>RF-XM75104M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>5 Fr / 1.70 mm</p>
                        </td>
                        <td>
                            <p>110 cm</p>
                        </td>
                        <td>
                            <p>40 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20straight-non-tapered.jpg">
                                Straight
                            </a></td>
                        <td>0</td>
                        <td>RF*XM75111M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>5 Fr / 1.70 mm</p>
                        </td>
                        <td>
                            <p>65 cm</p>
                        </td>
                        <td>
                            <p>25 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20straight-non-tapered.jpg">
                                Straight tapered
                            </a></td>
                        <td>0</td>
                        <td>RF*XI7510GM</td>
                    </tr>
                    <tr>
                        <td>
                            <p>5 Fr / 1.70 mm</p>
                        </td>
                        <td>
                            <p>80 cm</p>
                        </td>
                        <td>
                            <p>40 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20straight-non-tapered.jpg">
                                Straight tapered
                            </a></td>
                        <td>0</td>
                        <td>RF*XI75108M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>5 Fr / 1.70 mm</p>
                        </td>
                        <td>
                            <p>100 cm</p>
                        </td>
                        <td>
                            <p>40 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20straight-non-tapered.jpg">
                                Straight tapered
                            </a></td>
                        <td>0</td>
                        <td>RF*XI75110M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>4 Fr / 1.40 mm</p>
                        </td>
                        <td>
                            <p>65 cm</p>
                        </td>
                        <td>
                            <p>15 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20angled-non-tapered.jpg">
                                Non-tapered angled
                            </a></td>
                        <td>0</td>
                        <td>RF-ZV9410GM</td>
                    </tr>
                    <tr>
                        <td>
                            <p>4 Fr / 1.40 mm</p>
                        </td>
                        <td>
                            <p>100 cm</p>
                        </td>
                        <td>
                            <p>15 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20angled-non-tapered.jpg">
                                Non-tapered angled
                            </a></td>
                        <td>0</td>
                        <td>RF-ZV94110M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>4 Fr / 1.40 mm</p>
                        </td>
                        <td>
                            <p>110 cm</p>
                        </td>
                        <td>
                            <p>15 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20angled-non-tapered.jpg">
                                Non-tapered angled
                            </a></td>
                        <td>0</td>
                        <td>RF*ZV94111M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>4 Fr / 1.40 mm</p>
                        </td>
                        <td>
                            <p>150 cm</p>
                        </td>
                        <td>
                            <p>40 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20angled-non-tapered.jpg">
                                Non-tapered angled
                            </a></td>
                        <td>0</td>
                        <td>RF*ZV94115JM</td>
                    </tr>
                    <tr>
                        <td>
                            <p>5 Fr / 1.70 mm</p>
                        </td>
                        <td>
                            <p>110 cm</p>
                        </td>
                        <td>
                            <p>40 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20angled-non-tapered.jpg">
                                Non-tapered angled
                            </a></td>
                        <td>0</td>
                        <td>RF*XV95111M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>5 Fr / 1.70 mm</p>
                        </td>
                        <td>
                            <p>65 cm</p>
                        </td>
                        <td>
                            <p>25 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20angled-non-tapered.jpg">
                                Non-tapered angled type T90
                            </a></td>
                        <td>0</td>
                        <td>RF-XVZ510GM</td>
                    </tr>
                    <tr>
                        <td>
                            <p>5 Fr / 1.70 mm</p>
                        </td>
                        <td>
                            <p>65 cm</p>
                        </td>
                        <td>
                            <p>25 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20angled-non-tapered.jpg">
                                Angled tapered
                            </a></td>
                        <td>0</td>
                        <td>RF*XL9510GM</td>
                    </tr>
                    <tr>
                        <td>
                            <p>5 Fr / 1.70 mm</p>
                        </td>
                        <td>
                            <p>100 cm</p>
                        </td>
                        <td>
                            <p>40 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20angled-non-tapered.jpg">
                                Angled tapered
                            </a></td>
                        <td>0</td>
                        <td>RF*XL95110M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>4 Fr / 1.40 mm</p>
                        </td>
                        <td>
                            <p>100 cm</p>
                        </td>
                        <td>
                            <p>15 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20multipurpose.jpg">
                                Multipurpose
                            </a></td>
                        <td>0</td>
                        <td>RF-ZW34110M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>5 Fr / 1.70 mm</p>
                        </td>
                        <td>
                            <p>100 cm</p>
                        </td>
                        <td>
                            <p>40 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20multipurpose.jpg">
                                Multipurpose
                            </a></td>
                        <td>0</td>
                        <td>RF-XW35110M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>4 Fr / 1.40 mm</p>
                        </td>
                        <td>
                            <p>80 cm</p>
                        </td>
                        <td>
                            <p>15 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20coe-2.jpg">
                                COE 2
                            </a></td>
                        <td>5</td>
                        <td>RF-ZWD4108M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>5 Fr / 1.70 mm</p>
                        </td>
                        <td>
                            <p>100 cm</p>
                        </td>
                        <td>
                            <p>40 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20internal-mammary.jpg">
                                Internal Mammary short tip
                            </a></td>
                        <td>0</td>
                        <td>
                            <p>RF-XIR5110M</p>
                        </td>
                    </tr>
                    <tr>
                        <td>​5 Fr / 1.70 mm
                        </td>
                        <td>​65 cm</td>
                        <td>​25 cm</td>
                        <td>​<a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20internal-mammary.jpg">Internal
                                Mammary short tip</a></td>
                        <td>​0</td>
                        <td>​RF-XIR510GM</td>
                    </tr>
                    <tr>
                        <td>​​5 Fr / 1.70 mm
                        </td>
                        <td>​80 cm</td>
                        <td>​40 cm</td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/COE1_001.jpg">​COE
                                1</a></td>
                        <td>​6</td>
                        <td>​RF-XWC5108M</td>
                    </tr>
                    <tr>
                        <td>​4 Fr / 1.40 mm
                        </td>
                        <td>​80 cm</td>
                        <td>​15 cm</td>
                        <td>​<a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20cobra-large.jpg">Cobra
                                Large</a></td>
                        <td>​2</td>
                        <td>​RF-ZB34108M</td>
                    </tr>
                    <tr>
                        <td>​​4 Fr / 1.40 mm
                        </td>
                        <td>​100 cm</td>
                        <td>​15cm</td>
                        <td>​<a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20cobra-middle.jpg">Cobra
                                Middle</a></td>
                        <td>​2</td>
                        <td>​RF-ZBV4110M</td>
                    </tr>
                    <tr>
                        <td>​​4 Fr / 1.40 mm
                        </td>
                        <td>​80 cm</td>
                        <td>​15 cm</td>
                        <td>​<a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/ZDJ-J%20curve%20long-7%20cm_001.jpg">J
                                curve long tip - 7 cm</a></td>
                        <td>​4</td>
                        <td>​RF-ZDJ4108M</td>
                    </tr>
                    <tr>
                        <td>​​4 Fr / 1.40 mm
                        </td>
                        <td>​65 cm</td>
                        <td>​15 cm</td>
                        <td>​<a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20angled-non-tapered.jpg">Non-tapered
                                angled</a></td>
                        <td>​2</td>
                        <td>​RF-ZV1410GM</td>
                    </tr>
                    <tr>
                        <td>​​4 Fr / 1.40 mm
                        </td>
                        <td>​100 cm</td>
                        <td>​15 cm</td>
                        <td>​<a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20angled-non-tapered.jpg">Non-tapered
                                angled</a></td>
                        <td>​2</td>
                        <td>​RF-ZV14110M</td>
                    </tr>
                    <tr>
                        <td>​​4 Fr / 1.40 mm
                        </td>
                        <td>​80 cm</td>
                        <td>​15 cm</td>
                        <td>​<a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/COE1_001.jpg">COE
                                1</a></td>
                        <td>​6</td>
                        <td>RF-ZWC4108M</td>
                    </tr>
                </tbody>
            </table>
            <p>
                Curva cerebral
            </p>
            <div class="divider"></div>
            <table width="100%" class="responsive-table highlight" cellspacing="0">
                <thead>
                    <tr>
                        <th class="bold-tittle-table">
                            Diámetro externo
                        </th>
                        <th class="bold-tittle-table">
                            Longitud
                        </th>
                        <th class="bold-tittle-table">
                            Longitud distal hidrofílica
                        </th>
                        <th class="bold-tittle-table">
                            Curva distal
                        </th>
                        <th class="bold-tittle-table">
                            Orificios laterales
                        </th>
                        <th class="bold-tittle-table">
                            Referencia ítem
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p>4 Fr / 1.40 mm</p>
                        </td>
                        <td>
                            <p>100 cm</p>
                        </td>
                        <td>
                            <p>15 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20simmons-sidewinder-1.jpg">
                                Simmons / Sidewinder 1
                            </a></td>
                        <td>0</td>
                        <td>RF-WA14110M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>5 Fr / 1.70 mm</p>
                        </td>
                        <td>
                            <p>100 cm</p>
                        </td>
                        <td>
                            <p>40 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20simmons-sidewinder-1.jpg">
                                Simmons / Sidewinder 1
                            </a></td>
                        <td>0</td>
                        <td>RF-YA15110M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>4 Fr / 1.40 mm</p>
                        </td>
                        <td>
                            <p>100 cm</p>
                        </td>
                        <td>
                            <p>15 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20simmons-sidewinder-2.jpg">
                                Simmons / Sidewinder 2
                            </a></td>
                        <td>0</td>
                        <td>RF-WA24110M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>5 Fr / 1.70 mm</p>
                        </td>
                        <td>
                            <p>100 cm</p>
                        </td>
                        <td>
                            <p>40 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20simmons-sidewinder-2.jpg">
                                Simmons / Sidewinder 2
                            </a></td>
                        <td>0</td>
                        <td>RF-YA25110M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>5 Fr / 1.70 mm</p>
                        </td>
                        <td>
                            <p>100 cm</p>
                        </td>
                        <td>
                            <p>40 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20simmons-sidewinder-3.jpg">
                                Simmons / Sidewinder 3
                            </a></td>
                        <td>0</td>
                        <td>RF-YA35110M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>4 Fr / 1.40 mm</p>
                        </td>
                        <td>
                            <p>100 cm</p>
                        </td>
                        <td>
                            <p>15 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20headhunter-1.jpg">
                                Hinck Headhunter 1
                            </a></td>
                        <td>0</td>
                        <td>RF-WB14110M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>5 Fr / 1.70 mm</p>
                        </td>
                        <td>
                            <p>100 cm</p>
                        </td>
                        <td>
                            <p>40 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20headhunter-1.jpg">
                                Hinck Headhunter 1
                            </a></td>
                        <td>0</td>
                        <td>RF-YB15110M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>4 Fr / 1.40 mm</p>
                        </td>
                        <td>
                            <p>100 cm</p>
                        </td>
                        <td>
                            <p>15 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20bentson-hanafee-1.jpg">
                                Bentson-Hanafee-Wilson 1
                            </a></td>
                        <td>0</td>
                        <td>RF-WE14110M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>5 Fr / 1.70 mm</p>
                        </td>
                        <td>
                            <p>100 cm</p>
                        </td>
                        <td>
                            <p>40 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20bentson-hanafee-1.jpg">
                                Bentson-Hanafee-Wilson 1
                            </a></td>
                        <td>0</td>
                        <td>RF-YE15110M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>4 Fr / 1.40 mm</p>
                        </td>
                        <td>
                            <p>100 cm</p>
                        </td>
                        <td>
                            <p>15 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20bentson-hanafee-2.jpg">
                                Bentson-Hanafee-Wilson 2
                            </a></td>
                        <td>0</td>
                        <td>RF-WE24110M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>5 Fr / 1.70 mm</p>
                        </td>
                        <td>
                            <p>100 cm</p>
                        </td>
                        <td>
                            <p>40 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20bentson-hanafee-2.jpg">
                                Bentson-Hanafee-Wilson 2
                            </a></td>
                        <td>0</td>
                        <td>RF-YE25110M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>4 Fr / 1.40 mm</p>
                        </td>
                        <td>
                            <p>110 cm</p>
                        </td>
                        <td>
                            <p>15 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20bentson-hanafee-2.jpg">
                                Bentson-Hanafee-Wilson modified
                            </a></td>
                        <td>0</td>
                        <td>RF*WEA4111M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>4 Fr / 1.40 mm</p>
                        </td>
                        <td>
                            <p>100 cm</p>
                        </td>
                        <td>
                            <p>15 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20mani-4-fr.jpg">
                                MANI
                            </a></td>
                        <td>0</td>
                        <td>RF-WG14110M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>4 Fr / 1.40 mm</p>
                        </td>
                        <td>
                            <p>100 cm</p>
                        </td>
                        <td>
                            <p>15 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20vertebral.jpg">
                                Vertebral
                            </a></td>
                        <td>0</td>
                        <td>RF-WH14110M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>4 Fr / 1.40 mm</p>
                        </td>
                        <td>
                            <p>120 cm</p>
                        </td>
                        <td>
                            <p>15 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20vertebral.jpg">
                                Vertebral
                            </a></td>
                        <td>0</td>
                        <td>RF*WH14112M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>5 Fr / 1.70 mm</p>
                        </td>
                        <td>
                            <p>100 cm</p>
                        </td>
                        <td>
                            <p>40 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20vertebral.jpg">
                                Vertebral
                            </a></td>
                        <td>0</td>
                        <td>RF-YH15110M</td>
                    </tr>
                    <tr>
                        <td>
                            <p>5 Fr / 1.70 mm</p>
                        </td>
                        <td>
                            <p>110 cm</p>
                        </td>
                        <td>
                            <p>40 cm</p>
                        </td>
                        <td><a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20vertebral.jpg">
                                Vertebral
                            </a></td>
                        <td>0</td>
                        <td>RF*YH15111M</td>
                    </tr>
                    <tr>
                        <td>​4 Fr / 1.40 mm
                        </td>
                        <td>​70 cm</td>
                        <td>15 cm​</td>
                        <td>​<a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20simmons-sidewinder-1.jpg">
                                Simmons / Sidewinder 1
                            </a></td>
                        <td>​0</td>
                        <td>​RF-WA14107M</td>
                    </tr>
                    <tr>
                        <td>​4 Fr / 1.40 mm
                        </td>
                        <td>​100 cm</td>
                        <td>​15 cm</td>
                        <td>​<a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20simmons-sidewinder-3.jpg">
                                Simmons / Sidewinder 3
                            </a></td>
                        <td>​0</td>
                        <td>​RF-WA34110M</td>
                    </tr>
                    <tr>
                        <td>​4 Fr / 1.40 mm
                        </td>
                        <td>​80 cm</td>
                        <td>​15 cm</td>
                        <td>​<a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20vertebral.jpg">
                                Vertebral
                            </a></td>
                        <td>​0</td>
                        <td>​RF-WH14108M</td>
                    </tr>
                    <tr>
                        <td>​5 Fr / 1.70 mm
                        </td>
                        <td>​80 cm</td>
                        <td>​40 cm</td>
                        <td>​<a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20simmons-sidewinder-1.jpg">
                                Simmons / Sidewinder 1
                            </a></td>
                        <td>​0</td>
                        <td>​RF-YA15108M</td>
                    </tr>
                    <tr>
                        <td>​5 Fr / 1.70 mm
                        </td>
                        <td>​100 cm</td>
                        <td>​40 cm</td>
                        <td>​<a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20simmons-sidewinder-2.jpg">
                                Simmons / Sidewinder 2
                            </a></td>
                        <td>​0</td>
                        <td>​RF-YA25110M</td>
                    </tr>
                    <tr>
                        <td>​5 Fr / 1.70 mm
                        </td>
                        <td>​100 cm</td>
                        <td>​40 cm</td>
                        <td>​<a target="_blank"
                                href="https://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Glidecath%20mani-4-fr.jpg">
                                MANI
                            </a></td>
                        <td>​0</td>
                        <td>​RF-WG15110M</td>
                    </tr>
                </tbody>
            </table>
            <h6 class="center-align">
                Por favor copie el código de referencia cuando realice un pedido.
            </h6>
        </section>
        <section>
            <h3>
                Ver también
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <dd>
                <ul>
                    <li>
                        <a href="">
                            Radifocus<sup>&reg;</sup> Catéter angiográfico
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Radifocus<sup>&reg;</sup> Optitorque<sup>&reg;</sup> - Catéter angiográfico
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Outlook<sup>&trade;</sup> - Catéter angiográfico
                        </a>
                    </li>
                </ul>
            </dd>
        </section>
    </div>
</section>