<app-banner-cardiologia-interv [titulo]="titulo" [imagen]="imagen"></app-banner-cardiologia-interv>
<section>
    <div class="container">
        <section>
            <h4>
                Una solución rápida y simple para aspiración eficaz del trombo
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <p>
                Eliminate<sup>&trade;</sup> es un catéter de aspiración innovador diseñado para ofrecer un balance entre
                el desempeño de cruce, resistencia al acodamiento y capacidad de aspiración de trombos.
            </p>
        </section>
        <section>
            <h4>
                Características
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <h5 class="blac-text">
                Dedicado diseño de punta con marcador radiopaco
            </h5>
            <ul>
                <li>
                    Excelente cruzabilidad<sup>1</sup> mientras brinda aspiración atraumática y efectiva
                </li>
                <li>
                    Garantiza visibilidad fluoroscópica confiable
                </li>
            </ul>
            <h5 class="blac-text">
                Cuerpo enmallado con recubrimiento hidrofílico y estilete precargado<sup>2</sup>
            </h5>
            <ul>
                <li>
                    Excelente capacidad de empuje y resistencia al acodamiento<sup>1</sup>
                </li>
                <li>
                    Navegación fácil a través de anatomías tortuosas
                </li>
            </ul>
            <h5 class="blac-text">
                Lumen de gran aspiración
            </h5>
            <ul>
                <li>
                    Aspiración constante, de alto rendimiento durante todo el procedimiento
                </li>
                <li>
                    Tres tamaños de elección (compatibilidad de catéter guía de 6 Fr, 7 Fr y 8 Fr)
                </li>
            </ul>
            <div class="row">
                <div class="col s12 m4 center-content">
                    <img src="assets/img/solutions/intervencionismo/eliminate_technical-1.png"
                        alt="Especificaciones técnicas" class="responsive-img">
                </div>
                <div class="col s12 m4 center-content">
                    <img src="assets/img/solutions/intervencionismo/eliminate_technical-2.png"
                        alt="Especificaciones técnicas" class="responsive-img">
                </div>
                <div class="col s12 m4 center-content">
                    <img src="assets/img/solutions/intervencionismo/eliminate_technical-3.png"
                        alt="Especificaciones técnicas" class="responsive-img">
                </div>
            </div>
            <div class="eliminate-img"></div>
            <div class="hide-on-med-and-up">
                <ol>
                    <li>
                        90 cm
                    </li>
                    <li>
                        10 cm
                    </li>
                    <li>
                        Recubrimiento hidrofílico 40 cm
                    </li>
                    <li>
                        Marcador radiopaco
                    </li>
                    <li>
                        Estilete
                    </li>
                </ol>
            </div>
        </section>
        <section>
            <h4>
                Especificaciones generales
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <table class="responsive-table highlight">
                <tbody>
                    <tr>
                        <td class="bold-tittle-table">
                            Longitud utilizable
                        </td>
                        <td>
                            140 cm
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-tittle-table">
                            Longitud orificio punta distal
                        </td>
                        <td>
                            4 mm para 6 y 7 Fr, 7 mm para 8 Fr.
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-tittle-table">
                            Segmento de rápido intercambio
                        </td>
                        <td>
                            23 cm
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-tittle-table">
                            Marcador radiopaco
                        </td>
                        <td>
                            1 mm localizado a 4 mm de la punta
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-tittle-table">
                            Marcador de posicionamiento
                        </td>
                        <td>
                            10 cm, marcador único localizado a 90 cm de la punta
                            distal.
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-tittle-table">
                            Compatibilidad de guía
                        </td>
                        <td>
                            Máximo diámetro 0.014” (0.036 mm)
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-tittle-table">
                            Recubrimiento
                        </td>
                        <td>
                            Hidrofílico.
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section style="margin-top: 5%;">
            <table class="responsive-img highlight">
                <thead>
                    <tr>
                        <th colspan="2" class="bold-tittle-table">
                            Compatibilidad de catéter guía
                        </th>
                        <th class="bold-tittle-table">
                            Compatibilidad de introductor guía
                        </th>
                        <th class="bold-tittle-table">
                            Referencia ítem
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            6 Fr
                        </td>
                        <td>
                            I.D. ≥ 0.070" / 1.78 mm
                        </td>
                        <td>
                            —
                        </td>
                        <td>
                            EG1602
                        </td>
                    </tr>
                    <tr>
                        <td>
                            7 Fr
                        </td>
                        <td>
                            I.D. ≥ 0.080" / 2.03 mm
                        </td>
                        <td>
                            —
                        </td>
                        <td>
                            EG1652
                        </td>
                    </tr>
                    <tr>
                        <td>
                            8 Fr
                        </td>
                        <td>
                            I.D. ≥ 0.086" / 2.18 mm
                        </td>
                        <td>
                            6 Fr
                        </td>
                        <td>
                            EG1401
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="center-align">
                <h6>
                    Por favor copie el código de referencia cuando realice un pedido.
                </h6>
            </div>
            <h5 class="black-text">
                Referencias
            </h5>
            <dd>
                <ol>
                    <li>
                        Onuma et al.; Eur Heart J. 2013 Apr;34(14):1050-60. doi: 10.1093/eurheartj/ehs456. Epub 2013 Feb
                        8.
                    </li>
                    <li>
                        Only the 6 Fr and 7 Fr options are pre-loaded.
                    </li>
                </ol>
            </dd>
        </section>
    </div>
</section>