<app-banner-infusion [imagen]="imagen" [titulo]="titulo"></app-banner-infusion>
<app-descripcion [descripcion]="descripcion"></app-descripcion>
<section class="container">
    <h5>
        <b>
            Especificaciones
        </b>
    </h5>
    <div class="progress">
        <div class="determinate" style="width: 20%"></div>
    </div>
    <table width="100%" class="responsive-table highlight" cellspacing="0">
        <thead>
            <tr>
                <th class="bold-tittle-table" rowspan="2" colspan="1">Reference​</th>
                <th class="bold-tittle-table" rowspan="2" colspan="1">Código de color​<br></th>
                <th class="bold-tittle-table" rowspan="1" colspan="2">Diámetro</th>
                <th class="bold-tittle-table" rowspan="1" colspan="2">Longitud</th>
                <th class="bold-tittle-table" rowspan="2" colspan="1">Grosor de<br>la pared ​</th>
                <th class="bold-tittle-table" rowspan="2" colspan="1">Vida útil <br class="hide-on-med-and-up">(años) ​
                </th>
                <th class="bold-tittle-table" rowspan="2" colspan="1">Esterilización ​</th>
            </tr>
            <tr class="responsive-row">
                <td class="bold-tittle-table" rowspan="1">
                    <b>G​</b></td>
                <td class="bold-tittle-table" rowspan="1">
                    <b>​mm</b></td>
                <td class="bold-tittle-table" rowspan="1">
                    <b>Pulgadas</b></td>
                <td class="bold-tittle-table" rowspan="1">
                    <b>mm</b></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>SG2+1825MP</td>
                <td>Pink</td>
                <td>18<br></td>
                <td>1.2</td>
                <td>1</td>
                <td>25</td>
                <td>Thin</td>
                <td>5</td>
                <td>Irradiation</td>
            </tr>
            <tr>
                <td>SG2+1838MP</td>
                <td>Pink</td>
                <td>18</td>
                <td>1.2</td>
                <td>1½</td>
                <td>38</td>
                <td>Thin</td>
                <td>5</td>
                <td>Irradiation</td>
            </tr>
            <tr>
                <td>SG2+1925MP</td>
                <td>Ivory</td>
                <td>19</td>
                <td>1.1</td>
                <td>1</td>
                <td>25</td>
                <td>Thin</td>
                <td>5</td>
                <td>Irradiation</td>
            </tr>
            <tr>
                <td>SG2+1938MP</td>
                <td>Ivory</td>
                <td>19</td>
                <td>1.1</td>
                <td>1½</td>
                <td>38</td>
                <td>Thin</td>
                <td>5</td>
                <td>Irradiation</td>
            </tr>
            <tr>
                <td>SG2+2025MP</td>
                <td>Yellow</td>
                <td>20</td>
                <td>0.9</td>
                <td>1</td>
                <td>25</td>
                <td>Terumo-Thin</td>
                <td>5</td>
                <td>Irradiation</td>
            </tr>
            <tr>
                <td>SG2+2038MP</td>
                <td>Yellow</td>
                <td>20</td>
                <td>0.9</td>
                <td>1½</td>
                <td>38</td>
                <td>Terumo-Thin</td>
                <td>5</td>
                <td>Irradiation</td>
            </tr>
            <tr>
                <td>SG2+2125MP</td>
                <td>Green</td>
                <td>21</td>
                <td>0.8</td>
                <td>1</td>
                <td>25</td>
                <td>Terumo-Thin</td>
                <td>5</td>
                <td>Irradiation</td>
            </tr>
            <tr>
                <td>SG2+2138MP</td>
                <td>Green</td>
                <td>21</td>
                <td>0.8</td>
                <td>1½</td>
                <td>38</td>
                <td>Terumo-Thin</td>
                <td>5</td>
                <td>Irradiation</td>
            </tr>
            <tr>
                <td>SG2+2225MP</td>
                <td>Black</td>
                <td>22</td>
                <td>0.7</td>
                <td>1</td>
                <td>25</td>
                <td>Terumo-Thin</td>
                <td>5</td>
                <td>Irradiation</td>
            </tr>
            <tr>
                <td>SG2+2238MP</td>
                <td>Black</td>
                <td>22</td>
                <td>0.7</td>
                <td>1½</td>
                <td>38</td>
                <td>Terumo-Thin</td>
                <td>5</td>
                <td>Irradiation</td>
            </tr>
            <tr>
                <td>SG2+2325MP</td>
                <td>Blue</td>
                <td>23</td>
                <td>0.60</td>
                <td>1</td>
                <td>25</td>
                <td>Terumo-Thin</td>
                <td>5</td>
                <td>Irradiation</td>
            </tr>
            <tr>
                <td>SG2+2338MP</td>
                <td>Blue</td>
                <td>23</td>
                <td>0.60</td>
                <td>1½</td>
                <td>38</td>
                <td>Terumo-Thin</td>
                <td>5</td>
                <td>Irradiation</td>
            </tr>
            <tr>
                <td>SG2+2516MP</td>
                <td>Orange</td>
                <td>25</td>
                <td>0.5</td>
                <td>5/8</td>
                <td>16</td>
                <td>Terumo-Thin</td>
                <td>5</td>
                <td>Irradiation</td>
            </tr>
            <tr>
                <td>SG2+2525MP</td>
                <td>Orange</td>
                <td>25</td>
                <td>0.5</td>
                <td>1</td>
                <td>25</td>
                <td>Terumo-Thin</td>
                <td>5</td>
                <td>Irradiation</td>
            </tr>
            <tr>
                <td>SG2+2538MP</td>
                <td>Orange</td>
                <td>25</td>
                <td>0.5</td>
                <td>1½</td>
                <td>38</td>
                <td>Regular</td>
                <td>5</td>
                <td>Irradiation</td>
            </tr>
            <tr>
                <td>SG2+2609MP</td>
                <td>Brown</td>
                <td>26</td>
                <td>0.45</td>
                <td>3/8</td>
                <td>9</td>
                <td>Regular</td>
                <td>5</td>
                <td>Irradiation</td>
            </tr>
            <tr>
                <td>SG2+2613MP</td>
                <td>Brown</td>
                <td>26</td>
                <td>0.45</td>
                <td>½</td>
                <td>13</td>
                <td>Regular</td>
                <td>5</td>
                <td>Irradiation</td>
            </tr>
            <tr>
                <td>SG2+2713MP</td>
                <td>Grey</td>
                <td>27</td>
                <td>0.4</td>
                <td>½</td>
                <td>13</td>
                <td>Regular</td>
                <td>5</td>
                <td>Irradiation</td>
            </tr>
            <tr>
                <td>SG2+3013MP</td>
                <td>Yellow</td>
                <td>30</td>
                <td>0.3</td>
                <td>½</td>
                <td>13</td>
                <td>Regular</td>
                <td>5</td>
                <td>Irradiation</td>
            </tr>
        </tbody>
    </table>
    <p>
        Códigos a la venta para la industria farmacéutica
    </p>
    <table width="100%" class="responsive-table highlight" cellspacing="0">
        <thead>
            <tr>
                <th class="bold-tittle-table" rowspan="2" colspan="1">Reference​</th>
                <th class="bold-tittle-table" rowspan="2" colspan="1">Código de color​<br></th>
                <th class="bold-tittle-table" rowspan="1" colspan="2">Diámetro</th>
                <th class="bold-tittle-table" rowspan="1" colspan="2">Longitud</th>
                <th class="bold-tittle-table" rowspan="2" colspan="1">Grosor de<br>la pared ​</th>
                <th class="bold-tittle-table" rowspan="2" colspan="1">Vida útil <br class="hide-on-med-and-up">(años) ​
                </th>
                <th class="bold-tittle-table" rowspan="2" colspan="1">Esterilización ​</th>
            </tr>
            <tr class="responsive-row">
                <td class="bold-tittle-table" rowspan="1">
                    <b>G​</b></td>
                <td class="bold-tittle-table" rowspan="1">
                    <b>​mm</b></td>
                <td class="bold-tittle-table" rowspan="1">
                    <b>Pulgadas</b></td>
                <td class="bold-tittle-table" rowspan="1">
                    <b>mm</b></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>SG2+1825</td>
                <td>Pink</td>
                <td>18</td>
                <td>1.2</td>
                <td>1</td>
                <td>25</td>
                <td>Thin</td>
                <td>5</td>
                <td>Irradiation</td>
            </tr>
            <tr>
                <td>SG2+1838</td>
                <td>Pink</td>
                <td>18</td>
                <td>1.2</td>
                <td>1½</td>
                <td>38</td>
                <td>Thin</td>
                <td>5</td>
                <td>
                    <span>Irradiation</span><br></td>
            </tr>
            <tr>
                <td>SG2+1925</td>
                <td>Ivory</td>
                <td>19</td>
                <td>1.1</td>
                <td>1</td>
                <td>25</td>
                <td>Thin</td>
                <td>5</td>
                <td>
                    <span>Irradiation</span><br></td>
            </tr>
            <tr>
                <td>SG2+1938</td>
                <td>Ivory</td>
                <td>19</td>
                <td>1.1</td>
                <td>1½</td>
                <td>38</td>
                <td>Thin</td>
                <td>5</td>
                <td>
                    <span>Irradiation</span></td>
            </tr>
            <tr>
                <td>SG2+2025</td>
                <td>Yellow</td>
                <td>20</td>
                <td>0.9</td>
                <td>1</td>
                <td>25</td>
                <td>Terumo-Thin</td>
                <td>5</td>
                <td>
                    <span>Irradiation</span></td>
            </tr>
            <tr>
                <td>SG2+2038</td>
                <td>Yellow</td>
                <td>20</td>
                <td>0.9</td>
                <td>1½</td>
                <td>38</td>
                <td>Terumo-Thin</td>
                <td>5</td>
                <td>
                    <span>Irradiation</span></td>
            </tr>
            <tr>
                <td>SG2+2125</td>
                <td>Green</td>
                <td>21</td>
                <td>0.8</td>
                <td>1</td>
                <td>25</td>
                <td>Terumo-Thin</td>
                <td>5</td>
                <td>
                    <span>Irradiation</span></td>
            </tr>
            <tr>
                <td>SG2+2138</td>
                <td>Green</td>
                <td>21</td>
                <td>0.8</td>
                <td>1½</td>
                <td>38</td>
                <td>Terumo-Thin</td>
                <td>5</td>
                <td>
                    <span>Irradiation</span></td>
            </tr>
            <tr>
                <td>SG2+2225</td>
                <td>Black</td>
                <td>22</td>
                <td>0.7</td>
                <td>1</td>
                <td>25</td>
                <td>Terumo-Thin</td>
                <td>5</td>
                <td>
                    <span>Irradiation</span></td>
            </tr>
            <tr>
                <td>SG2+2238</td>
                <td>Black</td>
                <td>22</td>
                <td>0.7</td>
                <td>1½</td>
                <td>38</td>
                <td>Terumo-Thin</td>
                <td>5</td>
                <td>
                    <span>Irradiation</span><br></td>
            </tr>
            <tr>
                <td>SG2+2325</td>
                <td>Blue</td>
                <td>23</td>
                <td>0.60</td>
                <td>1</td>
                <td>25</td>
                <td>Terumo-Thin</td>
                <td>5</td>
                <td>
                    <span>Irradiation</span></td>
            </tr>
            <tr>
                <td>SG2+2338</td>
                <td>Blue</td>
                <td>23</td>
                <td>0.60</td>
                <td>1½</td>
                <td>38</td>
                <td>Terumo-Thin</td>
                <td>5</td>
                <td>
                    <span>Irradiation</span></td>
            </tr>
            <tr>
                <td>SG2+2516</td>
                <td>Orange</td>
                <td>25</td>
                <td>0.5</td>
                <td>5/8</td>
                <td>16</td>
                <td>Terumo-Thin</td>
                <td>5</td>
                <td>
                    <span>Irradiation</span></td>
            </tr>
            <tr>
                <td>SG2+2525</td>
                <td>Orange</td>
                <td>25</td>
                <td>0.5</td>
                <td>1</td>
                <td>25</td>
                <td>Terumo-Thin</td>
                <td>5</td>
                <td>
                    <span>Irradiation</span></td>
            </tr>
            <tr>
                <td>SG2+2538</td>
                <td>Orange</td>
                <td>25</td>
                <td>0.5</td>
                <td>1½</td>
                <td>38</td>
                <td>Regular</td>
                <td>5</td>
                <td>
                    <span>Irradiation</span></td>
            </tr>
            <tr>
                <td>SG2+2609</td>
                <td>Brown</td>
                <td>26</td>
                <td>0.45</td>
                <td>3/8</td>
                <td>9</td>
                <td>Regular</td>
                <td>5</td>
                <td>
                    <span>Irradiation</span></td>
            </tr>
            <tr>
                <td>SG2+2613</td>
                <td>Brown</td>
                <td>26</td>
                <td>0.45</td>
                <td>½</td>
                <td>13</td>
                <td>Regular</td>
                <td>5</td>
                <td>
                    <span>Irradiation</span></td>
            </tr>
            <tr>
                <td>SG2+2713</td>
                <td>Grey</td>
                <td>27</td>
                <td>0.4</td>
                <td>½</td>
                <td>13</td>
                <td>Regular</td>
                <td>5</td>
                <td>
                    <span>Irradiation</span><br></td>
            </tr>
            <tr>
                <td>SG2+3013</td>
                <td>Yellow</td>
                <td>30</td>
                <td>0.3</td>
                <td>½</td>
                <td>13</td>
                <td>Regular</td>
                <td>5</td>
                <td>
                    <span>Irradiation</span></td>
            </tr>
        </tbody>
    </table>
</section>
<app-agujas-dent></app-agujas-dent>
<app-jeringas></app-jeringas>