<app-header></app-header>

<header>
    <div class="background-skyleft skyleft"></div>
    <section class="intro row">
        <div class="container">
            <div class="col m6 s12">
                <h3 class="white-text left">Somos parte de un gran equipo</h3>
            </div>
        </div>
    </section>
</header>

<div class="section">
    <div class="row container">
        <div class="col m6 s12 terumoOpenRe">
            <h5 class="terumoOpenSe terumo-text">Terumo Colombia Andina</h5>
            <p>Hace parte del Grupo Terumo Corporation, corporación japonesa fundada en 1.921, líder global en la manufactura y distribución de dispositivos médicos enfocados en especialidades cardiacas y vasculares, productos hospitalarios y cuidados para
                la salud.</p>
        </div>
        <div class="col m6 s12 ofinas terumoOpenSe">
            <div class="center valign-wrapper" style="height: 190px;">
                <h5 class="black-text">Con más de <strong class="terumoBold">20.000 asociados</strong> en <strong class="terumoBold">82 oficinas</strong> de ventas y <strong class="terumoBold ">24 plantas</strong> de producción alrededor del Mundo</h5>
            </div>
        </div>
        <div class="col s12 terumoOpenSe">
            <p class="center grey-text text-darken-3 lighten-3" style="margin-bottom: 0px">Provee dispositivos médicos y servicios para el beneficio de los pacientes en más de 160 países.</p>
        </div>
    </div>
</div>

<header>
    <div class="background-skyright skyright"></div>
    <section class="introRight row">
        <div class="container">
            <div class="col m6 s12 offset-m6">
                <h3 class="white-text right">Nuestra historia</h3>
            </div>
        </div>
    </section>
</header>
<div class="taparight"></div>

<div class="container">
    <div class="row vision">
        <div class="col m6 s12 historia ">
            <img class="responsive-img " src="assets/img/home-4.jpg ">
        </div>
        <div class="col m6 s12">
            <div class="col s12">
                <h5 class="black-text ">En Colombia, Terumo ha estado en el mercado desde hace más de
                    <strong class="terumoBold ">20 años</strong>, y desde el año <strong class="terumoBold ">2010</strong> tomó la decisión de tener presencia directa a través de
                    <strong class="terumoBold ">Terumo Colombia Andina.</strong></h5>
            </div>
            <div class="col s12 ">
                <h5><strong class="terumoBold ">Nuestra Visión</strong></h5>
                <p>es ser reconocidos como la mejor solución por innovación, calidad, educación y servicio.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 ">
            <div class="progress space-line">
                <div class="determinate terumo" style="width: 20%"></div>
            </div>
            <h5><strong class="terumoBold ">Terumo Colombia Andina</strong></h5>
            <p>Fue creada con el ánimo de proveer tecnología médica de calidad superior, para atender a nuestros clientes de una manera especializada en el mercado colombiano. Somos una organización joven en Colombia, pero somos parte de una gran Corporación
                con una larga historia de éxitos desde la producción del primer producto, el termómetro, en Japón en los años 20s, y ha mantenido un crecimiento sostenido que la ha convertido en uno de los más grandes productores de dispositivos médicos
                del mundo. Visite por favor nuestro sitio web corporativo para entender la historia completa de nuestra Corporación.</p>
        </div>

    </div>
</div>
<div class="col s12 line-2"></div>
<div class="section">
    <div class="container">
        <div class="row vision">
            <div class="col m6 s12">
                <img class="responsive-img" style="width: 100%;" src="assets/img/home-5.jpg">
            </div>
            <div class="col m6 s12 ">
                <h5><strong class="terumoBold ">Compartiendo nuestro origen</strong></h5>
                <p>
                    Tenemos presencia nacional de manera directa con nuestro
                    <strong class="terumoBold ">Grupo Comercial Especializado</strong>. Contamos igualmente con distribuidores a nivel nacional, ofreciendo una completa gama de productos con la calidad japonesa, principalmente orientados al mercado de
                    intervencionismo coronario, cirugía cardiovascular, línea hospitalaria y endoprótesis para el tratamiento de la arteria Aorta. <br /><br /> Tenemos grandes posibilidades en el mercado colombiano manteniendo la filosofía de nuestros
                    orígenes de entregar productos y servicios de calidad que contribuyen a la sociedad a través del cuidado de la salud.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="col s12 line-3 "></div>