<app-banner-cardiologia-interv [titulo]="titulo" [imagen]="imagen"></app-banner-cardiologia-interv>
<section>
    <div class="container">
        <section>
            <p>
                Destination<sup>&reg;</sup> introductor guía está diseñado para desempeñarse como catéter guía e
                introductor.
                <br /><br />
                Destination<sup>&reg;</sup> está diseñado para ser usado en la introducción de dispositivos de
                diagnóstico e intervención en la vasculatura humana, incluyendo pero no limitándose a las extremidades
                inferiores, arterias renales y arterias carótidas.
            </p>
            <h3>
                Características
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <h5 class="black-text">
                <b>
                    Permite una transición suave y fácil inserción
                </b>
            </h5>
            <dd>
                <ul>
                    <li>
                        Punta atraumática: minimiza el potencial de daño en el vaso.
                    </li>
                    <li>
                        Transiciones suaves: guía a dilatador – dilatador a introductor.
                    </li>
                    <li>
                        Brinda acceso a la lesión: capacidad de navegación excepcional, incluso en la anatomía más
                        compleja.
                    </li>
                </ul>
            </dd>
            <h5 class="black-text">
                <b>
                    Curvas y tamaños para enfrentar sus retos periféricos
                </b>
            </h5>
            <dd>
                <ul>
                    <li>
                        Mantiene la forma y la posición: durabilidad sobresaliente, incluso en los procedimientos más
                        largos.
                    </li>
                    <li>
                        Mejora la visualización para un posicionamiento preciso: radiopacidad triple (introductor,
                        dilatador y marcador
                        de espiral de oro).
                    </li>
                    <li>
                        Resistencia al acodamiento: espiral de acero inoxidable para mayor consistencia/seguridad.
                    </li>
                    <li>
                        Brinda un movimiento suave: tubo reforzado con espiral y capa interior PTFE que minimiza la
                        fricción.
                    </li>
                    <li>
                        Se adapta a variaciones anatómicas de accesos vasculares.
                    </li>
                </ul>
            </dd>
            <div class="container">
                <ul>
                    <li>
                        Recto.
                    </li>
                    <li>
                        Palo de hockey.
                    </li>
                    <li>
                        Multipropósito.
                    </li>
                    <li>
                        Renal doble curva
                    </li>
                    <li>
                        Arteria mamaria interna izquierda.
                    </li>
                </ul>
            </div>
            <div class="img-destination"></div>
            <div class="hide-on-med-and-up">
                <dd>
                    <ol>
                        <li>
                            <span>
                                Marcador de espiral de oro.
                            </span>
                        </li>
                        <li>
                            <span>
                                Capa interior PTFE.
                            </span>
                        </li>
                        <li>
                            <span>
                                Capa exterior de nylon.
                            </span>
                        </li>
                        <li>
                            <span>
                                Espiral de acero inoxidable.
                            </span>
                        </li>
                        <li>
                            <span>
                                Recubrimiento hidrofílico.
                            </span>
                        </li>
                    </ol>
                </dd>
            </div>
        </section>
        <section>
            <h3>
                Especificaciones generales
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <table class="responsive-table highlight">
                <tbody>
                    <tr>
                        <th class="bold-tittle-table">
                            Tamaño de guía máximo
                        </th>
                        <td>
                            0.038" / 0.97 mm
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Marcador radiopaco
                        </th>
                        <td>
                            Marcador de espiral de oro de 5 mm desde la punta distal del
                            introductor
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Refuerzo interno del introductor
                        </th>
                        <td>
                            Espiral de acero inoxidable
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Capa interna del introductor
                        </th>
                        <td>
                            PTFE politetrafluoroetileno
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h3>
                Ilustraciones del producto
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <div class="row">
                <div class="col s12 m6 center-content">
                    <img src="assets/img/solutions/intervencionismo/destination_crosscut.png" alt="Destination Crosscut"
                        class="responsive-img">
                    <h6>
                        Válvula hemostática de corte
                        transversal
                    </h6>
                </div>
                <div class="col s12 m6 center-content">
                    <img src="assets/img/solutions/intervencionismo/destination_tuohy_borst.png"
                        alt="Destination Tuohy Borst" class="responsive-img">
                    <h6>
                        Válvula tuohy-Borst
                    </h6>
                </div>
            </div>
        </section>
        <section>
            <h3>
                Especificaciones del artículo
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <table width="100%" class="responsive-table highlight" cellspacing="0">
                <thead>
                    <tr>
                        <th class="bold-tittle-table">
                            Diámetro interno
                        </th>
                        <th class="bold-tittle-table">
                            Longitud
                        </th>
                        <th class="bold-tittle-table">
                            Curva
                        </th>
                        <th class="bold-tittle-table">
                            Válvula
                        </th>
                        <th class="bold-tittle-table">
                            Longitud recubrimiento hidrofílico
                        </th>
                        <th class="bold-tittle-table">
                            Referencia ítem
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>5 Fr / 0.076" / 1.9 mm</td>
                        <td>45 cm</td>
                        <td>Straight</td>
                        <td>CCV*</td>
                        <td>5 cm</td>
                        <td>GS*F5ST1C45</td>
                    </tr>
                    <tr>
                        <td>5 Fr / 0.076" / 1.9 mm</td>
                        <td>45 cm</td>
                        <td>Hockey stick</td>
                        <td>CCV</td>
                        <td>5 cm</td>
                        <td>GS*F5HS1C45</td>
                    </tr>
                    <tr>
                        <td>5 Fr / 0.076" / 1.9 mm</td>
                        <td>45 cm</td>
                        <td>Multipurpose</td>
                        <td>CCV</td>
                        <td>5 cm</td>
                        <td>GS*F5MP1C45</td>
                    </tr>
                    <tr>
                        <td>5 Fr / 0.076" / 1.9 mm</td>
                        <td>45 cm</td>
                        <td>RDC</td>
                        <td>CCV</td>
                        <td>5 cm</td>
                        <td>GS*F5RDCC45</td>
                    </tr>
                    <tr>
                        <td>5 Fr / 0.076" / 1.9 mm</td>
                        <td>45 cm</td>
                        <td>LIMA</td>
                        <td>CCV</td>
                        <td>5 cm</td>
                        <td>GS*F5LIMC45</td>
                    </tr>
                    <tr>
                        <td>6 Fr / 0.087" / 2.2 mm</td>
                        <td>45 cm</td>
                        <td>Straight</td>
                        <td>CCV</td>
                        <td>5 cm</td>
                        <td>RSR01</td>
                    </tr>
                    <tr>
                        <td>6 Fr / 0.087" / 2.2 mm</td>
                        <td>45 cm</td>
                        <td>Hockey stick</td>
                        <td>CCV</td>
                        <td>5 cm</td>
                        <td>RSR02</td>
                    </tr>
                    <tr>
                        <td>6 Fr / 0.087" / 2.2 mm</td>
                        <td>45 cm</td>
                        <td>Multipurpose</td>
                        <td>CCV</td>
                        <td>5 cm</td>
                        <td>RSR03</td>
                    </tr>
                    <tr>
                        <td>6 Fr / 0.087" / 2.2 mm</td>
                        <td>45 cm</td>
                        <td>RDC</td>
                        <td>CCV</td>
                        <td>5 cm</td>
                        <td>RSR13</td>
                    </tr>
                    <tr>
                        <td>6 Fr / 0.087" / 2.2 mm</td>
                        <td>45 cm</td>
                        <td>LIMA</td>
                        <td>CCV</td>
                        <td>5 cm</td>
                        <td>RSR14</td>
                    </tr>
                    <tr>
                        <td>7 Fr / 0.100" / 2.5 mm</td>
                        <td>45 cm</td>
                        <td>Straight</td>
                        <td>CCV</td>
                        <td>5 cm</td>
                        <td>RSR04</td>
                    </tr>
                    <tr>
                        <td>7 Fr / 0.100" / 2.5 mm</td>
                        <td>45 cm</td>
                        <td>Hockey stick</td>
                        <td>CCV</td>
                        <td>5 cm</td>
                        <td>RSR05</td>
                    </tr>
                    <tr>
                        <td>7 Fr / 0.100" / 2.5 mm</td>
                        <td>45 cm</td>
                        <td>Multipurpose</td>
                        <td>CCV</td>
                        <td>5 cm</td>
                        <td>RSR06</td>
                    </tr>
                    <tr>
                        <td>7 Fr / 0.100" / 2.5 mm</td>
                        <td>45 cm</td>
                        <td>RDC</td>
                        <td>CCV</td>
                        <td>5 cm</td>
                        <td>RSR15</td>
                    </tr>
                    <tr>
                        <td>7 Fr / 0.100" / 2.5 mm</td>
                        <td>45 cm</td>
                        <td>LIMA</td>
                        <td>CCV</td>
                        <td>5 cm</td>
                        <td>RSR16</td>
                    </tr>
                    <tr>
                        <td>8 Fr / 0.114" / 2.9 mm</td>
                        <td>45 cm</td>
                        <td>Straight</td>
                        <td>CCV</td>
                        <td>35 cm</td>
                        <td>54-84501</td>
                    </tr>
                    <tr>
                        <td>6 Fr / 0.087" / 2.2 mm</td>
                        <td>65 cm</td>
                        <td>Straight</td>
                        <td>CCV</td>
                        <td>35 cm</td>
                        <td>RSP01</td>
                    </tr>
                    <tr>
                        <td>7 Fr / 0.100" / 2.5 mm</td>
                        <td>65 cm</td>
                        <td>Straight</td>
                        <td>CCV</td>
                        <td>35 cm</td>
                        <td>RSP02</td>
                    </tr>
                    <tr>
                        <td>8 Fr / 0.114" / 2.9 mm</td>
                        <td>65 cm</td>
                        <td>Straight</td>
                        <td>CCV</td>
                        <td>35 cm</td>
                        <td>54-86501</td>
                    </tr>
                    <tr>
                        <td>5 Fr / 0.076" / 1.9 mm</td>
                        <td>90 cm</td>
                        <td>Straight</td>
                        <td>TBV**</td>
                        <td>15 cm</td>
                        <td>GS*K5ST1T90B</td>
                    </tr>
                    <tr>
                        <td>5 Fr / 0.076" / 1.9 mm</td>
                        <td>90 cm</td>
                        <td>Multipurpose</td>
                        <td>TBV</td>
                        <td>15 cm</td>
                        <td>GS*K5MP1T90B</td>
                    </tr>
                    <tr>
                        <td>5 Fr / 0.076" / 1.9 mm</td>
                        <td>90 cm</td>
                        <td>Straight</td>
                        <td>CCV</td>
                        <td>15 cm</td>
                        <td>GS*K5ST1C90B</td>
                    </tr>
                    <tr>
                        <td>5 Fr / 0.076" / 1.9 mm</td>
                        <td>90 cm</td>
                        <td>Multipurpose</td>
                        <td>CCV</td>
                        <td>15 cm</td>
                        <td>GS*K5MP1C90B</td>
                    </tr>
                    <tr>
                        <td>6 Fr / 0.087" / 2.2 mm</td>
                        <td>90 cm</td>
                        <td>Straight</td>
                        <td>TBV</td>
                        <td>15 cm</td>
                        <td>RSC01</td>
                    </tr>
                    <tr>
                        <td>6 Fr / 0.087" / 2.2 mm</td>
                        <td>90 cm</td>
                        <td>Multipurpose</td>
                        <td>TBV</td>
                        <td>15 cm</td>
                        <td>RSC03</td>
                    </tr>
                    <tr>
                        <td>6 Fr / 0.087" / 2.2 mm</td>
                        <td>90 cm</td>
                        <td>Straight</td>
                        <td>CCV</td>
                        <td>15 cm</td>
                        <td>RSC05</td>
                    </tr>
                    <tr>
                        <td>6 Fr / 0.087" / 2.2 mm</td>
                        <td>90 cm</td>
                        <td>Multipurpose</td>
                        <td>CCV</td>
                        <td>15 cm</td>
                        <td>RSC07</td>
                    </tr>
                    <tr>
                        <td>7 Fr / 0.100" / 2.5 mm</td>
                        <td>90 cm</td>
                        <td>Straight</td>
                        <td>TBV</td>
                        <td>15 cm</td>
                        <td>RSC02</td>
                    </tr>
                    <tr>
                        <td>7 Fr / 0.100" / 2.5 mm</td>
                        <td>90 cm</td>
                        <td>Multipurpose</td>
                        <td>TBV</td>
                        <td>15 cm</td>
                        <td>RSC04</td>
                    </tr>
                    <tr>
                        <td>7 Fr / 0.100" / 2.5 mm</td>
                        <td>90 cm</td>
                        <td>Straight</td>
                        <td>CCV</td>
                        <td>15 cm</td>
                        <td>RSC06</td>
                    </tr>
                    <tr>
                        <td>7 Fr / 0.100" / 2.5 mm</td>
                        <td>90 cm</td>
                        <td>Multipurpose</td>
                        <td>CCV</td>
                        <td>15 cm</td>
                        <td>RSC08</td>
                    </tr>
                    <tr>
                        <td>8 Fr / 0.114" / 2.9 mm</td>
                        <td>90 cm</td>
                        <td>Straight</td>
                        <td>CCV</td>
                        <td>60 cm</td>
                        <td>54-89001</td>
                    </tr>
                    <tr>
                        <td>8 Fr / 0.114" / 2.9 mm</td>
                        <td>90 cm</td>
                        <td>Straight</td>
                        <td>TBV</td>
                        <td>60 cm</td>
                        <td>54-89006</td>
                    </tr>
                </tbody>
            </table>
            <h6 class="center-align">
                Por favor copie el código de referencia cuando realice un pedido.
            </h6>
        </section>
        <section>
            <h3>
                Información relevante del producto
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <dd>
                <ul>
                    <li>
                        <a href="">
                            Brochure Destination<sup>&reg;</sup>
                        </a>
                    </li>
                </ul>
            </dd>
        </section>
    </div>
</section>