<div class="linea">
    <div class="container">
        <h4>Sistemas Avanzados de Infusión</h4>
    </div>
</div>
<div class="infusion-banner">
    <div class="row">
        <div class="col s12 m6 center-content">
            <h4><b>
                Terufusion <sup>
                    &reg;
                </sup>
            </b></h4> 
            <h5>
                Bomba de Infusión
                Smart Midpress
            </h5>
            <p>
                Exitosa integración de profesionalismo,
                seguridad y fácil de usar.
            </p>
        </div>
    </div>
</div>
<div class="space-between"></div>