<app-header></app-header>
<header>
    <div class="background-skyleft skyleft"></div>
    <section class="intro row">
        <div class="container">
            <div class="col m6 s12">
                <h3 class="white-text left">Responsabilidad corporativa</h3>
            </div>
        </div>
    </section>
</header>

<div class="section">
    <div class="row container-fluid  vision">
        <div class="col s12 m6 l4">
            <img src="assets/img/respcorp-2.jpg" alt="Responsabilidad corporativa 2" class="responsive-img">
        </div>
        <div class="col s12 m6 l8">
            <h5 class="terumoOpenSe terumo-text">La misión corporativa de Terumo es “contribuir a la sociedad a través del cuidado de la salud”.</h5>
            <p class="terumoP black-text">
                Este objetivo no es solo de la empresa, sino de todos los asociados que trabajamos en Terumo. Para ello, desarrollamos prácticas comerciales honestas y legítimas, basadas en el estricto cumplimiento de las normas legales y de nuestras políticas corporativas,
                con el fin de mantener firmemente nuestra posición como una compañía ética. <br /><br /> Para avanzar en el cumplimiento de estas expectativas sociales, desde el año 2008 adoptamos el “Código de Conducta del Grupo Terumo”, donde
                se establecen altos estándares éticos para la realización de nuestras actividades diarias. <br /><br /> El Código de Conducta del Grupo Terumo establece que “cada asociado debe realizar sus actividades comerciales con honestidad, actuar
                de una manera que demuestre la responsabilidad de la conservación del medio ambiente y tratar de convertirse en un ciudadano modelo dentro del grupo corporativo”. Como compañía global, también declaramos y promovemos claramente la necesidad
                de respetar los derechos humanos así como eliminar cualquier tipo de discriminación. <br /><br /> Asimismo, Terumo cree firmemente que realizar negocios de una manera ética aumenta el respeto por nuestra compañía, nuestros asociados y nuestros
                clientes. Por ello, desde el año 2017 implementamos nuestra política de <i>Interacciones Éticas con Profesionales de Salud</i>, cuyo objetivo es asegurar a los clientes y al público en general que nuestras prácticas de mercadeo no influyen
                de forma indebida en las decisiones de compra o en la prestación de servicios de salud a los pacientes. Además, cumplimos con las "Leyes de Transparencia" aplicables en diferentes países, que exigen a las compañías de salud realizar un
                seguimiento de ciertos pagos y transferencias de valor, provistas a los profesionales de salud.
            </p>
        </div>
    </div>
</div>