<header>
    <section class="intro row" style="overflow: hidden !important;">
        <div class="background-skyleft skyleft"></div>
        <div class="container">
            <div class="col m8 s12">
                <h3 class="title">Filtros arteriales
                </h3>
            </div>
        </div>
    </section>
</header>


<div class="container">
    <div class="row">
        <div class="col s12 m9">
            <p class="terumoP">
                Eficiente, de rápido primado, para uso en pacientes neonatales, pediátricos y adultos.
            </p>
            <h4 class="titulo-bold flow-text">
                Características
            </h4>
            <div class="progress space-line">
                <div class="determinate" style="width: 20%; background-color: #d32b2a;"></div>
            </div>
            <ul>
                <li>
                    Eficiente eliminación de burbujas.
                </li>
                <li>
                    Fácil de purgar.
                </li>
                <li>
                    Bajo volumen de purga.
                </li>
                <li>
                    Altamente eficiente.
                </li>
            </ul>
        </div>
        <div class="col s12 m3">
            <app-aside></app-aside>
            <div class="container-fluid aside-line-red">
                <h6 class="black-text titulo-bold">
                    Más información
                </h6>
                <div class="divider"></div>
                <h6>
                    ESPECIFICACIONES
                </h6>
                <a href="" target="_blank" style="color: #000000de;">
                    <p class="terumoP">
                        Capiox<sup>&reg;</sup> Arterial Line Filters
                        <i class="material-icons circle" style="color: #d32b2a;">picture_as_pdf</i>
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>