<app-banner-cardiologia-interv [titulo]="titulo" [imagen]="imagen"></app-banner-cardiologia-interv>
<section>
    <div class="container">
        <section>
            <h4>
                Stent liberador del medicamento <br />
                Ultimaster<sup>&reg;</sup> - stent liberador del medicamento (DES)
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <p>
                Ampliar los límites de la ciencia y la ingeniería médica para el avance de la salud: Ultimaster® combina
                un balance
                óptimo entre diseño de stent para máxima conformabilidad con reabsorción simultánea de polímero y
                liberación
                de medicamento para corresponder la respuesta biológica en el vaso provocada por el
                procedimiento.<sup>1</sup>
                Esto deriva en la recuperación óptima del vaso y la potencial reducción del tiempo de la terapia dual
                antiplaquetaria.<sup>2</sup> <br /> <br />
                Dominando la reparación vascular coronaria rápida y saludable <br /> <br />
                <a href="">Leer más</a>
            </p>
        </section>
    </div>
</section>
<app-banner-cardiologia-interv [titulo]="titulo" [imagen]="imagen_2"></app-banner-cardiologia-interv>
<section>
    <div class="container">
        <section>
            <h4>
                Ultimaster<sup>&trade;</sup> Tansei<sup>&trade;</sup> - Stent liberador de medicamento
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <p>
                En la práctica clínica, donde puede esperarse que alrededor del 80% de los casos sean complejos, es más
                importante tener herramientas en las que pueda confiar para la angioplastia.
                Ultimaster<sup>&trade;</sup>
                Tansei<sup>&trade;</sup>
                brinda capacidad de empuje mejorada<sup>2</sup>
                y con un cuerpo de tecnología avanzada, excelente resistencia al
                acodamiento con alma central de acero inoxidable cónica hacia el puerto de salida. Con el nuevo DES,
                Terumo
                introduce una punta duradera pero flexible, especialmente desarrollada para procedimientos de stenting
                complejos. Esta innovación va a mejorar la capacidad de entrega<sup>2</sup>
                de todo el sistema de stent frente a los
                principales sistemas de entrega. <br /> <br />
                Costruido sobre el legado de Ultimaster<sup>&trade;</sup> con su rendimiento clínico
                demostrado<sup>3</sup>,
                Ultimaster<sup>&trade;</sup> Tansei<sup>&trade;</sup> utiliza
                el mismo cubrimiento de polímero bioabsorbible en gradiente abluminal para fomentar una reparación
                vascular
                temprana.<sup>4</sup> <br /> <br />
                <a href="">Leer más</a>
            </p>
        </section>
    </div>
</section>
<section>
    <div class="container">
        <section>
            <h4>
                Ver también
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <dd>
                <ul>
                    <li>
                        <a href="">
                            Stent de metal descubierto
                        </a>
                    </li>
                </ul>
            </dd>
        </section>
    </div>
</section>