<div class="slider">
    <ul class="slides">
        <li>
            <img src="assets/img/solutions/cardiovascular/crx-index.png">
            <div class="row">
                <div class="caption right-left slider-text-right ">
                    <h3>Sistema de monitoreo de parámetros de sangre CDI<sup>&reg;</sup> 550</h3>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="container">
    <h4 class="titulo-bold flow-text center-align">
        El sistema de monitoreo continuo de gases sanguíneos CDI<sup>&reg;</sup> 550 de Terumo permite alertar rápidamente acerca de los cambios que pueda tener el paciente durante el bypass cardiopulmonar y la cirugía cardiaca
    </h4>
    <div class="progress space-line">
        <div class="determinate" style="width: 20%"></div>
    </div>
    <div class="row">
        <div class="col s12 m9">
            <h6 class="titulo-bold">
                Características
            </h6>
            <ul>
                <li>
                    Único sistema con tecnología fluorescencia óptica para la medición de pH, PCO2, PO2 y potasio
                </li>
                <li>
                    El promedio de respuesta y actualización de datos es en segundos
                </li>
                <li>
                    Medición de 12 parámetros críticos e importantes en la valoración de los pacientes llevados a circulación extracorpórea
                </li>
                <li>
                    Pantalla que permite visualizar la información
                </li>
                <li>
                    Impresora integrada
                </li>
            </ul>
        </div>
        <div class="col s12 m3 aside-line-red">
            <div class="container-fluid">
                <h6 class="black-text titulo-bold">
                    Información de producto
                </h6>
                <div class="divider"></div>
                <h6>
                    BROCHURE
                </h6>
                <a href="https://www.terumo-cvs.com/pdfs.aspx?nm=888181_CDI-System-550-Brochure_JUNE2018_LowRes" target="_blank" style="color: #000000de;">
                    <p class="terumoP">
                        Real-time monitoring of DO2 as one of 12 key blood parameters
                        <i class="material-icons circle" style="color: #d32b2a;">picture_as_pdf</i>
                    </p>
                </a>

                <h6>COMPENDIO TÉCNICO:</h6>
                <a href="https://www.terumo-cvs.com/pdfs.aspx?nm=891485_Terumo_CDI550_TechCompendium_OCTOBER2018_LowRes" target="_blank" style="color: #000000de;">
                    <p class="terumoP">
                        An overview of the CDI System 550 and its industry leading technology
                        <i class="material-icons circle" style="color: #d32b2a;">picture_as_pdf</i>
                    </p>
                </a>
                <h6 class="black-text titulo-bold">
                    Multimedia
                </h6>
                <div class="divider"></div>
                <h6>
                    ANIMACIÓN
                </h6>
                <p class="terumoP">
                    <a href="http://www.terumo-cvs.com/_video/888425_CDI550-InService-Video_AUG2018.shtml" target="_blank">CDI System 550 In-service Video</a> <br /> A complete resource for CDI System 550 training and technology.
                    <i class="material-icons circle">video_library</i>
                </p>
                <video class="responsive-video video_fx" controls>
                    <source src="http://www.terumo-cvs.com/_video/888425_CDI550-InService-Video_AUG2018.mp4"
                        type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <h5 class="titulo-bold flow-text">
            Galería de fotos
        </h5>
        <div class="progress space-line">
            <div class="determinate" style="width: 20%"></div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l3">
            <img width="100%" height="100%" src="assets/img/solutions/cardiovascular/cdi-1.png" alt="Monitor" class="responsive-img">
            <h5 class="flow-text">Monitor</h5>
        </div>
        <div class="col s12 m6 l3">
            <img width="100%" height="100%" src="assets/img/solutions/cardiovascular/cdi-2.png" alt="Sensor Shut" class="responsive-img">
            <h5 class="flow-text">Sensor Shut</h5>
        </div>
        <div class="col s12 m6 l3">
            <img width="100%" height="100%" src="assets/img/solutions/cardiovascular/cdi-3.png" alt="H/S Curvettte" class="responsive-img">
            <h5 class="flow-text">H/S Curvettte</h5>
        </div>
        <div class="col s12 m6 l3">
            <img width="100%" height="100%" src="assets/img/solutions/cardiovascular/cdi-4.png" alt="Calibrador" class="responsive-img">
            <h5 class="flow-text">Calibrador</h5>
        </div>
    </div>
</div>