<app-banner-cardiologia-interv [titulo]="titulo" [imagen]="imagen"></app-banner-cardiologia-interv>
<section>
    <div class="container">
        <section>
            <h4>
                Descripción
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <p>
                Runthrough<sup>&reg;</sup> NS representa su familia de guías “workhorse” para ACTP para atender
                cualquier
                caso
                desafiante. <br /> <br />
                La familia de guías Runthrough<sup>&reg;</sup> NS está destinada para ser usada en los procedimientos de
                cardiología
                intervencionista.
            </p>
        </section>
        <section>
            <h4>
                Características
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <p>
                La tecnología de unión directa Duo Core de la familia Runthrough<sup>&reg;</sup> NS brinda una respuesta
                definitiva y más fácil al torque, además de un control de manejo más sencillo y más flexible
            </p>
            <dd>
                <ul>
                    <li>
                        El cuerpo de unión directa de acero inxidable y nitinol brinda una transmisión de torque
                        superior.<sup>2</sup>
                    </li>
                    <li>
                        El núcleo de aleación de Nitinol hasta la punta garantiza una duradera memoria de forma
                        superior.<sup>3</sup>
                    </li>
                    <li>
                        El recubrimiento hidrofílico “M Coat” permite una manipulación suave incluso en anatomías
                        complejas.
                    </li>
                </ul>
            </dd>
            <h6 class="black-text">
                Mapa de segmentación del guías
            </h6>
            <div class="center-content container">
                <img src="assets/img/solutions/intervencionismo/Guidewire segmentation map_Runtrhough.png"
                    alt="Gráfica segmentación" class="responsive-img">
            </div>
            <div class="hide-on-small-only center-content">
                <img src="assets/img/solutions/intervencionismo/runthrough_technical_drawing.png"
                    alt="Disposiciones técnicas" class="responsive-img">
            </div>
            <div class="hide-on-med-and-up">
                <img src="assets/img/solutions/intervencionismo/runthrough_technical_mobile.png"
                    alt="Version móvil de disposiciones técnicas" class="responsive-img">
                <dd>
                    <ol>
                        <li>
                            Espiral de platino
                        </li>
                        <li>
                            Espiral de acero inoxidable
                        </li>
                        <li>
                            Núcleo de nitinol
                        </li>
                        <li>
                            Unión directa (DuoCore <sup>&trade;</sup>)
                        </li>
                        <li>
                            Eje de acero inoxidable muy rígido
                        </li>
                        <li>
                            Recubrimiento hidrofílico (parte de espiral)
                        </li>
                        <li>
                            Recubrimiento PTFE
                        </li>
                        <li>
                            Recubrimiento de silicona (parte articulada)
                        </li>
                        <li>
                            Recubrimiento PTFE (azul)
                        </li>
                    </ol>
                </dd>
            </div>
        </section>
        <section>
            <h4>
                Especificaciones generales
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <table class="responsive-table highlight">
                <tbody>
                    <tr>
                        <td class="left-tittle">
                            Diámetro
                        </td>
                        <td>
                            0.014*(0.36 mm)
                        </td>
                    </tr>
                    <tr>
                        <td class="left-tittle">
                            Longitud guía
                        </td>
                        <td>
                            180 cm
                        </td>
                    </tr>
                    <tr>
                        <td class="left-tittle">
                            Longitud radiopaca
                        </td>
                        <td>
                            3 cm
                        </td>
                    </tr>
                    <tr>
                        <td class="left-tittle">
                            Forma distal
                        </td>
                        <td>
                            Recta
                        </td>
                    </tr>
                    <tr>
                        <td class="left-tittle">
                            Recubrimiento distal
                        </td>
                        <td>
                            hidrofílico
                        </td>
                    </tr>
                    <tr>
                        <td class="left-tittle">
                            Recubrimiento proximal
                        </td>
                        <td>
                            PTFE
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h4>
                Especificaciones del articulo
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <table class="responsive-table highlight">
                <thead>
                    <tr>
                        <th class="left-tittle">
                            Item
                        </th>
                        <th class="left-tittle">
                            Aplicación Clínica
                        </th>
                        <th class="left-tittle">
                            Punta de carga (gf)
                        </th>
                        <th class="left-tittle">
                            Forma de la punta
                        </th>
                        <th class="left-tittle">
                            Soporte de carga
                        </th>
                        <th class="left-tittle">
                            Revestimiento
                        </th>
                        <th class="left-tittle">
                            Recubrimiento de la punta distal
                        </th>
                        <th class="left-tittle">
                            Referencia del artículo
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Runthrough<sup>&reg;</sup> NS Extra Floppy.
                        </td>
                        <td>
                            Workhouse
                        </td>
                        <td>
                            0.6 gf
                        </td>
                        <td>
                            10 mm
                        </td>
                        <td>
                            Extra support
                        </td>
                        <td>
                            Hydrophilic
                        </td>
                        <td>
                            2 mm silicone
                        </td>
                        <td>
                            TW - AS418XA
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Runthrough<sup>&reg;</sup> NS Floppy
                        </td>
                        <td>
                            Workhouse
                        </td>
                        <td>
                            1 gf
                        </td>
                        <td>
                            10 mm
                        </td>
                        <td>
                            Light
                        </td>
                        <td>
                            Hydrophilic
                        </td>
                        <td>
                            2 mm silicone
                        </td>
                        <td>
                            TW - AS418FA
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Runthrough<sup>&reg;</sup> NS Hypercoat
                        </td>
                        <td>
                            Crossing
                        </td>
                        <td>
                            1 gf
                        </td>
                        <td>
                            14 mm
                        </td>
                        <td>
                            Extra support
                        </td>
                        <td>
                            Enhanced Hydrophilic
                        </td>
                        <td>
                            --
                        </td>
                        <td>
                            TW - AS418FH
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Runthrough<sup>&reg;</sup> NS Intermediate
                        </td>
                        <td>
                            Crossing
                        </td>
                        <td>
                            3.6 gf
                        </td>
                        <td>
                            10 mm
                        </td>
                        <td>
                            Extra support
                        </td>
                        <td>
                            Hydrophilic
                        </td>
                        <td>
                            2 mm silicone
                        </td>
                        <td>
                            TW - AS418IA
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="responsive-table highlight" style="margin-top: 5%;">
                <thead>
                    <tr>
                        <th class="left-tittle">
                            Item
                        </th>
                        <th class="left-tittle">
                            ​Clinical application
                        </th>
                        <th class="left-tittle">
                            Item reference
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Runthrough<sup>&reg;</sup> NS Extension Wire
                        </td>
                        <td>
                            Extension
                        </td>
                        <td>
                            TW-JJ415
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="center-align">
                <h6>
                    Por favor copie el código de referencia cuando realice un pedido.
                </h6>
            </div>
        </section>
        <section>
            <p class="flow-text">
                <b>
                    Referencias
                </b>
            </p>
            <dd>
                <ol>
                    <li>
                        Compared to most contemporary guidewires. Goldberg at al.; Guidewires – Round table expert,
                        touch
                        Briefings 2008.
                    </li>
                    <li>
                        Compared to competition, with non Duo Core guidewires. Goldberg at al.; Guidewires – Round
                        table expert,
                        touch Briefings 2008.
                    </li>
                    <li>
                        Compared to SUS material properties. Goldberg at al.; Guidewires – Round table expert, touch
                        Briefings 2008.
                    </li>
                </ol>
            </dd>
        </section>
    </div>

</section>