<ul class="collapsible" style="margin-top: 0px;">
    <li>
        <a class="collapsible-header" style="font-weight: bold;">Productos para intervención coronaria</a>
    </li>
    <li>
        <a class="collapsible-header">Catéter guía<i class="material-icons right">arrow_drop_down</i></a>
        <div class="submenu collapsible-body">
            <a
                (click)="goTo('cardiologia-intervencionista/productos-para-intervencion-coronaria/cateter-guia/heartrail-II')">Heartrail®
                II – catéter guía ACTP</a>
        </div>
    </li>
    <li>
        <a class="collapsible-header">Guía ACTP<i class="material-icons right">arrow_drop_down</i></a>
        <div class="submenu collapsible-body">
            <a
                (click)="goTo('cardiologia-intervencionista/productos-para-intervencion-coronaria/guia-actp/runthough-ns')">Runthough®
                NS – guía ACTP</a>
        </div>
    </li>
    <li>
        <a class="collapsible-header">Microcatéter guía coronario<i class="material-icons right">arrow_drop_down</i></a>
        <div class="submenu collapsible-body">
            <a
                (click)="goTo('cardiologia-intervencionista/productos-para-intervencion-coronaria/microcateter-guia-coro/finecross-mg')">Finecross®
                MG – microcatéter guía coronario</a>
        </div>
    </li>
    <li>
        <a class="collapsible-header">Catéter de aspiración<i class="material-icons right">arrow_drop_down</i></a>
        <div class="submenu collapsible-body">
            <a
                (click)="goTo('cardiologia-intervencionista/productos-para-intervencion-coronaria/cateter-aspiracion/eliminate-tm')">Eliminate™
                – catéter de aspiración</a>
        </div>
    </li>
    <li>
        <a class="collapsible-header">Catéter balón ACTP<i class="material-icons right">arrow_drop_down</i></a>
        <div class="submenu collapsible-body">
            <a class="truncate"
                (click)="goTo('cardiologia-intervencionista/productos-para-intervencion-coronaria/cateter-balon-actp/ryujin-plus-rx')">Ryujin®
                Plus RX – catéter balón ACTP semicomplaciente</a>
            <a class="truncate"
                (click)="goTo('cardiologia-intervencionista/productos-para-intervencion-coronaria/cateter-balon-actp/accuforce')">Accuforce®
                - catéter balón ACTP no complaciente</a>
        </div>
    </li>
</ul>