<app-banner-cardiologia-interv [titulo]="titulo" [imagen]="imagen"></app-banner-cardiologia-interv>
<section>
    <div class="container">
        <section>
            <h4>
                Descripción
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <p>
                El catéter balón de rápido intercambio Ryujin Plus está destinado al uso durante la angioplastía
                coronaria transluminal percutánea (ACTP) con el objetivo de mejorar el flujo sanguíneo miocárdico en la
                lesión estenótica localizada de las arterias coronarias. <br /> <br />
                Este dispositivo está diseñado para cruzar lesiones rutinarias, sin comprometer la capacidad de
                navegación.
            </p>
        </section>
        <section>
            <h4>
                Características
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <dd>
                <ul>
                    <li>
                        El modelo de cuerpo de 148 cm de longitud es compatible con la técnica de disección
                        anterógrada y retrógrada controlada (Controlled Anterograde and Retrograde subintimal Tracking
                        CART).
                    </li>
                    <li>
                        Cuerpo delgado plástico rígido diseñado para una excelente resistencia al acodamiento.
                    </li>
                    <li>
                        Material interno del cuerpo diseñado para una manipulación suave de la guía.
                    </li>
                    <li>
                        Recubrimiento hidrofílico duradero.
                    </li>
                </ul>
            </dd>
        </section>
        <section>
            <h4>
                Especificaciones generales
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <table class="responsive-table highlight">
                <tbody>
                    <tr>
                        <td class="bold-tittle-table">
                            Diámetro del cuerpo
                        </td>
                        <td>
                            2.0 Fr (0.67 mm) Proximal <br />
                            2.4 Fr (0.80 mm) Distal for 1.25 mm to 2.0 mm <br />
                            2.5 Fr (0.83 mm) Distal for 2.25 mm to 3.00 mm <br />
                            2.6 Fr (0.87 mm) Distal for 3.50 mm and 4.00 mm
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-tittle-table">
                            Longitud utilizable
                        </td>
                        <td>
                            145 cm
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-tittle-table">
                            Presión nominal
                        </td>
                        <td>
                            6 atm (608 kPa)
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-tittle-table">
                            Presión de ruptura
                        </td>
                        <td>
                            14 atm (1419 kPa) for 1.25 mm to 3.00 mm <br />
                            12 atm (1216 kPa) for 3.50 mm and 4.00 mm
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-tittle-table">
                            Compatibilidad de guía
                        </td>
                        <td>
                            Maximum diameter 0.014" (0.36 mm)
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-tittle-table">
                            Perfil de entrada a la lesión
                        </td>
                        <td>
                            0.40 mm for balloon (1.25 mm / 10 mm) <br />
                            0.42 mm (others)
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-tittle-table">
                            Recubrimiento
                        </td>
                        <td>
                            Hydrophilic
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h4>
                Especificaciones del artículo
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <table class="responsive-table highlight">
                <thead>
                    <tr>
                        <th rowspan="2" class="bold-tittle-table">
                            Balloon diameter (mm)
                        </th>
                        <th colspan="5" class="bold-tittle-table">
                            Balloon length (mm) ​ ​ ​ ​
                        </th>
                    </tr>
                    <tr class="border-table">
                        <th>
                            10
                        </th>
                        <th>
                            15
                        </th>
                        <th>
                            20
                        </th>
                        <th>
                            30
                        </th>
                        <th>
                            40
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bold-tittle-table">
                            1.25
                        </td>
                        <td>
                            DC-RH1210EH*
                        </td>
                        <td>
                            DC-RH1215EH*
                        </td>
                        <td>
                            —
                        </td>
                        <td>
                            —
                        </td>
                        <td>
                            —
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-tittle-table">
                            1.50
                        </td>
                        <td>
                            —
                        </td>
                        <td>
                            DC-RH1515EH*
                        </td>
                        <td>
                            DC-RH1520EH*
                        </td>
                        <td>
                            —
                        </td>
                        <td>
                            —
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-tittle-table">
                            2.00
                        </td>
                        <td>
                            —
                        </td>
                        <td>
                            DC-RH2015EHW
                        </td>
                        <td>
                            DC-RH2020EHW
                        </td>
                        <td>
                            DC-RH2030EHW
                        </td>
                        <td>
                            DC-RH2040EHW
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-tittle-table">
                            2.25
                        </td>
                        <td>
                            DC-RH2210EHW

                        </td>
                        <td>
                            DC-RH2215EHW
                        </td>
                        <td>
                            DC-RH2220EHW
                        </td>
                        <td>
                            DC-RH2230EHW
                        </td>
                        <td>
                            DC-RH2240EHW
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-tittle-table">
                            2.50
                        </td>
                        <td>
                            DC-RH2510EHW
                        </td>
                        <td>
                            DC-RH2515EHW
                        </td>
                        <td>
                            DC-RH2520EHW
                        </td>
                        <td>
                            DC-RH2530EHW
                        </td>
                        <td>
                            DC-RH2540EHW
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-tittle-table">
                            2.75
                        </td>
                        <td>
                            DC-RH2710EHW
                        </td>
                        <td>
                            DC-RH2715EHW
                        </td>
                        <td>
                            DC-RH2720EHW
                        </td>
                        <td>
                            DC-RH2730EHW
                        </td>
                        <td>
                            DC-RH2740EHW
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-tittle-table">
                            3.00
                        </td>
                        <td>
                            DC-RH3010EHW
                        </td>
                        <td>
                            DC-RH3015EHW
                        </td>
                        <td>
                            DC-RH3020EHW
                        </td>
                        <td>
                            DC-RH3030EHW
                        </td>
                        <td>
                            DC-RH3040EHW
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-tittle-table">
                            3.50
                        </td>
                        <td>
                            DC-RH3510EHW
                        </td>
                        <td>
                            DC-RH3515EHW
                        </td>
                        <td>
                            DC-RH3520EHW
                        </td>
                        <td>
                            DC-RH3530EHW
                        </td>
                        <td>
                            DC-RH3540EHW
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-tittle-table">
                            4.00
                        </td>
                        <td>
                            DC-RH4010EHW
                        </td>
                        <td>
                            DC-RH4015EHW
                        </td>
                        <td>
                            DC-RH4020EHW
                        </td>
                        <td>
                            DC-RH4030EHW
                        </td>
                        <td>
                            DC-RH4040EHW
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h4>
                Ver también
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <dd>
                <ul style="font-size: 18px;">
                    <li>
                        <a href="http://" target="_blank" rel="noopener noreferrer">
                            Accuforce<sup>&reg;</sup> - Catéter de balón ACTP no complaciente
                        </a>
                    </li>
                    <li>
                        <a href="http://" target="_blank" rel="noopener noreferrer">
                            Ryujin<sup>&trade;</sup> Plus OTW - Catéter balón ACTP semicomplaciente
                        </a>
                    </li>
                    <li>
                        <a href="http://" target="_blank" rel="noopener noreferrer">
                            Tazuna <sup>&reg;</sup> - Catéter de balón ACTP semi-complaciente
                        </a>
                    </li>
                </ul>
            </dd>
        </section>
    </div>
</section>