<ul class="collapsible" style="margin-top: 0px;">
    <li>
        <a class="collapsible-header">Alambre guía<i class="material-icons right">arrow_drop_down</i></a>
        <div class="submenu collapsible-body">
            <a
                (click)="goTo('cardiologia-intervencionista/productos-de-acceso-y-diagnostico/alambre-guia/radifocus-glidewire-advantage')">Radifocus®
                Glidewire Advantage</a>
        </div>
    </li>
    <li>
        <a class="collapsible-header">Introductor guía<i class="material-icons right">arrow_drop_down</i></a>
        <div class="submenu collapsible-body">
            <a
                (click)="goTo('cardiologia-intervencionista/productos-de-acceso-y-diagnostico/introductor-guia/destination-introductor-guia-periferico')">Destination
                introductor guía periferico</a>
        </div>
    </li>
    <li>
        <a class="collapsible-header">Microcatéter<i class="material-icons right">arrow_drop_down</i></a>
        <div class="submenu collapsible-body">
            <a
                (click)="goTo('cardiologia-intervencionista/productos-de-acceso-y-diagnostico/microcateter/progreat-microcateter')">
                Progreat Microcatéter</a>
        </div>
    </li>

</ul>