<app-banner-cardiologia-interv [titulo]="titulo" [imagen]="imagen"></app-banner-cardiologia-interv>
<section>
    <div class="container">
        <section>
            <h4>
                Fuerza. Éxito. Sin arriesgar
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <p>
                Gran balance entre alta presión y alta resistencia, dilatación precisa y avanzada capacidad de entrega.
                <br /> <br />
                Accuforce<sup>&reg;</sup> es la última generación de balones ACTP no complacientes.
            </p>
        </section>
        <section>
            <h4>
                Características
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <dd>
                <ul>
                    <li>
                        Brinda una resistencia impresionante a altas presiones, de hasta 22 atm
                    </li>
                    <li>
                        Optimiza la (re)cruzabilidad y capacidad de entrega<sup>1</sup>
                    </li>
                    <li>
                        Opera de manera precisa en pre y posdilatación
                    </li>
                </ul>
            </dd>
        </section>
        <section>
            <h4>
                Videos de procedimiento
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <div class="container">
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/oIo4hadH960"
                        frameborder="0"></iframe>
                </div>
            </div>
        </section>
        <section>
            <h4>
                Especificaciones generales
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <table class="responsive-table highlight">
                <tbody>
                    <tr>
                        <td class="bold-tittle-table">
                            Diámetro del cuerpo
                        </td>
                        <td>
                            1.9 Fr / 0.63 mm Proximal <br />
                            2.5 Fr / 0.84 mm Mid <br />
                            2.6 Fr / 0.86 mm Distal
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-tittle-table">
                            Longitud utilizable
                        </td>
                        <td>
                            145 cm
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-tittle-table">
                            Marcadores de balón
                        </td>
                        <td>
                            2
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-tittle-table">
                            Presión nominal
                        </td>
                        <td>
                            12 atm / 1216 kPa
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-tittle-table">
                            Presión de ruptura
                        </td>
                        <td>
                            22 atm / 2229 kPa (2.0 mm to 4.0 mm) <br />
                            20 atm / 2026 kPa (4.5 and 5.0 mm)
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-tittle-table">
                            Compatibilidad de guía
                        </td>
                        <td>
                            Maximum diameter 0.014" / 0.36 mm
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-tittle-table">
                            Perfil de entrada a la lesión
                        </td>
                        <td>
                            0.43 mm
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-tittle-table">
                            Recubrimiento
                        </td>
                        <td>
                            Hydrophilic
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h4>
                Especificaciones del artículo
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <p>
                Información para pedido
            </p>

            <table class="responsive-table highlight" cellspacing="0">
                <thead class="hide-on-large-only">
                    <tr class="bold-tittle-table">
                        <th class="bold-tittle-table" rowspan="2" colspan="1">
                            Diámetro<br /> del<br /> balón (mm)
                        </th>
                        <th class="bold-tittle-table center-content" rowspan="1" colspan="7" style="height: 348px;">
                            <p>
                                Longitud <br /> del balón (mm) /<br /> Items de<br /> referencia
                            </p>
                            ​
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bold-tittle-table hide-on-med-and-down">
                        <th class="bold-tittle-table" rowspan="2" colspan="1">
                            Diámetro del balón (mm)
                        </th>
                        <th class="bold-tittle-table center-align" rowspan="1" colspan="7">
                            Longitud del balón (mm) / Items de referencia
                        </th>
                    </tr>
                    <tr>
                        <td class="hide-on-large-only"></td>
                        <td>6</td>
                        <td>8</td>
                        <td>12</td>
                        <td>15</td>
                        <td>20</td>
                        <td>25</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="1" colspan="1">2.00</th>
                        <td>DC-RM2006HSW</td>
                        <td>DC-RM2008HSW</td>
                        <td>DC-RM2012HHW</td>
                        <td>DC-RM2015HHW</td>
                        <td>DC-RM2020HHW</td>
                        <td>—</td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="1" colspan="1">2.25</th>
                        <td>DC-RM2206HSW</td>
                        <td>DC-RM2208HSW</td>
                        <td>DC-RM2212HHW</td>
                        <td>DC-RM2215HHW</td>
                        <td>DC-RM2220HHW</td>
                        <td>—</td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="1" colspan="1">2.50</th>
                        <td>DC-RM2506HSW</td>
                        <td>DC-RM2508HSW</td>
                        <td>DC-RM2512HHW</td>
                        <td>DC-RM2515HHW</td>
                        <td>DC-RM2520HHW</td>
                        <td>DC-RM2525HHW</td>
                        <td>DC-RM2530HHW</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="1" colspan="1">2.75</th>
                        <td>DC-RM2706HSW</td>
                        <td>DC-RM2708HSW</td>
                        <td>DC-RM2712HHW</td>
                        <td>DC-RM2715HHW</td>
                        <td>DC-RM2720HHW</td>
                        <td>—</td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="1" colspan="1">3.00</th>
                        <td>DC-RM3006HSW</td>
                        <td>DC-RM3008HSW</td>
                        <td>DC-RM3012HHW</td>
                        <td>DC-RM3015HHW</td>
                        <td>DC-RM3020HHW</td>
                        <td>DC-RM3025HHW</td>
                        <td>DC-RM3030HHW</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="1" colspan="1">3.25</th>
                        <td>DC-RM3206HSW</td>
                        <td>DC-RM3208HSW</td>
                        <td>DC-RM3212HHW</td>
                        <td>DC-RM3215HHW</td>
                        <td>DC-RM3220HHW</td>
                        <td>—</td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="1" colspan="1">3.50</th>
                        <td>DC-RM3506HSW</td>
                        <td>DC-RM3508HSW</td>
                        <td>DC-RM3512HHW</td>
                        <td>DC-RM3515HHW</td>
                        <td>DC-RM3520HHW</td>
                        <td>DC-RM3525HHW</td>
                        <td>DC-RM3530HHW</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="1" colspan="1">3.75</th>
                        <td>DC-RM3706HSW</td>
                        <td>DC-RM3708HSW</td>
                        <td>DC-RM3712HHW</td>
                        <td>DC-RM3715HHW</td>
                        <td>DC-RM3720HHW</td>
                        <td>—</td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="1" colspan="1">4.00</th>
                        <td>DC-RM4006HSW</td>
                        <td>DC-RM4008HSW</td>
                        <td>DC-RM4012HHW</td>
                        <td>DC-RM4015HHW</td>
                        <td>DC-RM4020HHW</td>
                        <td>—</td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="1" colspan="1">4.50</th>
                        <td>DC-RM4506HSW</td>
                        <td>DC-RM4508HSW</td>
                        <td>DC-RM4512HSW</td>
                        <td>DC-RM4515HSW</td>
                        <td>—</td>
                        <td>—</td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="1" colspan="1">5.00</th>
                        <td>DC-RM5006HSW</td>
                        <td>DC-RM5008HSW</td>
                        <td>DC-RM5012HSW</td>
                        <td>DC-RM5015HSW</td>
                        <td>—</td>
                        <td>—</td>
                        <td>—</td>
                    </tr>
                </tbody>
            </table>

            <p>
                Conformidad con globos
            </p>

            <table class="responsive-table-long highlight" cellspacing="0">
                <thead class="hide-on-large-only">
                    <tr class="bold-tittle-table">
                        <th rowspan="2" colspan="1">
                            Diámetro <br>
                            del balón
                            (mm)
                        </th>
                        <th rowspan="1" colspan="23">
                            <div class="center-content">
                                <p>
                                    Presión (atm)
                                </p>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="hide-on-large-and-down bold-tittle-table">
                        <th rowspan="2" colspan="1">
                            Diámetro
                            del balón
                            (mm)
                        </th>
                        <th rowspan="1" colspan="23" class="center-align">
                            Presión (atm)
                        </th>
                    </tr>
                    <tr>
                        <td class="hide-on-large-only"></td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                        <td>13</td>
                        <td>14</td>
                        <td>15</td>
                        <td>16</td>
                        <td>17</td>
                        <td>18</td>
                        <td>19</td>
                        <td>20</td>
                        <td>21</td>
                        <td>22</td>
                        <td>23</td>
                        <td>24</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="1" colspan="1">2.00</th>
                        <td>1.58</td>
                        <td>1.65</td>
                        <td>1.72</td>
                        <td>1.79</td>
                        <td>1.84</td>
                        <td>1.88</td>
                        <td>1.92</td>
                        <td>1.95</td>
                        <td>1.98</td>
                        <td><b>2.00*</b></td>
                        <td>2.01</td>
                        <td>2.03</td>
                        <td>2.04</td>
                        <td>2.05</td>
                        <td>2.06</td>
                        <td>2.08</td>
                        <td>2.09</td>
                        <td>2.10</td>
                        <td>2.12</td>
                        <td><b>2.13**</b></td>
                        <td>2.14</td>
                        <td>2.15</td>
                        <td>2.17</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="1" colspan="1">2.25</th>
                        <td>1.96</td>
                        <td>2.01</td>
                        <td>2.06</td>
                        <td>2.11</td>
                        <td>2.14</td>
                        <td>2.16</td>
                        <td>2.19</td>
                        <td>2.21</td>
                        <td>2.23</td>
                        <td><b>2.25*</b></td>
                        <td>2.26</td>
                        <td>2.28</td>
                        <td>2.29</td>
                        <td>2.31</td>
                        <td>2.32</td>
                        <td>2.34</td>
                        <td>2.35</td>
                        <td>2.36</td>
                        <td>2.38</td>
                        <td><b>2.39**</b></td>
                        <td>2.41</td>
                        <td>2.42</td>
                        <td>2.44</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="1" colspan="1">2.50</th>
                        <td>2.19</td>
                        <td>2.24</td>
                        <td>2.30</td>
                        <td>2.36</td>
                        <td>2.38</td>
                        <td>2.41</td>
                        <td>2.44</td>
                        <td>2.46</td>
                        <td>2.48</td>
                        <td><b>2.50*</b></td>
                        <td>2.52</td>
                        <td>2.53</td>
                        <td>2.55</td>
                        <td>2.56</td>
                        <td>2.58</td>
                        <td>2.60</td>
                        <td>2.61</td>
                        <td>2.63</td>
                        <td>2.64</td>
                        <td><b>2.66**</b></td>
                        <td>2.68</td>
                        <td>2.69</td>
                        <td>2.71</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="1" colspan="1">2.75</th>
                        <td>2.43</td>
                        <td>2.48</td>
                        <td>2.53</td>
                        <td>2.59</td>
                        <td>2.62</td>
                        <td>2.65</td>
                        <td>2.67</td>
                        <td>2.70</td>
                        <td>2.73</td>
                        <td><b>2.75*</b></td>
                        <td>2.77</td>
                        <td>2.79</td>
                        <td>2.80</td>
                        <td>2.82</td>
                        <td>2.84</td>
                        <td>2.86</td>
                        <td>2.87</td>
                        <td>2.89</td>
                        <td>2.91</td>
                        <td><b>2.93**</b></td>
                        <td>2.94</td>
                        <td>2.96</td>
                        <td>2.98</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="1" colspan="1">3.00</th>
                        <td>2.65</td>
                        <td>2.71</td>
                        <td>2.76</td>
                        <td>2.82</td>
                        <td>2.85</td>
                        <td>2.89</td>
                        <td>2.92</td>
                        <td>2.95</td>
                        <td>2.97</td>
                        <td><b>3.00*</b></td>
                        <td>3.02</td>
                        <td>3.04</td>
                        <td>3.06</td>
                        <td>3.08</td>
                        <td>3.10</td>
                        <td>3.11</td>
                        <td>3.13</td>
                        <td>3.15</td>
                        <td>3.17</td>
                        <td><b>3.19**</b></td>
                        <td>3.21</td>
                        <td>3.23</td>
                        <td>3.25</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="1" colspan="1">3.25</th>
                        <td>2.89</td>
                        <td>2.95</td>
                        <td>3.01</td>
                        <td>3.07</td>
                        <td>3.10</td>
                        <td>3.14</td>
                        <td>3.17</td>
                        <td>3.20</td>
                        <td>3.22</td>
                        <td><b>3.25*</b></td>
                        <td>3.27</td>
                        <td>3.29</td>
                        <td>3.31</td>
                        <td>3.33</td>
                        <td>3.35</td>
                        <td>3.37</td>
                        <td>3.39</td>
                        <td>3.42</td>
                        <td>3.44</td>
                        <td><b>3.46**</b></td>
                        <td>3.47</td>
                        <td>3.48</td>
                        <td>3.51</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="1" colspan="1">3.50</th>
                        <td>3.13</td>
                        <td>3.19</td>
                        <td>3.26</td>
                        <td>3.32</td>
                        <td>3.35</td>
                        <td>3.39</td>
                        <td>3.42</td>
                        <td>3.45</td>
                        <td>3.47</td>
                        <td><b>3.50*</b></td>
                        <td>3.52</td>
                        <td>3.54</td>
                        <td>3.57</td>
                        <td>3.59</td>
                        <td>3.61</td>
                        <td>3.63</td>
                        <td>3.65</td>
                        <td>3.68</td>
                        <td>3.70</td>
                        <td><b>3.72**</b></td>
                        <td>3.74</td>
                        <td>3.74</td>
                        <td>3.76</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="1" colspan="1">3.75</th>
                        <td>3.37</td>
                        <td>3.44</td>
                        <td>3.50</td>
                        <td>3.56</td>
                        <td>3.60</td>
                        <td>3.63</td>
                        <td>3.66</td>
                        <td>3.69</td>
                        <td>3.72</td>
                        <td><b>3.75*</b></td>
                        <td>3.77</td>
                        <td>3.80</td>
                        <td>3.82</td>
                        <td>3.84</td>
                        <td>3.86</td>
                        <td>3.88</td>
                        <td>3.90</td>
                        <td>3.92</td>
                        <td>3.94</td>
                        <td><b>3.96**</b></td>
                        <td>3.98</td>
                        <td>3.99</td>
                        <td>4.01</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="1" colspan="1">4.00</th>
                        <td>3.58</td>
                        <td>3.65</td>
                        <td>3.72</td>
                        <td>3.79</td>
                        <td>3.83</td>
                        <td>3.87</td>
                        <td>3.90</td>
                        <td>3.94</td>
                        <td>3.97</td>
                        <td><b>4.00*</b></td>
                        <td>4.03</td>
                        <td>4.05</td>
                        <td>4.07</td>
                        <td>4.09</td>
                        <td>4.11</td>
                        <td>4.13</td>
                        <td>4.15</td>
                        <td>4.17</td>
                        <td>4.19</td>
                        <td><b>4.21**</b></td>
                        <td>4.23</td>
                        <td>4.26</td>
                        <td>4.28</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="1" colspan="1">4.50</th>
                        <td>4.02</td>
                        <td>4.10</td>
                        <td>4.19</td>
                        <td>4.28</td>
                        <td>4.32</td>
                        <td>4.37</td>
                        <td>4.40</td>
                        <td>4.44</td>
                        <td>4.47</td>
                        <td><b>4.50*</b></td>
                        <td>4.53</td>
                        <td>4.56</td>
                        <td>4.59</td>
                        <td>4.63</td>
                        <td>4.66</td>
                        <td>4.68</td>
                        <td>4.71</td>
                        <td><b>4.75**</b></td>
                        <td>4.78</td>
                        <td>4.81</td>
                        <td>4.84</td>
                        <td>4.87</td>
                        <td>4.91</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="1" colspan="1">5.00</th>
                        <td>4.52</td>
                        <td>4.59</td>
                        <td>4.67</td>
                        <td>4.75</td>
                        <td>4.80</td>
                        <td>4.85</td>
                        <td>4.89</td>
                        <td>4.93</td>
                        <td>4.96</td>
                        <td><b>5.00*</b></td>
                        <td>5.03</td>
                        <td>5.07</td>
                        <td>5.10</td>
                        <td>5.13</td>
                        <td>5.16</td>
                        <td>5.19</td>
                        <td>5.22</td>
                        <td><b>5.26**</b></td>
                        <td>5.29</td>
                        <td>5.32</td>
                        <td>5.35</td>
                        <td>5.38</td>
                        <td>5.41</td>
                    </tr>
                </tbody>
            </table>
            <p>
                * Presión nominal <br />
                ** Presión de rotura nominal
            </p>
        </section>
        <section>
            <h4>
                Ver también
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <dd>
                <ul>
                    <li>
                        <a href="">
                            Ryujin<sup>&trade;</sup> Plus OTW - Cateter balón ACTP semicomplaciente
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Ryujin<sup>&trade;</sup> Plus RX – Catéter balón ACTP semicomplaciente
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Tazuna<sup>&reg;</sup> - Cateter balón ACTP semicomplaciente
                        </a>
                    </li>
                </ul>
            </dd>
            <h5 class="black-text">
                Referencias
            </h5>
            <dd>
                <ol>
                    <li>
                        Compared with Hiryu. Non-Compliant PTCA Balloon Catheter manufactured by Terumo Corporation.
                    </li>
                </ol>
            </dd>
        </section>
    </div>
</section>