<ul class="collapsible" style="margin-top: 0px;">
    <li>
        <a class="collapsible-header">Introductor<i class="material-icons right">arrow_drop_down</i></a>
        <div class="submenu collapsible-body">
            <a (click)="goTo('cardiologia-intervencionista/productos-de-acceso-y-diagnostico/introductor/radifocus')">Radifocus®
                Introducer II Standard Kit - Introductor</a><br/>
            <a
                (click)="goTo('cardiologia-intervencionista/productos-de-acceso-y-diagnostico/introductor/radifocus-m-coat')">Radifocus®
                Introducer II M Coat™ - Introductor</a><br/>
            <a
                (click)="goTo('cardiologia-intervencionista/productos-de-acceso-y-diagnostico/introductor/glidensheath-slender')">Glidensheath
                Slender® - Introductor transradial</a>
        </div>
    </li>
</ul>