<ul class="collapsible" style="margin-top: 0px;">
    <li>
        <a class="collapsible-header">Guía<i class="material-icons right">arrow_drop_down</i></a>
        <div class="submenu collapsible-body">
            <a class="truncate"
                (click)="goTo('cardiologia-intervencionista/productos-de-acceso-y-diagnostico/guia/radifocus-guidewire-m')">Radifocus®
                Guidewire M Standard type – Guía estándar</a>
            <a class="truncate"
                (click)="goTo('cardiologia-intervencionista/productos-de-acceso-y-diagnostico/guia/radifocus-optitorque')">Radifocus®
                Optitorque® Catéter angiográfico – Guía estándar</a>
        </div>
    </li>
    <li>
        <a class="collapsible-header">Dispositivo de compresión de arteria radial<i
                class="material-icons right">arrow_drop_down</i></a>
        <div class="submenu collapsible-body">
            <a
                (click)="goTo('cardiologia-intervencionista/productos-de-acceso-y-diagnostico/dispositivo-de-compresion-de-arteria-radial/tr-band-disp-c-a-r')">TR
                band</a>
        </div>
    </li>
    <li>
        <a class="collapsible-header">Dispositivos Cierre Vascular<i
                class="material-icons right">arrow_drop_down</i></a>
        <div class="submenu collapsible-body">
            <a
                (click)="goTo('cardiologia-intervencionista/productos-de-acceso-y-diagnostico/dispositivos-cierre-vascular/angio-seal')">Angioseal</a>
        </div>
    </li>
</ul>