<app-banner-cardiologia-interv [titulo]="titulo" [imagen]="imagen"></app-banner-cardiologia-interv>
<section>
    <div class="container">
        <section>
            <h3>
                Acceso distal preciso y flujo alto
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <p>
                Terumo presenta el sistema de microcatéter Progreat<sup>&reg;</sup>, un avance tecnológico diseñado para
                realizar una
                embolización terapéutica y angiografía controlada, precisa y selectiva en
                los vasos periféricos.
            </p>
        </section>
        <section>
            <h3>
                Características
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <h6 class="black-text">
                <b>
                    RÁPIDO
                </b>
            </h6>
            <h6 class="black-text">
                <b>
                    Bobina espiral de tungsteno
                </b>
            </h6>
            <p>
                El espiral de tungsteno protege la integridad del lumen y brinda una excelente resistencia al
                acodamiento,
                permitiendo un suministro suave de todo tipo de materiales embólicos. También permite que la luz interna
                alcance un índice de flujo óptimo con alta presión (max. 900 psi/6205 kPa)<sup>1</sup>.
            </p>
            <h6 class="black-text">
                <b>
                    Capa exterior variada
                </b>
            </h6>
            <p>
                La variedad de materiales de la capa exterior brinda rigidez para la transición hacia la punta distal
                del microcatéter, garantizando una navegabilidad confiable en los vasos objetivo estrechos y
                tortuosos<sup>1</sup>.
            </p>

            <h6 class="black-text">
                <b>
                    Lavado rápido (tipo coaxial)
                </b>
            </h6>
            <p>
                Prepare al menos 1 ml de solución salina heparinizada a través del puerto de la guía coaxial. Permita
                que más de 10 gotas salgan de la punta del microcatéter. Esto activa el cubrimiento hidrofílico de la
                guía coaxial y lubrica la luz interna de Progreat<sup>&reg;</sup>.
            </p>
            <div class="divider"></div>
            <h6 class="black-text">
                <b>
                    SOFISTICADO
                </b>
            </h6>
            <h6 class="black-text">
                <b>
                    Capa interior PTFE
                </b>
            </h6>
            <p>
                La suave superficie PTFE brinda un paso virtualmente sin fricción para una precisión excepcional en el
                control del cable guía y el suministro de agente embólico.
            </p>
            <h6 class="black-text">
                <b>
                    M Coat<sup>&trade;</sup>
                </b>
            </h6>
            <p>
                El famoso cubrimiento hidrófílo de Terumo facilita la navegación a través de la anatomía vascular,
                convirtiendo a Progreat<sup>&reg;</sup> en un avance en la práctica angiográfica convencional.
            </p>
            <h6 class="black-text">
                <b>
                    Estructura de tres capas
                </b>
            </h6>
            <p>
                Esta estructura original no solo le brinda a Progreat<sup>&reg;</sup> una resistencia al torcimiento de
                renombre a
                nivel mundial, también mejora su radiopacidad y flexibilidad distal para un posicionamiento de catéter
                más preciso<sup>1</sup>.
            </p>
            <div class="divider"></div>
            <h6 class="black-text">
                <b>
                    PRECISO
                </b>
            </h6>
            <h6 class="black-text">
                <b>
                    Inclinación variada de la bobina
                </b>
            </h6>
            <p>
                La inclinación variada de la bobina de tungsteno brinda flexibilidad en la punta del catéter, aumentando
                notablemente su selectividad distal en vasos estrechos y tortuosos hacia lesiones distales<sup>1</sup>.
            </p>
            <h6 class="black-text">
                <b>
                    Visibilidad óptima
                </b>
            </h6>
            <p>
                Para posicionamiento rápido y preciso. Progreat<sup>&reg;</sup> contiene tres componentes radiopacos. La
                estructura del
                catéter es, en sí misma, una espiral radiopaca de tungsteno. Un marcador de platino/iridio específico de
                0,7 mm indica el extremo distal. En la versión coaxial, Progreat<sup>&reg;</sup> es entregado con un
                Radifocus
                Guidewire<sup>&reg;</sup> GT que incluye una espiral de oro de 3 cm en la punta.
            </p>
            <h6 class="black-text">
                <b>
                    “Parador de guía”
                </b>
            </h6>
            <p>
                Este dispositivo permite una longitud variable prominente de la guía y brinda perfecto control de la
                estabilidad y accesibilidad a la lesión objetivo.
            </p>
            <div class="progreat-img"></div>
            <div class="hide-on-med-and-up">
                <dd>
                    <ol>
                        <li>
                            <span>
                                Bobina radiopaca dorada de 3 cm.
                            </span>
                        </li>
                        <li>
                            <span>
                                Capa interior PTFE.
                            </span>
                        </li>
                        <li>
                            <span>
                                Marcador radiopaco de platino/
                                iridio de 0,7 mm.
                            </span>
                        </li>
                        <li>
                            <span>
                                Bobina espiral radiopaca de
                                tungsteno.
                            </span>
                        </li>
                        <li>
                            <span>
                                Capa exterior con M Coat<sup>&trade;</sup>.
                            </span>
                        </li>
                    </ol>
                </dd>
            </div>
            <p class="center-align">
                Microcatéter Progreat<sup>&reg;</sup> de 2,0 Fr / 2,4 Fr / 2,8 Fr (sin cable guía)
            </p>
            <div class="center-content">
                <img src="assets/img/solutions/intervencionismo/progreat_technical_drawing_1.png"
                    alt="Progreat Technical Drawing" class="responsive-img">
            </div>
            <p class="center-align">
                Sistema de microcatéter Progreat® de 2,7 Fr / 2,8 Fr<br />
                (tipo coaxial con catéter y cable guía)
            </p>
            <div class="microcateter-img"></div>
            <div class="hide-on-med-and-up">
                <dd>
                    <ol>
                        <li>
                            <span>
                                Cable guía.
                            </span>
                        </li>
                        <li>
                            <span>
                                Eje del catéter.
                            </span>
                        </li>
                        <li>
                            <span>
                                Núcleo.
                            </span>
                        </li>
                    </ol>
                </dd>
            </div>
        </section>
        <section>
            <h3>
                Especificaciones generales
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <table class="reponsive-table highlight">
                <tbody>
                    <tr>
                        <th class="bold-tittle-table">
                            Capa interna del catéter
                        </th>
                        <td>PTFE</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Catéter capa media
                        </th>
                        <td>Bobina de tungsteno radiopaca</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Capa externa del catéter
                        </th>
                        <td>
                            Elastómero y pigmento de poliéster
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Revestimiento hidrofílico
                        </th>
                        <td>
                            M Polímero de capa
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Marcador radiopaco distal (para algunos artículos)
                        </th>
                        <td>
                            Uno o dos marcadores radiopacos de 0,7 mm cada uno
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">​
                            Diámetros exteriores de los catéteres
                        </th>
                        <td>​
                            2.0 Fr (0.67 mm) / 2.4 Fr (0.80 mm) / 2.7 Fr
                            (0.90 mm) / 2.8 Fr (0.93 mm)
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">​
                            Diámetros interiores de los catéteres
                        </th>
                        <td>​
                            0.019'' (0.49 mm) / 0.022" (0.57 mm) /
                            0.025" (0.65 mm) / 0.027" (0.70 mm)
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">​
                            Longitudes de catéteres
                        </th>
                        <td>​
                            110 cm / 130 cm / 150 cm
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Presión máxima de los catéteres
                        </th>
                        <td>​750 psi (5 171 kPa) / 900 psi (6 205 kPa)
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">​
                            Material del núcleo de la guía de
                            alambre (para versiones coaxiales)
                        </th>
                        <td>​Nitinol</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Material de la capa exterior de la guía de alambre (para las versiones coaxiales)
                        </th>
                        <td>
                            Capa de poliuretano que contiene tungsteno
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Revestimiento hidrofílico de alambre guía (para versiones coaxiales)
                        </th>
                        <td>
                            M Polímero de capa
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Marcador distal de guías metálicas (para versiones coaxiales)
                        </th>
                        <td>
                            Bobina de oro de 3 cm
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">​
                            Diámetros de las guías (para las versiones coaxiales)
                        </th>
                        <td>
                            0.021" (0.53 mm) (disponible sólo para programas coaxiales)
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Longitudes de guía (para las versiones coaxiales)
                        </th>
                        <td>120 cm / 140 cm</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Longitud de guía que sobresale del catéter (para las versiones coaxiales)
                        </th>
                        <td>10 cm máximo</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Curva distal del catéter
                        </th>
                        <td>
                            Recto (moldeable) / 90° (90° sólo para 2,4 Fr)
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h3>
                Especificaciones del artículo
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <table class="responsive-table highlight second-table" cellspacing="0">
                <thead>
                    <tr>
                        <th class="bold-tittle-table">
                            Referencia del artículo
                        </th>
                        <th class="bold-tittle-table">
                            Descripción
                        </th>
                        <th class="bold-tittle-table">
                            Diámetro exterior
                        </th>
                        <th class="bold-tittle-table">
                            Longitud
                        </th>
                        <th class="bold-tittle-table">
                            Diámetro interior
                        </th>
                        <th class="bold-tittle-table">
                            Curva distal
                        </th>
                        <th class="bold-tittle-table">
                            0.021" (0.53 mm) guía de radioenfoque GT
                        </th>
                        <th class="bold-tittle-table">
                            Compatibilidad de guías
                        </th>
                        <th class="bold-tittle-table">
                            Marcador radiopaco de platino / iridio de 0,7 mm
                        </th>
                        <th class="bold-tittle-table">
                            Presión máxima
                        </th>
                        <th class="bold-tittle-table">
                            Volumen muerto (cubo + catéter)
                        </th>
                        <th class="bold-tittle-table">
                            Forma de alambre guía
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            ​MC-PC2011<br></td>
                        <td>
                            ​Progreat&nbsp;2.0&nbsp;Fr<br></td>
                        <td>​2.0 Fr /
                            0.67 mm<br></td>
                        <td>​110 cm<br>
                        </td>
                        <td>​0.019'' /
                            0.49 mm<br></td>
                        <td>​Straight
                            (shapeable)<br></td>
                        <td>​N/A<br>
                        </td>
                        <td>​0.016'' /
                            0.41 mm<br></td>
                        <td>​1<br></td>
                        <td>​750 psi /
                            5171 kPa<br></td>
                        <td>​0.28
                            ml<br></td>
                        <td>​N/A<br>
                        </td>
                    </tr>
                    <tr>
                        <td>MC-PC2013</td>
                        <td>Progreat 2.0 Fr<br></td>
                        <td>2.0 Fr / 0.67 mm<br></td>
                        <td>130 cm</td>
                        <td>0.019'' / 0.49 mm</td>
                        <td>Straight (shapeable)</td>
                        <td>N/A<br></td>
                        <td>0.016'' / 0.41 mm</td>
                        <td>1</td>
                        <td>750 psi / 5171 kPa</td>
                        <td>0.32&nbsp;ml</td>
                        <td>​N.A<br></td>
                    </tr>
                    <tr>
                        <td>MC-PC2015<br></td>
                        <td>Progreat 2.0 Fr<br></td>
                        <td>2.0 Fr / 0.67 mm</td>
                        <td>150 cm</td>
                        <td>0.019'' / 0.49 mm</td>
                        <td>Straight (shapeable)</td>
                        <td>N/A</td>
                        <td>0.016'' / 0.41 mm</td>
                        <td>1</td>
                        <td>750 psi / 5171 kPa</td>
                        <td>0.38&nbsp;ml</td>
                        <td>​N/A<br></td>
                    </tr>
                    <tr>
                        <td>
                            ​MC-PP24111ZD<br></td>
                        <td>​Progreat 2.4 Fr
                            Coaxial<br></td>
                        <td>​2.4 Fr /
                            0.80&nbsp;mm<br></td>
                        <td>​110cm<br></td>
                        <td>​0.022'' / 0.57
                            mm<br></td>
                        <td>​Straight<br>
                        </td>
                        <td>​0.018"<br></td>
                        <td>​0.018'' / 0.46
                            mm<br></td>
                        <td>​1<br></td>
                        <td>​750 psi / 5171
                            kPa<br></td>
                        <td>​0.38 ml<br>
                        </td>
                        <td>
                            ​Double angled<br></td>
                    </tr>
                    <tr>
                        <td>
                            ​MC-PP24111ZB<br></td>
                        <td>​Progreat 2.4 Fr
                            Coaxial<br></td>
                        <td>​2.4 Fr /
                            0.80&nbsp;mm<br></td>
                        <td>​110cm&nbsp;<br>
                        </td>
                        <td>​0.022'' / 0.57
                            mm<br></td>
                        <td>​​Straight<br>
                        </td>
                        <td>​0.018"<br></td>
                        <td>​​0.018'' / 0.46
                            mm<br></td>
                        <td>​1<br></td>
                        <td>​750 psi / 5171
                            kPa<br></td>
                        <td>​0.38 ml<br>
                        </td>
                        <td>​70
                            degree<br></td>
                    </tr>
                    <tr>
                        <td>​MC-PC2411<br>
                        </td>
                        <td>​Progreat 2.4
                            Fr<br></td>
                        <td>​2.4 Fr /
                            0.80&nbsp;mm<br></td>
                        <td>​110 cm<br></td>
                        <td>​0.022'' / 0.57
                            mm<br></td>
                        <td>​Straight
                            (shapeable<br></td>
                        <td>​N/A<br></td>
                        <td>​0.018'' / 0.46
                            mm<br></td>
                        <td>​0<br></td>
                        <td>​750 psi / 5171
                            kPa<br></td>
                        <td>​0.38 ml<br>
                        </td>
                        <td>
                            ​N/A<br></td>
                    </tr>
                    <tr>
                        <td>
                            ​MC-PP24131ZD<br></td>
                        <td>​Progreat 2.4 Fr
                            Coaxial<br></td>
                        <td>​2.4 Fr /
                            0.80&nbsp;mm<br></td>
                        <td>​130 cm<br></td>
                        <td>​0.022'' / 0.57
                            mm<br></td>
                        <td>​Straight<br>
                        </td>
                        <td>​0.018"<br></td>
                        <td>​​0.018'' / 0.46
                            mm<br></td>
                        <td>​1<br></td>
                        <td>​750 psi / 5171
                            kPa<br></td>
                        <td>​0.43 ml<br>
                        </td>
                        <td>
                            ​Double angled<br></td>
                    </tr>
                    <tr>
                        <td>
                            ​MC-PP24131ZB<br></td>
                        <td>​Progreat 2.4 Fr
                            Coaxial<br></td>
                        <td>​2.4 Fr /
                            0.80&nbsp;mm<br></td>
                        <td>​130 cm<br></td>
                        <td>​0.022'' / 0.57
                            mm<br></td>
                        <td>​Straight<br>
                        </td>
                        <td>​0.018"<br></td>
                        <td>​​0.018'' / 0.46
                            mm<br></td>
                        <td>​1<br></td>
                        <td>​750 psi / 5171
                            kPa<br></td>
                        <td>​0.43 ml<br>
                        </td>
                        <td>​70
                            degree<br></td>
                    </tr>
                    <tr>
                        <td>MC-PC2413</td>
                        <td>Progreat 2.4 Fr</td>
                        <td>2.4 Fr / 0.80 mm</td>
                        <td>130 cm</td>
                        <td>0.022'' / 0.57 mm</td>
                        <td>Straight (shapeable)</td>
                        <td>N/A<br></td>
                        <td>0.018'' / 0.46 mm</td>
                        <td>0</td>
                        <td>750 psi / 5171 kPa</td>
                        <td>0.43 ml</td>
                        <td>​N/A<br></td>
                    </tr>
                    <tr>
                        <td>MC-PB2413<br></td>
                        <td>Progreat 2.4 Fr<br></td>
                        <td>2.4 Fr / 0.80 mm</td>
                        <td>130 cm</td>
                        <td>0.022'' / 0.57 mm</td>
                        <td>Straight (shapeable)</td>
                        <td>N/A<br></td>
                        <td>0.018'' / 0.46 mm</td>
                        <td>1</td>
                        <td>750 psi / 5171 kPa</td>
                        <td>0.43 ml</td>
                        <td>​N/A<br></td>
                    </tr>
                    <tr>
                        <td>MC-PX2413 </td>
                        <td>Progreat 2.4 Fr<br></td>
                        <td>2.4 Fr / 0.80 mm</td>
                        <td>130 cm</td>
                        <td>0.022"/ 0.57 mm</td>
                        <td>90° Angle</td>
                        <td>N/A<br></td>
                        <td>0.018'' / 0.46 mm</td>
                        <td>0</td>
                        <td>750 psi / 5171 kPa</td>
                        <td>0.43 ml</td>
                        <td>​N/A<br></td>
                    </tr>
                    <tr>
                        <td>
                            ​MC-PP24151ZV<br></td>
                        <td>​​Progreat 2.4 Fr
                            Coaxial<br></td>
                        <td>​2.4 Fr / 0.80
                            mm<br></td>
                        <td>​150 cm<br></td>
                        <td>​0.022"/ 0.57
                            mm<br></td>
                        <td>​Straight<br>
                        </td>
                        <td>​0.018"<br></td>
                        <td>​0.018'' / 0.46
                            mm<br></td>
                        <td>​2<br></td>
                        <td>​750 psi / 5171
                            kPa<br></td>
                        <td>​0.47 ml<br>
                        </td>
                        <td>70
                            degree​</td>
                    </tr>
                    <tr>
                        <td>
                            ​MC-PP24151ZW<br></td>
                        <td>​​Progreat 2.4 Fr
                            Coaxial<br></td>
                        <td>​2.4 Fr / 0.80
                            mm<br></td>
                        <td>​150 cm<br></td>
                        <td>​0.022"/ 0.57
                            mm<br></td>
                        <td>​Straight<br>
                        </td>
                        <td>​0.018"<br></td>
                        <td>​0.018'' / 0.46
                            mm<br></td>
                        <td>​2<br></td>
                        <td>​750 psi / 5171
                            kPa<br></td>
                        <td>​0.47 ml<br>
                        </td>
                        <td>
                            ​Double angled<br></td>
                    </tr>
                    <tr>
                        <td>​MC-PC2415<br>
                        </td>
                        <td>​Progreat 2.4
                            Fr<br></td>
                        <td>​2.4 Fr / 0.80
                            mm<br></td>
                        <td>​150cm<br></td>
                        <td>​0.022"/ 0.57
                            mm<br></td>
                        <td>​Straight
                            (shapeable)<br></td>
                        <td>​N/A<br></td>
                        <td>​0.018'' / 0.46
                            mm<br></td>
                        <td>​0<br></td>
                        <td>​750 psi / 5171
                            kPa<br></td>
                        <td>​0.47 ml<br>
                        </td>
                        <td>
                            ​N/A<br></td>
                    </tr>
                    <tr>
                        <td>MC-PV2415Y<br></td>
                        <td>Progreat 2.4 Fr<br></td>
                        <td>2.4 Fr / 0.80 mm</td>
                        <td>150 cm</td>
                        <td>0.022'' / 0.57 mm</td>
                        <td>Straight (shapeable)</td>
                        <td>N/A<br></td>
                        <td>0.018'' / 0.46 mm</td>
                        <td>2 (3 cm proximal to distal)
                        </td>
                        <td>750 psi / 5171 kPa</td>
                        <td>0.47&nbsp;ml</td>
                        <td>​N/A<br></td>
                    </tr>
                    <tr>
                        <td>MC-PP27111<br></td>
                        <td>Progreat 2.7
                            Fr&nbsp;Coaxial<br></td>
                        <td>2.7 Fr / 0.90 mm</td>
                        <td>110 cm</td>
                        <td>0.025'' / 0.65 mm</td>
                        <td>Straight (shapeable)</td>
                        <td>0.021"<br></td>
                        <td>0.021'' / 0.53 mm</td>
                        <td>0</td>
                        <td>750 psi / 5171 kPa</td>
                        <td>0.46&nbsp;ml</td>
                        <td>​70 degree<br>
                        </td>
                    </tr>
                    <tr>
                        <td>​MC-PE27115<br>
                        </td>
                        <td>​Progreat
                            2.7&nbsp;Fr&nbsp;Coaxial<br></td>
                        <td>​2.7 Fr / 0.90
                            mm<br></td>
                        <td>​110 cm<br></td>
                        <td>​0.025'' / 0.65
                            mm<br></td>
                        <td>​Straight
                            (shapeable)<br></td>
                        <td>​0.021"<br></td>
                        <td>​0.021'' / 0.53
                            mm<br></td>
                        <td>​0<br></td>
                        <td>​750 psi / 5171
                            kPa<br></td>
                        <td>​0.46 ml<br>
                        </td>
                        <td>​70
                            degree<br></td>
                    </tr>
                    <tr>
                        <td>​MC-PE27111<br>
                        </td>
                        <td>​Progreat
                            2.7&nbsp;Fr&nbsp;Coaxial<br></td>
                        <td>​2.7 Fr / 0.90
                            mm<br></td>
                        <td>​110 cm<br></td>
                        <td>​​0.025'' / 0.65
                            mm<br></td>
                        <td>​​Straight
                            (shapeable)<br></td>
                        <td>​0.021"<br></td>
                        <td>​​0.021'' / 0.53
                            mm<br></td>
                        <td>​0<br></td>
                        <td>​​750 psi / 5171
                            kPa<br></td>
                        <td>​​0.46 ml<br>
                        </td>
                        <td>​70
                            degree<br></td>
                    </tr>
                    <tr>
                        <td>MC-PP27131<br></td>
                        <td>Progreat 2.7 Fr Coaxial<br>
                        </td>
                        <td>2.7 Fr / 0.90 mm</td>
                        <td>130 cm</td>
                        <td>0.025'' / 0.65 mm</td>
                        <td>Straight (shapeable)<br></td>
                        <td>0.021"<br></td>
                        <td>0.021'' / 0.53 mm</td>
                        <td>0</td>
                        <td>750 psi / 5171 kPa</td>
                        <td>0.53&nbsp;ml </td>
                        <td>​70 degree<br>
                        </td>
                    </tr>
                    <tr>
                        <td>​MC- PE27131<br>
                        </td>
                        <td>​Progreat 2.7 Fr
                            Coaxial<br></td>
                        <td>​2.7 Fr / 0.90
                            mm<br></td>
                        <td>​130 cm<br></td>
                        <td>​0.025'' / 0.65
                            mm<br></td>
                        <td>​Straight
                            (shapeable)<br></td>
                        <td>​0.021"<br></td>
                        <td>​0.021'' / 0.53
                            mm<br></td>
                        <td>​0<br></td>
                        <td>​750 psi / 5171
                            kPa<br></td>
                        <td>​0.53 ml<br>
                        </td>
                        <td>​70
                            degree<br></td>
                    </tr>
                    <tr>
                        <td>
                            ​MC-<br>PC2715<br></td>
                        <td>​​Progreat 2.7
                            Fr<br></td>
                        <td>​​2.7 Fr / 0.90
                            mm<br></td>
                        <td>​150 cm<br></td>
                        <td>​​0.025'' / 0.65
                            mm<br></td>
                        <td>​​Straight
                            (shapeable)<br></td>
                        <td>​N/A<br></td>
                        <td>​0.021'' / 0.53
                            mm<br></td>
                        <td>​0<br></td>
                        <td>​750 psi / 5171
                            kPa<br></td>
                        <td>​0.59 ml<br>
                        </td>
                        <td>
                            ​N/A<br></td>
                    </tr>
                    <tr>
                        <td>​MC- PP27151<br>
                        </td>
                        <td>​​Progreat 2.7 Fr
                            Coaxial<br></td>
                        <td>​​​2.7 Fr / 0.90
                            mm<br></td>
                        <td>​150 cm<br></td>
                        <td>​0.025'' / 0.65
                            mm<br></td>
                        <td>​​​Straight
                            (shapeable)<br></td>
                        <td>​0.021"<br></td>
                        <td>​​0.021'' / 0.53
                            mm<br></td>
                        <td>​0<br></td>
                        <td>​​750 psi / 5171
                            kPa<br></td>
                        <td>​0.59 ml<br>
                        </td>
                        <td>​70
                            degree<br></td>
                    </tr>
                    <tr>
                        <td>MC-PC2813</td>
                        <td>Progreat 2.8 Fr<br></td>
                        <td>2.8 Fr / 0.93 mm</td>
                        <td>130 cm</td>
                        <td>0.027'' / 0.70 mm</td>
                        <td>Straight (shapeable)</td>
                        <td>N/A<br></td>
                        <td>0.021'' / 0.53 mm</td>
                        <td>0</td>
                        <td>900 psi / 6205 kPa</td>
                        <td>0.59&nbsp;ml</td>
                        <td>​N/A<br></td>
                    </tr>
                    <tr>
                        <td>​MC- PE28131<br>
                        </td>
                        <td>​Progreat 2.8
                            Fr<br></td>
                        <td>​2.8 Fr / 0.93
                            mm<br></td>
                        <td>​130 cm<br></td>
                        <td>​0.027'' / 0.70
                            mm<br></td>
                        <td>​Straight
                            (shapeable)<br></td>
                        <td>​N/A<br></td>
                        <td>​0.021'' / 0.53
                            mm<br></td>
                        <td>​0<br></td>
                        <td>​900 psi / 6205
                            kPa<br></td>
                        <td>​0.59 ml<br>
                        </td>
                        <td>
                            ​N/A<br></td>
                    </tr>
                    <tr>
                        <td>​MC- PP28131<br>
                        </td>
                        <td>​Progreat 2.8
                            Fr<br></td>
                        <td>​​2.8 Fr / 0.93
                            mm<br></td>
                        <td>​130 cm<br></td>
                        <td>​0.027'' / 0.70
                            mm<br></td>
                        <td>​Straight
                            (shapeable)<br></td>
                        <td>​N/A<br></td>
                        <td>​​0.021'' / 0.53
                            mm<br></td>
                        <td>​0<br></td>
                        <td>​900 psi / 6205
                            kPa<br></td>
                        <td>​0.59 ml<br>
                        </td>
                        <td>
                            ​N/A<br></td>
                    </tr>
                    <tr>
                        <td>MC-PE28131ZB</td>
                        <td>Progreat&nbsp; 2.8 Fr<br>
                        </td>
                        <td>2.8 Fr / 0.93 mm</td>
                        <td>130 cm</td>
                        <td>0.027'' / 0.70 mm</td>
                        <td>Straight (shapeable)</td>
                        <td>0.021"<br></td>
                        <td>0.021'' / 0.53 mm</td>
                        <td>1</td>
                        <td>900 psi / 6205 kPa</td>
                        <td>0.59&nbsp;ml</td>
                        <td>​70 degree<br>
                        </td>
                    </tr>
                    <tr>
                        <td>​MC-PV2815Y<br>
                        </td>
                        <td>
                            ​Progreat&nbsp;2.8 Fr<br></td>
                        <td>​2.8 Fr / 0.93
                            mm<br></td>
                        <td>​150 cm<br></td>
                        <td>​0.027'' / 0.70
                            mm<br></td>
                        <td>​Straight
                            (shapeable)<br></td>
                        <td>​N/A<br></td>
                        <td>​0.021'' / 0.53
                            mm<br></td>
                        <td>​2 (3 cm
                            proximal to distal)<br></td>
                        <td>​900 psi / 6205
                            kPa<br></td>
                        <td>
                            ​0.66&nbsp;ml<br></td>
                        <td>
                            ​N/A<br></td>
                    </tr>
                    <tr>
                        <td>MC-PE28151ZV<br><br></td>
                        <td>
                            <p>Progreat&nbsp;2.8 Fr Coaxial<br></p>
                        </td>
                        <td>2.8 Fr / 0.93 mm</td>
                        <td>150 cm<br></td>
                        <td>0.027'' / 0.70 mm</td>
                        <td>Straight (shapeable)</td>
                        <td>N/A<br></td>
                        <td>0.021'' / 0.53 mm</td>
                        <td>2 (3 cm proximal to distal)
                        </td>
                        <td>900 psi / 6205 kPa</td>
                        <td>0.66&nbsp;ml</td>
                        <td>​N/A<br></td>
                    </tr>
                </tbody>
            </table>
            <h6 class="center-align">
                Por favor copie el código de referencia cuando realice un pedido.
            </h6>
        </section>
        <section>
            <h6 class="black-text">
                <b>
                    Referencias
                </b>
            </h6>
            <dd>
                <ol>
                    <li>
                        <span>
                            Bench testing done by Terumo Corporation. Data on file (TC-Pro107). Bench test data may not
                            necessarily be
                            indicative of clinical performance.
                        </span>
                    </li>
                </ol>
            </dd>
        </section>
    </div>
</section>