<app-banner-cardiologia-interv [titulo]="titulo" [imagen]="imagen"></app-banner-cardiologia-interv>
<section>
    <div class="container">
        <section>
            <h4>
                Diseñado para favorecer el éxito en procedimientos complejos
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <p>
                El microcatéter Finecross<sup>&reg;</sup> MG combina una excelente cruzabilidad y óptimo soporte de la
                guía para tratar casos muy desafiantes que involucren vasos tortuosos, oclusiones crónicas totales
                (OCT), bifurcaciones y lesiones altamente estenosadas y calcificadas.
            </p>
        </section>
        <section>
            <h4>
                Características
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <p>
                <b>
                    Cruzabilidad superior<sup>1</sup>
                </b>
            </p>
            <dd>
                <ul>
                    <li>
                        El recubrimiento hidrofílico y el segmento distal flexible permiten el avance y acceso a través
                        de
                        vasos distales tortuosos.
                    </li>
                    <li>
                        Diámetro interno y externo cónicos en el rango de 2,6 Fr a 1,8 Fr a lo largo para una buena
                        cruzabilidad de las lesiones.
                    </li>
                </ul>
            </dd>
            <p>
                <b>
                    Óptimo soporte de la guía
                </b>
            </p>
            <dd>
                <ul>
                    <li>
                        El cuerpo con enmallado completo de acero inoxidable brinda capacidad de respuesta a la fuerza,
                        mejorando la integridad de lumen y la capacidad de empuje.
                    </li>
                    <li>
                        La capa interior de politetrafluoroetileno (PTFE) permite un manejo suave de la guía, con menor
                        resistencia, y facilita el intercambio de guías durante procedimientos complejos.
                    </li>
                </ul>
            </dd>
            <div class="center-content finecross-img">
            </div>
            <div class="hide-on-med-and-up">
                <ol>
                    <li>
                        2,6 Fr (0,87 mm)
                    </li>
                    <li>
                        1,8 Fr (0,60 mm)
                    </li>
                    <li>
                        Recubrimiento hidrofílico con tecnología
                        Glide (en porción distal)
                    </li>
                    <li>
                        Punta de 0,7 mm
                    </li>
                    <li>
                        Marcador de oro de 0,7 mm
                    </li>
                    <li>
                        Trenza de acero inoxidable
                    </li>
                    <li>
                        13 cm de punta floppy
                    </li>
                </ol>
            </div>
        </section>
        <section>
            <h4>
                Especificaciones generales
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <table class="responsive-table highlight">
                <tbody>
                    <tr>
                        <td class="bold-tittle-table">
                            Recubrimiento del cuerpo
                        </td>
                        <td>
                            Hidrofílico
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-tittle-table">
                            Enmallado
                        </td>
                        <td>
                            Acero inoxidable – SUS.
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-tittle-table">
                            Capa interna
                        </td>
                        <td>
                            Polytetrafluoroethylene - PTFE
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-tittle-table">
                            Marcador radiopaco
                        </td>
                        <td>
                            Marcador de oro de 0.7 mm localizado a 0.7 mm del tip
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-tittle-table">
                            Longitud utilizable
                        </td>
                        <td>
                            130 o 150 cm
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h4>
                Ilustraciones del producto
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <div class="row">
                <div class="col s12 m6 center-content">
                    <img src="assets/img/solutions/intervencionismo/conventional-microcatheter.png"
                        alt="Microcateter convencional" class="responsive-img">
                    <h6 class="black-text">
                        <b>
                            Microcatéter convencional
                        </b>
                    </h6>
                </div>
                <div class="col s12 m6 center-content center-align">
                    <img src="assets/img/solutions/intervencionismo/finecross-mg.png" alt="Finecross MG"
                        class="responsive-img">
                    <h6 class="black-text">
                        <b>
                            Finecross<sup>&reg;</sup> MG
                        </b>
                    </h6>
                    <p>
                        Cónico de 2,6 Fr a 1,8 Fr a lo largo de la longitud total del catéter
                    </p>
                </div>
            </div>
        </section>
        <section>
            <h4>
                Especificaciones del artículo
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <table class="responsive-table highlight">
                <thead>
                    <tr>
                        <th class="bold-tittle-table">
                            Referencia del ítem
                        </th>
                        <th class="bold-tittle-table">
                            Longitud del catéter
                        </th>
                        <th class="bold-tittle-table">
                            Diámetro distal externo
                        </th>
                        <th class="bold-tittle-table">
                            Diámetro proximal externo
                        </th>
                        <th class="bold-tittle-table">
                            Diámetro distal interno
                        </th>
                        <th class="bold-tittle-table">
                            Diámetro
                            proximal
                            interno
                        </th>
                        <th class="bold-tittle-table">
                            Compatibilidad
                            guía
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            NC-F863A
                        </td>
                        <td>
                            ​130 cm
                        </td>
                        <td rowspan="2">
                            1.8 Fr / 0.60 mm
                        </td>
                        <td rowspan="2">
                            ​ ​2.6 Fr / 0.87 mm
                        </td>
                        <td rowspan="2">
                            ​ ​0.018" / 0.45 mm
                        </td>
                        <td rowspan="2">
                            ​ ​0.021" / 0.55 mm
                        </td>
                        <td rowspan="2">
                            ​ ​Maximum diameter 0.014" / 0.36 mm
                        </td>
                    </tr>
                    <tr>
                        <td>
                            NC-F865A
                        </td>
                        <td>
                            ​150 cm
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="center-align">
                <h6>
                    Por favor copie el código de referencia cuando realice un pedido.
                </h6>
            </div>
        </section>
        <section>
            <h4>
                Ver también
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <dd>
                <ul>
                    <li>
                        <a href="https://www.terumo-europe.com/en-emea/products/fineduo%C2%AE-dual-lumen-catheter"
                            target="_blank" rel="noopener noreferrer">
                            FineDuo<sup>&reg;</sup> - Microcatéter de lumen dual multifuncional
                        </a>
                    </li>
                </ul>
            </dd>
            <h5 class="black-text">
                Referencias
            </h5>
            <dd>
                <ol>
                    <li>
                        Muramatsu et al., Current technical and clinical features of the antegrade and retrograde
                        approaches to percutaneous transluminal coronary intervention for chronic total occlusion, The
                        Egyptian Heart Journal, 2014; 66:1-10.
                    </li>
                    <li>
                        Werner et al., Tools & Techniques: the antegrade recanalisation technique for CTO,
                        Eurointervention, 2011;6:1137-1139.
                    </li>
                </ol>
            </dd>
        </section>
    </div>
</section>