<app-banner-infusion [imagen]="imagen" [titulo]="titulo"></app-banner-infusion>
<div class="section container">
    <h5>
        <b>
            Especificaciones
        </b>
    </h5>
    <div class="progress">
        <div class="determinate" style="width: 20%"></div>
    </div>
    <table width="100%" class="responsive-table highlight" cellspacing="0">
        <thead>
            <tr>
                <th class="bold-tittle-table" rowspan="2" colspan="1">
                    Referencia<sup>1</sup></th>
                <th class="bold-tittle-table" rowspan="2" colspan="1">Código de color</th>
                <th class="bold-tittle-table" rowspan="2" colspan="1">Calibrador <br class="hide-on-med-and-down">(G)
                </th>
                <th class="bold-tittle-table" rowspan="2" colspan="1">Longitud <br class="hide-on-med-and-down">(mm)
                </th>
                <th class="bold-tittle-table" rowspan="1" colspan="2">
                    Centro
                </th>
                <td rowspan="2">Unidad de <br class="hide-on-med-and-down">caja</td>
                <td rowspan="2">Cartón de <br class="hide-on-med-and-down">envío</td>
                <td rowspan="2">Vida útil <br class="hide-on-med-and-down">(años)</td>
                <td rowspan="2">Esterilización</td>
            </tr>
            <tr class="responsive-row">
                <th class="bold-tittle-table" rowspan="1" colspan="1">​
                    Tipo
                </th>
                <th class="bold-tittle-table" rowspan="1" colspan="1">
                    Color
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="1" colspan="1">DN*2508F</td>
                <td>Red</td>
                <td>25</td>
                <td>8</td>
                <td>Metric</td>
                <td>Blue</td>
                <td>100</td>
                <td>2000</td>
                <td>5</td>
                <td>EtO</td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1">DN*2535F</td>
                <td>Red</td>
                <td>25</td>
                <td>35</td>
                <td>Metric</td>
                <td>Blue</td>
                <td>100</td>
                <td>2000</td>
                <td>5</td>
                <td>EtO</td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1">DN*2721</td>
                <td>Ivory</td>
                <td>27</td>
                <td>21</td>
                <td>Imperial</td>
                <td>White</td>
                <td>100</td>
                <td>2000</td>
                <td>5</td>
                <td>EtO</td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1">DN*2722</td>
                <td>Ivory</td>
                <td>27</td>
                <td>22</td>
                <td>Imperial</td>
                <td>White</td>
                <td>100</td>
                <td>2000</td>
                <td>5</td>
                <td>EtO</td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1">DN*2730</td>
                <td>Ivory</td>
                <td>27</td>
                <td>30</td>
                <td>Imperial</td>
                <td>White</td>
                <td>100</td>
                <td>2000</td>
                <td>5</td>
                <td>EtO</td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1">DN*2735</td>
                <td>Ivory</td>
                <td>27</td>
                <td>35</td>
                <td>Imperial</td>
                <td>White</td>
                <td>100</td>
                <td>2000</td>
                <td>5</td>
                <td>EtO</td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1">DN*2741</td>
                <td>Ivory</td>
                <td>27</td>
                <td>41</td>
                <td>Imperial</td>
                <td>White</td>
                <td>100</td>
                <td>2000</td>
                <td>5</td>
                <td>EtO</td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1">DN*2716F</td>
                <td>Ivory<br></td>
                <td>27</td>
                <td>16</td>
                <td>Metric</td>
                <td>Blue</td>
                <td>100</td>
                <td>2000</td>
                <td>5</td>
                <td>EtO</td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1">DN*2721B</td>
                <td>Ivory</td>
                <td>27</td>
                <td>21</td>
                <td>Metric</td>
                <td>Blue</td>
                <td>100</td>
                <td>2000</td>
                <td>5</td>
                <td>EtO</td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1">DN*2721F</td>
                <td>Ivory</td>
                <td>27</td>
                <td>21</td>
                <td>Metric</td>
                <td>Blue</td>
                <td>100</td>
                <td>2000</td>
                <td>5</td>
                <td>EtO</td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1">DN*2735B</td>
                <td>Ivory</td>
                <td>27</td>
                <td>35</td>
                <td>Metric</td>
                <td>Blue</td>
                <td>100</td>
                <td>2000</td>
                <td>5</td>
                <td>EtO</td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1">DN*3016</td>
                <td>Green</td>
                <td>30</td>
                <td>16</td>
                <td>Imperial</td>
                <td>White</td>
                <td>100</td>
                <td>2000</td>
                <td>5</td>
                <td>EtO</td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1">DN*3019</td>
                <td>Green</td>
                <td>30</td>
                <td>19</td>
                <td>Imperial</td>
                <td>White</td>
                <td>100</td>
                <td>2000</td>
                <td>5</td>
                <td>EtO</td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1">DN*3021</td>
                <td>Green</td>
                <td>30</td>
                <td>21</td>
                <td>Imperial</td>
                <td>White</td>
                <td>100</td>
                <td>2000</td>
                <td>5</td>
                <td>EtO</td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1">DN*3022</td>
                <td>Green</td>
                <td>30</td>
                <td>22</td>
                <td>Imperial</td>
                <td>White</td>
                <td>100</td>
                <td>2000</td>
                <td>5</td>
                <td>EtO</td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1">DN*3013B</td>
                <td>Green</td>
                <td>30</td>
                <td>13</td>
                <td>Metric</td>
                <td>Blue</td>
                <td>100</td>
                <td>2000</td>
                <td>5</td>
                <td>EtO</td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1">DN*3013F</td>
                <td>Green</td>
                <td>30</td>
                <td>13</td>
                <td>Metric</td>
                <td>Blue</td>
                <td>100</td>
                <td>2000</td>
                <td>5</td>
                <td>EtO</td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1">DN*3016B</td>
                <td>Green</td>
                <td>30</td>
                <td>16</td>
                <td>Metric</td>
                <td>Blue</td>
                <td>100</td>
                <td>2000</td>
                <td>5</td>
                <td>EtO</td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1">DN*3016F</td>
                <td>Green</td>
                <td>30</td>
                <td>16</td>
                <td>Metric</td>
                <td>Blue</td>
                <td>100</td>
                <td>2000</td>
                <td>5</td>
                <td>EtO</td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1">DN*3021B</td>
                <td>Green</td>
                <td>30</td>
                <td>21</td>
                <td>Metric</td>
                <td>Blue</td>
                <td>100</td>
                <td>2000</td>
                <td>5</td>
                <td>EtO</td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1">DN*3021F</td>
                <td>Green</td>
                <td>30</td>
                <td>21</td>
                <td>Metric</td>
                <td>Blue</td>
                <td>100</td>
                <td>2000</td>
                <td>5</td>
                <td>EtO</td>
            </tr>
        </tbody>
    </table>
</div>