/**/
.determinate {
  background-color: #4358a7;
}

/*Table*/
tr th {
  text-align: center;
}
tr td,
tr th {
  border: 2px solid #ececec !important;
}
/*@START: Media Queries*/
@media only screen and (max-width: 992px) {
  .responsive-row {
    display: flex;
  }
  .responsive-row th{
    padding: 8px 5px;
    width: 50%;
  }
}
/*@END: Media Queries*/
