<section>
    <div class="container center-align">
        <h3 class="aortic-black-text">
            Ideado para optimizar la experiencia del usuario.
            Cada aspecto del sistema abdominal TREO fue diseñado para el desempeño.
        </h3>
    </div>
</section>
<section class="dark-blue-aortic">
    <div class="row no-space-row">
        <div class="col s12 m6 white-text">
            <div class="container flex-content-intro">
                <h3 class=" white-text">
                    TREO
                </h3>
                <div class="treo-line light-blue-aortic"></div>
                <p>
                    <b>
                        Diseñado para:
                    </b>
                </p>
                <ul>
                    <li>
                        Proporcionar durabilidad a largo plazo
                    </li>
                    <li>
                        Optimizar el procedimiento
                    </li>
                    <li>
                        Suministrar un acercamiento personal a un amplio rango de pacientes
                    </li>
                </ul>
            </div>
        </div>
        <div class="col s12 m6 imagen-intro">
            <!--<img src="assets/img/solutions/aortic/TREO/intro.jpg" alt="">-->
        </div>
    </div>
</section>
<section class="light-brown-aortic">
    <div class="row no-space-row">
        <div class="col s12 m6 section-3-imagen">
        </div>
        <div class="col s12 m6 treo-black-color ">
            <div class="right-align flex-content-intro">
                <h3 class="treo-black-color">
                    STENT - GRAFT
                </h3>
                <div class="treo-line light-blue-aortic"></div>
                <h5 class="treo-black-color">Endoprótesis</h5>
                <p class="left-align">
                    TREO es la única solución
                    EVAR con fijación dual proximal
                    y fijación de extremidad
                    activa, ofreciendo: <sup>1</sup>
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="assets/img/solutions/aortic/TREO/slide.png"> <!-- random image -->
                <div class="caption center-align">
                    <div class="row margin-space">
                        <div class="col s12 m6 hide-on-small-only">
                        </div>
                        <div class="col s12 m6">
                            <div class="row no-space">
                                <div class="col s2"></div>
                                <div class="col s6 circle-image-section-4 no-space"></div>
                                <div class="col s2"></div>
                                <div class="col s12 left-align no-space">
                                    <h5 class="black-text titulo-bold">1. Reposicionamiento</h5>
                                    <p class="black-text">
                                        La hebilla proximal permite el
                                        reposicionamiento durante la
                                        implantación 1 parcial.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="assets/img/solutions/aortic/TREO/slide.png"> <!-- random image -->
                <div class="caption right-align">
                    <div class="row margin-space">
                        <div class="col s12 m6 hide-on-small-only">
                        </div>
                        <div class="col s12 m6">
                            <div class="row no-space">
                                <div class="col s2"></div>
                                <div class="col s6 fijacion-image-section-4 no-space"></div>
                                <div class="col s2"></div>
                                <div class="col s12 left-align no-space">
                                    <h5 class="black-text titulo-bold">
                                        2. Fijación supra e infrarrenal
                                    </h5>
                                    <p class="black-text">
                                        Dos líneas de fijación ayudan a
                                        combatir el desplazamiento,
                                        incluso en anatomías anguladas.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="assets/img/solutions/aortic/TREO/slide-2.png"> <!-- random image -->
                <div class="caption right-align">
                    <div class="row margin-space">
                        <div class="col s12 m6 hide-on-small-only">
                        </div>
                        <div class="col s12 m6">
                            <div class="row no-space">
                                <div class="col s12 left-align no-space center-content">
                                    <h5 class="black-text titulo-bold">
                                        3. Zona de sellado
                                    </h5>
                                    <p class="black-text">
                                        El stent proximal proporciona
                                        soporte radial en la zona de
                                        sellado proximal.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="assets/img/solutions/aortic/TREO/slide-2.png"> <!-- random image -->
                <div class="caption right-align">
                    <div class="row margin-space">
                        <div class="col s12 m6 hide-on-small-only">
                        </div>
                        <div class="col s12 m6">
                            <div class="row no-space">
                                <div class="col s2"></div>
                                <div class="col s6 fijacion-image-section-4 no-space"></div>
                                <div class="col s2"></div>
                                <div class="col s12 left-align no-space">
                                    <h5 class="black-text titulo-bold">
                                        4. Angulación
                                    </h5>
                                    <p class="black-text">
                                        La flexibilidad integrada
                                        permite hasta 75° de
                                        angulación infrarrenal
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="gradiente">
                <img src="assets/img/solutions/aortic/TREO/slide-3.png"> <!-- random image -->
                <div class="caption right-align">
                    <div class="row margin-space">
                        <div class="col s12 m6 hide-on-small-only">
                        </div>
                        <div class="col s12 m6">
                            <div class="row no-space">
                                <div class="col s6 stent-1-image-section-4 no-space"></div>
                                <div class="col s6 stent-2-image-section-4 no-space"></div>
                                <div class="col s12 left-align no-space">
                                    <h5 class="black-text titulo-bold">
                                        5. Lock Stent
                                    </h5>
                                    <p class="black-text">
                                        Las puntas redondeadas al interior de
                                        las entradas del cuerpo principal están
                                        diseñadas para encajar de manera segura
                                        con las extremidades.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="assets/img/solutions/aortic/TREO/slide-3.png"> <!-- random image -->
                <div class="caption right-align">
                    <div class="row margin-space">
                        <div class="col s12 m6 hide-on-small-only">
                        </div>
                        <div class="col s12 m6">
                            <div class="row no-space">
                                <div class="col s6 stent-1-image-section-4 no-space"></div>
                                <div class="col s6 stent-2-image-section-4 no-space"></div>
                                <div class="col s6 left-align no-space">
                                    <h5 class="black-text titulo-bold">
                                        5. Lock Stent
                                    </h5>
                                    <p class="black-text text-aspect">
                                        Las puntas redondeadas al interior de
                                        las entradas del cuerpo principal están
                                        diseñadas para encajar de manera segura
                                        con las extremidades.
                                    </p>
                                </div>
                                <div class="col s6 left-align no-space">
                                    <h5 class="black-text titulo-bold">
                                        5. Zona ajustable
                                    </h5>
                                    <p class="black-text text-aspect">
                                        Los 25 mm de despliegue de la
                                        extensión de pierna permiten un
                                        ajuste in situ para maximizar el
                                        punto de convergencia distal.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="assets/img/solutions/aortic/TREO/slide-4.png"> <!-- random image -->
                <div class="caption right-align">
                    <div class="row margin-space">
                        <div class="col s12 m6 hide-on-small-only">
                        </div>
                        <div class="col s12 m6">
                            <div class="row no-space">
                                <div class="col s12 left-align no-space">
                                    <h5 class="black-text titulo-bold">
                                        6. Sistema de tres piezas
                                    </h5>
                                    <p class="black-text" style="margin-bottom: 0px;">
                                        TREO ofrece un sistema de tres piezas con
                                        un amplio rango de tamaños y diámetros
                                        que permiten un tratamiento preciso.
                                    </p>
                                    <dl class="black-text text-aspect">
                                        <dd>
                                            • Tres longitudes diferentes del cuerpo principal, múltiples
                                            longitudes de las extremidades. (Longitudes del cuerpo
                                            principal 80, 100, 120 mm).
                                        </dd>
                                        <dd>
                                            • Las zonas ajustables entre el cuerpo principal y las
                                            extremidades extensoras permiten calibrado in situ.
                                            (10 mm de zona contralateral ajustable y 30 mm de zona
                                            ipsilateral ajustable)
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="navegacion container-fluid">
            <a class="waves-effect waves-light btn btn-left light-blue-aortic treo-black-color" (click)="previous()"><i
                    class="material-icons">navigate_before</i></a>
            <a class="waves-effect waves-light btn btn-right light-blue-aortic treo-black-color" (click)="next()"><i
                    class="material-icons">navigate_next</i></a>
        </div>
    </div>
</section>
<section>
    <div class="carousel carousel-slider center">
        <div class="carousel-item white-text" href="#one!">
            <div class="row">
                <div class="col s12 m5 l4 valign-wrapper dark-blue-aortic">
                    <h5 class="white-text">
                        Perfil inferior
                    </h5>
                    <ul class="lista-section-4 aortic-light-text">
                        <li>
                            Sistema de liberación del cuerpo principal: 18-19F.
                        </li>
                        <li>
                            Sistema de liberación de la extremidad: 13-14F.
                        </li>
                    </ul>
                </div>
                <div class="col s12 m7 l8 img-carousel-1">
                    <h2 class="treo-black-color tittle-carousel"> SISTE<span>MA DE LIBERACIÓN </span></h2>
                </div>
            </div>
        </div>
        <div class="carousel-item white-text" href="#two!">
            <div class="row">
                <div class="col s12 m5 l4 valign-wrapper dark-blue-aortic">
                    <div class="content-text">
                        <h5 class="white-text">
                            Vaina/introductor desmontable
                        </h5>
                        <p class="aortic-light-text">
                            La vaina puede permanecer como un catéter de trabajo al dejarse atrás.
                        </p>
                    </div>
                </div>
                <div class="col s12 m7 l8 img-carousel-1">
                    <h2 class="treo-black-color tittle-carousel"> SISTE<span>MA DE LIBERACIÓN </span></h2>
                </div>
            </div>
        </div>
        <div class="carousel-item white white-text" href="#three!">
            <div class="row">
                <div class="col s12 m5 l4 valign-wrapper dark-blue-aortic">
                    <div class="content-text">
                        <span class="aortic-light-text flow-text">
                            Puerto de flujo bidireccional y mecanismo de bloqueo
                        </span>
                    </div>
                </div>
                <div class="col s12 m7 l8 img-carousel-1">
                    <h2 class="treo-black-color tittle-carousel"> SISTE<span>MA DE LIBERACIÓN </span></h2>
                </div>
            </div>
        </div>
        <div class="carousel-item white white-text" href="#four!">
            <div class="row">
                <div class="col s12 m5 l4 valign-wrapper dark-blue-aortic">
                    <div class="content-text">
                        <h5 class="white-text">
                            Mecanismo de desenganche de hebilla
                        </h5>
                        <p class="aortic-light-text">
                            El mecanismo libera la captura proximal y prepara el sistema para la extracción.
                        </p>
                    </div>
                </div>
                <div class="col s12 m7 l8 img-carousel-1">
                    <h2 class="treo-black-color tittle-carousel"> SISTE<span>MA DE LIBERACIÓN </span></h2>
                </div>
            </div>
        </div>
        <div class="carousel-item white white-text" href="#five!">
            <div class="row">
                <div class="col s12 m5 l4 valign-wrapper dark-blue-aortic">
                    <div class="content-text">
                        <h5 class="white-text">
                            Extracción del sistema
                        </h5>
                        <p class="aortic-light-text">
                            Todos los componentes fueron diseñados para una extracción segura, sin bordes afilados.
                        </p>
                    </div>
                </div>
                <div class="col s12 m7 l8 img-carousel-1">
                    <h2 class="treo-black-color tittle-carousel"> SISTE<span>MA DE LIBERACIÓN </span></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="light-blue-aortic space-padding">
    <h4 class="treo-black-color light-bottom-line">
        <span>CASO CLÍNICO DE TR</span>EO
    </h4>
    <div class="container">
        <div class="video-container">
            <iframe title="TREO 1st Live Case" src="https://player.vimeo.com/video/194045040?dnt=1&amp;app_id=122963"
                width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
        </div>
    </div>
</section>
<app-aprenda-mas [urlImagen]="treo_urlImagen" [tittle]="treo_tittle" [description]="treo_description"
    [link]="treo_link"></app-aprenda-mas>
<section class="dark-blue-aortic space-padding no-space-row">
    <div class="container">
        <p class="treo-cite-text">
            1Internal competitive product review of top four market-share leaders of AAA stent-grafting, conducted
            January 2016. <br /><br />
            Disclaimers: TREO is certified by SGS (0120) according to MDD 93/42/EEC as amended 2007/47/EC. Caution
            Federal Law (US) restricts this device to investigational use only.
        </p>
    </div>
</section>