<app-banner-cardiologia-interv [titulo]="titulo" [imagen]="imagen"></app-banner-cardiologia-interv>
<section>
    <div class="container">
        <section>
            <p>
                Un catéter angiográfico o diagnóstico está diseñado para el uso en procedimientos angiográficos.
                Suministra
                medio de contraste y agentes terapéuticos para seleccionar sitios en el sistema vascular. También es
                usado para
                dirigir una guía o un catéter en el punto objetivo. <br /> <br />
                Radifocus<sup>&reg;</sup> Optitorque<sup>&reg;</sup>, una línea completa de catéteres angiográficos
                diseñados para fácil manipulación.
            </p>
            <h3>
                Características
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <dd>
                <ul>
                    <li>
                        Diseño de torque alto y manipulación precisa<sup>1</sup>
                    </li>
                    <li>
                        La pared ultradelgada del catéter crea un gran lumen para permitir un tiempo de inyección
                        corto <sup>2</sup>
                    </li>
                    <li>
                        Las curvas Tiger y BLK permiten la angiografía de las arterias coronarias izquierda y derecha,
                        usando un
                        abordaje radial o braquial. Este concepto de catéter único reduce el tiempo de procedimiento y
                        fluoroscopia,
                        brindando eficacia procedimental y costo eficacia.<sup>3</sup>
                    </li>
                </ul>
            </dd>
        </section>
        <section>
            <h3>
                Especificaciones generales
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <table class="responsive-table highlight" style="margin-bottom: 8%;">
                <tbody>
                    <tr>
                        <th class="bold-tittle-table">
                            Presión límite
                        </th>
                        <td>
                            4 Fr (1.40 mm) – 750 psi / 5 Fr (1.70 mm) and 6 Fr (2.00 mm) – 1000 psi
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Compatibilidad de guía
                        </th>
                        <td>
                            0.038" (0.97 mm)
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="responsive-table highlight">
                <tbody>
                    <tr>
                        <th class="bold-tittle-table">
                            Presión límite
                        </th>
                        <td>
                            4 Fr / 1.40 mm
                        </td>
                        <td>
                            5 Fr / 1.70 mm
                        </td>
                        <td>
                            6 Fr / 2.00 mm
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Compatibilidad de guía
                        </th>
                        <td>
                            1.03 mm
                        </td>
                        <td>
                            1.20 mm
                        </td>
                        <td>
                            1.30 mm
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h3>
                Especificaciones del artículo
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <table width="100%" class="responsive-table highlight" cellspacing="0">
                <thead>
                    <tr>
                        <th class="bold-tittle-table hide-on-med-and-up" rowspan="2">

                        </th>
                        <th rowspan="2">
                            Nombre de la forma
                        </th>
                        <th class="bold-tittle-table" rowspan="2">
                            Código de la forma
                        </th>
                        <th class="bold-tittle-table" rowspan="2">
                            Agujeros laterales
                        </th>
                        <th class="bold-tittle-table" rowspan="2">
                            Longitud (cm)
                        </th>
                        <th class="bold-tittle-table" colspan="3">
                            Ítem referenciado por tamaño
                        </th>
                    </tr>
                    <tr>
                        <th>
                            4 Fr / 1.40 mm
                        </th>
                        <th>
                            5 Fr / 1.70 mm
                        </th>
                        <th>
                            6 Fr / 2.00 mm
                        </th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <th rowspan="45" colspan="1">
                            Formas generales
                            ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​</th>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20amplatz-left-1.jpg">Amplatz
                                Left</a></td>
                        <td>AL-1</td>
                        <td>0</td>
                        <td>100</td>
                        <td>
                            RH-4AL1000M</td>
                        <td>
                            RH-5AL1000M</td>
                        <td>
                            RH-6AL1000M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20amplatz-left-1.jpg">Amplatz
                                Left</a></td>
                        <td>AL-2</td>
                        <td>0</td>
                        <td>100</td>
                        <td>
                            RH-4AL2000M</td>
                        <td>
                            RH-5AL2000M</td>
                        <td>
                            RH-6AL2000M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20amplatz-left-1.jpg">Amplatz
                                Left</a></td>
                        <td>AL-3</td>
                        <td>0</td>
                        <td>100</td>
                        <td>
                            RH-4AL3000M</td>
                        <td>
                            RH-5AL3000M</td>
                        <td>
                            RH-6AL3000M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20amplatz-right-2.jpg">Amplatz
                                Right</a></td>
                        <td>AR-1</td>
                        <td>0</td>
                        <td>100</td>
                        <td>
                            RH-4AR1000M</td>
                        <td>
                            RH-5AR1000M</td>
                        <td>
                            RH-6AR1000M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20amplatz-right-2.jpg">Amplatz
                                Right</a></td>
                        <td>AR-2</td>
                        <td>0</td>
                        <td>100</td>
                        <td>
                            RH-4AR2000M</td>
                        <td>
                            RH-5AR2000M</td>
                        <td>
                            RH-6AR2000M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20amplatz-right-2.jpg">Amplatz
                                Right</a></td>
                        <td>AR-3</td>
                        <td>0</td>
                        <td>100</td>
                        <td>—</td>
                        <td>
                            RH-5AR3000M</td>
                        <td>
                            RH-6AR3000M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20amplatz-right-2.jpg">Amplatz
                                Right</a></td>
                        <td>AR-JP</td>
                        <td>0</td>
                        <td>100</td>
                        <td>
                            RH-4ARJP00M</td>
                        <td>
                            RH-5ARJP00M</td>
                        <td>
                            RH-6ARJP00M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1">​<a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Amplatz%20Modified%20Type%20NTR%20r5.png">Amplatz
                                modified Type NTR r5</a></td>
                        <td rowspan="1">AR-R5​</td>
                        <td rowspan="1">​0</td>
                        <td rowspan="1">​100</td>
                        <td rowspan="1">​—</td>
                        <td rowspan="1">​—</td>
                        <td rowspan="1">​​RH-6ARR500M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1">​<a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/ARRC_001.jpg">Amplatz
                                modified Type NTR</a></td>
                        <td rowspan="1">​AR-RC</td>
                        <td rowspan="1">​0</td>
                        <td rowspan="1">​100</td>
                        <td rowspan="1">​—</td>
                        <td rowspan="1">RH-5ARRC00M</td>
                        <td rowspan="1">​RH-6ARRC00M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1">​<a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/CL2_001.jpg">Judkins
                                Left</a></td>
                        <td rowspan="1">​CL-2.5</td>
                        <td rowspan="1">​0</td>
                        <td rowspan="1">​80</td>
                        <td rowspan="1">​—</td>
                        <td rowspan="1">​—</td>
                        <td rowspan="1">​RH-6CL2508M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1">​<a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/CL2_001.jpg">Judkins
                                Left</a></td>
                        <td rowspan="1">​CL-2.5</td>
                        <td rowspan="1">​0</td>
                        <td rowspan="1">​100</td>
                        <td rowspan="1">​—</td>
                        <td rowspan="1">​—</td>
                        <td rowspan="1">​RH-6CL2500M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20judkins-left-4_0.jpg">​Judkins
                                Left</a></td>
                        <td rowspan="1">CL-4.0​</td>
                        <td rowspan="1">​2</td>
                        <td rowspan="1">​100</td>
                        <td rowspan="1">​—</td>
                        <td rowspan="1">​—</td>
                        <td rowspan="1">​RH-6CL4020M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20judkins-left-4_0.jpg">​Judkins
                                Left</a></td>
                        <td rowspan="1">​CL-4.0</td>
                        <td rowspan="1">​0</td>
                        <td rowspan="1">​110</td>
                        <td rowspan="1">​—</td>
                        <td rowspan="1">​RH-5CL4001M</td>
                        <td rowspan="1">​—</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1">​<a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/CL4_001.jpg">Judkins
                                Left</a></td>
                        <td rowspan="1">​CL-4.5</td>
                        <td rowspan="1">​0</td>
                        <td rowspan="1">100​</td>
                        <td rowspan="1">​—</td>
                        <td rowspan="1">​RH-5CL4500M</td>
                        <td rowspan="1">​RH-6CL4500M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20judkins-left-4_0.jpg">​Judkins
                                Left</a></td>
                        <td rowspan="1">​CL-5.0</td>
                        <td rowspan="1">​0</td>
                        <td rowspan="1">​110</td>
                        <td rowspan="1">​—</td>
                        <td rowspan="1">​RH-5CL5001M</td>
                        <td rowspan="1">​—</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20judkins-left-4_0.jpg">​Judkins
                                Left</a></td>
                        <td rowspan="1">CL-6.0​</td>
                        <td rowspan="1">​0</td>
                        <td rowspan="1">​110</td>
                        <td rowspan="1">​—</td>
                        <td rowspan="1">​RH-5CL6001M</td>
                        <td rowspan="1">​—</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20judkins-left-4_0.jpg">Judkins
                                Left</a></td>
                        <td>CL-3.5</td>
                        <td>0</td>
                        <td>100</td>
                        <td>
                            RH-4CL3500M</td>
                        <td>
                            RH-5CL3500M</td>
                        <td>
                            RH-6CL3500M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20judkins-left-4_0.jpg">Judkins
                                Left</a></td>
                        <td>CL-4.0</td>
                        <td>0</td>
                        <td>100</td>
                        <td>
                            RH-4CL4000M</td>
                        <td>
                            RH-5CL4000M</td>
                        <td>
                            RH-6CL4000M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20judkins-left-4_0.jpg">Judkins
                                Left</a></td>
                        <td>CL-5.0</td>
                        <td>0</td>
                        <td>100</td>
                        <td>
                            RH-4CL5000M</td>
                        <td>
                            RH-5CL5000M</td>
                        <td>
                            RH-6CL5000M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20judkins-left-4_0.jpg">Judkins
                                Left</a></td>
                        <td>CL-6.0</td>
                        <td>0</td>
                        <td>100</td>
                        <td>—</td>
                        <td>
                            RH-5CL6000M</td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20judkins-right-4_0.jpg">Judkins
                                Right</a></td>
                        <td>CR-3.5</td>
                        <td>0</td>
                        <td>100</td>
                        <td>
                            RH-4CR3500M</td>
                        <td>
                            RH-5CR3500M</td>
                        <td>
                            RH-6CR3500M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20judkins-right-4_0.jpg">Judkins
                                Right</a></td>
                        <td>CR-3.5</td>
                        <td>2</td>
                        <td>110</td>
                        <td>—</td>
                        <td>
                            RH-5CR3521M</td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20judkins-right-4_0.jpg">Judkins
                                Right</a></td>
                        <td>CR-3.5</td>
                        <td>2</td>
                        <td>80</td>
                        <td>—</td>
                        <td>
                            RH-5CR3528M</td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20judkins-right-4_0.jpg">Judkins
                                Right</a></td>
                        <td>CR-4.0</td>
                        <td>0</td>
                        <td>100</td>
                        <td>
                            RH-4CR4000M</td>
                        <td>
                            RH-5CR4000M</td>
                        <td>
                            RH-6CR4000M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20judkins-right-4_0.jpg">​Judkins
                                Right</a></td>
                        <td rowspan="1">​CR-4.0</td>
                        <td rowspan="1">​0</td>
                        <td rowspan="1">​110</td>
                        <td rowspan="1">—​</td>
                        <td rowspan="1">​RH-5CR4001M</td>
                        <td rowspan="1">​—</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/CR4_001.jpg">​Judkins
                                Right</a></td>
                        <td rowspan="1">​CR-4.5</td>
                        <td rowspan="1">​0</td>
                        <td rowspan="1">100​</td>
                        <td rowspan="1">​—</td>
                        <td rowspan="1">​RH-5CR4500M</td>
                        <td rowspan="1">​—</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20judkins-right-4_0.jpg">Judkins
                                Right</a></td>
                        <td>CR-5.0</td>
                        <td>0</td>
                        <td>100</td>
                        <td>
                            RH-4CR5000M</td>
                        <td>
                            RH-5CR5000M</td>
                        <td>
                            RH-6CR5000M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20judkins-right-4_0.jpg">​Judkins
                                right</a></td>
                        <td rowspan="1">​JR-4.0</td>
                        <td rowspan="1">​0</td>
                        <td rowspan="1">​100</td>
                        <td rowspan="1">​—</td>
                        <td rowspan="1">​—</td>
                        <td rowspan="1">​RH-6JR4000M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/JR6_001.jpg">​Judkins
                                right</a></td>
                        <td rowspan="1">​JR-6.0</td>
                        <td rowspan="1">​0</td>
                        <td rowspan="1">​100</td>
                        <td rowspan="1">​—</td>
                        <td rowspan="1">​—</td>
                        <td rowspan="1">​RH-6JR6000M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20multipurpose-4_0copy.jpg">Multipurpose</a>
                        </td>
                        <td>MP-2.5</td>
                        <td>2</td>
                        <td>100</td>
                        <td>
                            RH-4MP2520M</td>
                        <td>
                            RH-5MP2520M</td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20multipurpose-4_0copy.jpg">Multipurpose</a>
                        </td>
                        <td>MP-3.0</td>
                        <td>2</td>
                        <td>100</td>
                        <td>
                            RH-4MP3020M</td>
                        <td>—</td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20multipurpose-4_0copy.jpg">Multipurpose</a>
                        </td>
                        <td>MP-3.5</td>
                        <td>0</td>
                        <td>100</td>
                        <td>—</td>
                        <td>
                            RH-5MP3500M</td>
                        <td>
                            RH-6MP3500M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20multipurpose-4_0copy.jpg">Multipurpose</a>
                        </td>
                        <td>MP-3.5</td>
                        <td>2</td>
                        <td>100</td>
                        <td>
                            RH-4MP3520M</td>
                        <td>—</td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20multipurpose-4_0.jpg">Multipurpose</a>
                        </td>
                        <td>MP-3.5</td>
                        <td>2</td>
                        <td>110</td>
                        <td>
                            RH-4MP3521M</td>
                        <td>—</td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20multipurpose-4_0copy.jpg">Multipurpose</a>
                        </td>
                        <td>MP-4.0</td>
                        <td>2</td>
                        <td>100</td>
                        <td>
                            RH-4MP4020M</td>
                        <td>
                            RH-5MP4020M</td>
                        <td>
                            RH-6MP4020M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20multipurpose-4_0copy.jpg">Multipurpose</a>
                        </td>
                        <td>MP-4.0</td>
                        <td>0</td>
                        <td>110</td>
                        <td>—</td>
                        <td>
                            RH-5MP4001M</td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20straight.jpg">Straight</a>
                        </td>
                        <td>ST</td>
                        <td>6</td>
                        <td>65</td>
                        <td>
                            RH-4ST016GM</td>
                        <td>—</td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20straight.jpg">Straight</a>
                        </td>
                        <td>ST</td>
                        <td>0</td>
                        <td>90</td>
                        <td>
                            RH-4ST0109M</td>
                        <td>—</td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Angio%20straight-flush.jpg">​Straight</a>
                        </td>
                        <td rowspan="1">​ST</td>
                        <td rowspan="1">​6</td>
                        <td rowspan="1">​110</td>
                        <td rowspan="1">​RH-4ST0161M</td>
                        <td rowspan="1">​—</td>
                        <td rowspan="1">​—</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20internal-mammary-jp.jpg">Internal
                                Mammary</a></td>
                        <td>IM</td>
                        <td>0</td>
                        <td>100</td>
                        <td>
                            RH-4BPIN00M</td>
                        <td>
                            RH-5BPIN00M</td>
                        <td>
                            RH-6BPIN00M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20internal-mammary-jp.jpg">Internal
                                Mammary</a></td>
                        <td>IM-Round
                            tip</td>
                        <td>0</td>
                        <td>100</td>
                        <td>—</td>
                        <td>
                            RH-5BPIM00M</td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20internal-mammary-jp.jpg">Internal
                                Mammary</a></td>
                        <td>IM-Short
                            tip</td>
                        <td>0</td>
                        <td>100</td>
                        <td>—</td>
                        <td>
                            RH-5BPIR00M</td>
                        <td>
                            RH-6BPIR00M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20internal-mammary-jp.jpg">Internal
                                Mammary</a></td>
                        <td>IM-JP type
                        </td>
                        <td>0</td>
                        <td>100</td>
                        <td>
                            RH-4BPJP00M</td>
                        <td>
                            RH-5BPJP00M</td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20bypass-right.jpg">Bypass&nbsp;Judkins
                                left</a></td>
                        <td>BP-JL</td>
                        <td>0</td>
                        <td>100</td>
                        <td>—</td>
                        <td>
                            RH-5BPJL00M</td>
                        <td>
                            RH-6BPJL00M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20bypass-right.jpg">Bypass&nbsp;Judkins
                                right</a></td>
                        <td>BR-JR</td>
                        <td>0</td>
                        <td>100</td>
                        <td>—</td>
                        <td>
                            RH-5BPJR00M</td>
                        <td>
                            RH-6BPJR00M</td>
                    </tr>
                    <tr>
                        <th rowspan="7" colspan="1">​
                            Catéteres de lavado ​ ​ ​ ​ ​ ​
                        </th>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20straight-pigtail.jpg">Straight
                                Pigtail</a></td>
                        <td>PIG</td>
                        <td>6</td>
                        <td>110</td>
                        <td>
                            RH-4SP0061M</td>
                        <td>
                            RH-5SP0061M</td>
                        <td>
                            RH-6SP0061M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20straight-pigtail.jpg">Straight
                                Pigtail</a></td>
                        <td>PIG</td>
                        <td>6</td>
                        <td>90</td>
                        <td>
                            RH-4SP0069M</td>
                        <td>—</td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20straight-pigtail.jpg">Straight
                                Pigtail</a></td>
                        <td>PIG</td>
                        <td>6</td>
                        <td>80</td>
                        <td>
                            RH-4SP0068M</td>
                        <td>—</td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20straight-pigtail.jpg">Straight
                                Pigtail</a></td>
                        <td>PIG</td>
                        <td>6</td>
                        <td>65</td>
                        <td>
                            RH-4SP006GM</td>
                        <td>
                            RH-5SP006GM</td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20angled-pigtail-145copy.jpg">Angled
                                Pigtail</a></td>
                        <td>PIG-145°
                        </td>
                        <td>6</td>
                        <td>110</td>
                        <td>
                            RH-4AP4561M</td>
                        <td>
                            RH-5AP4561M</td>
                        <td>
                            RH-6AP4561M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20angled-pigtail-145copy.jpg">Angled
                                Pigtail</a></td>
                        <td>PIG-155°
                        </td>
                        <td>6</td>
                        <td>110</td>
                        <td>
                            RH-4AP5561M</td>
                        <td>
                            RH-5AP5561M</td>
                        <td>
                            RH-6AP5561M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20angled-pigtail-145copy.jpg">Angled
                                Pigtail</a></td>
                        <td>PIG-Round
                            155°</td>
                        <td>4</td>
                        <td>110</td>
                        <td>
                            RH-4APR241M</td>
                        <td>—</td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <th rowspan="11" colspan="1">​
                            Formas radiales ​ ​ ​ ​ ​ ​ ​ ​ ​ ​
                        </th>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20radial-tiger-icopy.jpg">Radial</a>
                        </td>
                        <td>Tiger I
                        </td>
                        <td>1</td>
                        <td>100</td>
                        <td>—</td>
                        <td>
                            RH-5TIG110M</td>
                        <td>
                            RH-6TIG110M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1">​<a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20radial-tiger-i.jpg">Radial</a>
                        </td>
                        <td rowspan="1">Tiger I​</td>
                        <td rowspan="1">​1</td>
                        <td rowspan="1">110​</td>
                        <td rowspan="1">​—</td>
                        <td rowspan="1">​RH-5TIG111M</td>
                        <td rowspan="1">​—</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20radial-tiger-ii-4_0.jpg">Radial
                                (TIG II 3.5)</a></td>
                        <td>Tiger
                            II-3.5</td>
                        <td>1</td>
                        <td>100</td>
                        <td>—</td>
                        <td>
                            RH-5TR3510M</td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1">​<a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20radial-tiger-ii-4_0.jpg">Radial
                                (TIG II 3.5)</a></td>
                        <td rowspan="1">Tiger II-3.5</td>
                        <td rowspan="1">​0</td>
                        <td rowspan="1">​100</td>
                        <td rowspan="1">​—</td>
                        <td rowspan="1">​—</td>
                        <td rowspan="1">​RH-6TR3500M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20radial-tiger-ii-4_0.jpg">Radial
                                (TIG II 4.0)</a></td>
                        <td>Tiger
                            II-4.0</td>
                        <td>0</td>
                        <td>100</td>
                        <td>—</td>
                        <td>
                            RH-5TR4000M</td>
                        <td>
                            RH-6TR4000M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20radial-tiger-ii-4_0.jpg">​Radial
                                (TIG II 4.0)</a></td>
                        <td rowspan="1">Tiger II-4.0</td>
                        <td rowspan="1">​0</td>
                        <td rowspan="1">110​</td>
                        <td rowspan="1">​—</td>
                        <td rowspan="1">​RH-5TR4001M</td>
                        <td rowspan="1">​—</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20radial-tiger-ii-4_0.jpg">Radial
                                (TIG II 4.0)</a></td>
                        <td>Tiger
                            II-4.0</td>
                        <td>1</td>
                        <td>100</td>
                        <td>—</td>
                        <td>
                            RH-5TR4010M</td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20radial-tiger-ii-4_0.jpg">Radial
                                (TIG II 4.5)</a></td>
                        <td>Tiger
                            II-4.5</td>
                        <td>0</td>
                        <td>100</td>
                        <td>—</td>
                        <td>
                            RH-5TR4500M</td>
                        <td>—</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20radial-tiger-ii-4_0.jpg">Radial
                                (TIG II 5.0)</a></td>
                        <td>Tiger
                            II-5.0</td>
                        <td>0</td>
                        <td>100</td>
                        <td>—</td>
                        <td>
                            RH-5TR5000M</td>
                        <td>
                            RH-6TR5000M</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1">​<a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20radial-tiger-ii-4_0.jpg">Radial
                                (TIG II 5.0)</a></td>
                        <td rowspan="1">Tiger II-5.0</td>
                        <td rowspan="1">​0</td>
                        <td rowspan="1">110​</td>
                        <td rowspan="1">​—</td>
                        <td rowspan="1">​RH-5TR5001M</td>
                        <td rowspan="1">​—</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1"><a target="_blank"
                                href="http://www.terumo-europe.com/sites/productcatalog/SiteCollectionImages/Optitorque-Outlook%20radial-4_0copy.jpg">Radial
                                BLK</a></td>
                        <td>BLK</td>
                        <td>1</td>
                        <td>100</td>
                        <td>—</td>
                        <td>
                            RH-5BLK410M</td>
                        <td>—</td>
                    </tr>
                </tbody>
            </table>
            <h6 class="center-align">
                Por favor copie el código de referencia cuando realice un pedido.
            </h6>
        </section>
        <section>
            <h3>
                Ver también
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <dd>
                <ul>
                    <li>
                        Outlook<sup>&trade;</sup> Catéter angiográfico
                    </li>
                </ul>
            </dd>
        </section>
        <section>
            <h6 class="black-text">
                <b>
                    Referencias
                </b>
            </h6>
            <dd>
                <ol>
                    <li>
                        <span>
                            Terumo data on file. Reference RF55GB-0805MD-I5(0805)E. Measurement of distal rotation angle
                            relative to the
                            proximal rotation angle – comparison single mesh catheters vs Radifocus Optitorque.
                        </span>
                    </li>
                    <li>
                        <span>
                            Seong-Man Kim et al, 2005. Novel Diagnostic Catheter specifically designed for both coronary
                            arteries via the
                            right transradial approach. The International Journal of Cardiovascular Imaging. 2005,
                            10.007/s10554-005-9029-8.
                        </span>
                    </li>
                    <li>
                        <span>
                            Comparison of Terumo Tiger II 5 Fr catheter vs. Cordis 5 Fr Standard Judkins catheter.
                            Seong-Man Kim et al, 2005.
                            Novel Diagnostic Catheter specifically designed for both coronary arteries via the right
                            transradial approach. The
                            International Journal of Cardiovascular Imaging. 2005, 10.007/s10554-005-9029-8.
                        </span>
                    </li>
                </ol>
            </dd>
        </section>
    </div>
</section>