<app-banner-cardiologia-interv [titulo]="titulo" [imagen]="imagen"></app-banner-cardiologia-interv>
<section>
    <div class="container">
        <section>
            <h3>
                Características
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <dd>
                <ul>
                    <li>
                        Punta cónica con ajuste total integrado (TIF Total Integrated Fit): óptimo diseño cónico en la
                        punta de la camisa y el dilatador para una inserción suave.
                    </li>
                    <li>
                        La válvula de hemostasis de corte transversal evita el reflujo de sangre y aspiración de aire.
                    </li>
                    <li>
                        Introductor radiopaco delgado con manga antiacodamiento para un manejo de catéter fácil.
                    </li>
                    <li>
                        Dilatador del bloqueo <i>snap on/click off</i> previene el retiro del dilatador durante la
                        inserción y permite el desbloqueo a una mano.
                    </li>
                    <li>
                        Amplia variedad de opciones del kit que provee todos los elementos para un acceso sencillo al
                        vaso: <br />
                        Introductor de 4-11 FR, longitudes de 5-25 cm, aguja Surflash o metálica de micropunción.
                    </li>
                </ul>
            </dd>
            <app-radiofocus-img></app-radiofocus-img>
        </section>
        <section>
            <h3>
                Especificaciones generales
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <h4>
                Kit B
            </h4>
            <p>
                Tipo 1
            </p>
            <table class="responsive-table highlight">
                <tbody>
                    <tr>
                        <th class="bold-tittle-table">
                            Longitud introductor
                        </th>
                        <td>
                            10 y 25 cm
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Mini guía
                        </th>
                        <td>
                            Plástica recta y angulada. 0.025 o 0.035 para 4 Fr y 0.038 para todos los demás
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Compatibilidad de guía
                        </th>
                        <td>
                            0.025" (0.64 mm) para 4 Fr, tipo mini cable de guía recto
                            0.035" (0.89 mm) para todos los demás
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Empaque
                        </th>
                        <td>
                            Bandeja
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            El Kit B contiene
                        </th>
                        <td>
                            Introductor, dilatador, miniguía plástica o de espiral
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>
                Tipo 2
            </p>
            <table class="responsive-table highlight">
                <tbody>
                    <tr>
                        <th class="bold-tittle-table">
                            Longitud introductor
                        </th>
                        <td>
                            10 cm
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Mini guía
                        </th>
                        <td>
                            Espiral tipo j<br />
                            0.035" (0.89 mm) y 0.038" (0.97 mm) <br />
                            45cm
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Compatibilidad de guía
                        </th>
                        <td>
                            0.035" (0.89 mm) y 0.038" (0.97 mm)
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Empaque
                        </th>
                        <td>
                            Bandeja
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            El Kit B contiene
                        </th>
                        <td>
                            Introductor, dilatador, miniguía plástica o de espiral
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>
                Tipo 3
            </p>
            <table class="responsive-table highlight">
                <tbody>
                    <tr>
                        <th class="bold-tittle-table">
                            Longitud introductor
                        </th>
                        <td>
                            10 cm
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Mini guía
                        </th>
                        <td>
                            Espiral tipo j, angulada<br />
                            0.035" (0.89 mm) para todos los demás items
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Compatibilidad de guía
                        </th>
                        <td>
                            0.035" (0.89 mm) para items de 4 Fr <br />
                            0.038" (0.97 mm) para los demás items
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Empaque
                        </th>
                        <td>
                            Bolsa
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            El Kit B contiene
                        </th>
                        <td>
                            Introductor, dilatador, miniguía plástica o de espiral
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h3>
                Especificaciones del producto
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <h4>
                Kit C
            </h4>
            <table class="responsive-table highlight" cellspacing="0">
                <thead>
                    <tr>
                        <th class="bold-tittle-table" rowspan="2">
                            Diámetro interno
                        </th>
                        <th class="bold-tittle-table" rowspan="2">
                            Compatibilidad de guía
                        </th>
                        <th class="bold-tittle-table" colspan="2">
                            Longitud introductor
                        </th>
                    </tr>
                    <tr class="special-table-row">
                        <th class="bold-tittle-table">
                            10 cm
                        </th>
                        <th class="bold-tittle-table">
                            25 cm
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="bold-tittle-table">
                            4 Fr
                        </th>
                        <td>
                            0.025" (0.64 mm)
                        </td>
                        <td>
                            RS+C40G10NR
                        </td>
                        <td>
                            —
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            4 Fr
                        </th>
                        <td>
                            0.035" (0.89 mm)
                        </td>
                        <td>
                            RS+C40K10NR
                        </td>
                        <td>
                            RS+C40K25NR
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            5 Fr
                        </th>
                        <td>
                            0.038" (0.97 mm)
                        </td>
                        <td>
                            RS+C50N10NR
                        </td>
                        <td>
                            —
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            6 Fr
                        </th>
                        <td>
                            0.038" (0.97 mm)
                        </td>
                        <td>
                            RS+C60N10NR
                        </td>
                        <td>
                            RS+C60N25NR
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            7 Fr
                        </th>
                        <td>
                            0.038" (0.97 mm)
                        </td>
                        <td>
                            RS+C70N10NR
                        </td>
                        <td>
                            RS+C70N25NR
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            8 Fr
                        </th>
                        <td>
                            0.038" (0.97 mm)
                        </td>
                        <td>
                            RS+C80N10NR
                        </td>
                        <td>
                            RS+C80N25NR
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            9 Fr
                        </th>
                        <td>
                            0.038" (0.97 mm)
                        </td>
                        <td>
                            RS+C90N10NR
                        </td>
                        <td>
                            —
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            10 Fr
                        </th>
                        <td>
                            0.038" (0.97 mm)
                        </td>
                        <td>
                            RS+C10N10NR
                        </td>
                        <td>
                            —
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            11 Fr
                        </th>
                        <td>
                            0.038" (0.97 mm)
                        </td>
                        <td>
                            RS+C11N10NR
                        </td>
                        <td>
                            —
                        </td>
                    </tr>
                </tbody>
            </table>
            <h4>
                Kit R
            </h4>
            <table class="responsive-table highlight">
                <thead>
                    <th class="bold-tittle-table">
                        Diámetro interno
                    </th>
                    <th class="bold-tittle-table">
                        Referencia Item
                    </th>
                </thead>
                <tbody>
                    <tr>
                        <th class="bold-tittle-table">4 Fr</th>
                        <td>RS+R40K10MQ</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">5 Fr</th>
                        <td>RS+R50N10MQ</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">6 Fr</th>
                        <td>RS+R60N10MQ</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">7 Fr</th>
                        <td>RS+R70N10MQ</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">8 Fr</th>
                        <td>RS+R80N10MQ</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">9 Fr</th>
                        <td>RS+R90N10MQ</td>
                    </tr>
                </tbody>
            </table>
            <h6 class="center-align">
                Por favor copie el código de referencia cuando realice un pedido
            </h6>
        </section>
        <section>
            <h3>
                Ver también
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <dd>
                <ul>
                    <li><a href="">
                            Radifocus<sup>&reg;</sup> Introducer II Transradial Kit – Introductor transradial
                        </a></li>
                    <li><a href="">
                            Radifocus<sup>&reg;</sup> Introducer II M Coat<sup>&trade;;</sup> - Introductor M coat
                        </a></li>
                    <li><a href="">
                            Glidesheath Slender<sup>&reg;</sup> - Introductor transradial
                        </a></li>
                    <li><a href="">
                            Radifocus<sup>&reg;</sup> Introducer II Pediatric Kit - Introductor pediátrico
                        </a></li>
                    <li><a href="">
                            Radifocus<sup>&reg;</sup> Introducer II Radiopaque Marker Kit- Introductor con marcador
                            radiopaco
                        </a></li>
                    <li><a href="">
                            Radifocus<sup>&reg;</sup> Introducer II Sheath Accessorios
                        </a></li>
                </ul>
            </dd>
        </section>
    </div>
</section>