<app-banner-cardiologia-interv [titulo]="titulo" [imagen]="imagen"></app-banner-cardiologia-interv>
<section>
    <div class="container">
        <section>
            <p>
                El recubrimiento <i>“M Coating”</i> hidrofílico de Terumo en la superficie del introductor minimiza
                espasmos y mejora la comodidad del paciente
            </p>
            <h3>
                Características
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <dd>
                <ul>
                    <li>
                        El dilatador es cónico ajustado para cada guía para minimizar traumas en el vaso
                    </li>
                    <li>
                        La válvula de hemostasis de corte transversal evita el reflujo de sangre y aspiración de aire
                    </li>
                    <li>
                        Introductor radiopaco delgado con manga antiacodamiento para un manejo de catéter fácil
                    </li>
                    <li>
                        Dilatador de bloqueo <i>Snap on/Click off</i> previene el retiro del dilatador durante la
                        inserción y
                        permite el desbloqueo a una mano
                    </li>
                    <li>
                        Retirar el introductor <i>M Coat</i> requiere solo la mitad de la fuerza en comparación con
                        introductores convencionales sin recubrimiento hidrofílico
                    </li>
                </ul>
            </dd>
            <app-radiofocus-img></app-radiofocus-img>
        </section>
        <section>
            <h3>
                Especificaciones generales
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <h4>
                M Coat<sup>&trade;</sup> Kit A
            </h4>
            <table class="responsive-table highlight">
                <tbody>
                    <tr>
                        <th class="bold-tittle-table">
                            Longitud introductor
                        </th>
                        <td>
                            10cm, 16 cm y 25 cm
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Recubrimiento introductor
                        </th>
                        <td>
                            Hidrofílico M coat
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Mini guía
                        </th>
                        <td>
                            Plástica recta
                            0.025”
                            45 cm para introductor 10 cm y 80 cm
                            para introductor de 16 cm y de 25 cm
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Aguja de punción
                        </th>
                        <td>
                            Catéter plástico IV - 20G x 1 1/4 (0,9 x 32mm), 2,5 ml jeringa
                            incluida
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Compatibilidad de guía
                        </th>
                        <td>
                            0.025" (0.64 mm)
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Empaque
                        </th>
                        <td>
                            Bandeja
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Diámetro interno de la punta del dilatador
                        </th>
                        <td>

                            Igual al diámetro externo de la mini guía plástica
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            El Kit A contiene
                        </th>
                        <td>
                            Introductor, dilatador, mini guía plástica y catéter IV plástico
                        </td>
                    </tr>
                </tbody>
            </table>
            <h4>
                M Coat<sup>&trade;</sup> Kit R
            </h4>
            <table class="responsive-table highlight">
                <tbody>
                    <tr>
                        <th class="bold-tittle-table">
                            Longitud introductor
                        </th>
                        <td>
                            10cm, 16 cm y 25 cm

                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Recubrimiento introductor
                        </th>
                        <td>
                            Hidrofílico M coat
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Mini guía
                        </th>
                        <td>
                            Espiral recta
                            0.021” y 0.025” 45 cm para introductor 10 cm y 80 cm
                            para introductor de 16 cm y de 25 cm

                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Aguja de punción
                        </th>
                        <td>
                            Metálica 21 G x 1 2/5 (0,8 x 36mm), 20G x 12/5 (0,9 x36mm)
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Compatibilidad de guía
                        </th>
                        <td>
                            0.025" (0.53 mm) and 0.025" (0.64 mm)
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Empaque
                        </th>
                        <td>
                            Bandeja
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Diámetro interno de la punta del dilatador
                        </th>
                        <td>
                            Igual al diámetro externo de la mini guía
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            El Kit R contiene
                        </th>
                        <td>
                            Introductor, dilatador, miniguía espiral y aguja metálica
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h3>
                Especificaciones del artículo
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <h4>
                M Coat<sup>&trade;</sup> Kit A
            </h4>
            <table class="responsive-table highlight">
                <thead>
                    <tr>
                        <th class="bold-tittle-table" rowspan="2">
                            Diámetro interno
                        </th>
                        <th class="bold-tittle-table" colspan="3">
                            Longitud del introductor
                        </th>
                    </tr>
                    <tr class="special-table-row">
                        <th>
                            10 cm
                        </th>
                        <th>
                            16 cm
                        </th>
                        <th>
                            25 cm
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="bold-tittle-table">
                            5 Fr
                        </th>
                        <td>
                            RM*AF5J10SQW
                        </td>
                        <td>
                            RM*AF5J16SQW
                        </td>
                        <td>
                            RM*AF5J25SQW
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            6 Fr
                        </th>
                        <td>
                            RM*AF6J10SQW
                        </td>
                        <td>
                            RM*AF6J16SQW
                        </td>
                        <td>
                            RM*AF6J25SQW
                        </td>
                    </tr>
                </tbody>
            </table>
            <h4>
                M Coat<sup>&trade;</sup> Kit R
            </h4>
            <table class="responsive-table highlight">
                <thead>
                    <tr>
                        <th class="bold-tittle-table" rowspan="2">
                            Diámetro interno
                        </th>
                        <th class="bold-tittle-table" rowspan="2">
                            Compatibilidad de guía
                        </th>
                        <th class="bold-tittle-table" colspan="3">
                            Longitud del introductor
                        </th>
                    </tr>
                    <tr class="special-table-row">
                        <th>
                            10 cm
                        </th>
                        <th>
                            16 cm
                        </th>
                        <th>
                            25 cm
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="bold-tittle-table">
                            5 Fr
                        </th>
                        <td>0.021" (0.53 mm)</td>
                        <td>RM*RF5F10PQ</td>
                        <td>RM*RF5F16PQ</td>
                        <td>RM*RF5F25PQ</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            5 Fr
                        </th>
                        <td>0.025" (0.64 mm)</td>
                        <td>RM*RF5J10PQ</td>
                        <td>RM*RF5J16PQ</td>
                        <td>RM*RF5J25PQ</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            6 Fr
                        </th>
                        <td>0.021" (0.53 mm)</td>
                        <td>RM*RF6F10PQ</td>
                        <td>RM*RF6F16PQ</td>
                        <td>RM*RF6F25PQ</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            6 Fr
                        </th>
                        <td>0.025" (0.64 mm)</td>
                        <td>RM*RF6F10PQ</td>
                        <td>RM*RF6F16PQ</td>
                        <td>RM*RF6F25PQ</td>
                    </tr>
                </tbody>
            </table>
            <h6 class="center-align">
                Por favor copie el código de referencia cuando realice un pedido.
            </h6>
        </section>
        <section>
            <h3>
                Ver también
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <dd>
                <ul>
                    <li><a href="">
                            Radifocus<sup>&reg;</sup> Introducer II Transradial Kit – Introductor transradial.
                        </a></li>
                    <li><a href="">
                            Radifocus<sup>&reg;</sup> Introducer II M Coat<sup>&trade;</sup> - Introductor M coat.
                        </a></li>
                    <li><a href="">
                            Glidesheath Slender<sup>&reg;</sup> - Introductor transradial.
                        </a></li>
                    <li><a href="">
                            Radifocus<sup>&reg;</sup> Introducer II Pediatric Kit - Introductor pediátrico.
                        </a></li>
                    <li><a href="">
                            Radifocus<sup>&reg;</sup> Introducer II Radiopaque Marker Kit- Introductor con marcador
                            radiopaco.
                        </a></li>
                    <li><a href="">
                            Radifocus<sup>&reg;</sup> Introducer II Sheath Accessorios.
                        </a></li>
                </ul>
            </dd>
        </section>
        <section>
            <p>
                <b>
                    Referencias
                </b>
            </p>
            <dd>
                <ol>
                    <li>
                        Saito S., Tanaka S., Hiroe Y. et al. Usefulness of hydrophilic coating on arterial sheath
                        introducer in
                        transradial
                        coronary intervention. Cath Cardio Inter. 2002;56(3):328-332.
                    </li>
                </ol>
            </dd>
        </section>
    </div>
</section>