<app-banner-cardiologia-interv [titulo]="titulo" [imagen]="imagen"></app-banner-cardiologia-interv>
<section>
    <div class="container">
        <section>
            <p>
                TR Band es un dispositivo de compresión diseñado para apoyar la hemostasia de la arteria radial tras un
                procedimiento transradial. <br /> <br />
                A través de la estructura diseñada para el control visual y la compresión selectiva de la arteria radial
                para permitir el retorno sanguíneo y preservar la permeabilidad, la TR Band ayuda a mantener la
                permeabilidad de la arteria radial en el momento de la hemostasia con el fin de prevenir posibles
                oclusiones en las arterias
                radiales.<sup>1,2</sup>
            </p>
        </section>
        <section>
            <h3>
                Características
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <dd>
                <ul>
                    <li>
                        Compresión selectiva de la arteria radial para permitir el retorno sanguíneo y mantener la
                        permeabilidad<sup>1</sup>.
                    </li>
                    <li>
                        Estructura transparente para el control visual del sitio de punción.
                    </li>
                    <li>
                        Dos longitudes de banda disponibles para un ajuste preciso y óptima comodidad del
                        paciente<sup>1</sup>.
                    </li>
                    <li>
                        Las correas de Velcro<sup>&reg;</sup><sup>3</sup> permiten una aplicación rápida y sencilla.
                    </li>
                </ul>
            </dd>
        </section>
        <section>
            <h3>
                Especificaciones del artículo
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <table class="responsive-table highlight">
                <thead>
                    <tr>
                        <th class="bold-tittle-table">
                            Tamaño
                        </th>
                        <th class="bold-tittle-table">
                            Referencia ítem
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Standard size - 24 cm
                        </td>
                        <td>
                            XX*RF06
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Large size - 29 cm
                        </td>
                        <td>
                            XX*RF06L
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h6 class="black-text">
                <b>
                    Referencias
                </b>
            </h6>
            <dd>
                <ol>
                    <li>
                        <span>
                            Rathore S. et al., 2010. A Randomized Comparison of TR Band and Radistop Hemostatic
                            Compression Devices
                            After Transradial Coronary Intervention. Catheterization and Cardiovascular Interventions,
                            76(5), pp.660–667.
                        </span>
                    </li>
                    <li>
                        <span>
                            Pancholy et al., 2009. Impact of Two Different Hemostatic Devices on Radial Artery
                            Outcomes after Transradial
                            Catheterization. J. Invasive Cardiology, 21:101-104.
                        </span>
                    </li>
                    <li>
                        <span>
                            Velcro<sup>&reg;</sup> is a registered trademark of Velcro Industries B.V.
                        </span>
                    </li>
                </ol>
            </dd>
        </section>
    </div>
</section>