<section>
    <div class="container center-align">
        <h3 class="aortic-black-text">
            Varios recursos de TREO están disponibles
            para descargar a continuación
        </h3>
    </div>
</section>
<section class="dark-blue-aortic no-space-section space-padding">
    <div class="container">
        <h2 class="white-text"><span class="blue-line-span">RECURSOS TREO</span></h2>
        <h4 class="white-text">Recurso del producto</h4>
        <ul class="white-text">
            <li>
                Catálogo del producto
            </li>
            <li>
                Referencia rápida
            </li>
            <li>
                Planeación pre-caso
            </li>
            <li>
                Técnica de implantación
            </li>
            <li>
                TREO AUI
            </li>
            <li>
                TREO oclusor
            </li>
        </ul>
    </div>
</section>