<div class="slider">
    <ul class="slides">
        <li>
            <img src="assets/img/solutions/cardiovascular/crx-index.png">
            <div class="row">
                <div class="caption right-left slider-text-right ">
                    <h3>ASSISTANT <sup>(&trade;)</sup>
                        & HERCULES <sup>(&trade;)</sup></h3>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="separador-cardio"></div>
<div class="container">
    <h4 class="titulo-bold flow-text">
        Productos
    </h4>
    <div class="progress space-line">
        <div class="determinate" style="width: 20%"></div>
    </div>
    <h4 class="titulo-bold flow-text">
        Estabilizadores quirúrgicos:
    </h4>
    <div class="row">
        <div class="col s12 m6">
            <div class="row">
                <div class="col s12 m6">
                    <img src="assets/img/solutions/cardiovascular/hero_arm.png" alt="Hero Arm" class="responsive-img">
                </div>
                <div class="col s12 m6">
                    <ul>
                        <li>
                            <p class="terumoP">
                                Assistant<sup>&trade;</sup> Attachment
                                with * StableSoft<sup>&trade;</sup>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="row">
                <div class="col s12 m6">
                    <img src="assets/img/solutions/cardiovascular/hero_arm.png" alt="Hero Arm" class="responsive-img">
                </div>
                <div class="col s12 m6">
                    <ul>
                        <li>
                            <p class="terumoP">
                                MicroSurge<sup>&reg;</sup> BlowMister
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="row">
                <div class="col s12 m6">
                    <img src="assets/img/solutions/cardiovascular/hero_arm.png" alt="Hero Arm" class="responsive-img">
                </div>
                <div class="col s12 m6">
                    <ul>
                        <li>
                            <p class="terumoP">
                                Brazo estabilizador
                                Hercules
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-1">
    <div class="container">
        <h6 class="black-text titulo-bold center-align flow-text space-box">Simple. Estable. Seguro.</h6>
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="imagen-circle img-1"></div>
                <p class="terumoP">
                    Textura siliconada, de suave
                    superficie pero gran agarre que
                    permite un posicionamiento
                    estable..
                </p>
            </div>
            <div class="col s12 m6 l3">
                <div class="imagen-circle img-2"></div>
                <p class="terumoP">
                    Disponible en 4 tamaños, de 2 o 3
                    dedos, cortos o largos.
                </p>
            </div>
            <div class="col s12 m6 l3">
                <div class="imagen-circle img-3"></div>
                <p class="terumoP">
                    Maleable, adaptable a toda
                    superficie anatómica.
                </p>
            </div>
            <div class="col s12 m6 l3">
                <div class="imagen-circle img-4"></div>
                <p class="terumoP">
                    Comunmente es usado en
                    procedimientos que requieren
                    ayuda manual.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h4 class="titulo-bold flow-text">
        Productos complementarios
    </h4>
    <div class="progress space-line">
        <div class="determinate" style="width: 20%"></div>
    </div>
    <div class="row">
        <div class="col s12 m9 section-2">
            <p class="terumoP titulo-bold">
                Brazo Hércules
            </p>
            <ul>
                <li>
                    Acero inoxidables reusable que ayuda en los costos hospitalarios.
                </li>
                <li>
                    Articulación flexible en su posicionamiento.
                </li>
                <li>
                    Ajuste universal que se adapta a la mayoría de los retractores.
                </li>
            </ul>
        </div>
        
        <div class="col s12 m3">
            <div class="section-3">
                Adapatador universal para el brazo estabilizador
            </div>
            <img src="assets/img/solutions/cardiovascular/hero_arm.png" alt="Hero Arm" class="responsive-img">
        </div>
    </div>

</div>