<div class="slider">
    <ul class="slides">
        <li>
            <img src="assets/img/solutions/cardiovascular/crx-index.png">
            <div class="row">
                <div class="caption right-left slider-text-left ">
                    <h3>Capiox<sup>&reg;</sup> SP
                        Centrifugal Pump
                    </h3>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="separador-cardio line-bottom-space"></div>
<div class="container">
    <div class="row">
        <div class="col s12 m9">
            <h4 class="titulo-bold flow-text">
                Características
            </h4>
            <div class="progress space-line">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <p class="terumoP">
                Cabezal de bomba centrifuga de único uso para bio consola modelos 540 y 550.
            </p>
            <ul>
                <li>
                    Diseño eficiente para el flujo sanguíneo.
                </li>
                <li>
                    Fácil adaptación para el uso de las bio consolas.
                </li>
                <li>
                    Volumen de primado 45 ml.
                </li>
            </ul>
        </div>
        <div class="col s12 m3">
            <app-aside></app-aside>
            <div class="container-fluid aside-line-red">
                <h6 class="black-text titulo-bold">
                    Más información
                </h6>
                <div class="divider"></div>
                <h6>
                    BROCHURE
                </h6>
                <p class="terumoP">
                    CAPIOX<sup>&reg;</sup> SP Centrifugal Pump
                    <i class="material-icons circle">picture_as_pdf</i>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="separador-light-cardio"></div>
<div class="container">
    <div class="row">
        <div class="col s12 m9">
            <h4 class="titulo-bold flow-text">
                Sarns<sup>&trade;</sup> Disposable Centrifugal Pump
            </h4>
            <div class="progress space-line">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <p class="terumoP">
                Bomba centrifuga para uso con el modelo System 1.
            </p>
            <div class="container-fluid">
                <div class="carousel carousel-slider center">
                    <div class="carousel-item white-text" href="#uno!">
                        <img class="materialboxed responsive-img" data-caption="Sarns™ Disposable Centrifugal Pump"
                            src="assets/img/solutions/cardiovascular/sarns-slider-1.png">
                    </div>
                    <div class="carousel-item white-text" href="#dos!">
                        <img class="materialboxed responsive-img"
                            data-caption="Sarns™ Centrifugal Disposable Pump and Adapter"
                            src="assets/img/solutions/cardiovascular/sarns-slider-2.png">
                    </div>
                </div>
            </div>
            <h6>
                Características
            </h6>
            <ul>
                <li>Diseño eficiente para movimiento de flujo sanguíneo.
                </li>
                <li>
                    Carcasa durable de policarbonato.
                </li>
                <li>
                    Volumen de primado 48 ml.
                </li>
            </ul>
        </div>
        <div class="col s12 m3">
            <app-aside></app-aside>
            <div class="container-fluid aside-line-red">
                <h6 class="black-text titulo-bold">
                    Contenidos relacionados
                </h6>
                <div class="divider"></div>
                <h6>
                    BROCHURE
                </h6>
                <p class="terumoP">
                    Sarns Disposable Centrifugal Pump
                    <i class="material-icons circle">picture_as_pdf</i>
                </p>
                <h6>
                    BROCHURE
                </h6>
                <p class="terumoP">
                    Sarns Centrifugal Pump Adapter
                    <i class="material-icons circle">picture_as_pdf</i>
                </p>
                <h6 class="black-text titulo-bold">
                    Contenidos relacionados
                </h6>
                <div class="divider"></div>
                <h6>
                    ANIMACIÓN
                </h6>
                <p class="terumoP">
                    <a href="#">Sarns Centrifugal Pump Adapter</a>
                </p>
                <div class="video_fx">
                    <video class="responsive-video" controls>
                        <source
                            src="http://www.terumo-cvsmedia.com/_video/Sarns-Centrifugal-Pump-Adapter-Animation_16x9_2013.mp4"
                            type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="separador-light-cardio"></div>
<div class="container">
    <h4 class="titulo-bold flow-text">
        Otros productos
    </h4>
    <div class="progress space-line">
        <div class="determinate" style="width: 20%"></div>
    </div>
    <div class="row">
        <div class="col s12 m9">
            <h6 class="titulo-bold">
                Productos para la protección miocardica
            </h6>
            <ul>
                <li>
                    Sarns<sup>&trade;</sup> Set de cardioplejia conintercambiador de calor conducer y atrapa burbuja.
                </li>
                <li>
                    Capiox<sup>&reg;</sup> CP 50.
                </li>
            </ul>
            <h6 class="titulo-bold">
                Hemoconcentradores
            </h6>
            <ul>
                <li>
                    Capiox<sup>&reg;</sup> Hemoconcentradores.
                </li>
            </ul>
            <h6 class="titulo-bold">
                Tuberias – Custom Pack
            </h6>
            <ul>
                <li>
                    Kits de tuberías para circulación extracorpórea
                </li>
            </ul>
        </div>
    </div>
</div>