<ul class="collapsible" style="margin-top: 0px;">
    <li>
        <a class="collapsible-header" style="font-weight: bold;">Tratamiento locorregional</a>
    </li>

    <li>
        <a class="collapsible-header">Embolización transarterial<i class="material-icons right">arrow_drop_down</i></a>
        <div class="submenu collapsible-body">
            <a
                (click)="goTo('/cardiologia-intervencionista/tratamiento-locorregional/embolizacion-transarterial/hydropearl-microesferas')">
                HydroPearl® - Microesferas compresibles para embolización
            </a>
        </div>
    </li>
    <li>
        <a class="collapsible-header"> Microesferas liberadoras de medicamento TACE<i
                class="material-icons right">arrow_drop_down</i></a>
        <div class="submenu collapsible-body">
            <a
                (click)="goTo('/cardiologia-intervencionista/tratamiento-locorregional/microesferas-lib-medi-tace/lifepearl-microesferas')">
                Lifepearl® - Microesferas</a>
        </div>
    </li>
</ul>