<app-header></app-header>

<header>
    <div class="background-skyleft skyleft"></div>
    <section class="intro row">
        <div class="container">
            <div class="col m6 s12">
                <h3 class="white-text left">Terumo Colombia Contacto</h3>
            </div>
        </div>
    </section>
</header>

<div class="section">
    <div class="container">

        <div class="row">
            <div class="col s12">
                <h5>
                    <strong>CONTÁCTENOS</strong>
                </h5>
            </div>
            <form class="col s12" [formGroup]="formGroup">
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input name="nombre" id="first_name" type="text" class="validate" formControlName="nombre">
                        <label for="first_name">Nombre*</label>
                        <span class="helper-text red-text">{{ getError('nombre')}}</span>
                    </div>
                    <div class="input-field col s12 m6">
                        <input id="email_text" name="email" type="email" class="validate" formControlName="email">
                        <label for="email_text">Correo electrónico*</label>
                        <span class="helper-text red-text">{{ getError('email')}}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 m6">
                        <input id="empresa_text" name="empresa" type="text" class="validate" formControlName="empresa">
                        <label for="empresa_text">Empresa*</label>
                        <span class="helper-text red-text">{{ getError('empresa')}}</span>
                    </div>
                    <div class="input-field col s12 m6">
                        <input id="cargo_text" name="cargo" type="text" class="validate" formControlName="cargo">
                        <label for="cargo_text">Cargo</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea placeholder="Pregunta o motivo por el cual quiere comunicarse con nosotros" class="materialize-textarea" name="message" id="mensaje_text" cols="30" rows="12" formControlName="message"></textarea>
                        <label class="active" for="mensaje_text">Mensaje</label>
                        <span class="helper-text red-text">{{ getError('message')}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <p>
                            <label for="check_text">
                                <input type="checkbox" id="check_text" name="check" type="checkbox"
                                    formControlName="check">
                                <span>He leído y acepto la <a href="#politica" class="modal-trigger">Politica de
                                        Privacidad y Cookies</a> y los <a href="#terminos"
                                        class="modal-trigger">Terminos y Condiciones</a>*
                                    <br />
                                    * Estos campos son necesarios
                                </span>
                                <span class="helper-text red-text" >{{ getError('check')}}</span>
                            </label>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 ">
                        <button (click)="contactForm()" [disabled]="formGroup.invalid" class="waves-effect waves-light btn terumo right terumoBold">Enviar <i
                                class="material-icons right">send</i></button>
                    </div>
                    <div class="col s12">
                    </div>
                </div>
            </form>
        </div>
        <div class="progress space-line">
            <div class="determinate terumo" style="width: 20%"></div>
        </div>
        <div class="row">
            <div class="col s12">
                <h5>
                    <strong>TERUMO COLOMBIA ANDINA S.A.S.</strong>
                </h5>
            </div>
            <br />
            <br />
            <div class="section">
                <div class="col s12 m6 valign-wrapper center-align">
                    <div class="col s12"><i class="material-icons terumo-text">phone</i>
                        <p>(+57 1)(57 - 1) 2568400 / 2568405</p>
                    </div>
                </div>
                <div class="col s12 m6 valign-wrapper center-align">
                    <div class="col s12"><i class="material-icons terumo-text">mail</i>
                        <p>contactenos@terumocolombia.com</p>
                    </div>
                </div>
                <div class="col s12  valign-wrapper center-align">
                    <div class="col s12"><i class="material-icons terumo-text">location_on</i>
                        <p>Calle 100 No. 23 - 10 Piso 2 Bogotá D.C - Colombia</p>
                    </div>
                </div>
            </div>
        </div>

        <div class=" mapa row" style=" padding: 0px; ">


            <div class="col s12">
                <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [scrollwheel]="scrollwheel">
                    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                </agm-map>
            </div>
        </div>

    </div>
</div>

<div id="politica" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h5><strong>Politica de Privacidad y Cookies</strong></h5>
        <article class="section black-text">
            <div class="container">
                <h6>1. Nos preocupamos por su privacidad</h6>
                <p>1.1. Terumo Europe NV y sus Afiliados (en adelante "Terumo" o "nosotros") se comprometen a proteger su Privacidad y sus Datos personales y a respetar sus derechos. Este Aviso de privacidad ("Aviso") explica los tipos de Datos personales
                    que podemos recopilar</p>
                <p>1.2. Hemos diseñado este Aviso específicamente para usted, nuestros clientes, proveedores, profesionales de la salud, pacientes, visitantes del sitio web, solicitantes de empleo y otras personas de contacto.</p>
                <p>1.3. A los fines de este Aviso, Datos personales o Datos significa la información que lo identifica o le permite ser identificado solo o en combinación con otra información, como su nombre y apellido, sexo, fecha de nacimiento, domicilio,
                    número de teléfono, dirección de correo electrónico u otros datos de contacto, idioma preferido, números de identificación y números de matrícula.</p>
                <h6>2. Recopilamos sus datos de diferentes maneras</h6>
                <p>2.1. Podemos recopilar datos que nos haya proporcionado voluntariamente (por ejemplo, solicitando o registrándose en un evento, visitando nuestro stand en un congreso, participando en ferias comerciales, seminarios web, seminarios, eventos
                    de capacitación, presentando su currículum o tarjeta de presentación, respondiendo a una encuesta o participar en una función del sitio web) o que nos haya proporcionado la empresa u organización para la que trabaja.</p>
                <p>2.2. Es posible que recibamos o recopilemos indirectamente datos sobre usted, por ejemplo, de nuestros socios comerciales, de corredores de datos o de fuentes públicas como redes sociales o sitios web públicos.</p>
                <p>2.3. También podemos recopilar datos cuando visita nuestro sitio web o utiliza aplicaciones en línea mediante el uso de tecnologías de seguimiento de uso común, como las cookies. Dichos datos incluyen las páginas que visitó, la fecha,
                    la hora y la duración de su visita, su navegador web, su dirección IP, el tipo de sistema operativo que está utilizando y el nombre de dominio de su proveedor de servicios de Internet. Vea más sobre nuestro uso de Cookies a continuación.</p>
                <h6>3. Procesamos diferentes categorías de datos.</h6>
                <p>3.1. Podemos recopilar y utilizar las siguientes categorías de Datos personales, según su relación con Terumo:</p>
                <table class="highlight">
                    <thead class="terumo-text">
                        <tr>
                            <th>Categoría de datos</th>
                            <th>Ejemplos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Información de contacto y datos de identificación</td>
                            <td>como su nombre, dirección, dirección de correo electrónico, número de teléfono o teléfono móvil, su firma, sexo, fecha de nacimiento, detalles de su cuenta (por ejemplo, iniciar sesión en el portal o sitio web)</td>
                        </tr>
                        <tr>
                            <td>Números de identificación oficial</td>
                            <td>su número de IVA, su número de pasaporte (cuando lo ayudamos a obtener un permiso), su número de identificación nacional, su número de placa (cuando visita nuestras instalaciones), número de seguro social, número de registro
                                profesional.
                            </td>
                        </tr>
                        <tr>
                            <td>Datos financieros</td>
                            <td>como su número de cuenta bancaria y detalles bancarios, términos de pago y límites de crédito (para proveedores)</td>
                        </tr>
                        <tr>
                            <td>Datos profesionales</td>
                            <td>como sus habilidades lingüísticas, conocimiento o experiencia profesional, certificaciones, referencias y otra información que pueda encontrar en un currículum, el título de su trabajo y la empresa para la que trabaja, cualquier
                                mandato que pueda tener, su ubicación profesional y datos de viaje (para contactos comerciales sabemos que viajan para asistir a un evento), su remuneración profesional, informes de evaluación y desempeño (por ejemplo,
                                para nuestros consultores), sus membresías o contactos de la red (por ejemplo, cuando nos reunimos con usted en un evento o nos ponemos en contacto con usted a través de alguien dentro de su red)</td>
                        </tr>
                        <tr>
                            <td>Datos de localización electrónica.</td>
                            <td>como su paradero en las instalaciones (según los datos de la insignia)</td>
                        </tr>
                        <tr>
                            <td>Preferencias, intereses, estilo de vida o comportamiento.</td>
                            <td>tales como los productos o actividades que le interesan, los eventos a los que asiste, las noticias o la información que ha solicitado o su historial de compras (por ejemplo, también a través de cookies, registros, gastos,
                                ...)
                            </td>
                        </tr>
                        <tr>
                            <td>Salud y datos clínicos.</td>
                            <td>certificados médicos de contactor; datos clínicos, historial médico, resultados de pruebas, imágenes médicas y otros datos relevantes incluidos en el archivo del paciente del hospital</td>
                        </tr>
                        <tr>
                            <td>Datos de imagen</td>
                            <td>fotografías, fotos, imágenes de vigilancia</td>
                        </tr>
                    </tbody>
                </table>
                <p>3.2. Además de las categorías de datos enumeradas anteriormente, podemos usar otros tipos de datos relacionados con usted que usted nos haya proporcionado voluntariamente, que se nos proporcionaron en el contexto de nuestras relaciones
                    comerciales o que hemos deducido o generado de datos que ya estaban en nuestra posesión.</p>
                <h6>4. Utilizamos sus datos para fines específicos.</h6>
                <p>4.1. Podemos usar sus Datos personales para uno o más de los siguientes propósitos:</p>
                <ul>
                    <li>Contactarlo para solicitudes o consultas específicas (por ejemplo, para obtener servicios de consultoría, para responder a sus consultas;</li>
                    <li>Administrar el desempeño de nuestros compromisos (contractuales) y nuestra relación comercial;</li>
                    <li>Comunicarse con usted (por correo postal, correo electrónico o teléfono) sobre nuestros productos y servicios relacionados;</li>
                    <li>Identifique su interés como cliente existente o potencial en productos particulares para marketing y promoción de productos (prospección y creación de perfiles), para brindarle un mejor soporte y para responder mejor a sus consultas
                        y necesidades y las de nuestros pacientes;</li>
                    <li>Lo invitamos a brindar comentarios o participar en encuestas de clientes, estudios de mercado y encuestas para desarrollar o mejorar nuestros productos y servicios relacionados;</li>
                    <li>Utilice esta información para nuestra gestión general de la relación con el cliente (CRM);</li>
                    <li>Proteger nuestros derechos legales (incluyendo disputas y litigios) y garantizar la seguridad y protección de nuestra organización, nuestros clientes, pacientes y el público en general;</li>
                    <li>Para cumplir con las leyes, regulaciones y estándares de la industria (como los informes de transparencia), detectar fraudes y garantizar el cumplimiento;</li>
                    <li>Para gestionar fallas y retiros del producto;</li>
                    <li>Realizar investigaciones previas y posteriores a la comercialización, incluidos ensayos clínicos (con pacientes)</li>
                    <li>Para considerar y manejar su reclutamiento (por ejemplo, cuando solicita un trabajo a través de nuestro sitio web) o la relación de contactor.</li>
                </ul>
                <p>4.2. La base legal para usar y procesar sus Datos es, según sea el caso, su consentimiento para el uso para fines específicos, tales como marketing directo a prospectos, cumplimiento de contratos, servicios y transacciones comerciales,
                    cumplimiento de nuestras obligaciones legales, protección de sus intereses vitales o nuestros intereses comerciales legítimos, como el manejo adecuado de nuestras actividades, el desarrollo y la mejora de nuestros productos, la información
                    y la comunicación con nuestros clientes, proveedores y socios, la protección de nuestra organización, nuestras actividades, socios, pacientes y el público en general.</p>
                <h6>5. Minimizando y asegurando sus datos personales</h6>
                <p>5.1 En todo momento, nuestro objetivo es minimizar los Datos personales que procesamos, para asegurarnos de que solo usamos sus Datos cuando y en el momento en que los necesitemos. Siempre que sea posible, también seudónimos o códigos
                    clave de sus datos para que no pueda ser identificado directamente. Por ejemplo, los hospitales y centros clínicos involucrados en nuestros estudios clínicos vinculan sus datos clínicos con un número de paciente antes de compartir
                    los datos con nosotros y solo procesamos dichos datos codificados por clave.</p>
                <h6>6. Compartir sus datos personales</h6>
                <p>6.1. Dentro de Terumo restringimos el acceso a sus datos a los empleados y a cualquier persona que actúe bajo nuestra autoridad según sea necesario, que respeten nuestras normas de confidencialidad y cumplan con nuestras instrucciones.</p>
                <p>6.2. Podemos compartir sus datos con terceros seleccionados fuera de Terumo que nos brindan servicios o en nuestro nombre, como servicios de publicidad y marketing, servicios de TI, servicios de alojamiento, servicios de análisis de datos,
                    servicios de gestión de eventos y otros servicios profesionales.</p>
                <p>6.3. También podemos compartir sus Datos con distribuidores autorizados, socios comerciales u otros proveedores, que están involucrados en proporcionarle nuestros productos y servicios, para comunicarnos con usted o responder a sus consultas.</p>
                <p>6.4. También es posible que necesitemos transferir sus Datos a otros destinatarios si creemos de buena fe que esto es necesario o útil, como por ejemplo hospitales, HCP o comités éticos en el contexto de investigaciones y ensayos clínicos
                    previos y posteriores al mercado; abogados, compañías de seguros, auditores, fiscales, autoridades de ejecución y tribunales para salvaguardar los derechos e intereses de nuestra organización, nuestra gente, nuestros clientes y socios
                    o el público en general.</p>
                <p>6.5. También podemos compartir sus datos con otras empresas de Terumo para optimizar el uso de la información o mejorar la calidad de nuestros productos y la eficacia de nuestras actividades.</p>
                <p>6.6. Cuando compartimos sus Datos personales con terceros u otras entidades de Terumo que procesan Datos en nuestro nombre como procesadores, nos aseguraremos de que dichas partes brinden garantías suficientes sobre la legalidad, transparencia
                    y seguridad de sus Datos personales de acuerdo con la ley de protección de datos aplicable.</p>
                <p>6.7. Somos una organización internacional que opera a nivel mundial y, por lo tanto, podemos transferir sus Datos personales fuera del Espacio Económico Europeo (EEE). Las transferencias desde nuestras entidades en el Espacio Económico
                    Europeo a entidades fuera del EEE están cubiertas por acuerdos de transferencia de datos entre empresas de acuerdo con la ley de privacidad y protección de datos de la UE. Cuando compartimos sus datos personales con nosotros o los
                    transferimos a un tercero fuera del EEE, cuando sea necesario, suscribiremos los acuerdos de transferencia de datos apropiados o, de lo contrario, nos aseguraremos de que existan las garantías adecuadas.</p>
                <h6>7. Conservamos sus datos por un período de tiempo limitado.</h6>
                <p>Solo usaremos sus Datos personales durante el tiempo que sea necesario para los fines enumerados anteriormente.</p>
                <p>A este respecto, hemos establecido una política de clasificación y retención de datos en el marco de nuestra Política interna de retención de datos.</p>
                <h6>8. Respetamos sus derechos.</h6>
                <p>8.1. Hemos implementado medidas técnicas y organizativas razonables basadas en el riesgo para garantizar que sus datos estén protegidos contra pérdida o divulgación, uso no autorizado, modificación o destrucción.</p>
                <p>8.2. Según las leyes de privacidad, usted tiene ciertos derechos en relación con los Datos personales que tenemos sobre usted, como los derechos de información y acceso a sus Datos personales, derechos para rectificar o completar sus Datos
                    personales, derechos para objetar, restringir o cesar cierto procesamiento, derechos para eliminar sus datos personales y los derechos para ser olvidado.</p>
                <p>8.3. Puede solicitar el ejercicio de sus derechos poniéndose en contacto con nosotros utilizando los datos de contacto a continuación.</p>
                <p>8.4 Para garantizar la seguridad de sus Datos y evitar cualquier uso indebido, antes de responder a su solicitud, le pediremos que nos proporcione una prueba aceptable de su identidad y verificaremos la legitimidad de su solicitud y si
                    todas las condiciones tienen estado satisfecho </p>
                <h6>9. Cookies</h6>
                <p>9.1 Nuestro sitio web utiliza cookies. Las cookies son pequeños archivos de texto que pueden almacenarse en su computadora (u otro dispositivo que permita el acceso a Internet) cuando visita un sitio web. Puede obtener más información
                    sobre las cookies, por ejemplo, visitando <a target="_blank" href="http://www.allaboutcookies.org">www.allaboutcookies.org</a>.</p>
                <p>9.2 Podemos usar cookies con fines analíticos (para reconocer, medir y rastrear a los usuarios del sitio web en forma anónima, para compilar estadísticas anónimas con respecto a nuestros visitantes y para analizar el uso del sitio, para
                    determinar a qué características del sitio web acceden, para verificar el origen y la duración del acceso), para fines de uso (para personalizar su acceso a nuestro sitio web, por ejemplo, cuando elige su uso del sitio web), para registrar
                    sus consentimientos / rechazos en el sitio web (por ejemplo, consentimiento / rechazo al uso de cookies), para fines técnicos necesarios para el funcionamiento interno de nuestros servidores (por ejemplo, para distribuir solicitudes
                    entre varios servidores, autenticar usuarios, realizar un seguimiento de la información sobre la sesión del usuario), o para fines funcionales (por ejemplo, almacenar información que nuestras aplicaciones necesitan para procesar y
                    operar).
                </p>
                <p>9.3 Puede aceptar o rechazar cookies modificando la configuración de su navegador. Sin embargo, es posible que no pueda utilizar todas las funciones interactivas de nuestro sitio web si las cookies están desactivadas. También tiene la
                    posibilidad de eliminar de su navegador las cookies establecidas por el sitio web. Consulte las instrucciones de su navegador para obtener más información sobre cómo ajustar o modificar la configuración de su navegador.</p>
                <p>9.4 El sitio web puede contener hipervínculos a sitios web de terceros, sobre los cuales no tenemos ningún control. No somos responsables del uso de su información personal por sitios web de terceros accesibles a través del sitio web.
                    Le recomendamos que lea detenidamente la política de privacidad y la política de cookies de estos sitios web de terceros antes de cualquier uso.</p>
                <h6>10. Contáctenos</h6>
                <p>Si tiene alguna pregunta o inquietud sobre la forma en que recopilamos, almacenamos y usamos sus Datos, no dude en dirigirlos a su persona de contacto en Terumo, quien, cuando sea necesario, los redirigirá a nuestra Oficina de Privacidad.</p>
                <p>También puede comunicarse con nosotros en <a href="mailto:privacy@terumo-europe.com">privacy@terumo-europe.com</a> adjuntando una copia en reverso de su documento de identidad a su solicitud.</p>
                <p>También puede comunicarse con Terumo Europe NV, Oficina de Privacidad, Interleuvenlaan 40, B-3000 (Número de compañía: 0408.270.327 - RPR Leuven; IVA BE 0408.270.327)</p>
                <p>Implementaremos nuestros mejores esfuerzos para encontrar una solución rápida y justa a cualquier inquietud que nos envíe.</p>
                <P>Además, si tiene razones para creer que el procesamiento de sus datos personales por parte de Terumo infringe las Leyes aplicables, tiene el derecho, en todo momento, de presentar una queja ante la autoridad de supervisión de su elección.
                    Se puede llegar a la autoridad de protección de datos a través de Bélgica: <a href="http://www.dataprotectionauthority.be" target="_blank">www.dataprotectionauthority.be</a></P>
            </div>
        </article>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-light btn terumo terumoBold">Cerrar <i class="material-icons left">close</i></a>
    </div>
</div>

<div id="terminos" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h5><strong>Terminos y Condiciones</strong></h5>
        <article>
            <p>Bienvenido a www.terumo-europe.com (en adelante, el "Sitio web").</p>
            <p>Su uso del sitio web se rige por nuestros Términos de uso y nuestra Política de privacidad y cookies. Lea estos Términos de uso y nuestra Política de privacidad y cookies antes de usar o enviar información a este sitio web.</p>
            <p>Este sitio web está destinado a los residentes del Espacio Económico Europeo. La información del producto está destinada a profesionales de la salud. Las personas que no son profesionales de la salud deben dirigir todas las preguntas a un
                profesional de la salud.</p>
            <h6>Aviso Legal</h6>
            <p>Terumo Europe NV ("Terumo", "nosotros", "nos", "nuestro") desarrolló este sitio web (el "Sitio web"). Somos responsables de la administración y organización del sitio web.</p>
            <p>Terumo Europe NV es una compañía limitada constituida bajo las leyes de Bélgica y es la sede europea del grupo Terumo. Nuestra oficina registrada se encuentra en Interleuvenlaan 40, 3001 Leuven, Bélgica y estamos registrados en el Crossroad
                Bank of Companies con el número 0408.270.327.</p>
            <h6>Consentimiento</h6>
            <p>Al usar cualquier parte del sitio web y / o enviarnos cualquier información a través del sitio web, usted acepta los términos establecidos en nuestros Términos de uso, y acepta que cualquiera de sus datos personales obtenidos a través del
                sitio web puede procesarse de acuerdo con con nuestra Política de privacidad y cookies.</p>
            <h6>Sin consejo médico</h6>
            <p>Este sitio web no proporciona consejos médicos. Si cree que puede tener una emergencia médica, llame a su médico o al rescate de emergencia.</p>
            <h6>Acerca de los niños</h6>
            <p>Este sitio web no está destinado a niños. No recopilaremos a sabiendas información de niños menores de 18 años. Alentamos a los padres a que hablen con sus hijos sobre el uso de Internet y la información que divulgan a los sitios web.</p>
            <h6>No uso ilegal o prohibido</h6>
            <p>Usted se compromete a no usar el sitio web para ningún propósito que sea ilegal o prohibido por nuestros Términos de uso. No puede usar el sitio web de ninguna manera que pueda dañar, deshabilitar, sobrecargar o dañar el sitio web o interferir
                con el uso y disfrute del sitio web por parte de terceros. No puede obtener ni intentar obtener ningún material o información a través de ningún medio que no esté intencionalmente disponible o proporcionado a través del sitio web.</p>
            <h6>Derechos de propiedad intelectual</h6>
            <p>Todo el contenido de este sitio web, incluidos, entre otros, el texto, gráficos, logotipos, iconos, imágenes, audio, video, código html, botones contenidos en este documento (el "Contenido") y su disposición es propiedad de Terumo, su empresas
                afiliadas o sus socios, y está protegido por las leyes de derechos de autor aplicables. Todas las marcas comerciales utilizadas o mencionadas en este sitio web son propiedad de sus respectivos dueños.</p>
            <p>Nada de lo contenido en este sitio web se interpretará como una concesión implícita, o de otro modo, de una licencia o derecho a cualquier derecho de autor, patente, marca registrada u otros derechos de propiedad intelectual de Terumo o de
                terceros.
            </p>
            <p>Este sitio web y el contenido no se pueden copiar, reproducir, republicar, cargar, publicar, transmitir o distribuir de ninguna manera, sin nuestro consentimiento previo por escrito, excepto que puede descargar, mostrar e imprimir una copia
                de los materiales en cualquier computadora únicamente para su uso personal, no comercial, siempre que no modifique el material de ninguna manera y mantenga intactos todos los derechos de autor, marcas registradas y otros derechos de propiedad
                intelectual.
            </p>
            <h6>Representación, garantías y limitación de responsabilidad.</h6>
            <p>La información contenida en este sitio web se proporciona únicamente con fines informativos y se proporciona "tal cual". Haremos todos los esfuerzos razonables para incluir información actualizada y precisa en este sitio web. Sin embargo,
                no podemos garantizar que toda la información en el sitio web sea precisa, completa o actualizada en todo momento.</p>
            <p>Renunciamos expresamente a todas las garantías de cualquier tipo, ya sean expresas o implícitas, incluidas, entre otras, las garantías implícitas de comerciabilidad, idoneidad para un propósito particular y no infracción. No garantizamos que
                (i) el sitio web cumpla con sus requisitos; (ii) el sitio web estará disponible de manera ininterrumpida, oportuna, segura o libre de errores; o (iii) los resultados que se puedan obtener del uso del sitio web o de cualquier servicio ofrecido
                a través del sitio web serán precisos o confiables.</p>
            <p>No seremos responsables de ningún error u omisión, ni de ninguna pérdida o daño directo, indirecto o consecuente (incluidos, entre otros, daños en su sistema informático, pérdida anticipada de ganancias, pérdida de oportunidades, pérdida de
                datos, costos y multas) que surjan fuera o relacionado de alguna manera con (i) el uso, acceso, disponibilidad o funcionamiento técnico del sitio web; (ii) el contenido del sitio web o la descarga de cualquier contenido, material, información
                o software; (iii) virus, piratería y / u otros delitos informáticos; o (iv) el contenido de sitios web de terceros vinculados por el sitio web. Además, nos indemnizará, defenderá y eximirá de toda responsabilidad contra cualquier violación
                de cualquier disposición de nuestros Términos de uso cometida por usted. Nada en nuestros Términos de uso excluye la responsabilidad por fraude o intención intencional.</p>
            <h6>Enlaces a sitios web de terceros</h6>
            <p>El sitio web puede contener enlaces o referencias a otros sitios web alojados por terceros. No respaldamos, controlamos y no somos responsables de su contenido, indisponibilidad, funcionamiento técnico, virus, piratería y / u otros delitos
                informáticos. El acceso a sitios web de terceros vinculados por el sitio web es bajo su propio riesgo.</p>
            <h6>Diverso</h6>
            <p>Este sitio web, estos Términos de uso y la Política de privacidad y cookies están en inglés. Cualquier contenido o traducción en otro idioma es solo por conveniencia.</p>
            <p>Si alguna disposición de nuestros Términos de uso o nuestra Política de privacidad y cookies se considera ilegal, inválida o inaplicable en su totalidad o en parte, nuestros Términos de uso continuarán siendo válidos en cuanto a las demás
                disposiciones y el resto de los afectados provisión.</p>
            <p>Usted acepta que podemos mover, alterar, hacer otros cambios o eliminar este sitio web en cualquier momento sin previo aviso. Nos reservamos el derecho de cambiar nuestros Términos de uso o nuestra Política de privacidad y cookies en cualquier
                momento. Le recomendamos que consulte periódicamente el sitio web para ver los cambios. Los cambios serán efectivos inmediatamente después de su publicación en el sitio web. Su uso continuado del sitio web constituye su aceptación de estos
                cambios.
            </p>
            <h6>Ley aplicable y jurisdicción</h6>
            <p>Este sitio web y su uso del mismo se regirán por las leyes de Bélgica. Cualquier disputa que pueda surgir de o en relación con este sitio web o su uso del sitio web se someterá a la jurisdicción exclusiva de los tribunales de Lovaina, Bélgica.</p>
        </article>

    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-light btn terumo terumoBold">Cerrar <i class="material-icons left">close</i></a>
    </div>
</div>