<section class="thoraflex-section-1">
    <div class="row thoraflex-banner-imagen">
        <div class="col s12 m6 light-brown-aortic center-content">
            <img src="assets/img/solutions/aortic/Thoraflex/logo-thoraflex.png" alt="Logo Thoraflex" srcset=""
                class="responsive-img">
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col s10 offset-s1">
            <h4 class="aortic-dark-text center-align">
                El <b>ÚNICO</b> dispositivo Frozen Elephant Trunk
                ramificado con configuraciones Plexus y Ante-Flo<sup>&trade;</sup>
            </h4>
        </div>
    </div>
</section>
<section class="light-blue-aortic thoraflex-section-3">
    <div class="row">
        <div class="col s12 m6 center-content">
            <div class="container">
                <p class="aortic-dark-text flow-text">
                    El dispositivo Thoraflex<sup>&trade;</sup> Hybrid consta
                    de un injerto proximal sellado con
                    gelatina con una o múltiples ramas y una
                    endoprótesis distal. <br><br>
                    Está diseñado para ser usado de
                    forma intuitiva y precisa, permite que
                    el paciente recupere su temperatura
                    corporal de forma temprana, reduce
                    la isquemia miocárdica, la isquemia en
                    extremidades inferiores y también los
                    tiempos de cirugía.<sup>1-4</sup>
                </p>
            </div>
        </div>
        <div class="col s12 m6 plexus-img"></div>
    </div>
</section>
<section>
    <div class="container treo-tittle-color">
        <ol style="list-style: decimal !important;">
            <li>
                Thoraflex<sup>&trade;</sup> Hybrid Plexus facilita la reconstrucción individual de los vasos del arco.
            </li>
            <li>
                La configuración de Thoraflex<sup>&trade;</sup> Hybrid Ante-Flo<sup>&trade;</sup> facilita la técnica de
                isla.
            </li>
        </ol>
        <div class="container">
            <p>
                La disponibilidad del producto está sujeta a la aprobación de la autoridad regulatoria local.
            </p>
        </div>
    </div>
</section>
<section>
    <div class="circles center-align white-text">
        <div class="exactly-circle center-content dark-blue-aortic">
            <img src="assets/img/solutions/aortic/Thoraflex/preciso.svg" alt="Intuitivo y preciso">
            <p>
                Sistema de liberación diseñado
                para un despliegue <b>intuitivo y
                    preciso</b><sup>2,3</sup>
            </p>
        </div>
        <div class="exactly-circle center-content dark-blue-aortic">
            <img src="assets/img/solutions/aortic/Thoraflex/reducido.svg" alt="Reducido">
            <p>
                Recuperación de la temperatura <b>temprana</b>,
                isquemia miocárdica e isquemia del tronco
                inferior <b>reducidas</b>, así como el tiempo de
                operación <b>reducido</b> <sup>1,3,4</sup>
            </p>
        </div>
        <div class="exactly-circle center-content dark-blue-aortic">
            <img src="assets/img/solutions/aortic/Thoraflex/una-etapa.svg" alt="Una etapa">
            <p>
                Operación en <b>una etapa</b> <sup>1,2</sup>
            </p>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h3 class="treo-tittle-color center-align">
            Animación del producto Thoraflex™ Hybrid
        </h3>
        <div class="container-video container">
            <iframe src="//fast.wistia.net/embed/iframe/p8qc35igco?videoFoam=true" title="Wistia video player"
                allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed"
                allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen"
                webkitallowfullscreen="webkitallowfullscreen" oallowfullscreen="oallowfullscreen"
                msallowfullscreen="msallowfullscreen" width="838" height="471"></iframe>
        </div>
        <div class="divider"></div>
    </div>
</section>
<section>
    <div class="container">
        <h3 class="treo-tittle-color center-align">
            Características clave de Thoraflex<sup>&trade;</sup> Hybrid
        </h3>
    </div>
    <section class="thoraflex-section-7">
        <div class="frozen-img hide-on-small-only"></div>
        <div class="row">
            <div class="col s12 m6 offset-m6 light-brown-aortic right-rounded-section center-content">
                <h4 class="treo-black-color">
                    Procedimiento
                    de una etapa
                </h4>
                <p class="treo-black-color">
                    <b>
                        Para la técnica Frozen Elephant Trunk
                    </b> <br />
                    El dispositivo Thoraflex<sup>&trade;</sup>Hybrid permite el
                    procedimiento de una etapa – se suma a la
                    técnica Frozen Elephant Trunk (FET) para
                    tratar el arca aórtica y la enfermedad aórtica
                    descendente, mientras incrementa la capacidad
                    de decisión del cirujano en el tratamiento de la
                    patología compleja y diversa del arco aórtico.<sup>5</sup>
                </p>
            </div>
        </div>
        <div class="frozen-img hide-on-med-and-up"></div>
    </section>
</section>
<section>

    <div class="circles treo-tittle-color">
        <div class="exactly-circle-4 light-brown-aortic center-content center-align">
            <p>
                1. El diseño compacto brinda
                control del sistema de
                liberación<sup>3</sup>
            </p>
        </div>
        <div class="exactly-circle-4 light-brown-aortic center-content center-align">
            <p class="treo-tittle-color">
                2. El <b>Mecanismo de clip
                    separador de funda de
                    liberación rápida</b> es más
                intuitivo, diseñado para un
                rendimiento mejorado en
                el despliegue.<sup>2</sup>
            </p>
        </div>
        <div class="exactly-circle-4 light-brown-aortic center-content center-align">
            <p>
                3. Un <b>eje flexible más
                    adaptable</b> que permite
                estabilidad del sistema y
                una modelación más
                sencilla para encajar en la
                anatomía del paciente<sup>2</sup>
            </p>
        </div>
        <div class="exactly-circle-4 light-brown-aortic center-content center-align">
            <p>
                4. <b><i>Stents</i> distales más
                    pequeños, de 24 y
                    26 mm</b>, permiten tratar a
                una población más
                grande<sup>2</sup>
            </p>
        </div>
    </div>
    <div class="container">
        <p class="aortic-dark-text center-align flow-text">
            *en comparación con versiones anteriores de Thoraflex<sup>&trade;</sup> Hybrid
        </p>
    </div>
</section>
<section class="thoraflex-section-9">
    <div class="row">
        <div class="col s12 m7 light-blue-aortic left-rounded-section center-content">
            <h4 class="treo-tittle-color">
                Sellado con gelatina
            </h4>
            <p class="treo-tittle-color">
                <br />
                <b>Para una anastomosis más segura</b><br />
                El dispositivo está completamente sellado con gelatina y comprende
                un injerto Gelweave™ Siena de arco proximal de poliéster tejido
                cosido previamente a un stent distal. Esto garantiza una anastomosis
                más fácil y segura de la prótesis a la aorta, reduciendo la tracción
                hemodinámica en la anastomosis.
            </p>
        </div>
        <div class="col s12 m5 anastomosis-img"> </div>
    </div>
</section>
<section class="thoraflex-section-10">
    <div class="row">
        <div class="col s12 m6 rango-img hide-on-small-only"></div>
        <div class="col s12 m6 dark-blue-aortic right-rounded-section aortic-light-text center-content">
            <h4 class="aortic-light-text">
                Rango nuevo y expandido
            </h4>
            <p class="text-flow">
                <b> El nuevo y expandido rango de Thoraflex<sup>&trade;</sup>
                    Hybrid incluye los diseños Plexus y AnteFlo<sup>&trade;</sup> y tamaños del diametro del stent más
                    pequeños, de 24 y 26 mm<sup>4</sup></b>
            </p>
            <ol>
                <li>
                    Elección de los diseños de Plexus y Ante-Flo<sup>&trade;</sup>
                    para la reconstrucción individual de un vaso del arco
                    o para <b>la Técnica de isla.</b><sup>1,2</sup>
                </li>
                <li>
                    Gelweave<sup>&trade;</sup> Siena Collar garantiza una <b>anastomosis</b>
                    de la prótesis a la aorta más <b>fácil y más segura</b>,
                    reduciendo la tracción hemodinámica. <sup>3</sup>
                </li>
                <li>
                    Opciones de <i>stent</i> <b>nuevas y más pequeñas,
                        de 24 y 26 mm.</b>
                </li>
                <li>
                    Los marcadores radiopacos <b>simplifican los
                        procedimientos secundarios en caso de
                        necesidad.</b><sup>2</sup>
                </li>
                <li>
                    El diseño del stent, de anillo múltiple e
                    independiente, permite una <b>conformabilidad
                        anatómica excelente.</b><sup>6</sup>
                </li>
            </ol>
        </div>
        <div class="col s12 m6 rango-img hide-on-med-and-up"></div>
    </div>
</section>
<section class="light-brown-aortic thoraflex-section-11">
    <div class="row">
        <div class="col s12 m7 center-content">
            <div class="container">
                <h4 class="treo-tittle-color">Beneficioso para el paciente</h4>
                <p class="treo-tittle-color">
                    <b>Thoraflex<sup>&trade;</sup> Hybrid en el uso para la técnica FET ha
                        demostrado recuperación de la temperatura temprana,
                        isquemia miocárdica e isquemia del tronco inferior
                        reducidas, así como el tiempo de operación reducido<sup>1,3,4</sup> </b> <br /> <br />
                    El implante del dispositivo Thoraflex<sup>&trade;</sup> Hybrid ha arrojado en excelentes
                    resultados y una remodelación aórtica beneficiosa durante el período de
                    seguimiento.<sup>6</sup>
                </p>
            </div>
        </div>
        <div class="col s12 m5 beneficioso-img">

        </div>
    </div>
</section>

<app-saber-mas></app-saber-mas>

<section class="cite-section-13">
    <div class="row">
        <div class="col s12 m6 center-content">
            <div class="center-align">
                <img src="assets/img/solutions/aortic/cita.svg" width="50px" height="50px" alt="Cita"
                    class="responsive-img">
            </div>
            <p class="white-text flow-text">
                El implante del dispositivo Thoraflex<sup>&trade;</sup> Hybrid
                ha resultado en excelentes resultados y una
                remodelación aórtica beneficiosa durante el
                período de seguimiento. <br />
            </p>
            <i class="white-text">
                Profesor Malakh Shrestha, Alemania
            </i>
        </div>
    </div>
</section>

<app-tabs-slider></app-tabs-slider>

<section class="thoraflex-section-15">
    <div class="row">
        <div class="col s12 m4 offset-m1 center-content center-align">
            <img src="assets/img/solutions/aortic/Thoraflex/GELWEAVE.png" alt="GELWEAVE" class="responsive-img">
            <p class="flow-text">
                <b>
                    GELWEAVE<sup>&trade;</sup>
                </b> <br /> <br />
                Injerto de poliéster tejido
                sellado con gelatina
            </p>
            <a class="waves-effect waves-light btn light-blue-aortic treo-tittle-color">
                <i class="material-icons right">chevron_right</i>
                <b>APRENDA MÁS</b>
            </a>
        </div>
        <div class="col s12 m4 offset-m2 center-content center-align">
            <img src="assets/img/solutions/aortic/Thoraflex/SIENA.png" alt="GELWEAVE SIENA" class="responsive-img">
            <p class="flow-text">
                <b>
                    GELWEAVE<sup>&trade;</sup> SIENA
                </b> <br /> <br />
                La técnica Elephant Trunk
                hecha más sencilla
            </p>
            <a class="waves-effect waves-light btn light-blue-aortic treo-tittle-color">
                <i class="material-icons right">chevron_right</i>
                <b>APRENDA MÁS</b>
            </a>
        </div>
    </div>
</section>

<app-saber-mas></app-saber-mas>