<div class="linea">
    <div class="container">
        <b>
            <h4>Inyección</h4>
        </b>
    </div>
</div>
<router-outlet></router-outlet>
<div class="section container">
    <h5>
        <b>
            Nota
        </b>
    </h5>
    <div class="progress">
        <div class="determinate" style="width: 20%"></div>
    </div>
    <p>
        Por favor tenga en cuenta que los códigos no se encuentran disponibles en todas las regiones.
    </p>
</div>
<div class="divider-infusion"></div>