<app-banner-cardiologia-interv [titulo]="titulo" [imagen]="imagen"></app-banner-cardiologia-interv>
<section>
    <div class="container">
        <section>
            <h3>
                Porque la experiencia importa
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <p>
                La <i>División de Oncología Intervencionista</i> de Terumo presenta HydroPearl<sup>&reg;</sup>, una
                respuesta precisa a un reto
                en la oncología intervencionista. HydroPearl<sup>&reg;</sup> son microesferas de embolización de PEG
                (polietilenglicol),
                biocompatibles, compresibles, no cargables de fármacos y calibradas precisamente. Disponible en un
                amplio
                rango de tamaños codificado por colores. <br /><br />
                Debido a su composición, HydroPearl<sup>&reg;</sup> ofrece excelentes propiedades y una calibración muy
                ajustada. Las
                microesferas HydroPearl<sup>&reg;</sup> están destinadas a ocluir vasos sanguíneos con propósitos
                terapéuticos o adyuvantes
                en: tumores hipervascularizados; carcinomas hepatocelulares; fibroides uterinos; hiperplasia benigna
                prostática;
                malformaciones arteriovenosas periféricas; tumores en el cuello, torso y sistema esquelético;
                hemorragia,
                traumatismo y reducción preoperatoria del sangrado.
            </p>
        </section>
        <section>
            <h3>
                Características
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <dd>
                <ul>
                    <li>
                        Tecnología de hidrogel basada en fórmula<sup>1</sup>.
                    </li>
                    <li>
                        Calibración ajustada<sup>2</sup>.
                    </li>
                    <li>
                        Amplio rango de tamaños.
                    </li>
                    <li>
                        Microesferas más resistentes<sup>2</sup>.
                    </li>
                </ul>
            </dd>
        </section>
        <section>
            <h3>
                Especificaciones generales
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <table class="responsive-table highlight">
                <tbody>
                    <tr>
                        <th class="bold-tittle-table">
                            Volumen de microesferas (ml).
                        </th>
                        <td>
                            2
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Volumen de PBS (ml).
                        </th>
                        <td>
                            4
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Presentación
                        </th>
                        <td>
                            2 ml en jeringa
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Core material
                        </th>
                        <td>
                            Polietilenglicol (PEG).
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Medio de almacenamiento
                        </th>
                        <td>
                            Solución salina tamponada con fosfato.
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Compatibilidad de catéteres
                        </th>
                        <td>
                            ≤0.041" para todos los tamaños.
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h3>
                Especificaciones del artículo
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <table class="responsive-table highlight">
                <thead>
                    <tr>
                        <th class="bold-tittle-table">
                            Tamaños de hidroperlas (μm)
                        </th>
                        <th class="bold-tittle-table">
                            Referencia del producto
                        </th>
                        <th class="bold-tittle-table">
                            Color
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            75 ± 30
                        </td>
                        <td>
                            8HP2S75
                        </td>
                        <td>
                            Naranja
                        </td>
                    </tr>
                    <tr>
                        <td>
                            200 ± 75
                        </td>
                        <td>
                            8HP2S200
                        </td>
                        <td>
                            Amarillo
                        </td>
                    </tr>
                    <tr>
                        <td>
                            400 ± 75
                        </td>
                        <td>
                            8HP2S400
                        </td>
                        <td>
                            Azul
                        </td>
                    </tr>
                    <tr>
                        <td>
                            600 ± 75
                        </td>
                        <td>
                            8HP2S600
                        </td>
                        <td>
                            Rojo
                        </td>
                    </tr>
                    <tr>
                        <td>
                            800 ± 75
                        </td>
                        <td>
                            8HP2S800
                        </td>
                        <td>
                            Verde
                        </td>
                    </tr>
                    <tr>
                        <td>
                            1100 ± 75
                        </td>
                        <td>
                            8HP2S1100
                        </td>
                        <td>
                            Púrpura
                        </td>
                    </tr>
                </tbody>
            </table>
            <h6 class="center-align">
                    Por favor copie el código de referencia cuando realice un pedido.
            </h6>
        </section>
        <section>
            <h6 class="black-text"><b>
                    Referencias
                </b></h6>
                <p>
                    HydroPearl<sup>&reg;</sup> no está disponible para la venta en todos los países. Por favor contacte a su asesor de ventas local
                    de Terumo para más información. HydroPearl<sup>&reg;</sup> está autorizado en EE.UU con indicaciones para la embolización
                    de malformaciones arteriovenosas y tumores hipervasculares, incluyendo fibroides uterinos.  
                </p>
                <dd>
                    <ol>
                        <li><span>
                            Polyethylene Glycol (PEG)
                        </span></li>
                        <li><span>
                            Data on file. Comparison with EmboSpheres, Merit Medical. Ref HPMCV-001. 
                        </span></li>
                    </ol>
                </dd>
        </section>
    </div>
</section>