<app-banner-cardiologia-interv [titulo]="titulo" [imagen]="imagen"></app-banner-cardiologia-interv>
<section>
    <div class="container">
        <section>
            <h4>
                Dominando la complejidad. Simple.
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <p>
                En la práctica clínica, donde puede esperarse que alrededor del 80% de los casos sean complejos, es más
                importante que nunca tener herramientas en las que pueda confiar para la angioplastia.
                Ultimaster<sup>&trade;</sup>
                Tansei <sup>&trade;</sup>
                brinda capacidad de empuje mejorada<sup>2</sup>
                y con un cuerpo de tecnología avanzada, excelente resistencia al
                acodamiento con alma central de acero inoxidable cónica hacia el puerto de salida. Con el nuevo stent
                liberador de medicamento, Terumo introduce una punta duradera pero flexible, especialmente desarrollada
                para
                procedimientos de stenting complejos. Esta innovación va a mejorar la capacidad de entrega<sup>2</sup>
                de todo el sistema de stent contra los principales sistemas de entrega de stent. <br /> <br />
                Construido sobre el legado de Ultimaster<sup>&trade;</sup> con su rendimiento clínico
                demostrado<sup>3</sup>, Ultimaster<sup>&trade;</sup> Tansei<sup>&trade;</sup>
                utiliza el mismo cubrimiento de polímero bioabsorbible en gradiente abluminal para soportar una
                reparación vascular temprana.<sup>4</sup>
            </p>
        </section>
        <section>
            <h4>
                Características
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <div class="center-content">
                <img src="assets/img/solutions/intervencionismo/ultimatemaster-tansei.png" alt="Ultimaster Tansei"
                    class="responsive-img">
            </div>
            <p>
                Ultimaster<sup>&trade;</sup> Tansei<sup>&trade;</sup> ha sido desarrollado pensando en casos exigentes,
                logrando capacidad de navegación y de empuje óptimas, que son esenciales para una entrega confiable.
                Stent liberador de medicamento recomendado en las guías ESC/EACTS de 2014<sup>5</sup> Terapia dual
                antiplaquetaria (DAPT)* de 1 mes con marca CE aprobada para pacientes en los que se
                requiera detener la DAPT tempranamente.<sup>6</sup>
            </p>
        </section>
        <section>
            <h4>
                Especificaciones generales
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <p>
                Especificaciones del sistema de entrega
            </p>

            <table class="responsive-table highlight" cellspacing="0">
                <tbody>
                    <tr>
                        <th class="bold-tittle-table">​
                            Compatibilidad de la guía
                        </th>
                        <td>​0.014’’ (0.36 mm)</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Balón de baja complacencia
                        </th>
                        <td>​Material Nylon 12</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">​
                            Presión nominal
                        </th>
                        <td>​9 atm</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="2" colspan="1">​
                            Presión de ruptura
                        </th>
                        <td>​16 atm - 2.25 to 3.0 mm</td>
                    </tr>
                    <tr>
                        <td>​14 atm - 3.5 to 4.0 mm</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">​
                            Perfil de entrada

                        </th>
                        <td rowspan="1">​0.018’’ (0.45 mm)</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Perfil de cruce

                        </th>
                        <td rowspan="1">​0.044’’ (1.12 mm) for 3.0 mm</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="2" colspan="1">
                            Cuerpo

                        </th>
                        <td rowspan="1">Tamaño máximo - 2.7 Fr (0.89 mm)​</td>
                    </tr>
                    <tr>
                        <td rowspan="1">Tamaño mínimo - 1.9 Fr (0.64 mm)</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Recubrimiento
                        </th>
                        <td rowspan="1">
                            Hidrofílico – cuerpo distal
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Catéter guía mínimo
                        </th>
                        <td rowspan="1">​5 Fr (0.056’’/1.42 mm)</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">​
                            Longitud utilizable
                        </th>
                        <td rowspan="1">​144 cm</td>
                    </tr>
                </tbody>
            </table>
            <p>
                Especificaciones del Stent
            </p>
            <table class="responsive-table highlight">
                <tbody>
                    <tr>
                        <th class="bold-tittle-table">
                            Diseño del stent
                        </th>
                        <td>
                            Celda abierta
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Material del stent
                        </th>
                        <td>
                            Cobalto cromo L605
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Grosor del stent
                        </th>
                        <td>
                            ​80 μm
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Tamaño de la celda (para stent de 3 mm)
                        </th>
                        <td>
                            ​4.57 mm<sup>2</sup>
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Medicamento
                        </th>
                        <td>
                            Sirolimus
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Dosis del medicamento
                        </th>
                        <td>
                            ​3.9 μg/mm longitud del stent
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Polímero
                        </th>
                        <td>
                            Poly (DL-lactide-co‑caprolactone)
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Recubrimiento
                        </th>
                        <td>
                            Abluminal y gradiente
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Tiempo de degradación del polímero y liberación del
                            medicamento
                        </th>
                        <td>
                            ​Tiempo de degradación del polímero y liberación del fármaco 3-4 meses.
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="video-section-ultimaster">
            <h4>
                Videos de procedimiento
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <div class="row row-exception container">
                <div class="col s12">
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/yWABRhBl3ug"
                            frameborder="0"></iframe>
                    </div>
                </div>
                <div class="col s12">
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/CDa0CcB38Gg?rel=0"
                            frameborder="0"></iframe>
                    </div>
                </div>
                <div class="col s12">
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/BQrRswLsL9E?rel=0"
                            frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h4>
                Ilustraciones del producto
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <div class="row row-exception">
                <div class="col s12 m6 row-exception">
                    <h5 class="black-text">
                        Construyendo sobre el legado del stent
                        Ultimaster<sup>&trade;</sup>
                    </h5>
                    <dd>
                        <ul>
                            <li>
                                Ultimaster<sup>&trade;</sup> Tansei<sup>&trade;</sup> tiene todas las características
                                clave de Ultimaster<sup>&trade;</sup> para apoyar la reparación
                                vascular.<sup>1</sup>
                            </li>
                        </ul>
                    </dd>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <h5 class="black-text">
                        Recubrimiento bioabsorbible abluminal
                        innovador
                    </h5>
                    <dd>
                        <ul>
                            <li>
                                Recubrimiento del medicamento aplicado en un
                                gradiente para reducir el riesgo de agrietamiento del
                                polímero y delaminación, incluso cuando el stent esté
                                sobreexpandido
                            </li>
                            <li>
                                PCL añadido a PDLLA, incrementa la elasticidad del
                                recubrimiento de polímero bioabsorbible
                            </li>
                        </ul>
                    </dd>
                    <p>
                        Absorción simultánea del polímero y liberación del
                        medicamento en 3-4 meses, para coincidir con la
                        respuesta provocada por el procedimiento. <br /> <br />
                        No hay recubrimiento de medicamentos en partes del
                        stent que experimentan el mayor estrés físico.
                    </p>
                </div>
                <div class="col s12 m6 center-content">
                    <img src="assets/img/solutions/intervencionismo/ultimaster-img-1.png"
                        alt="Características generales" class="responsive-img">
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <h5 class="black-text">
                        Una punta diseñada para facilitar el
                        tratamiento en los casos más desafiantes
                    </h5>
                    <p>
                        Diseño actualizado para maximizar la capacidad de
                        entrega, incluso en los casos más desafiantes.
                    </p>
                    <dd>
                        <ul>
                            <li>
                                Material flexible en la punta: favorece la navegación a
                                través de vasos complejos
                            </li>
                            <li>
                                Baja resistencia al paso en la punta: minimiza la fuerza
                                requerida para cruzar lesiones complejas
                            </li>
                        </ul>
                    </dd>
                    <p>
                        Absorción simultánea del polímero y liberación del
                        medicamento en 3-4 meses, para coincidir con la
                        respuesta provocada por el procedimiento. <br /> <br />
                        No hay recubrimiento de medicamentos en partes del
                        stent que experimentan el mayor estrés físico.
                    </p>
                </div>
                <div class="col s12 m6 center-content">
                    <app-grafica [titulo]="'Resistencia al paso disminuida'" [cita]="'7'"
                        [imagen]="'assets/img/solutions/intervencionismo/tensei-grafica-1.png'">
                    </app-grafica>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 center-content">
                    <h5 class="black-text">
                        Una punta específicamente desarrollada con la
                        composición y forma para apoyar la durabilidad
                    </h5>
                    <p>
                        Diseño actualizado para maximizar la capacidad de
                        entrega, incluso en los casos más desafiantes
                    </p>
                    <dd>
                        <ul>
                            <li>
                                Forma redondeada: ofrece durabilidad y cruzabilidad,
                                incluso a través de áreas de calcificación
                            </li>
                            <li>
                                Material duradero: reduce el riesgo de daño en la
                                punta cuando navega anatomías complejas
                            </li>
                        </ul>
                    </dd>
                </div>
                <div class="col s12 m6 center-content">
                    <app-grafica [titulo]="'Durabilidad extendida'" [cita]="'8'"
                        [imagen]="'assets/img/solutions/intervencionismo/tensei-diagrama-1.png'">
                    </app-grafica>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <h5 class="black-text">
                        Tecnología del cuerpo avanzada para un alto
                        rendimiento sobresaliente
                    </h5>
                    <p>
                        Maximizando la fuerza de transmisión y resistencia al
                        acodamiento<sup>9</sup>
                    </p>
                    <dd>
                        <ul>
                            <li>
                                Cuerpo reforzado con un núcleo central de acero
                                inoxidable: garantiza óptima capacidad de empuje y
                                transmisión de fuerza

                            </li>
                            <li>
                                Hipotubo más fuerte: maximizando la resistencia al
                                acodamiento para una capacidad de entrega efectiva
                                y confiable
                            </li>
                        </ul>
                    </dd>
                    <p>
                        Garantizando una transición suave y balanceada
                    </p>
                    <dd>
                        <ul>
                            <li>
                                Un cable central de acero inoxidable cónico en el
                                puerto de salida para una óptima capacidad de
                                empuje a través de todo el sistema de entrega
                            </li>
                        </ul>
                    </dd>
                </div>
                <div class="col s12 m6 center-content">
                    <app-grafica [titulo]="'Capacidad de empuje mejorada'" [cita]="'10'"
                        [imagen]="'assets/img/solutions/intervencionismo/tensei-grafica-2.png'">
                    </app-grafica>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 center-content">
                    <h5 class="black-text">
                        Mantenerse a la vanguardia en anatomías
                        complejas
                    </h5>
                    <p>
                        Capacidad de entrega mejorada <br /><br />
                        En la práctica clínica, donde puede esperarse que
                        alrededor del 80% de los casos sean complejos, tener
                        herramientas en las que pueda confiar para angioplastias
                        es más importante que nunca. <br /> <br />
                        Ultimaster<sup>&trade;</sup> Tansei<sup>&trade;</sup> ha sido desarrollado pensando
                        en casos desafiantes, logrando óptima capacidad de
                        navegación y empuje <sup>11</sup>, que son esenciales para una
                        entrega confiable.
                    </p>
                </div>
                <div class="col s12 m6 center-content">
                    <app-grafica
                        [titulo]="'Ultimaster™ Tansei™ garantiza buena transmisión de fuerza, incluso cuando el catéter guía no brinda suficiente apoyo.'"
                        [cita]="'11'" [imagen]="'assets/img/solutions/intervencionismo/tensei-grafica-3.png'">
                    </app-grafica>
                </div>
            </div>
        </section>
        <section>
            <h4>
                Especificaciones del producto
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <table class="responsive-table highlight" cellspacing="0" style="display: flex;">
                <thead class="hide-on-large-only">
                    <tr class="bold-tittle-table center-align">
                        <th class="bold-tittle-table" rowspan="2" colspan="1">
                            ​Longitud (mm)
                        </th>
                        <th class="bold-tittle-table center-content center-align" rowspan="1" colspan="6"
                            style="height: 332px;">
                            <p>
                                Diámetro (mm) ​ ​ ​ ​
                            </p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bold-tittle-table hide-on-med-and-down">
                        <th class="bold-tittle-table center-align" rowspan="2" colspan="1">
                            ​Longitud (mm)
                        </th>
                        <th class="bold-tittle-table center-align" rowspan="1" colspan="6">
                            Diámetro (mm) ​ ​ ​ ​
                            ​</th>
                    </tr>
                    <tr>
                        <td class="hide-on-large-only"></td>
                        <td>2.25</td>
                        <td>​2.50</td>
                        <td>2.75​</td>
                        <td>3.00​</td>
                        <td>3.50​</td>
                        <td>4.00​</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="1" colspan="1">​09 mm<br></th>
                        <td>DE-RQ2209KSM<br></td>
                        <td>DE-RQ2509KSM<br></td>
                        <td>DE-RQ2709KSM<br></td>
                        <td>​DE-RQ3009KSM</td>
                        <td>​DE-RQ3509KSM</td>
                        <td>​DE-RQ4009KSM</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="1" colspan="1">​12 mm</th>
                        <td>DE-RQ2212KSM<br></td>
                        <td>DE-RQ2512KSM<br></td>
                        <td>​DE-RQ2712KSM<br></td>
                        <td>​DE-RQ3012KSM</td>
                        <td>​DE-RQ3512KSM</td>
                        <td>​DE-RQ4012KSM</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="1" colspan="1">​15 mm</th>
                        <td>​DE-RQ2215KSM</td>
                        <td>DE-RQ2515KSM<br></td>
                        <td>​DE-RQ2715KSM<br></td>
                        <td>​DE-RQ3015KSM</td>
                        <td>DE-RQ3515KSM​</td>
                        <td>​DE-RQ4015KSM</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="1" colspan="1">​18 mm</th>
                        <td>​DE-RQ2218KSM</td>
                        <td>​DE-RQ2518KSM<br></td>
                        <td>​DE-RQ2718KSM</td>
                        <td>​DE-RQ3018KSM</td>
                        <td>​DE-RQ3518KSM</td>
                        <td>​DE-RQ4018KSM</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="1" colspan="1">​21 mm</th>
                        <td>​DE-RQ2221KSM</td>
                        <td>DE-RQ2521KSM<br></td>
                        <td>​DE-RQ2721KSM<br></td>
                        <td>​DE-RQ3021KSM</td>
                        <td>​DE-RQ3521KSM</td>
                        <td>​DE-RQ4021KSM</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="1" colspan="1">​24 mm</th>
                        <td>​DE-RQ2224KSM</td>
                        <td>DE-RQ2524KSM</td>
                        <td>​<span aria-hidden="true"></span>DE-RQ2724KSM</td>
                        <td>​DE-RQ3024KSM</td>
                        <td>​DE-RQ3524KSM</td>
                        <td>​DE-RQ4024KSM</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="1" colspan="1">​28 mm</th>
                        <td>​DE-RQ2228KSM</td>
                        <td>​DE-RQ2528KSM</td>
                        <td>​<span aria-hidden="true"></span>DE-RQ2728KSM</td>
                        <td>​DE-RQ3028KSM</td>
                        <td>​DE-RQ3528KSM</td>
                        <td>​DE-RQ4028KSM</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="1" colspan="1">​33 mm</th>
                        <td>​DE-RQ2233KSM</td>
                        <td>​DE-RQ2533KSM</td>
                        <td>​<span aria-hidden="true"></span>DE-RQ2733KSM</td>
                        <td>​DE-RQ3033KSM</td>
                        <td>​DE-RQ3533KSM</td>
                        <td>DE-RQ4033KSM​</td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table" rowspan="1" colspan="1">​38 mm</th>
                        <td>​DE-RQ2238KSM</td>
                        <td>​DE-RQ2538KSM</td>
                        <td>​<span aria-hidden="true"></span>DE-RQ2738KSM</td>
                        <td>​DE-RQ3038KSM</td>
                        <td>​DE-RQ3538KSM</td>
                        <td>​DE-RQ4038KSM</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h4>
                Estudio clínico
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <p>
                Programa clínico de Ultimaster<sup>&reg;</sup>
            </p>
            <h5 class="black-text">
                <b>
                    CENTURY II Trial
                </b>
            </h5>
            <p>
                Estudio multicéntrico intercontinental: 58 sitios en 13 países en Europa, Japón y Corea del Sur
                Meta primaria: libre de TLF a los 9 meses. <br />
                Meta secundaria: índice de TVF; meta compuesta orientada por el paciente; índice de TLR, TVR, ST, muerte
                cardíaca,
                IM; compuesto de muerte cardíaca y MI; índice de sangrado y complicaciones vasculares
                Seguimiento clínico de 5 años. <br />
                Etapa: publicado y completado.
            </p>
            <h5 class="black-text">
                <b>
                    DISCOVERY 1TO3 Trial
                </b>
            </h5>
            <p>
                60 pacientes MVD con OFDI, brazo único, meta primaria TLF @ 12M. Publicado.
            </p>
        </section>
        <section>
            <h4>
                Estudio clínico
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <dd>
                <ul>
                    <li>
                        <a href="https://www.terumo-europe.com/en-emea/_layouts/15/Uniway.Hayabusa/GetFile.aspx?filetype=1&amp;fileid=199E72F2-0235-4625-B97B-1F2DB068DC30&amp;webid=77054ba1-476b-4af3-b914-9a049e0b9ba8"
                            rel="noopener noreferrer">
                            <i class="material-icons"
                                style="font-size: 14.5px;">file_download</i> Ultimaster<sup>&trade;</sup>
                            Tansei<sup>&trade;</sup> IFU
                        </a>
                    </li>
                </ul>
            </dd>
        </section>
        <section>
            <h4>
                Ver también
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <dd>
                <ul>
                    <li>
                        <a href="#" rel="noopener noreferrer">
                            Ultimaster<sup>&trade;</sup> - stent liberador de medicamento
                        </a>
                    </li>
                </ul>
            </dd>
        </section>
        <section>
            <p>
                <b>
                    Referencias
                </b> <br /> <br />
                Basado en información del estudio clínico e-Ultimaster, información en archivo de Terumo Europa
                PCI – intervención coronaria percutanea
            </p>
            <ol>
                <li>
                    Internal report ISCD-523-37-19 - Report-eUM-Interim analysis
                </li>
                <li>
                    Bench test ISCD-523-31-18 performed by, and on file at Terumo Corporation
                </li>
                <li>
                    ULTIMASTER Clinical Program
                </li>
                <li>
                    Chevalier et al. Circ Cardiovasc Interv 2017;10:doi:10.1161/CIRCINTERVENTIONS.116.004801
                    * Patients should be maintained on clinically adequate post-procedural antiplatelet therapy
                    according to the
                    current guidelines. In case of need, dual antiplatelet therapy can be discontinued earlier, but not
                    before one
                    month.
                </li>
                <li>
                    Windecker S et al. 2014 ESC/EACTS Guidelines on myocardial revascularization: The Task Force on
                    Myocardial
                    Revascularization of the European Society of Cardiology (ESC) and the European Association for
                    CardioThoracic Surgery (EACTS) Developed with the special contribution of the European Association
                    of Percutaneous
                    Cardiovascular Interventions (EAPCI). Eur Heart J. 2014 Oct 1;35(37):2541-619.
                </li>
                <li>
                    Ultimaster IFU.
                </li>
                <li>
                    Bench test ISCD-523-31-18 performed by, and on fi le at, Terumo Corporation. Testing performed on
                    Ultimaster<sup>&trade;</sup>
                    Tansei<sup>&trade;</sup> Stent System (3.0 x38mm) n=3, Resolute Onyx<sup>&trade;</sup> Stent System
                    (3.0 x 38 mm) n=3, Orsiro<sup>&trade;</sup> Stent
                    System
                    (3.0 x 35mm) n=3, Xience Alpine™ Stent System (3.0 x38mm) n=3, Synergy<sup>&trade;</sup> Stent
                    System (3.0x38mm) n=3.

                </li>
                <li>
                    Bench test ISCD-523-31-18 performed by, and on fi le at, Terumo Corporation. Testing performed on
                    Ultimaster<sup>&trade;</sup>
                    Tansei<sup>&trade;</sup> Stent System (3.0 x 38 mm) n=1, Resolute Onyx<sup>&trade;</sup> Stent
                    System (3.0 x 38 mm) n=1, Orsiro<sup>&trade;</sup> Stent
                    System
                    (3.0 x 35mm) n=1, Xience Alpine<sup>&trade;</sup> Stent System (3.0 x 38 mm) n=1,
                    Synergy<sup>&trade;</sup> Stent System (3.0x38mm)
                    n=1.
                </li>
                <li>
                    Compared with Ultimaster. Bench test ISCD-523-31-18 performed by, and on fi le at, Terumo
                    Corporation.
                </li>
                <li>
                    Bench test ISCD-523-31-18 performed by, and on fi le at, Terumo Corporation. Testing performed on
                    Ultimaster<sup>&trade;</sup> Tansei<sup>&trade;</sup> Stent System (3.0 x 38mm) n=3, Resolute
                    Onyx<sup>&trade;</sup> Stent System (3.0 x 38 mm) n=3,
                    Orsiro<sup>&trade;</sup>
                    Stent System (3.0 x 35mm) n=3, Xience Alpine<sup>&trade;</sup> Stent System (3.0 x 38mm) n=3,
                    Synergy<sup>&trade;</sup> Stent System
                    (3.0 x
                    38mm) n=3.
                </li>
                <li>
                    Bench test ISCD-523-31-18 performed by, and on fi le at, Terumo Corporation. Testing performed on
                    Ultimaster<sup>&trade;</sup> Tansei<sup>&trade;</sup> Stent System (3.0 x38mm) n=3, Resolute
                    Onyx<sup>&trade;</sup> Stent System (3.0 x 38mm) n=3,
                    Orsiro<sup>&trade;</sup>
                    Stent System (3.0 x 35mm) n=3, Xience Alpine<sup>&trade;</sup> Stent System (3.0 x 38mm) n=3,
                    Synergy<sup>&trade;</sup> Stent System
                    (3.0 x 38
                    mm) n=3.
                </li>
            </ol>
        </section>
    </div>
</section>