<section class="banner-imagen">
    <div class="row">
        <div class="col s12 m6"></div>
        <div class="col s12 m6 light-blue-aortic center-content">
            <div class="container">
                <img src="assets/img/solutions/aortic/Fenestrated/logo-fenestrated.png" alt="Banner Fenestrated" class="responsive-img">
                <h1 class="flow-text treo-black-color">
                    Sistema de endoprótesis AAA a la medida
                </h1>
            </div>
        </div>
    </div>
</section>