<app-banner></app-banner>
<section>
    <div class="row">
        <h3 class="treo-black-color center-align">
            ¿Qué necesitas de un dispositivo EVAR Fenestrado?
        </h3>
    </div>
</section>
<section>
    <div class="row section-2">
        <div class="col s12 m6 light-brown-aortic left-rounded-section">
            <div class="container center-content">
                <h5 class="treo-tittle-color">Más de 2200 implantes
                    han sido realizados a la fecha</h5>
                <p>
                    Anaconda<sup>&trade;</sup> Fenestrada es un sistema de endoprótesis AAA
                    completamente personalizado con fenestraciones dispuestas
                    para acomodarse a la anatomía particular del paciente. <br /> <br />
                    Anaconda<sup>&trade;</sup> Fenestrada - Sistema de endoprótesis AAA a la medida
                    proporciona:
                </p>
                <dl>
                    <dd>
                        <ul>
                            <li>
                                Ubicación sin compromisos de las fenestraciones debido a la
                                ausencia de soporte del cuerpo, permitiendo un diseño a la medida.
                            </li>
                            <li>
                                Completamente reposicionable durante el implante.
                            </li>
                            <li>
                                Facilidad de acceso – sin cubierta superior, acceso a las
                                fenestraciones proximal y distalmente.
                            </li>
                            <li>
                                Canulación acelerada por imán, fácil y rápida.
                            </li>
                            <li>
                                Servicio de ensayo de casos únicos.
                            </li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="col s12 m6 center-content">
            <img src="assets/img/solutions/aortic/Fenestrated/implantes.png" alt="Tipos de implantes EVAR Fenestrado"
                class="responsive-img">
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row circles">
            <div class="light-blue-circle light-blue-aortic center-content">
                <img src="assets/img/solutions/aortic/Fenestrated/servicio.svg" alt="Servicio de ensayo"
                    class="responsive-img logo-circle">
                <p class="descripcion ">
                    <strong class="treo-black-color">Servicio de ensayo de caso
                        con prueba de prototipos</strong>
                </p>
            </div>
            <div class="light-blue-circle light-blue-aortic center-content">
                <img src="assets/img/solutions/aortic/Fenestrated/exito.svg" alt="Índice de éxito"
                    class="responsive-img logo-circle">
                <p class="descripcion ">
                    <strong class="treo-black-color">Alto índice de éxito
                        técnico<sup>1</sup>
                    </strong>
                </p>
            </div>
            <div class="light-blue-circle light-blue-aortic center-content">
                <img src="assets/img/solutions/aortic/Fenestrated/semanas.svg" alt="Tiempo de entrega"
                    class="responsive-img logo-circle">
                <p class="descripcion">
                    <strong class="treo-black-color">Tiempo de entrega de 4 semanas
                        para el prototipo</strong>
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col s12 m3 hide-on-small-only"></div>
        <div class="col s12 m6">
            <h4 class="treo-tittle-color center-align">
                Animación de
                Anaconda<sup>&trade;</sup> Fenestrada
            </h4>
        </div>
        <div class="col s12 m3 hide-on-small-only"></div>
    </div>
    <div class="row">
        <div class="col s12 m2 hide-on-small-only"></div>
        <div class="col s12 m8">
            <ul id="tabs-swipe-demo" class="tabs tabs-fixed-width exclution">
                <li class="tab col s3">
                    <a class="light-blue-aortic treo-tittle-color" class="active treo-tittle-color"
                        href="#test-swipe-1">
                        <div class="tab-text">
                            ANIMACIÓN DEL <br /> PROCEDIMIENTO
                        </div>
                        <div class="tab-icon">
                            <i class="material-icons right">chevron_right</i>
                        </div>
                    </a>
                </li>
                <li class="tab col s3">
                    <a class="light-blue-aortic treo-tittle-color" href="#test-swipe-2">
                        <div class="tab-text">
                            ESTUDIO DE <br /> CASO 1
                        </div>
                        <div class="tab-icon">
                            <i class="material-icons right">chevron_right</i>
                        </div>
                    </a>
                </li>
                <li class="tab col s3">
                    <a class="light-blue-aortic treo-tittle-color" href="#test-swipe-3">
                        <div class="tab-text">
                            ESTUDIO DE <br /> CASO 2
                        </div>
                        <div class="tab-icon">
                            <i class="material-icons right">chevron_right</i>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="container">
                <div id="test-swipe-1" class="col s12">
                    <div class="TextformatterVideoEmbed"
                        style="position:relative;padding:30px 0 56.25% 0;height:0;overflow:hidden;">
                        <div class="wistia_responsive_padding" style="padding:56.25% 0 28px 0;position:relative;">
                            <div class="wistia_responsive_wrapper"
                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                <div class="wistia_video_foam_dummy" data-source-container-id=""
                                    style="border: 0px; display: block; height: 0px; margin: 0px; padding: 0px; position: static; visibility: hidden; width: auto;">
                                </div>
                                <iframe style="position: absolute; top: 0px; left: 0px; width: 504px; height: 284px;"
                                    src="//fast.wistia.net/embed/iframe/go9bgd94ic?videoFoam=true"
                                    title="Wistia video player" allowtransparency="true" frameborder="0" scrolling="no"
                                    class="wistia_embed" name="wistia_embed" allowfullscreen="allowfullscreen"
                                    mozallowfullscreen="mozallowfullscreen"
                                    webkitallowfullscreen="webkitallowfullscreen" oallowfullscreen="oallowfullscreen"
                                    msallowfullscreen="msallowfullscreen" width="504" height="284"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="test-swipe-2" class="col s12">
                    <div class="TextformatterVideoEmbed"
                        style="position:relative;padding:30px 0 56.25% 0;height:0;overflow:hidden;">
                        <div class="wistia_responsive_padding" style="padding:56.25% 0 28px 0;position:relative;">
                            <div class="wistia_responsive_wrapper"
                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                <div class="wistia_video_foam_dummy" data-source-container-id=""
                                    style="border: 0px; display: block; height: 0px; margin: 0px; padding: 0px; position: static; visibility: hidden; width: auto;">
                                </div>
                                <iframe style="position: absolute; top: 0px; left: 0px; width: 504px; height: 284px;"
                                    src="//fast.wistia.net/embed/iframe/ehinzwgjk7?videoFoam=true"
                                    title="Wistia video player" allowtransparency="true" frameborder="0" scrolling="no"
                                    class="wistia_embed" name="wistia_embed" allowfullscreen="allowfullscreen"
                                    mozallowfullscreen="mozallowfullscreen"
                                    webkitallowfullscreen="webkitallowfullscreen" oallowfullscreen="oallowfullscreen"
                                    msallowfullscreen="msallowfullscreen" width="504" height="284"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="test-swipe-3" class="col s12">
                    <div class="TextformatterVideoEmbed"
                        style="position:relative;padding:30px 0 56.25% 0;height:0;overflow:hidden;">
                        <div class="wistia_responsive_padding" style="padding:56.25% 0 28px 0;position:relative;">
                            <div class="wistia_responsive_wrapper"
                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                <div class="wistia_video_foam_dummy" data-source-container-id=""
                                    style="border: 0px; display: block; height: 0px; margin: 0px; padding: 0px; position: static; visibility: hidden; width: auto;">
                                </div>
                                <iframe style="position: absolute; top: 0px; left: 0px; width: 504px; height: 284px;"
                                    src="//fast.wistia.net/embed/iframe/4jvbptsu5d?videoFoam=true"
                                    title="Wistia video player" allowtransparency="true" frameborder="0" scrolling="no"
                                    class="wistia_embed" name="wistia_embed" allowfullscreen="allowfullscreen"
                                    mozallowfullscreen="mozallowfullscreen"
                                    webkitallowfullscreen="webkitallowfullscreen" oallowfullscreen="oallowfullscreen"
                                    msallowfullscreen="msallowfullscreen" width="504" height="284"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m2 hide-on-small-only"></div>
    </div>
</section>
<div class="divider"></div>
<section>
    <div class="container">
        <h4 class="treo-tittle-color center-align">
            Características principales de Anaconda™ Fenestrada - Sistema de endoprótesis AAA a la medida
        </h4>
    </div>
    <div class="row endoprotesis-imagen">
        <div class="col s12 m6">

        </div>
        <div class="col s12 m6">
            <h6>
                El diseño único permite un ajuste a medida
            </h6>
            <p>
                Más oportunidades para tratar la anatomía individual de su paciente <br />
                La sección ilimitada del cuerpo de Anaconda™ Fenestrada maximiza el
                área disponible para fenestraciones y proporciona flexibilidad óptima para
                satisfacer las necesidades de múltiples anatomías. <sup>3</sup> <br /> <br />
                El diseño de anillo proximal de la endoprótesis puede ser ajustado para
                adaptarse a los vasos objetivo.<sup>4</sup>
            </p>
        </div>
    </div>
</section>