<div class="slider">
    <ul class="slides">
        <li>
            <img src="assets/img/solutions/cardiovascular/slide-1.jpg">
            <div class="caption left-align">
                <h3>La seguridad de obtener excelentes resultados en sus manos.</h3>
            </div>
        </li>
        <li>
            <img src="assets/img/solutions/cardiovascular/slide-2.jpg">
            <div class="caption left-align">
                <h3>Calidad como garantía de vida</h3>
            </div>
        </li>
    </ul>
</div>
<div class="separador-cardio"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col s12 m6">
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img class="responsive-img" src="assets/img/solutions/cardiovascular/sub-slide-1.png">
                    </li>
                    <li>
                        <img class="responsive-img" src="assets/img/solutions/cardiovascular/sub-slide-2.png">
                    </li>
                </ul>
            </div>
        </div>
        <div class="col s12 m6">
            <h3>Tecnología al alcance para un cuidado excepcional de nuestros pacientes.</h3>
            <p class="terumoP">
                La cirugía cardiovascular es una de las principales opciones de
                tratamiento para los pacientes que cursan con enfermedades
                cardíacas, representando un desafío continuo para el personal de
                salud involucrado frente a la complejidad de los procedimientos
                realizados.
            </p>
        </div>
    </div>
</div>
<div class="separador-cardio"></div>
<div class="container tittle-block">
    <h3>Productos</h3>
    <div class="divider"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 m9">
            <p class="terumoP">
                Terumo a través de su tecnología, innovación y calidad ofrece alternativas a través de
                su portafolio de productos en la línea cardiovascular dentro de los cuales se destacan
                los sistemas de oxigenación, dispositivos de monitoreo continuo durante la circulación
                extracorpórea, sets de cardioplegia y una amplia gama de productos para la perfusión
                neonatal, pediátrica y pacientes adultos.
                <br /><br />
                Los clientes de todo el mundo dan testimonio de la excelente calidad de las marcas de
                Terumo: Capiox®, Sarns® y CDI TM.
            </p>
        </div>
        <div class="col s12 m3">
            <app-aside></app-aside>
        </div>
        <div class="col s12">
            <ul>
                <ol>
                    <h6>Oxigenadores</h6>
                </ol>
                <li>
                    CAPIOX® RX
                </li>
                <li>
                    CAPIOX® FX
                </li>
                <li>
                    CAPIOX® FX ADVANCE
                </li>
                <li>
                    <div class="divider"></div>
                </li>
                <ol>
                    <h6>Maquinas de corazón pulmón</h6>
                </ol>
                <li>TerumoSystem 1</li>
                <li>
                    <div class="divider"></div>
                </li>
                <ol>
                    <h6>Sistemas de Monitoreo</h6>
                </ol>
                <li>CDI 550</li>
                <li>
                    <div class="divider"></div>
                </li>
                <ol>
                    <h6>Beating Heart</h6>
                </ol>
                <li>Assistant</li>
                <li>Hercules</li>
                <li>
                    <div class="divider"></div>
                </li>
                <ol>
                    <h6>Bomba Centrifuga</h6>
                </ol>
                <li>
                    <div class="divider"></div>
                </li>
                <ol>
                    <h6>Tubing Pack</h6>
                </ol>
                <li>
                    <div class="divider"></div>
                </li>
                <ol>
                    <h6>Dispositivos de protección Miocardica</h6>
                </ol>
                <li>CP 50</li>
                <li>CONDUCER</li>
                <li>
                    <div class="divider"></div>
                </li>
                <ol>
                    <h6>Hemoconcentradores</h6>
                </ol>
                <li>HC05</li>
                <li>HC11</li>
                <li>
                    <div class="divider"></div>
                </li>
                <ol>
                    <h6>Filtros Arteriales</h6>
                </ol>
                <li>AF02</li>
                <li>AF125</li>
            </ul>
        </div>
    </div>
</div>
<!--<router-outlet></router-outlet>-->