@charset "UTF-8";
@import "assets/css/materialize.css";
@font-face {
    font-family: 'LatoLight';
    src: url('assets/fonts/Lato-Bold.woff') format('woff2'), url('assets/fonts/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'LatoRegular';
    src: url('assets/fonts/Lato-Regular.woff2') format('woff2'), url('assets/fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LatoSemibold';
    src: url('assets/fonts/Lato-Semibold.woff2') format('woff2'), url('assets/fonts/Lato-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'LatoBold';
    src: url('assets/fonts/Lato-Bold.woff2') format('woff2'), url('assets/fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('assets/fonts/OpenSans-Regular.woff2') format('woff2'), url('assets/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('assets/fonts/OpenSans-SemiBold.woff2') format('woff2'), url('assets/fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border: none;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .5);
    border: none;
    border-radius: 2.5px;
}

::-webkit-scrollbar-corner {
    display: none;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    scrollbar-width: thin;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'LatoRegular';
    background: #EBEBEB;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}