@charset "UTF-8";
@import "assets/css/materialize.css";
@font-face {
  font-family: "LatoLight";
  src: url("assets/fonts/Lato-Bold.woff") format("woff2"), url("assets/fonts/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

.terumoLight {
  font-family: "LatoLight";
}

@font-face {
  font-family: "LatoRegular";
  src: url("assets/fonts/Lato-Regular.woff2") format("woff2"), url("assets/fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.terumoRegular {
  font-family: "LatoRegular";
}

@font-face {
  font-family: "LatoSemibold";
  src: url("assets/fonts/Lato-Semibold.woff2") format("woff2"), url("assets/fonts/Lato-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.terumoSemibold {
  font-family: "LatoSemibold";
}

@font-face {
  font-family: "LatoBold";
  src: url("assets/fonts/Lato-Bold.woff2") format("woff2"), url("assets/fonts/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

.terumoBold {
  font-family: "LatoBold";
}

.terumoP {
  font-family: "OpenSansRegular";
}

@font-face {
  font-family: "OpenSansRegular";
  src: url("assets/fonts/OpenSans-Regular.woff2") format("woff2"),
    url("assets/fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansSemiBold";
  src: url("assets/fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("assets/fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/Material-Icon.woff2") format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: none;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 2.5px;
}

::-webkit-scrollbar-corner {
  display: none;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  scrollbar-width: thin;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "LatoRegular";
  background: #ebebeb;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.links-icon {
  display: none !important;
}

.brand-logo span {
  margin-left: 10px;
  font-size: 1rem;
  font-family: "LatoRegular";
  color: #000000;
}

@media only screen and (max-width: 600px) {
  .links-text {
    display: none !important;
  }
  .links-icon {
    display: block !important;
  }
}

.separador {
  height: 11px;
}

.titulo-bold {
  font-weight: bold;
}

.line-right {
  border-right: 5px solid #81c7b3;
}

.justify-align {
  text-align: justify;
}

.slider-text {
  padding-right: 35%;
}
strong {
  color: #008f66;
  font-weight: bold;
}

/*@START: Cardio */

.separador-cardio {
  background: #d32b2a;
  height: 11px;
}

.separador-cardio-small {
  background: #d32b2a;
  height: 4px;
}

.video_fx {
  margin-top: 5% !important;
  border: 6px solid #adadadc7 !important;
  /*#eeeeee*/
}

.aside-line-red {
  border-left: 5px solid #d32b2a;
  padding-left: 5%;
}

.space-line {
  margin-top: 5%;
  margin-bottom: 5%;
}

/*@END: Cardio */
