<app-banner-cardiologia-interv [titulo]="titulo" [imagen]="imagen"></app-banner-cardiologia-interv>
<section>
    <div class="container">
        <section>
            <p>
                Radifocus<sup>&reg;</sup> Guidewire GT es la solución de Terumo para el acceso y la navegación en
                procedimientos cerebrales y periféricos.
                Está indicado para el uso en cateterización distal, embolización selectiva y superselectiva en
                vasculatura periférica y neurológica pequeña, distal, angular y susceptible.
            </p>
            <h3>
                Características
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <dd>
                <ul>
                    <li>
                        El núcleo súperelástico de nitinol proporciona una excelente memoria de forma, flexibilidad y
                        resistencia al acodamiento para un intercambio rápido de dispositivos.
                    </li>
                    <li>
                        Envoltura radiopaca de poliuretano para una buena visibilidad fluoroscópica y navegación
                        controlada.
                    </li>
                    <li>
                        Visibilidad mejorada de la punta bajo el fluoroscopio debido a la espiral de oro
                        distal<sup>1</sup>.
                    </li>
                    <li>
                        Diámetros pequeños y curvas distales preformadas fueron escogidos pensando en el acceso
                        superselectivo a vasos distales y tortuosos.
                    </li>
                    <li>
                        La punta cónica está diseñada para ser altamente flexible para una navegación atraumática y
                        controlada a través de la vasculatura.
                    </li>
                    <li>
                        Cubrimiento de polímero hidrofílico “M” para una manipulación y trazabilidad endovascular sin
                        fricciones.
                    </li>
                    <li>
                        Construcción de una pieza con transmisión de torque uno-a-uno para una navegación predecible.
                    </li>
                </ul>
            </dd>
        </section>
        <section>
            <h3>
                Especificaciones generales
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <table class="responsive-table highlight">
                <tbody>
                    <tr>
                        <th class="bold-tittle-table">
                            Material del nucleo
                        </th>
                        <td>
                            Nitinol con espiral de oro distal de 2 cm.
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Envoltura radiopaca
                        </th>
                        <td>
                            Capa de poliuretano que incorpora sales de tungsteno.
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Recubrimiento hidrofílico
                        </th>
                        <td>
                            Polímero "M".
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Diámetros de guía
                        </th>
                        <td>
                            0.012" (0.30 mm) / 0.014" (0.36 mm) / 0.016" (0.41 mm).
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Longitudes de guía
                        </th>
                        <td>
                            180 cm / 200 cm
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Longitudes flexibles distal
                        </th>
                        <td>
                            25 cm / 35 cm.
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Curvas distales
                        </th>
                        <td>
                            45° acodado x 4 mm / 90° acodado x 4 mm / Acodado 1,5 mm Curva en J / Doble angulación 90° +
                            150°.
                        </td>
                    </tr>
                    <tr>
                        <th class="bold-tittle-table">
                            Unidades por caja
                        </th>
                        <td>
                            1
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h3>
                Especificaciones del artículo
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <table class="responsive-table highlight">
                <thead>
                    <tr>
                        <th class="bold-tittle-table">
                            Curva distal
                        </th>
                        <th class="bold-tittle-table">
                            Diámetro exterior
                        </th>
                        <th class="bold-tittle-table">
                            Longitud
                        </th>
                        <th class="bold-tittle-table">
                            Longitud flexible
                        </th>
                        <th class="bold-tittle-table">
                            Referencia del producto
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p>Angled 45° x 4 mm</p>
                        </td>
                        <td>0.012" / 0.30 mm</td>
                        <td>180 cm</td>
                        <td>25 cm</td>
                        <td>RG*GA1218SM</td>
                    </tr>
                    <tr>
                        <td>
                            <p>Angled 90° x 4 mm</p>
                        </td>
                        <td>0.012" / 0.30 mm</td>
                        <td>180 cm</td>
                        <td>25 cm</td>
                        <td>RG*GE1218SM</td>
                    </tr>
                    <tr>
                        <td>
                            <p>Angled 1.5 mm J curve</p>
                        </td>
                        <td>0.012" / 0.30 mm</td>
                        <td>180 cm</td>
                        <td>25 cm</td>
                        <td>RG*GJ1218SM</td>
                    </tr>
                    <tr>
                        <td>
                            <p>Double angled 90° + 150°</p>
                        </td>
                        <td>0.012" / 0.30 mm</td>
                        <td>180 cm</td>
                        <td>25 cm</td>
                        <td>RG*GW1218SM</td>
                    </tr>
                    <tr>
                        <td>​Angled 45° x 4 mm</td>
                        <td>​0.012" / 0.30 mm</td>
                        <td>​200 cm</td>
                        <td>​25 cm</td>
                        <td>​RG*GA1220SM</td>
                    </tr>
                    <tr>
                        <td>​Angled 90° x 4 mm</td>
                        <td>​0.012" / 0.30 mm</td>
                        <td>​200 cm</td>
                        <td>​25 cm</td>
                        <td>​RG*GE1220SM</td>
                    </tr>
                    <tr>
                        <td>​Angled 1.5 mm J curve</td>
                        <td>​0.012" / 0.30 mm</td>
                        <td>​200 cm</td>
                        <td>​25 cm</td>
                        <td>​RG*GJ1220SM</td>
                    </tr>
                    <tr>
                        <td>Double angled 90° + 150°</td>
                        <td>​0.012" / 0.30 mm</td>
                        <td>​200 cm</td>
                        <td>​25 cm</td>
                        <td>RG*GW1220SM</td>
                    </tr>
                    <tr>
                        <td>​Angled 45° x 4 mm</td>
                        <td>​0.014" / 0.36 mm </td>
                        <td>180 cm​</td>
                        <td>​25 cm</td>
                        <td>​RG*GA1418SM </td>
                    </tr>
                    <tr>
                        <td>​Angled 90°x 4 mm</td>
                        <td>​​0.014" / 0.36 mm </td>
                        <td>​180 cm</td>
                        <td>​25 cm</td>
                        <td>​RG*GE1418SM </td>
                    </tr>
                    <tr>
                        <td>Double Angled 90°+ 150°​</td>
                        <td>​​0.014" / 0.36 mm </td>
                        <td>​180 cm</td>
                        <td>​25 cm</td>
                        <td>RG*GW1418SM</td>
                    </tr>
                    <tr>
                        <td>​​Angled 45°x 4 mm</td>
                        <td>​0.014" / 0.36 mm </td>
                        <td>​200 cm</td>
                        <td>​​25 cm</td>
                        <td>​RG*GA1420SM</td>
                    </tr>
                    <tr>
                        <td>​​​Angled 90°x 4 mm</td>
                        <td>​0.014" / 0.36 mm </td>
                        <td>​​200 cm</td>
                        <td>​​25 cm</td>
                        <td>​RG*GE1420SM</td>
                    </tr>
                    <tr>
                        <td>Double Angled 90° + 150°</td>
                        <td>​​0.014" / 0.36 mm </td>
                        <td>​200 cm</td>
                        <td>​​25 cm</td>
                        <td>RG*GW1420SM </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Angled 45° x 4 mm</p>
                        </td>
                        <td>0.016" / 0.41 mm</td>
                        <td>180 cm</td>
                        <td>25 cm</td>
                        <td>RG*GA1618SM</td>
                    </tr>
                    <tr>
                        <td>
                            <p>Angled 45° x 4 mm</p>
                        </td>
                        <td>0.016" / 0.41 mm</td>
                        <td>180 cm</td>
                        <td>35 cm</td>
                        <td>RG*GA1618FM</td>
                    </tr>
                    <tr>
                        <td>
                            <p>Angled 90° x 4 mm</p>
                        </td>
                        <td>0.016" / 0.41 mm</td>
                        <td>180 cm</td>
                        <td>35 cm</td>
                        <td>RG*GE1618FM</td>
                    </tr>
                    <tr>
                        <td>
                            <p>Double angled 90° + 150°</p>
                        </td>
                        <td>0.016" / 0.41 mm</td>
                        <td>180 cm</td>
                        <td>35 cm</td>
                        <td>RG*GW1618FM</td>
                    </tr>
                    <tr>
                        <td>
                            <p>Double Angled 90° + 90°</p>
                        </td>
                        <td>0.016" / 0.41 mm</td>
                        <td>180 cm</td>
                        <td>25 cm</td>
                        <td>RG*GV1618SM</td>
                    </tr>
                    <tr>
                        <td>
                            <p>Angled 45° x 4 mm</p>
                        </td>
                        <td>0.016" / 0.41 mm</td>
                        <td>200 cm</td>
                        <td>35 cm</td>
                        <td>RG*GA1620FM</td>
                    </tr>
                    <tr>
                        <td>
                            <p>Angled 90° x 4 mm</p>
                        </td>
                        <td>0.016" / 0.41 mm</td>
                        <td>200 cm</td>
                        <td>35 cm</td>
                        <td>RG*GE1620FM</td>
                    </tr>
                    <tr>
                        <td>
                            <p>Double angled 90° + 150°</p>
                        </td>
                        <td>0.016" / 0.41 mm</td>
                        <td>200 cm</td>
                        <td>35 cm</td>
                        <td>RG*GW1620FM</td>
                    </tr>
                </tbody>
            </table>
            <h6 class="center-align">
                Por favor copie el código de referencia cuando realice un pedido.
            </h6>
        </section>
        <section>
            <h3>
                Ver también
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <dd>
                <ul class="link-color">
                    <li>
                        Radifocus<sup>&reg;</sup> Guidewire M Standard type - Guía.
                    </li>
                    <li>
                        Radifocus<sup>&reg;</sup> Guidewire M Stiff type – Guía.
                    </li>
                    <li>
                        Radifocus<sup>&reg;</sup> Guidewire M with Radiopaque tip marker - Guía.
                    </li>
                    <li>
                        Radifocus<sup>&reg;</sup> Guidewire M Shapeable - Guía.
                    </li>
                    <li>
                        Radifocus<sup>&reg;</sup> Glidewire<sup>&reg;</sup> Advantage – Guía periférica.
                    </li>
                    <li>
                        Muso<sup>&reg;</sup> Wire – Guía periférica.
                    </li>
                </ul>
            </dd>
        </section>
        <section>
            <h6 class="black-text">
                Referencias
            </h6>
            <dd>
                <ol>
                    <li>
                        <span>
                            En comparación con un Radifocus<sup>&reg;</sup> Guidwire sin una espiral de oro.
                        </span>
                    </li>
                </ol>
            </dd>
        </section>
    </div>
</section>