<section>
    <div class="imagen-fondo"></div>
    <div class="blue-section valig-graper">
        <div class="container-fluid">
            <img src="assets/img/solutions/aortic/anaconda-logo.png" alt="Logo Anaconda" class="responsive-img">
            <h2 class="black-text flow-text">Sistema de endoprótesis
                AAA Anaconda<sup>&trade;</sup></h2>
        </div>
    </div>
</section>
<section>
    <div class="container center-align">
        <h3 class="black-text">
            Para reparar aneurismas aórticos abdominales (AAA) infrarrenales
        </h3>
    </div>
</section>
<section>
    <div class="container-fluid section-2">
        <div class="row valig-graper">
            <div class="col s12 m6">
                <div class="container centrar">
                    <p class="flow-text">
                        Diseñado para brindar flexibilidad
                        excepcional, indicado para tratar
                        cuellos aórticos con angulación
                        infrarrenal de hasta 90°.<sup>1</sup>
                        <br /><br />
                        El sistema de endoprótesis AAA
                        Anaconda<sup>&trade;</sup> repara aneurismas
                        aórticos abdominales (AAA).
                    </p>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="imagen-circle-aortic"></div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid gray-text">
        <div class="container">
            <p class="flow-text">
                Innovadora tecnología de endoprótesis en anillo combinada con un cuerpo flexible que ofrece un sistema
                de sellado que se ajusta de manera natural a la anatomía de tu paciente.<sup>2</sup>
                <br><br>
                La capacidad de reposicionamiento completo permite a los médicos clínicos liberar el sistema de manera
                precisa en el objetivo, incluso en anatomías complejas.<sup>3</sup>
                <br>
                La disponibilidad del producto está sujeta a la aprobación de la autoridad regulatoria local.
            </p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row circles">
            <div class="dark-blue-circle">
                <img src="assets/img/solutions/aortic/reposicionable.svg" alt="Completamente reposicionable"
                    class="responsive-img logo-circle">
                <p class="descripcion">
                    <strong> Completamente reposicionable </strong>– garantiza el
                    suministro preciso en el objetivo<sup>3</sup>
                </p>
            </div>
            <div class="dark-blue-circle">
                <img src="assets/img/solutions/aortic/sellado.svg" alt="Sistema de sellado proactivo"
                    class="responsive-img logo-circle">
                <p class="descripcion">
                    <strong> Sistema de sellado proactivo </strong> – innovadora
                    tecnología de endoprótesis en anillo<sup>4</sup>
                </p>
            </div>
            <div class="dark-blue-circle">
                <img src="assets/img/solutions/aortic/cuello.svg" alt="Marca CE de 90°"
                    class="responsive-img logo-circle">
                <p class="descripcion">
                    <strong> Marca CE de 90° de cuello aórtico </strong> – resultados
                    comprobados en anatomías complejas<sup>5,6</sup>
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container center-align">
        <div class="container">
            <h3 class="black-text">
                Animación del procedimiento
                del implante de Anaconda<sup>&trade;</sup>
            </h3>
            <div class="TextformatterVideoEmbed"
                style="position:relative;padding:30px 0 56.25% 0;height:0;overflow:hidden;">
                <div class="wistia_responsive_padding" style="padding:56.25% 0 28px 0;position:relative;">
                    <div class="wistia_responsive_wrapper"
                        style="height:100%;left:0;position:absolute;top:0;width:100%;">
                        <div class="wistia_video_foam_dummy" data-source-container-id=""
                            style="border: 0px; display: block; height: 0px; margin: 0px; padding: 0px; position: static; visibility: hidden; width: auto;">
                        </div>
                        <iframe style="position: absolute; top: 0px; left: 0px; width: 504px; height: 284px;"
                            src="//fast.wistia.net/embed/iframe/hoqm4kj727?videoFoam=true" title="Wistia video player"
                            allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed"
                            name="wistia_embed" allowfullscreen="allowfullscreen"
                            mozallowfullscreen="mozallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"
                            oallowfullscreen="oallowfullscreen" msallowfullscreen="msallowfullscreen" width="504"
                            height="284"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="container">
            <h3 class="black-text">
                Beneficios clave del sistema de
                endoprótesis AAA Anaconda<sup>&trade;</sup>
            </h3>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col s12 m7 valig-graper margin-container-left">
            <div class="dark-blue-section dark-blue-aortic">
                <div class="container-fluid">
                    <h3 class="white-text">
                        Completamente reposicionable
                    </h3>
                    <p class="white-text">
                        El sistema de implante completamente reposicionable permite la
                        relocalización de las endoprótesis en anillo proximales para conseguir un
                        posicionamiento óptimo.<sup>6-8</sup>
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m5 imagen-reposicionable"></div>
    </div>

</section>