<app-banner-cardiologia-interv [titulo]="titulo" [imagen]="imagen"></app-banner-cardiologia-interv>
<section>
    <div class="container">
        <section>
            <h4>
                Optimice su procedimiento desafiante
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <p>
                Heartrail II se desarrolló para maximizar su fuerza de soporte cuando usa curvas ikari izquierdas en
                intervenciones
                transradiales y a través de su sistema innovador 5 en 6.
            </p>
        </section>
        <section>
            <h4>
                Características
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <p>
                <b>
                    Benefíciese plenamente al usar curvas dedicadas al acceso radial
                </b>
            </p>
            <dd>
                <ul>
                    <li>
                        Las curvas ikari izquierda y derecha fueron desarrolladas para maximizar su fuerza de soporte
                        durante la
                        intervención transradial a través de la arteria radial derecha.

                    </li>
                    <li>
                        Las curvas Tiger están diseñadas para ser usadas en ambas arterias, izquierda o derecha.
                    </li>
                </ul>
            </dd>
            <p>
                <b>
                    Sienta la diferencia con el innovador sistema 5-en-6
                </b> <br />
                Al insertar un catéter de 5 Fr (120 cm con porción distal flexible) en un catéter guía de 6 Fr
            </p>
            <dd>
                <ul>
                    <li>
                        Brinda el soporte de apoyo de un catéter guía de 7 Fr con un sistema de 6 Fr.
                    </li>
                    <li>
                        Minimiza las lesiones por punción.
                    </li>
                    <li>
                        Incrementa su soporte de apoyo para una excelente tasa de éxito de ACTP con balones de cruce.
                        <sup>1</sup>
                    </li>
                </ul>
            </dd>
            <div class="center-align temp-1 hide-on-small-only">
            </div>
            <div class="row hide-on-med-and-up">
                <div class="col s6">
                    <ol>
                        <li>
                            Un gran lumen
                            interior mejora la
                            compatibilidad del
                            dispositivo.<sup>2</sup>
                        </li>
                        <li>
                            Punta distal suave y
                            altamente radiopaca para
                            maniobrabilidad y un
                            soporte de apoyo activo.
                        </li>
                        <li>
                            La tecnología de <b>ZONAS</b>
                            combinada con un cuerpo
                            de enmallado plano para
                            óptima fijación y
                            soporte de apoyo.
                        </li>
                        <li>
                            Capa interior de PTFE para
                            reducir la fricción.
                        </li>
                    </ol>
                </div>
                <div class="col s6">
                    <img src="assets/img/solutions/intervencionismo/temp-1.PNG" alt="Heartrail" class="responsive-img">
                </div>
            </div>
        </section>
    </div>

</section>