<app-banner-cardiologia-interv [titulo]="titulo" [imagen]="imagen"></app-banner-cardiologia-interv>
<section>
    <div class="container">
        <section>
            <h4>
                Optimice su procedimiento desafiante
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <p>
                Heartrail II se desarrolló para maximizar su fuerza de soporte cuando usa curvas ikari izquierdas en
                intervenciones
                transradiales y a través de su sistema innovador 5 en 6.
            </p>
        </section>
        <section>
            <h4>
                Características
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <p>
                <b>
                    Benefíciese plenamente al usar curvas dedicadas al acceso radial
                </b>
            </p>
            <dd>
                <ul>
                    <li>
                        Las curvas ikari izquierda y derecha fueron desarrolladas para maximizar su fuerza de soporte
                        durante la
                        intervención transradial a través de la arteria radial derecha.

                    </li>
                    <li>
                        Las curvas Tiger están diseñadas para ser usadas en ambas arterias, izquierda o derecha.
                    </li>
                </ul>
            </dd>
            <p>
                <b>
                    Sienta la diferencia con el innovador sistema 5-en-6
                </b> <br />
                Al insertar un catéter de 5 Fr (120 cm con porción distal flexible) en un catéter guía de 6 Fr
            </p>
            <dd>
                <ul>
                    <li>
                        Brinda el soporte de apoyo de un catéter guía de 7 Fr con un sistema de 6 Fr.
                    </li>
                    <li>
                        Minimiza las lesiones por punción.
                    </li>
                    <li>
                        Incrementa su soporte de apoyo para una excelente tasa de éxito de ACTP con balones de cruce.
                        <sup>1</sup>
                    </li>
                </ul>
            </dd>
            <div class="center-align temp-1 hide-on-small-only">
            </div>
            <div class="row hide-on-med-and-up">
                <div class="col s12 m6 center-content">
                    <img src="assets/img/solutions/intervencionismo/temp-mobile-1.jpg" alt="Heartrail"
                        class="responsive-img">
                </div>
                <div class="col s12 m6">
                    <ol>
                        <li>
                            Un gran lumen
                            interior mejora la
                            compatibilidad del
                            dispositivo.<sup>2</sup>
                        </li>
                        <li>
                            Punta distal suave y
                            altamente radiopaca para
                            maniobrabilidad y un
                            soporte de apoyo activo.
                        </li>
                        <li>
                            La tecnología de <b>ZONAS</b>
                            combinada con un cuerpo
                            de enmallado plano para
                            óptima fijación y
                            soporte de apoyo.
                        </li>
                        <li>
                            Capa interior de PTFE para
                            reducir la fricción.
                        </li>
                    </ol>
                </div>
            </div>
        </section>
        <section>
            <h4>
                Especificaciones generales
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <table class="responsive-table highlight">
                <tbody>
                    <tr>
                        <td class="left-tittle">
                            Material capa interna del cuerpo
                        </td>
                        <td>
                            Polytetrafluoroethylene - PTFE
                        </td>
                    </tr>
                    <tr>
                        <td class="left-tittle">
                            Enmallado
                        </td>
                        <td>
                            Patrón de malla de alambre plano de alta resistencia
                        </td>
                    </tr>
                    <tr>
                        <td class="left-tittle">
                            Diámetro interno
                        </td>
                        <td>
                            5 Fr - 0,059'' (1.50 mm) <br />
                            6 Fr - 0,071'' (1.80 mm) <br />
                            7 Fr - 0,081'' (2.06 mm)
                        </td>
                    </tr>
                    <tr>
                        <td class="left-tittle">
                            Longitud utilizable
                        </td>
                        <td>
                            Sistema Heartrail 5 en 6
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h4>
                Especificaciones generales
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <table class="responsive-table highlight">
                <thead>
                    <tr>
                        <th class="left-tittle">
                            Tipo de curva
                        </th>
                        <th class="left-tittle">
                            Tipo de forma
                        </th>
                        <th class="left-tittle">
                            Código de curva
                        </th>
                        <th class="left-tittle">
                            5 Fr
                        </th>
                        <th class="left-tittle">
                            6 Fr
                        </th>
                        <th class="left-tittle">
                            7 Fr
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="17" class="left-tittle">
                            Curvas estándar
                        </td>
                        <td rowspan="3">
                            Amplatz Left
                        </td>
                        <td>
                            AL 1
                        </td>
                        <td>
                            GC-K5AL010N
                        </td>
                        <td>
                            GC-K6AL010N
                        </td>
                        <td>
                            GC-K7AL010N
                        </td>
                    </tr>
                    <tr>
                        <td>
                            AL 2
                        </td>
                        <td>
                            GC-K5AL020N
                        </td>
                        <td>
                            GC-K6AL020N
                        </td>
                        <td>
                            GC-K7AL020N
                        </td>
                    </tr>
                    <tr>
                        <td>
                            AL 3
                        </td>
                        <td>
                            GC-K5AL030N
                        </td>
                        <td>
                            GC-K6AL030N
                        </td>
                        <td>
                            GC-K7AL030N
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            Amplatz Right
                        </td>
                        <td>
                            AR 1
                        </td>
                        <td>
                            GC-K5AR010N
                        </td>
                        <td>
                            GC-K6AR010N
                        </td>
                        <td>
                            GC-K7AR010N
                        </td>
                    </tr>
                    <tr>
                        <td>
                            AR
                        </td>
                        <td>
                            GC-K5AR00N
                        </td>
                        <td>
                            GC-K6AR00N
                        </td>
                        <td>
                            GC-K7AR00N
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="6">
                            Judkins Left
                        </td>
                        <td>
                            JL 3
                        </td>
                        <td>
                            --
                        </td>
                        <td>
                            GC-K6AJL300N
                        </td>
                        <td>
                            --
                        </td>
                    </tr>
                    <tr>
                        <td>
                            JL 3.5
                        </td>
                        <td>
                            GC-K5JL350N
                        </td>
                        <td>
                            GC-K6JL350N
                        </td>
                        <td>
                            GC-K7JL350N
                        </td>
                    </tr>
                    <tr>
                        <td>
                            JL 4
                        </td>
                        <td>
                            GC-K5JL400N
                        </td>
                        <td>
                            GC-K6JL400N
                        </td>
                        <td>
                            GC-K7JL400N
                        </td>
                    </tr>
                    <tr>
                        <td>
                            JL 4.5
                        </td>
                        <td>
                            GC-K5JL450N
                        </td>
                        <td>
                            GC-K6JL450N
                        </td>
                        <td>
                            GC-K7JL450N
                        </td>
                    </tr>
                    <tr>
                        <td>
                            JL 5
                        </td>
                        <td>
                            GC-K5JL500N
                        </td>
                        <td>
                            GC-K6JL500N
                        </td>
                        <td>
                            GC-K7JL500N
                        </td>
                    </tr>
                    <tr>
                        <td>
                            JL 6
                        </td>
                        <td>
                            GC-K5JL600N
                        </td>
                        <td>
                            GC-K6JL600N
                        </td>
                        <td>
                            GC-K7JL600N
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="6">
                            Judkins Right
                        </td>
                        <td>
                            JR 3
                        </td>
                        <td>
                            --
                        </td>
                        <td>
                            GC-K6JR300N
                        </td>
                        <td>
                            --
                        </td>
                    </tr>
                    <tr>
                        <td>
                            JR 3.5
                        </td>
                        <td>
                            GC-K5JR350N
                        </td>
                        <td>
                            GC-K6JR350N
                        </td>
                        <td>
                            GC-K7JR350N
                        </td>
                    </tr>
                    <tr>
                        <td>
                            JR 4
                        </td>
                        <td>
                            GC-K5JR400N
                        </td>
                        <td>
                            GC-K6JR400N
                        </td>
                        <td>
                            GC-K7JR400N
                        </td>
                    </tr>
                    <tr>
                        <td>
                            JR 4.5
                        </td>
                        <td>
                            GC-K5JR450N
                        </td>
                        <td>
                            GC-K6JR450N
                        </td>
                        <td>
                            GC-K7JR450N
                        </td>
                    </tr>
                    <tr>
                        <td>
                            JR 5
                        </td>
                        <td>
                            GC-K5JR500N
                        </td>
                        <td>
                            GC-K6JR500N
                        </td>
                        <td>
                            GC-K7JR500N
                        </td>
                    </tr>
                    <tr>
                        <td>
                            JR 6
                        </td>
                        <td>
                            GC-K5JR600N
                        </td>
                        <td>
                            GC-K6JR600N
                        </td>
                        <td>
                            GC-K7JR600N
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="7" class="left-tittle">
                            Curvas de soporte fuerte
                        </td>
                        <td rowspan="5">
                            BackUp for left coronary
                        </td>
                        <td>
                            BL 2.5
                        </td>
                        <td>
                            --
                        </td>
                        <td>
                            GC-K5BL250N
                        </td>
                        <td>
                            --
                        </td>
                    </tr>
                    <tr>
                        <td>
                            BL 3
                        </td>
                        <td>
                            GC-K5BL300N
                        </td>
                        <td>
                            GC-K6BL300N
                        </td>
                        <td>
                            GC-K7BL300N
                        </td>
                    </tr>
                    <tr>
                        <td>
                            BL 3.5
                        </td>
                        <td>
                            GC-K5BL350N
                        </td>
                        <td>
                            GC-K6BL350N
                        </td>
                        <td>
                            GC-K7BL350N
                        </td>
                    </tr>
                    <tr>
                        <td>
                            BL 4
                        </td>
                        <td>
                            GC-K5BL400N
                        </td>
                        <td>
                            GC-K6BL400N
                        </td>
                        <td>
                            GC-K7BL400N
                        </td>
                    </tr>
                    <tr>
                        <td>
                            BL 4.5
                        </td>
                        <td>
                            GC-K5BL450N
                        </td>
                        <td>
                            GC-K6BL450N
                        </td>
                        <td>
                            GC-K7BL450N
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            BackUp for right coronary
                        </td>
                        <td>
                            BR 3.5
                        </td>
                        <td>
                            --
                        </td>
                        <td>
                            GC-K6BR350N
                        </td>
                        <td>
                            --
                        </td>
                    </tr>
                    <tr>
                        <td>
                            BR 4
                        </td>
                        <td>
                            --
                        </td>
                        <td>
                            GC-K6BR400N
                        </td>
                        <td>
                            --
                        </td>
                    </tr>
                    <tr>
                        <td class="left-tittle">
                            Otras curvas
                        </td>
                        <td>
                            Multiproposito
                        </td>
                        <td>
                            MG-Large
                        </td>
                        <td>
                            GC-K5MP030N
                        </td>
                        <td>
                            GC-K6MP030N
                        </td>
                        <td>
                            GC-K7MP030N
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3" class="left-tittle">
                            Otras curvas puentes
                        </td>
                        <td>
                            IMA
                        </td>
                        <td>
                            IMA 1.0
                        </td>
                        <td>
                            GC-K5IMA10N
                        </td>
                        <td>
                            GC-K6IMA10N
                        </td>
                        <td>
                            GC-K7IMA10N
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            Bypass
                        </td>
                        <td>
                            BP-L
                        </td>
                        <td>
                            GC-K5BP010N
                        </td>
                        <td>
                            --
                        </td>
                        <td>
                            GC-K7BP010N
                        </td>
                    </tr>
                    <tr>
                        <td>
                            BP-R
                        </td>
                        <td>
                            GC-K5BP020N
                        </td>
                        <td>
                            GC-K6BP020N
                        </td>
                        <td>
                            GC-K7BP020N
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="10" class="left-tittle">
                            Curvas para acceso radial
                        </td>
                        <td rowspan="4">
                            Ikari-Curve Left
                        </td>
                        <td>
                            IL 3
                        </td>
                        <td>
                            --
                        </td>
                        <td>
                            GC-K6IL300N
                        </td>
                        <td>
                            --
                        </td>
                    </tr>
                    <tr>
                        <td>
                            IL 3.5
                        </td>
                        <td>
                            GC-K5IL350N
                        </td>
                        <td>
                            GC-K6IL350N
                        </td>
                        <td>
                            GC-K7IL350N
                        </td>
                    </tr>
                    <tr>
                        <td>
                            IL 4
                        </td>
                        <td>
                            GC-K5IL400N
                        </td>
                        <td>
                            GC-K6IL400N
                        </td>
                        <td>
                            GC-K7IL400N
                        </td>
                    </tr>
                    <tr>
                        <td>
                            IL 4.5
                        </td>
                        <td>
                            --
                        </td>
                        <td>
                            GC-K6IL450N
                        </td>
                        <td>
                            --
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3">
                            Ikari-Curve Right
                        </td>
                        <td>
                            IR 1
                        </td>
                        <td>
                            --
                        </td>
                        <td>
                            GC-K6IR100N
                        </td>
                        <td>
                            --
                        </td>
                    </tr>
                    <tr>
                        <td>
                            IR 1.5
                        </td>
                        <td>
                            GC-K5IR150N
                        </td>
                        <td>
                            GC-K6IR150N
                        </td>
                        <td>
                            GC-K7IR150N
                        </td>
                    </tr>
                    <tr>
                        <td>
                            IR 2
                        </td>
                        <td>
                            GC-K5IR200N
                        </td>
                        <td>
                            GC-K6IR200N
                        </td>
                        <td>
                            GC-K7IR200N
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tiger
                        </td>
                        <td>
                            TIG 5
                        </td>
                        <td>
                            GC-K5TR500N
                        </td>
                        <td>
                            GC-K6TR500N
                        </td>
                        <td>
                            GC-K7TR500N
                        </td>
                    </tr>
                    <tr>
                        <td>
                            JR Catarina
                        </td>
                        <td>
                            ER 4
                        </td>
                        <td>
                            --
                        </td>
                        <td>
                            GC-K6ER400N
                        </td>
                        <td>
                            --
                        </td>
                    </tr>
                    <tr>
                        <td>
                            VD Radial
                        </td>
                        <td>
                            VDR-L
                        </td>
                        <td>
                            --
                        </td>
                        <td>
                            GC-K6DR060N
                        </td>
                        <td>
                            --
                        </td>
                    </tr>
                    <tr>
                        <td class="left-tittle">
                            Sistema 5 en 6
                        </td>
                        <td class="left-tittle">

                        </td>
                        <td>
                            Straight
                        </td>
                        <td>
                            GC-K5ST012NQ
                        </td>
                        <td>
                            --
                        </td>
                        <td>
                            --
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="center-align">
                <h6>
                    Por favor copie el código de referencia cuando realice un pedido.
                </h6>
            </div>
        </section>
        <section>
            <h4>
                Ver también
            </h4>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <dd>
                <ul>
                    <li>
                        <a href="http://www.terumolatinamerica.com/media/6504/10_bro_heartr_span.pdf" target="_blank"
                            rel="noopener noreferrer">Catéter Guía ACTP - Climber
                            <sup>&reg;</sup></a>
                    </li>
                </ul>
            </dd>

            <p class="flow-text">
                <b>
                    Referencias
                </b>
            </p>
            <dd>
                <ol>
                    <li>
                        Takahashi et al.; New method to increase a Backup support of a 6 French Guiding coronary
                        catheter, Catheterization and Cardiovascular Interventions 63:452-456 (2004).
                    </li>
                    <li>
                        Compared to smaller inner lumen guiding catheters.
                    </li>
                </ol>
            </dd>
        </section>
    </div>

</section>