<header>
    <div class="background-skyleft skyleft">
    </div>
    <section class="intro row " style="overflow: hidden !important;">
        <div class="container">
            <div class="col m5 s12">
                <h3 class="titulo-bold flow-text center-align">Capiox<sup>&reg;</sup> CP 50</h3>
            </div>
            <div class="col m7 s12">
            </div>
        </div>
    </section>
</header>

<div class="container">
    <div class="row">
        <div class="col s12 m9">
            <p class="terumoP">
                Dispositivos que ofrecen seguridad al paciente y al equipo quirúrgico al administrar la solución cardiopléjica logrando medir el volumen entregado, la temperatura adecuada y las presiones de administración.
            </p>
            <div class="progress space-line">
                <div class="determinate" style="width: 20%; background-color: #d32b2a;"></div>
            </div>
            <ul>
                <li>
                    Intercambiador de cardioplejía dispositivos Pediatría – adultos: CP 50.
                </li>
            </ul>
        </div>
        <div class="col s12 m3">
            <app-aside></app-aside>
            <div class="container-fluid aside-line-red">
                <h6 class="black-text titulo-bold">
                    Más información
                </h6>
                <div class="divider"></div>
                <h6>
                    BROCHURE
                </h6>
                <a href="http://www.terumo-cvs.com/images/products/SpecTab_CAPIOXCP50CardioplegiaSet_02-09.jpg" target="_blank" style="color: #000000de;">
                    <p class="terumoP">
                        Capiox<sup>&reg;;</sup> CP 50
                    </p>
                </a>

            </div>
        </div>
    </div>
</div>