<app-banner-cardiologia-interv [titulo]="titulo" [imagen]="imagen"></app-banner-cardiologia-interv>
<section>
    <div class="container">
        <section>
            <p>
                <b style="font-size: 18px;">
                    Expandiendo el acceso transradial para incluir más pacientes
                </b><br /> <br />
                El Glidesheath Slender ofrece la opción más pequeña para el procedimiento que requiriere introductores
                de
                5, 6 y 7 Fr.1 La tecnología patentada de pared delgada reduce el diámetro externo del introductor en 1
                Fr,
                mientras mantiene un diámetro interno equivalente más grande. El introductor está diseñado para
                maximizar los
                resultados de los procedimientos, apoyando la intervención transradial cada día.
            </p>
            <h3>
                Características
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <dd>
                <ul>
                    <li>
                        Lleve a cabo procedimientos diagnósticos e intervencionistas sin aumentar de tamaño a un
                        introductor más
                        grande
                    </li>
                    <li>
                        Brinda un fácil acceso radial, especialmente en mujeres con arterias radiales
                        pequeñas<sup>1,2</sup>.
                    </li>
                    <li>
                        Deriva en menor resistencia a la inserción comparado con los introductores
                        convencionales<sup>2,3</sup>.
                    </li>
                    <li>
                        Pared ultradelgada llevando a la reducción de 1 Fr en el diámetro externo. </li>
                    <li>
                        El diámetro más pequeño del introductor reduce el tamaño de la arteriotomía para mejorar la
                        hemostasis
                        después del procedimiento<sup>2</sup>.
                    </li>
                    <li>
                        Inserción y extracción fácil con el recubrimiento hidrofílico patentado de Terumo M Coat.
                    </li>
                    <li>
                        Diseñado con el objetivo de minimizar la irritación mecánica de la arteria.
                    </li>
                </ul>
            </dd>
            <div class="glidensheath-img"></div>
            <dd class="hide-on-med-and-up">
                <ol>
                    <li>
                        <span>
                            Introductor.
                        </span>
                    </li>
                    <li>
                        <span>
                            Dilatador.
                        </span>
                    </li>
                    <li>
                        <span>
                            Tubo lateral.
                        </span>
                    </li>
                    <li>
                        <span>
                            Válvula de cierre de 3 vías.
                        </span>
                    </li>
                </ol>
            </dd>
        </section>
        <section>
            <h3>
                Especificaciones del artículo
            </h3>
            <div class="progress">
                <div class="determinate" style="width: 20%"></div>
            </div>
            <p>
                El kit contiene introductor, dilatador, mini guía de plástico o resorte, catéter de plástico IV (aguja
                de punción) o una
                aguja de punción metálica.
            </p>
            <h4>
                Glidesheath Slender 5 Fr
            </h4>
            <table class="responsive-table highlight" cellspacing="0">
                <thead>
                    <tr>
                        <td rowspan="2" colspan="2">
                            Aguja de entrada
                        </td>
                        <th class="bold-tittle-table" colspan="2">
                            Longitud de<br class="hide-on-large-only" /> la funda de 10 cm
                        </th>
                        <th class="bold-tittle-table" colspan="2">
                            Longitud de<br class="hide-on-large-only" /> la funda de 16 cm
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Mini cable guía
                        </td>
                        <td>
                            Referencia del artículo
                        </td>
                        <td>
                            Mini cable guía
                        </td>
                        <td>
                            Referencia del artículo
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th rowspan="4" colspan="1">Catéter plastico <br class="hide-on-large-only" /> IV​
                        </th>
                        <td>20 G (0.9 mm)<br>x 51 mm</td>
                        <td>Plastic<br>0.025" (0.64 mm) x 45 cm</td>
                        <td>RM*ES5J10SQ</td>
                        <td>Plastic<br>0.025" (0.64 mm) x 80 cm</td>
                        <td>RM*ES5J16SQ</td>
                    </tr>
                    <tr>
                        <td>20 G (0.9 mm)<br>x 51 mm</td>
                        <td>Spring<br>0.025" (0.64 mm) x 45 cm</td>
                        <td>RM*ES5J10PQ</td>
                        <td>Spring<br>0.025" (0.64 mm) x 80 cm</td>
                        <td>RM*ES5J16PQ</td>
                    </tr>
                    <tr>
                        <td>20 G (0.9 mm)<br>x 32 mm</td>
                        <td>—</td>
                        <td>—</td>
                        <td>Plastic short angle<br>0.025" (0.64 mm) x 80 cm</td>
                        <td>RM*ES5J16HQS</td>
                    </tr>
                    <tr>
                        <td>22 G (0.7 mm)<br>x 32 mm</td>
                        <td>Plastic<br>0.021" (0.53 mm) x 45 cm</td>
                        <td>RM*ES5F10SQR</td>
                        <td>Plastic<br>0.021" (0.53 mm) x 80 cm</td>
                        <td>RM*ES5F16SQR</td>
                    </tr>
                    <tr>
                        <th rowspan="3" colspan="1">
                            Aguja de entrada<br class="hide-on-large-only" /> metálica
                        </th>
                        <td>20 G (0.9 mm)<br>x 35 mm</td>
                        <td>Spring<br>0.025" (0.64 mm) x 45 cm</td>
                        <td>RM*RS5J10PQ</td>
                        <td>Spring<br>0.025" (0.64 mm) x 80 cm</td>
                        <td>RM*RS5J16PQ</td>
                    </tr>
                    <tr>
                        <td>21 G (0.8 mm)<br>x 35 mm</td>
                        <td>Spring<br>0.021" (0.53 mm) x 45 cm</td>
                        <td>RM*RS5F10PQ</td>
                        <td>Spring<br>0.021" (0.53 mm) x 80 cm</td>
                        <td>RM*RS5F16PQ</td>
                    </tr>
                    <tr>
                        <td>22 G (0.7 mm)<br>x 35 mm</td>
                        <td>Spring<br>0.018" (0.46 mm) x 45 cm</td>
                        <td>RM*RS5C10PQ</td>
                        <td>—</td>
                        <td>—</td>
                    </tr>
                </tbody>
            </table>
            <h4>
                Glidesheath Slender 6 Fr
            </h4>
            <table width="100%" class="responsive-table highlight" cellspacing="0">
                <thead>
                    <tr>
                        <td rowspan="2" colspan="2">
                            Aguja de entrada
                        </td>
                        <th class="bold-tittle-table" colspan="2">
                            Longitud de<br class="hide-on-large-only" /> la funda de 10 cm
                        </th>
                        <th class="bold-tittle-table" colspan="2">
                            Longitud de<br class="hide-on-large-only" /> la funda de 16 cm
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Mini cable guía
                        </td>
                        <td>
                            Referencia del artículo
                        </td>
                        <td>
                            Mini cable guía
                        </td>
                        <td>
                            Referencia del artículo
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th rowspan="7" colspan="1">Catéter plastico <br class="hide-on-large-only" /> IV​ ​ ​ ​ ​
                            ​ ​</th>
                        <td>20 G (0.9 mm)<br>x 51 mm</td>
                        <td>Plastic<br>0.025" (0.64 mm) x 45 cm</td>
                        <td>RM*ES6J10SQ</td>
                        <td>Plastic<br>0.025" (0.64 mm) x 80 cm</td>
                        <td>RM*ES6J16SQ</td>
                    </tr>
                    <tr>
                        <td>20 G (0.9 mm)<br>x 51 mm</td>
                        <td>Spring<br>0.025" (0.64 mm) x 45 cm</td>
                        <td>RM*ES6J10PQ</td>
                        <td>Spring<br>0.025" (0.64 mm) x 80 cm</td>
                        <td>RM*ES6J16PQ</td>
                    </tr>
                    <tr>
                        <td>20 G (0.9 mm)<br>x 32 mm</td>
                        <td>Plastic short angle<br>0.025" (0.64 mm) x 45 cm</td>
                        <td>RM*ES6J10HQS</td>
                        <td>Plastic short angle<br>0.025" (0.64 mm) x 80 cm</td>
                        <td>RM*ES6J16HQS</td>
                    </tr>
                    <tr>
                        <td>22 G (0.7 mm)<br>x 32 mm</td>
                        <td>Plastic<br>0.021" (0.53 mm) x 45 cm</td>
                        <td>RM*ES6F10SQR</td>
                        <td>Plastic<br>0.021" (0.53 mm) x 80 cm</td>
                        <td>RM*ES6F16SQR</td>
                    </tr>
                    <tr>
                        <td>22 G (0.7 mm)<br>x 32 mm</td>
                        <td>Plastic short angle<br>0.021" (0.53 mm) x 45 cm</td>
                        <td>RM*ES6F10HQR</td>
                        <td>Plastic short angle<br>0.021" (0.53 mm) x 80 cm</td>
                        <td>RM*ES6F16HQR</td>
                    </tr>
                    <tr>
                        <td>22 G (0.7 mm)<br>x 25 mm</td>
                        <td>Plastic<br>0.021" (0.53 mm) x 45 cm</td>
                        <td>RM*ES6F10SQ</td>
                        <td>Plastic<br>0.021" (0.53 mm) x 80 cm</td>
                        <td>RM*ES6F16SQ</td>
                    </tr>
                    <tr>
                        <td>22 G (0.7 mm)<br>x 25 mm</td>
                        <td>Plastic short angle<br>0.021" (0.53 mm) x 45 cm</td>
                        <td>RM*ES6F10HQ</td>
                        <td>Plastic short angle<br>0.021" (0.53 mm) x 80 cm</td>
                        <td>RM*ES6F16HQ</td>
                    </tr>
                    <tr>
                        <th rowspan="3" colspan="1">Aguja de entrada<br class="hide-on-large-only" /> metálica
                        </th>
                        <td>20 G (0.9 mm)<br>x 35 mm</td>
                        <td>Spring<br>0.025" (0.64 mm) x 45 cm</td>
                        <td>RM*RS6J10PQ</td>
                        <td>Spring<br>0.025" (0.64 mm) x 80 cm</td>
                        <td>RM*RS6J16PQ</td>
                    </tr>
                    <tr>
                        <td>21 G (0.8 mm)<br>x 35 mm</td>
                        <td>Spring<br>0.021" (0.53 mm) x 45 cm</td>
                        <td>RM*RS6F10PQ</td>
                        <td>Spring<br>0.021" (0.53 mm) x 80 cm</td>
                        <td>RM*RS6F16PQ</td>
                    </tr>
                    <tr>
                        <td>22 G (0.7 mm)<br>x 35 mm</td>
                        <td>Spring<br>0.018" (0.46 mm) x 45 cm</td>
                        <td>RM*RS6C10PQ</td>
                        <td>—</td>
                        <td>—</td>
                    </tr>
                </tbody>
            </table>
            <h4>
                Glidesheath Slender 7 Fr
            </h4>
            <table width="100%" class="responsive-table highlight" cellspacing="0">
                <thead>
                    <tr>
                        <td rowspan="2" colspan="2">
                            Aguja de entrada
                        </td>
                        <th class="bold-tittle-table" colspan="2">
                            Longitud de<br class="hide-on-large-only" /> la funda de 10 cm
                        </th>
                        <th class="bold-tittle-table" colspan="2">
                            Longitud de<br class="hide-on-large-only" /> la funda de 16 cm
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Mini cable guía
                        </td>
                        <td>
                            Referencia del artículo
                        </td>
                        <td>
                            Mini cable guía
                        </td>
                        <td>
                            Referencia del artículo
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th rowspan="4" colspan="1">Catéter plastico <br class="hide-on-large-only" /> IV​ ​ ​ ​
                        </th>
                        <td>20 G (0.9 mm)<br>x 51 mm</td>
                        <td>Plastic<br>0.025" (0.64 mm) x 45 cm</td>
                        <td>RM*ES7J10SQ</td>
                        <td>Plastic<br>0.025" (0.64 mm) x 80 cm</td>
                        <td>RM*ES7J16SQ</td>
                    </tr>
                    <tr>
                        <td>20 G (0.9 mm)<br>x 51 mm</td>
                        <td>Spring<br>0.025" (0.64 mm) x 45 cm</td>
                        <td>RM*ES7J10PQ</td>
                        <td>Spring<br>0.025" (0.64 mm) x 80 cm</td>
                        <td>RM*ES7J16PQ</td>
                    </tr>
                    <tr>
                        <td>20 G (0.9 mm)<br>x 32 mm</td>
                        <td>—</td>
                        <td>—</td>
                        <td>Plastic short angle<br>0.025" (0.64 mm) x 80 cm</td>
                        <td>RM*ES7J16HQS</td>
                    </tr>
                    <tr>
                        <td>22 G (0.7 mm)<br>x 32 mm</td>
                        <td>Plastic<br>0.021" (0.53 mm) x 45 cm</td>
                        <td>RM*ES7F10SQR</td>
                        <td>Plastic<br>0.021" (0.53 mm) x 80 cm</td>
                        <td>RM*ES7F16SQR</td>
                    </tr>
                    <tr>
                        <th rowspan="2" colspan="1">Aguja de entrada<br class="hide-on-large-only" /> metálica ​
                        </th>
                        <td>20 G (0.9 mm)<br>x 35 mm</td>
                        <td>Spring<br>0.025" (0.64 mm) x 45 cm</td>
                        <td>RM*RS7J10PQ</td>
                        <td>Spring<br>0.025" (0.64 mm) x 80 cm</td>
                        <td>RM*RS7J16PQ</td>
                    </tr>
                    <tr>
                        <td>21 G (0.8 mm)<br>x 35 mm</td>
                        <td>Spring<br>0.021" (0.53 mm) x 45 cm</td>
                        <td>RM*RS7F10PQ</td>
                        <td>Spring<br>0.021" (0.53 mm) x 80 cm</td>
                        <td>RM*RS7F16PQ</td>
                    </tr>
                </tbody>
            </table>
            <h6 class="center-align">
                Por favor copie el código de referencia cuando realice un pedido.
            </h6>
        </section>
        <section>
            <h4>
                Ver también
            </h4>
            <dd>
                <ul>
                    <li><a href="">
                            Radifocus<sup>&reg;</sup> Introducer II Standard Kit - Introductor
                        </a></li>
                    <li><a href="">
                            Radifocus<sup>&reg;</sup> Introducer II Transradial Kit - Introductor transradial
                        </a></li>
                    <li><a href="">
                            Radifocus<sup>&reg;</sup>Introducer II M Coat™ - Introductor M Coat
                        </a></li>
                    <li><a href="">
                            Radifocus<sup>&reg;</sup>Introducer II Pediatric Kit - Introductor pediátrico
                        </a></li>
                    <li><a href="">
                            Radifocus<sup>&reg;</sup>Introducer II Radiopaque Marker Kit- Introductor con marcador
                            radiopaco
                        </a></li>
                    <li><a href="">
                            Radifocus<sup>&reg;</sup>Introducer II Sheath Accesorios
                        </a></li>
                </ul>
            </dd>
        </section>
        <section>
            <h5 class="black-text">
                <b>
                    Referencias
                </b>
            </h5>
            <dd>
                <ol>
                    <li>
                        <span>
                            Saito S, Ikei H, Hosokawa G, Tanaka S. Influence of the ratio between radial artery inner
                            diameter and sheath
                            outer diameter on radial artery flow after transradial coronary intervention. Catheter
                            Cadiovasc
                            Interv. 1999;
                            46(2):173-178.
                        </span>
                    </li>
                    <li>
                        <span>
                            Rao S., Bernat I., Bertrand O. Remaining challenges and opportunities for improvement in
                            percutaneous
                            transradial coronary procedures. Euro Heart J. 2012; 33(20): 2521-2526.
                        </span>
                    </li>
                    <li>
                        <span>
                            Saito S., Tanaka S., Hiroe Y. et al. Usefulness of hydrophilic coating on arterial sheath
                            introducer in transradial
                            coronary intervention. Cath Cardio Inter. 2002; 56(3): 328-332.
                        </span>
                    </li>
                </ol>
            </dd>
        </section>
    </div>
</section>